<%- partial('head') %>
<body class="body-chat body-profile">
<div id="chat">
    <nav id="color" class="navbar navbar-default navbar-fixed-top" data-colorify="<%- color %>" data-colorify-background="color">
        <div class="container">
            <div id="navbar">
                <a class="navbar-brand-a hidden-xs hidden-sm" href="/!#"><img class="logo" src="/images/logo-onecolor.svg" alt="<%= t('title.chat') %>"> <span class="beta">alpha</span></a>


                <ul class="nav navbar-nav navbar-right">
                    <li class="visible-sm visible-xs">
                        <% if (typeof room !== "undefined") { %>
                            <div style="margin: 9px 0 0 0;" class="fb-like" data-href="<%= room.url %>" data-layout="button" data-action="like" data-show-faces="false" data-share="true" data-ref="profile-page"></div>
                        <% } else { %>
                            <div style="margin: 9px 0 0 0;" class="fb-like" data-href="<%= _user.url %>" data-layout="button" data-action="like" data-show-faces="false" data-share="true" data-ref="profile-page"></div>
                        <% } %>
                    </li>
                    <li id="languages" data-colorify-text="contrast" class="hidden-sm hidden-xs">
                        <span><%= t('global.switchlanguage') %></span>
                        <a data-language="fr" class="switch">fr</a> -
                        <a data-language="en" class="switch">en</a>
                    </li>
                    <li class="help">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="icon icon-menu" data-colorify-text="contrast"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="arrow-up"></li>
                            <li><a href="/!#room/Support"><i class="icon icon-life-ring"></i> <%= t('chat.help') %></a></li>
                            <li><a href="/faq" target="_blank"><i class="icon icon-question-circle"></i> <%= t('page.faq.title') %></a></li>
                            <li><a data-toggle="contactform"><i class="icon icon-envelope"></i> <%= t('page.contact.title') %></a></li>
                            <li><a href="/eutc" target="_blank"><i class="icon icon-question-circle"></i> <%= t('page.eutc.title') %></a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="row">
        <div id="left">
            <ul class="page-sidebar-menu">
                <li id="block-current-user">
                    <a href="#" class="avatar default">
                        <img src="/images/<%- defaultAvatarUrl %>" alt="default avatar">
                    </a>
                    <span class="title hidden-sm hidden-xs">
                        <span class="username"><a href="/login">Se connecter</a></span>
                        <span class="username"><a href="/signup">S'inscrire</a></span>
                    </span>
                </li><!-- /#block-current-user -->

                <li id="block-actions">
                    <hr>
                    <a class="go-to-search"><%= t('chat.actions.search') %></a> <%= t('global.or') %> <a class="open-create-room"><%= t('chat.actions.create') %></a> <%= t('chat.actions.adonut') %>
                    <hr>
                </li>

                <li id="block-discussions" style="padding: 15px; text-align: center;">
                    <div class="list  hidden-sm hidden-xs">

                        <% if (typeof room !== "undefined") { %>
                            <%= t('profile.room.disclaimer.before') %>
                            <a href="<%= room.url %>"><%= room.name %></a>
                            <%= t('profile.room.disclaimer.after') %>
                        <% } else { %>
                            <%= t('profile.user.disclaimer.before') %>
                            <a href="<%= _user.url %>">@<%= _user.username %></a>
                            <%= t('profile.user.disclaimer.after') %>
                        <% } %>

                    </div>
                </li>
            </ul>

        </div><!-- /#left -->
        <div id="center">
            <div class="discussion">


                <%= content() %>


            </div>
        </div><!-- /#center -->
    </div><!-- /.row -->
</div>



<%- partial('foot') %>
</body>
</html>