<%- partial('head') %>
<% var color = (typeof room !== 'undefined' ? room.color : typeof _user !== 'undefined' ? _user.color : ''); %>
<% color = (_.isString(color) ? color.replace('#','').toLowerCase() : 'default') %>
<body class="body-chat body-profile dc-<%= color %>">
<div id="chat">
    <nav id="color" class="navbar navbar-fixed-top dc-back">
        <div class="container">
            <div id="navbar">
                <a class="navbar-brand-a hidden-xs hidden-sm" href="/"><img class="logo" src="/images/logo-bordered-small.png" alt="<%= t('title.chat') %>"> <span class="beta dc-text-contrast">alpha</span></a>
                <ul class="nav navbar-nav navbar-right">

                    <% if (typeof user === 'undefined' || typeof user.avatar === 'undefined') { %>
                        <li class="signup">
                            <a href="/signup"><%= t('landing.signup') %></a>
                        </li>
                        <li class="divider-vertical small"></li>
                        <li class="nav-divider"></li>
                        <li class="login">
                            <a href="/login"><%= t('landing.login') %></a>
                        </li>
                    <% } %>

                    <li class="icontop">
                        <a href="/" class="toggle dc-text-contrast">
                            <i class="icon icon-home dc-text-contrast hover"></i>
                        </a>
                    </li>

                    <li class="icontop">
                        <a href="/" class="toggle">
                            <i class="go-to-search icon icon-search dc-text-contrast hover"></i>
                        </a>
                    </li>

                    <li class="icontop">
                        <a href="/create" class="toggle">
                            <i class="open-create-room icon icon-plus dc-text-contrast hover"></i>
                        </a>
                    </li>

                    <li class="icontop help">
                        <span id="block-current-user">

                            <% if (typeof user !== 'undefined' && typeof user.avatar !== 'undefined') { %>
                                <img class="mr5 dc-border-darker" src="<%= user.avatar %>" alt="@<%- user.username %> avatar">
                                <span class="mr5 dc-text-contrast">@<%- user.username %></span>
                                <span class="connection mr5">
                                    <i class="icon icon-circle status online" title="<%= t('global.online') %>"></i>
                                </span>
                            <% } %>

                            <a href="#" class="dropdown-toggle toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="icon hover icon-menu dc-text-contrast"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="arrow-up"></li>

                                <% if (typeof user !== 'undefined' && typeof user.avatar !== 'undefined') { %>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout"><i class="icon icon-fw icon-power-off"></i> <%= t('actions.logout') %></a></li>
                                <% } %>

                                <li role="separator" class="divider"></li>
                                <li class="colored"><a href="/!#room/help"><%= t('chat.help') %></a></li>
                                <li class="colored"><a href="/faq" target="_blank"><%= t('page.faq.title') %></a></li>
                                <li class="colored"><a data-toggle="contactform"><%= t('page.contact.title') %></a></li>
                                <li class="colored"><a href="/eutc" target="_blank"><%= t('page.eutc.title') %></a></li>
                                <li class="colored"><a href="/legals" target="_blank"><%=t('landing.legals')%></a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header"><%= t('global.switchlanguage') %></li>
                                <li class="colored"><a href="" data-language="fr" class="switch">Français</a></li>
                                <li class="colored"><a href="" data-language="en" class="switch">English</a></li>
                            </ul>
                        </span>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="row">
        <div id="left">
            <ul class="page-sidebar-menu">

                <li id="block-discussions" style="padding: 15px; text-align: left;">
                    <div class="list  hidden-sm hidden-xs">

                        <% if (typeof room !== "undefined") { %>
                            <%= t('profile.room.disclaimer.before') %>
                            <a class="dct" href="<%= room.url %>"><%= room.name %></a>
                            <%= t('profile.room.disclaimer.after') %>
                        <% } else { %>
                            <%= t('profile.user.disclaimer.before') %>
                            <a class="dct" href="<%= _user.url %>">@<%= _user.username %></a>
                            <%= t('profile.user.disclaimer.after') %>
                        <% } %>

                    </div>
                </li>
            </ul>

        </div><!-- /#left -->
        <div id="center">
            <div class="discussion">

                <%= content() %>

            </div>
        </div><!-- /#center -->
    </div><!-- /.row -->
</div>

<%- partial('foot') %>
</body>
</html>