<%- partial('head') %>
<body class="body-static">
    <%- partial('header') %>
    <div class="container">


        <div class="main">
            <div class="content">
                <%= content() %>
            </div>
        </div>
        <div class="footer">
            <% if (user) { %>
            <%= t('global.footer.before') %> <a href="/logout"><%= t('actions.tologout') %></a> <%= t('global.or') %> <a href="/!"><%= t('actions.home') %></a><%= t('global.footer.after') %>
            <% } else { %>
            <%= t('global.footer.before') %> <a href="/login"><%= t('actions.tologin') %></a> <%= t('global.or') %> <a href="/signup"><%= t('actions.signup') %></a><%= t('global.footer.after') %>
            <% } %>
        </div>
    </div>
    <%- partial('contact') %>
    <%- partial('foot') %>
</body>
</html>