<div class="onlines">
<%
chars = '0123456789-_abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
function randomString() {
    var result = '';
    var l = _.sample([5, 6, 7, 8, 9, 10,11,12,13,14,15,16,17,18,19,20]);
    for (var i = l; i > 0; --i) result += chars[Math.round(Math.random() * (chars.length - 1))];
    return result;
}
var more = [];
for (var i = 0; i < 20; i++) {
    for (var i2 = 0; i2 < list.length; i2++) {
        var u = list[i2];
        more.push(u);
    }
}
list = _.shuffle(more);
%>
    <% _.each(list, function(userOnline) { %>
    <% var bgColor = txtColor = ''; %>
    <% if (userOnline.color) {
    bgColor = "background-color: "+userOnline.color;
    txtColor = "color: "+userOnline.color;
    }; %>
    <div class="item open-user-profile" data-user-id="<%= userOnline.user_id %>">
        <div class="username" style="<%= bgColor %>"><%= userOnline.username %></div>
        <img class="avatar" src="<%= userOnline.avatar %>">
    </div>
    <% }); %>
</div>