<div class="well">
    <h3>Bienvenue sur donut !</h3>
    <p><%= welcome %></p>
</div>

<h3>Rooms existantes</h3>
<div class="row">
    <div class="rooms">
    <% _.each(rooms, function(room) { %>
    <div class="tile">
        <div class="cover" style="background-color: <% if (room.color) { print(room.color); } else { print('#ccc'); } %>"></div>
        <div class="content">
            <img class="avatar open-room-profile" data-room-name="<%= room.name %>" src="<%= room.avatar %>">
            <div class="title">
                <span class="name open-room-profile" data-room-name="<%= room.name %>"><%= room.name %></span>
                <span class="owner open-user-profile" data-user-id="<%= room.owner.user_id %>">by <%= room.owner.username %></span>
            </div>
            <div class="description">
                <% if (room.description && room.description != '') { %>
                <i class="fa fa-quote-left"></i>
                <div class="text"><%= room.description %></div>
                <i class="fa fa-quote-right"></i>
                <% } %>
            </div>
            <div class="actions">
                <a class="btn btn-primary btn-sm" href="#room/<%= room.name.replace('#', '') %>">rejoindre</a>
            </div>
        </div>
        <div class="footer">
            <span class="pull-left"><% if (room.permanent == true) { %><i class="fa fa-certificate"></i> permanent<% } %></span>
            <span class="pull-right">En ce moment <strong><%= room.users %></strong> utilisateurs</span>
        </div>
    </div>
    <% }); %>
    </div>
</div>
