<div class="header">
        <span class="avatar open-user-profile" data-user-id="<%= id %>">
            <img src="<%= avatar.small.url %>?width=20&height=20" />
        </span>
    <span class="name open-user-profile" data-user-id="<%= id %>"><%= username %></span>
    <span class="close glyphicon glyphicon-remove"></span>
</div><!-- /.header -->
<div class="row row-content">
    <div class="col-content col-sm-12 col-md-12 col-lg-12">
        <div class="messages"></div>
        <div class="message-box"></div>
    </div>
</div><!-- /.row-content -->