<div class="row">
    <div class="col-lg-12">
        <div class="form-group has-feedback">
            <label for="room-create-input">Room name</label>
            <div class="input-group">
                <span class="input-group-addon">#</span>
                <input type="text" id="room-create-input" class="form-control input" placeholder="Enter room name" />
            </div>
            <span class="help-block">Room name should be 2+ long and use alphanumeric characters and specials characters (_ - \ [ ] { } ^ ` |)</span>
        </div>
        <button id="room-create-submit" class="btn btn-default submit" type="button">
            Create
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->