<div class="header">
    <div class="avatar"><img src="<%= avatar %>"></div>
    <span class="name"><%= name %></span>
    <div class="topic-block"></div>
    <div class="owner">par <img src="<%= owner.avatar %>"> <a class="username" href="#user/<%= owner.username %>" data-user-id="<%= owner.user_id %>"><%= owner.username %></a></div>
    <span class="close glyphicon glyphicon-remove close-room" data-name="<%= name %>"></span>
    <div class="actions">
        <% if (isGranted == true) { %>
        <div class="settings">
            <a href="#_" class="settings"><i class="fa fa-cog"></i> Settings</a>
            <div class="content">
                <div class="permanent">
                    <label class="switch-light well">
                        <input type="checkbox" class="switch" <% if (permanent) { %>checked="checked"<% }; %>>
                    <span>
                        Permanent
                        <span>Non</span>
                        <span>Oui</span>
                    </span>
                        <a class="btn btn-primary"></a>
                    </label>
                </div><!--/.permanent-->
            </div><!--/.content-->
        </div><!--/.settings-->
        <% }; %>
    </div>
    <div class="color" style="background-color: <%= color %>"></div>
</div><!-- /.header -->
<div class="row row-content">
    <div class="col-content col-sm-9 col-md-9 col-lg-9">
        <div class="messages"></div>
        <div class="message-box"></div>
    </div>
    <div class="col-users col-sm-3 col-md-3 col-lg-3"></div>
</div><!-- /.row-content -->
