<% var bgColor = txtColor = ''; %>
<% if (room.color) {
bgColor = "background-color: "+room.color;
txtColor = "color: "+room.color;
}; %>
<img class="avatar" src="<%= room.avatar %>">
<p class="name"><%= room.name %></p>
<p class="owner">by <span class="open-user-profile" data-user-id="<%= room.owner.user_id %>"><%= room.owner.username %></span></p>
<% if (room.description) { %><p class="description"><%= room.description %></p><% }; %>
<% if (room.topic) { %><p class="topic"><%= room.topic %></p><% }; %>
<% if (room.website) { %><span class="website"><%= room.website %></span><% }; %>

<p class="join"><a href="#room/<%= room.name.replace('#', '') %>" style="<%= bgColor %>">Join <strong><%= room.users %></strong> <i class="fa fa-child"></i></a></p>
<% if (room.permanent == true) { %><p class="permanent"><i class="fa fa-lock" title="permanent donut"></i></p><% } %>

<% if (room.isOwner) { %>
<button class="btn btn-primary edit open-room-edit" data-room-name="<%= room.name %>"><i class="fa fa-pencil-square-o"></i> Editer</button>
<% }; %>