<div id="room-profile">

    <div class="row">

        <div class="cover">
            <% if (room.avatar) { %>
            <div class="avatar"><img src="<%= room.avatar %>"></div>
            <% }; %>

            <h1><%= room.name %></h1>

            <div>
                par <%= room.owner.username %> <img src="<%= room.owner.avatar %>">
            </div>

            <% if (room.description) { %>
            <h3><%= room.description %></h3>
            <% }; %>

            <% if (room.topic) { %>
            <h3><%= room.topic%></h3>
            <% }; %>

            <% if (room.permanent) { %><i class="fa fa-certificate"></i> permanent<% } else { %>volatile<% }; %>

            <div>
                <% if (room.website) { %><%= room.website %><% }; %>
            </div>

            <a href="#room/<%= room.name %>" class="btn btn-primary join">rejoindre</a>
        </div><!-- /.col-sm-12 -->

        <div class="color" style="background-color: <%= room.color %>;"></div>
    </div><!-- /.row -->

</div><!-- /#user-profile -->