<div class="avatar open-room-profile" data-room-name="<%= name %>"><img src="<%= avatar %>"></div>
<span class="name open-room-profile" data-room-name="<%= name %>"><%= name %></span>
<span class="owner">par <img src="<%= owner.avatar %>"> <a class="username" href="#user/<%= owner.username %>" data-user-id="<%= owner.user_id %>"><%= owner.username %></a></span>
<div class="topic-block"></div>
<div class="actions">
    <span class="permanent-label"><i class="fa fa-lock"></i> Permanent: </span>
    <input type="checkbox" class="permanent-switch" <% if (permanent) { %>checked<% }; %> <% if (isOwner !== true) { %>disabled<% }; %>>
    <% if (isOwner === true) { %>
    <span class="settings open-room-edit" data-room-name="<%= name %>"><i class="fa fa-cog fa fa-pencil-square-o edit"></i> Edit room</span>
    <% }; %>
    <span class="close glyphicon glyphicon-remove close-room" data-name="<%= name %>"></span>
</div>
<div class="color" style="<% if (color) { %>background-color: <%= color %><% }; %>"></div>