<div class="content">
    <div class="header room">
        <img class="avatar open-room-profile" data-room-name="<%= name %>" src="<%= avatar %>" alt="<%= name %> avatar">
        <div class="name open-room-profile" data-room-name="<%= name %>"><%= name %></div>
        <div class="owner">by <a class="open-user-profile" data-user-id="<%= owner.user_id %>" data-colorify-text="color"><%= owner.username %></a></div>
        <div class="topic"><!-- topic view --></div>
        <div class="actions">
            <% if (permanent === true) { %>
            <span class="fa-stack permanent">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-lock fa-stack-1x" title="permanent donut"></i>
            </span>
            <% }; %>
            <% if (isOwner === true) { %>
            <span class="fa-stack room-edit">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-cog fa-stack-1x" title="edit this donut"></i>
            </span>
            <% }; %>
        </div>
    </div>
    <div class="messages"><!-- messages view --></div>
    <div class="input"><!-- input view --></div>
</div><!-- /.content -->
<div class="side" <% if (poster) { %>style="background-image: url(<%= poster %>);"<% }; %>>
    <div class="blur" <% if (posterblured) { %>style="background-image: url(<%= posterblured %>);"<% }; %>>
        <div class="users"><!-- users view --></div>
    </div>
</div><!-- /.side -->
