<div class="room-users">
    <div class="heading">Room users</div>
    <div class="list">
        <% _.each(list, function(roomUser) { %>
        <span class="user-item item <% if (roomUser.owner === true) { %>owner<% }; %> <% if (roomUser.op === true) { %>op<% }; %>">
            <img src="<%= roomUser.avatar %>">
            <span class="username dbl-open-user-profile" data-user-id="<%= roomUser.user_id %>"><%= roomUser.username %></span>
            <span class="actions">
                <span data-user-id="<%= roomUser.user_id %>" class="fa fa-user open-user-profile"></span>
                <% if (isGranted) { %>
                    <% if (roomUser.op === true) { %>
                        <span data-username="<%= roomUser.username %>" class="fa fa-arrow-circle-down deop-user" title="Deop this user"></span>
                    <% } else { %>
                        <span data-username="<%= roomUser.username %>" class="fa fa-arrow-circle-up op-user" title="Op this user"></span>
                    <% }; %>
                <% }; %>
                <a href="#user/<%= roomUser.username %>"><span class="fa fa-pencil-square-o"></span></a>
            </span>
        </span>
        <% }); %>
    </div>
</div><!-- /.room-users -->