<div class="heading">Rooms</div>
<div class="list">
    <% _.each(list, function(room) { %>
    <% var uriName = room.name.replace('#', ''); %>
    <a href="#room/<%= uriName %>" class="item <% if (room.focused) { %>active<% }; %>" data-name="<%= room.name %>">
        <span class="name"><%= room.name %></span>
        <span class="users-count">(<span class="glyphicon glyphicon-user"></span> <span class="count"><% room.users %></span>)</span>
        <span class="close glyphicon glyphicon-remove close-room" data-name="<%= room.name %>"></span>
        <% if (room.unread > 0) { %>
            <span class="badge"><%= room.unread %></span>
        <% }; %>
    </a>
    <% }); %>
</div>
<div class="footer">
    <a href="#" id="create-room-link"><span class="glyphicon glyphicon-plus"></span> Create a room</a>
    <br />
    <a href="#" id="search-room-link"><span class="glyphicon glyphicon-search"></span> Search a room</a>
</div>