<%= user.color %>
<% if (user.avatar) { %><div class="avatar"><img src="<%= user.avatar %>"></div><% }; %>
<p><%= user.username %></p>
<% if (user.bio) { %><h3><%= user.bio %></h3><% }; %>
<% if (user.location) { %><%= user.location %><% }; %>
<% if (user.location && user.website) { %> - <% }; %>
<% if (user.website) { %><span class="website"><%= user.website %></span><% }; %>
<% if (user.status == 'online') { %>
    <a href="#user/<%= user.username %>">Discuss</a>
<% } else { %>
    <button>Offline</button>
<% }; %>
