<div class="row">
    <div class="col-lg-5">
        <div id="keen-messages-trend"></div>
        <div id="keen-sessions-trend"></div>
    </div>
    <div class="col-lg-5">
        <div id="keen-rooms-trend"></div>
        <div id="keen-users-trend"></div>
    </div>
    <div class="col-lg-2">
        <div id="keen-users" class="metrics"></div>
        <div id="keen-rooms" class="metrics"></div>
        <div id="keen-messages" class="metrics"></div>
    </div>
</div>
<div class="row">
    <button class="refresh btn btn-success">refresh</button>
</div>