<h1>User <small class="count"><span class="num"><%= user._id %></span></small> <a class="go-back" onclick="window.history.back()">retour</a></h1>
<form class="form-horizontal">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><strong><%= user.username %></strong></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><strong><%= user.name %></strong></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Joined rooms</label>
                <div class="col-sm-10">
                    <ul class="form-control-static">
                    <% if (user.rooms && user.rooms.length) { %>
                        <% for (var i=0; i < user.rooms.length; i++) { %>
                            <li><a href="#room/<%= user.rooms[i].id %>"><%= user.rooms[i].name %></a></li>
                        <% } %>
                    <% } %>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Open onetoones</label>
                <div class="col-sm-10">
                    <ul class="form-control-static">
                    <% if (user.onetoones.length) { %>
                        <% for (var i=0; i < user.onetoones.length; i++) { %>
                        <li><a href="#user/<%= user.onetoones[i]._id %>"><%= user.onetoones[i].username %></a></li>
                        <% } %>
                    <% } %>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Avatar</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        <% if (user.avatar) { %>
                        <img src="<%= user.imgAvatar %>" alt="<%= user.avatar %>">
                        <% } %>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Poster</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        <% if (user.poster) { %>
                        <img src="<%= user.imgPoster %>" alt="<%= user.poster %>">
                        <% } %>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Color</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        <% if (user.color) { %>
                        <span class="color" style="background-color: <%= user.color %>"></span>
                        <%= user.color %>
                        <% } %>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="col-sm-2 control-label">Location</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= user.location %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Bio</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= user.bio %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Website</label>
                <div class="col-sm-10">
                    <span class="form-control-static website"><%= user.website.title %></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Is admin?</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= (user.admin) ? 'yes' : 'no' %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Is online?</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= (user.online) ? 'yes' : 'no' %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Welcome</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= (user.welcome) ? 'yes' : 'no' %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Created at</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= user.created_at %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last login at</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= user.lastlogin_at %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last time online</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= user.lastonline_at %></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last time offline</label>
                <div class="col-sm-10">
                    <p class="form-control-static"><%= user.lastoffline_at %></p>
                </div>
            </div>
        </div>
    </div>
</form>