# IDE
/.idea
.DS_Store
.env

# Dependencies
/ws-server/logs
/ws-server/node_modules
/web-server/node_modules
/web-server/public/js/lib/build
/web-server/public/vendor
/node_modules

# Compiled files
/web-server/public/stylesheets/style.css
/web-server/public/stylesheets/dashboard.css
/web-server/public/build

# Outputed files
/output