# IDE
/.idea
.DS_Store

# Dependencies
/ws-server/logs
/web-server/public/vendor
/node_modules

# Compiled files
/web-server/public/stylesheets/style.css
/web-server/public/stylesheets/dashboard.css
/web-server/public/build

# Data
/mongotmp

# Browserify migration
/web-server/public/web/
!/web-server/public/web/index.js
