html,body { height: 100%; }
body { padding-top: 50px; }

/**
 * Welcome
 */
#welcome { padding: 15px 15px; }
#channels { }
#channels ul { padding: 0; list-style: none; }
#channels li { margin: 10px; float: left; width: 120px; text-align: center; height: 70px; }
#channels .logo { min-height: 66px; }

/**
 * Chat interface
 */
#chat {
    height: 100%;
    background: #eee;
    margin: 0;
    padding: 0;
    display: -webkit-flex; /* OK chrome 21 */
    -webkit-justify-content: flex-start;
    display: flex;
}
#rooms {
    background-color: darkgrey;
    flex: 2;
    max-width: 250px;
    padding: 10px 10px;
    overflow-y:auto;
}
#rooms ul { list-style: none; padding: 10px 0; }
#main {
    background-color: grey;
    flex: 6;
    height: 100%;
}
#chat .room-container {
    height: 100%;
    display: -webkit-flex; /* OK chrome 21 */
    -webkit-justify-content: flex-start;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
#chat .room-container .default {
    margin: auto auto;
    color: #DDDDDD;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
#users {
    background-color: darkgrey;
    flex: 2;
    max-width: 250px;
    padding: 10px 10px;
    overflow-y:auto;
}
#users li.op { font-weight: bold; text-decoration: underline; }
#users li.friend { font-weight: bold; font-style: italic; }
#chat .header {
    flex: 1;
    max-height: 40px;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-color: #ddd;
    background-color: #f5f5f5;
}
#chat .header .topic { color: #333; }
#chat .header .name { color: #555555; font-weight: bolder; }
#chat .messages {
    flex: 10;
    overflow-y: scroll;
    padding: 5px 10px 5px;
    font-family: Consolas, "Lucida Console", monospace;
    font-size: 0.9em;
}
#chat .messages p { line-height: 1; margin: 4px 0; }
#chat .messages p .date { color: dodgerblue; }
#chat .messages p .username { color: mediumseagreen; }
#chat .postbox {
    flex: 1;
    max-height: 55px;
    padding: 10px 15px;
    color: #333;
    background-color: #f5f5f5;
    border-top: 1px solid transparent;
    border-color: #ddd;
}

#chat .panel-default > .panel-heading {
    border-color: transparent;
}
