html,body { height: 100%; }
body { padding-top: 50px; }

/**
 * Welcome
 */
#welcome { padding: 15px 15px; }

/**
 * TV Channels
 */
#channels { }
#channels ul { padding: 0; list-style: none; }
#channels li { margin: 10px; float: left; width: 120px; text-align: center; height: 70px; }
#channels .logo { min-height: 66px; }

/**
 * Chat interface
 */
#chat {
    height: 100%;
    background: #eee;
    margin: 0;
    padding: 0;
    display: -webkit-flex; /* OK chrome 21 */
    -webkit-justify-content: flex-start;
    display: flex;
}
#rooms {
    background-color: darkgrey;
    flex: 2;
    max-width: 250px;
    padding: 0 25px;
    overflow-y:auto;
}
#rooms ul { list-style: none; padding: 10px 0; }
#main {
    background-color: grey;
    flex: 6;
    height: 100%;
}
#main-container {
    height: 100%;
    display: -webkit-flex; /* OK chrome 21 */
    -webkit-justify-content: flex-start;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
#users {
    background-color: darkgrey;
    flex: 2;
    max-width: 250px;
    padding: 0 25px;
    overflow-y:auto;
}
#users ul { list-style: none; padding: 10px 0; }
#users li.op { font-weight: bold; text-decoration: underline; }
#users li.friend { font-weight: bold; font-style: italic; }
#topic {
    flex: 1;
    max-height: 45px;
    padding: 5px 10px;
    font-weight: bolder;
    background-color: grey;
}
#messages {
    flex: 10;
    overflow-y: auto;
    padding: 5px 10px 5px;
    font-family: Consolas, "Lucida Console", monospace;
    font-size: 0.9em;
}
#messages p { line-height: 0.8;}
#messages p .date { }
#postbox {
    flex: 1;
    max-height: 45px;
    background-color: #808080;
    padding: 5px 10px;
}
#postbox .box { width: 90%; }
#postbox .icon {  }
#postbox .button {  }

