@size-color: 20px;
@cl-title: #313131;
@cl-column: #e2e2e2;
@cl-column-subtext0: #f2f2f2;
@cl-column-subtext: #b6b6b6;
@cl-column-subtext2: #777777;
@cl-column-subtext4: #6b6b6b;
@cl-lines: #dadada;

.body-chat {
  height: 100%;
  overflow-y: hidden;
  .ft-opensans;
  font-size: 12px;

  a { color: @text-color; }
  a:hover { color: @text-color; }
}

#chat {
  .container-fluid;
  height: 100%;
  margin: 0;
  padding: 0;

  > .row {
    margin: 0; /* Cancel bootstrap negative .row margin */
    height: -webkit-calc(~'100%' - @size-color);
    height: -o-calc(~'100%' - @size-color);
    height: calc(~'100%' - @size-color);
  }

  hr {
    border-top-color: @cl-lines;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .big-link {
    .ft-opensans-bold;
    color: @cl-first;
    font-size: 1.1em;
  }

  .border-shadow {
    border: 5px solid rgb(250, 250, 250);
    border: 5px solid rgba(167, 167, 167, 0.1);
  }

  .open-room-profile, .open-user-profile {
    cursor:pointer;
  }

  /* Room profiles common style */
  .room {
    text-align: center;
    p { margin-bottom: 0; }
    .avatar {
      .img-circle;
      width: 80px;
      height: 80px;
      .border-shadow;
    }
    .name {
      .ft-raleway-heavy;
      font-size: 2.0em;
      line-height: 1.2;
      color: @cl-title;
    }
    .owner {
      .ft-opensans;
      font-size: 1.1em;
      a { color: #000000; }
    }
    .topic, .description {
      .ft-opensans-italic;
      font-size: 1em;
    }
    .website {}
    .join {
      a {
        background-color: #ffffff; /** customizable color **/
        .ft-raleway-medium;
        color: #ffffff;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        padding: 0.9em 1.2em;
        text-transform: uppercase;
        font-size: 1.2em;
        i {
          color: @cl-warning;
        }
      }
    }
    .join:hover {
      a {
        text-decoration: none;
      }
    }
    .permanent {
      padding: 0 4px;
      border: 2px solid @cl-lines;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      i {
        color: @cl-lines;
      }
    }
    .edit {
      color: @cl-column-subtext;
      .ft-raleway-medium;
      font-size: 3.0em;
      i {
        font-size: 0.9em;
      }
    }
    .edit:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  .user {
    text-align: center;
    p { margin-bottom: 0; }
    .username {
      .ft-raleway-heavy;
      font-size: 2.0em;
      line-height: 1.2;
      color: @cl-title;
    }
    .avatar {
      width: 80px;
      height: 80px;
      border: 5px solid @cl-background; /* customized by code */
      .border-shadow;
    }
    .bio {
      .ft-opensans-italic;
      font-size: 1em;
    }
    .website {}
    .discuss {
      a {
        background-color: #000000; /** customizable color **/
        color: #ffffff;
        .ft-raleway-medium;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        padding: 0.9em 1.2em;
        text-transform: uppercase;
        i {
          color: @cl-warning;
        }
      }
    }
    .discuss:hover, .offline:hover {
      a {
        text-decoration: none;
      }
    }
    .offline {
      a {
        background-color: @cl-neutral;
        color: #ffffff;
        .ft-raleway-medium;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        padding: 0.9em 1.2em;
        text-transform: uppercase;
      }
    }
  }

  #sign {
    position: absolute;
    right: 15px; bottom: 10px;
    text-align: center;
    color: @cl-column-subtext;
  }

  #alert {
    .alert {
      display: none;
      position: absolute;
      top: 0; left: 0; right: 0;
      z-index: 15;
      padding: .4em .6em .4em;
      background-color: @cl-neutral;
      .ft-opensans-bold;
      font-size: 1.5em;
      color: @cl-background;
      text-align: center;
      white-space: nowrap;
    }
    .alert.info { background-color: @cl-success;}
    .alert.warning { background-color: @cl-warning; }
    .alert.error { background-color: @cl-error; }
  }

  #drawer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;

    .opacity {
      width: 100%;
      height: 100%;
      background-color: rgba(252, 32, 99, 0.6);
      .wrap {
        position: relative;
        left: -10000px;
        width: 280px; /* customizable by code */
        height: 100%;
        .content {
          width: 100%;
          height: 100%;
          padding: 45px 10px 10px;
          background-color: @cl-background;
          > div { height: 100%; }
        }
        .close {
          position: absolute;
          top: 10px; right: 10px;
          font-size: 1.4em;
        }
      }
    }
  }

  #color {
    width: 100%;
    height: @size-color;
    background-color: @cl-first;
  }

  #left {
    .make-xs-column(6);
    .make-sm-column(3);
    .make-lg-column(2);
    height: 100%;
    background-color: @cl-column;
    overflow-y:auto;
    z-index: 10;

    h1.logo {
      margin-top: 30px;
      margin-bottom: 22px;
      text-align: center;
    }

    .help {
      position: absolute;
      top: 8px; right: 10px;
      font-size: 18px;
      color: @cl-column-subtext;
    }

    #block-current-user {
      .avatar {
        .pull-left;
        margin-right: 10px;
        width: 60px;
        height: 60px;
      }
      .welcome {
        padding-top: 5px;
        margin-bottom: 0;
      }
      .username {
        .ft-opensans-bold;
        margin-bottom: 0;
      }
      .actions {
        padding-top: 5px;
        a {
          color: @cl-column-subtext;
          margin-right: 10px;
        }
        a:hover {
          color: @cl-column-subtext2;
          text-decoration: none;
        }
      }

      .status { font-size: 10px; font-weight: bold; color: @cl-background; }
      .status.online { color: @cl-success; }
      .status.connecting { color: @cl-warning; }
      .status.offline { color: @cl-neutral; }
      .status.error { color: @cl-error; }
    }

    #block-search {
      position: relative;
      padding: 0 10px;
      input[type=text] {
        width: 100%;
        border: 1px solid #ffffff;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        padding: 6px 30px 6px 15px;
        .ft-opensans-bold-italic;
        color: @cl-column-subtext2;
      }
      input[type=text]:focus {
      }
      i {
        position: absolute;
        top: 6px; right: 21px;
        font-size: 17px;
        color: @cl-column-subtext2;
      }
    }

    #block-rooms, #block-onetoones {
      .list {
        .item {
          display: block;
          margin-left: -15px;
          margin-right: -15px;
          padding: 12px 20px;

          a {
            color: @cl-title;
          }

          span {
            font-size: 1.1em;
          }
          .users-count {
            background-color: #ffffff;
            padding: 3px 10px;
            margin-left: 10px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
          }

          .close-room, .close-onetoone {
            .pull-right;
            color: @cl-column-subtext;
            font-size: 18px;
          }
        }

        .item:hover {
          text-decoration: none;
          span.name {
            text-decoration: underline;
          }
        }
        .item.active,
        .item.active:hover,
        .item.active:focus {
          background-color: @cl-background;

          .users-count {
            background-color: @cl-column;
          }
        }
        .item.unread { background-color: @cl-warning; color: #fff; }
        .item .name {  }
        .item .badge { margin-right: 5px; }
        .item .close { color: @cl-title; }
      }

      .footer {
        margin-top: 15px;
        a {
          .big-link;
        }
      }
    }
  }

  #center {
    .make-xs-column(6);
    .make-sm-column(9);
    .make-lg-column(10);
    height: 100%;
    padding-left: 0; /* Cancel Bootstrap side padding */
    padding-right: 0; /* Cancel Bootstrap side padding */

    #home {
      height: 100%;
      .left {
        .make-xs-column(12);
        .make-sm-column(10);
        .make-lg-column(9);
        height: 100%;
        padding: 30px 40px;
        overflow-x: auto;

        .search {
          position: relative;
          font-size: 2.3em;
          input[type=text] {
            width: 100%;
            border: 1px solid @cl-lines;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            padding: 5px 75px 6px 30px;
            .ft-raleway-heavy;
            color: @cl-column-subtext4;
          }
          input[type=text]:focus {
          }
          i {
            position: absolute;
            top: 12px; right: 21px;
            color: @cl-column-subtext4;
          }
        }

        .rooms {
          margin-top: 40px;
          .room {
            .pull-left;
            position: relative;
            width: 228px;
            height: 326px;
            margin-top: 10px;
            .avatar {
              width: 145px;
              height: 145px;
            }
            .name {
              margin-top: 17px;
            }
            .owner {
            }
            .topic, .description {
              margin-top: 22px;
              max-height: 35px;
              padding-left: 20px;
              padding-right: 20px;
              overflow-y: auto;
            }
            .join {
              position: absolute;
              left: 10px; right: 10px; bottom: 30px;
            }
            .permanent {
              position: absolute;
              top: 20px; right: 14px;
            }

            .back {
              display: none;
              width: 100%;
              height: 100%;
              background-color: @cl-lines; /** customizable color **/
              -webkit-border-radius: 25px;
              -moz-border-radius: 25px;
              border-radius: 25px;
              .name {  }
              .avatar {
                margin-top: 30px;
                width: 80px;
                height: 80px;
              }
              .owner {
              }
              .description {
                margin-top: 17px;
                max-height: 85px;
              }
              .join a {
                color: @cl-first; /** customizable color **/
              }
              .permanent {
                border-color: @cl-background;
                i {
                  color: @cl-background;
                }
              }
            }
          }
          .room:hover {
            .cover { display: none; }
            .back { display: block; }
          }
        }
      }
      .right {
        .make-xs-column(0);
        .make-sm-column(2);
        .make-lg-column(3);
        height: 100%;
        padding: 20px 8px 0 18px;
        background-color: @cl-column;

        .onlines {
          .item {
            .pull-left;
            position: relative;
            margin-top: 10px;
            margin-right: 10px;
            .avatar {
              width: 30px;
              height: 30px;
            }
            .username {
              display: none;
              position: absolute;
              top: 0; right: -20px;
              height: 30px;
              line-height: 30px;
              margin-right: 50px;
              padding-left: 10px;
              padding-right: 8px;
              background-color: @cl-lines;
              -moz-border-radius-topleft: 4px;
              -webkit-border-top-left-radius: 4px;
              border-top-left-radius: 4px;
              -moz-border-radius-bottomleft: 4px;
              -webkit-border-bottom-left-radius: 4px;
              border-bottom-left-radius: 4px;
              text-align: left;
              .ft-opensans-bold;
              color: #ffffff;
              z-index: 99999;
              white-space:nowrap;
            }
          }
          .item:hover {
            .username {
              display: block;
            }
          }
        }
      }
    }
  }
}

#drawer {
  #room-create {
    text-align: center;
    > p {
      width: 100%;
      margin-top: 30px;
    }
    h2 {
      .ft-raleway-heavy;
      font-size: 1.5em;
      margin-bottom: 20px;
      color: @cl-column-subtext;
    }
    .hash {
      margin-right: 3px;
      vertical-align: bottom;
      .ft-raleway-heavy;
      font-size: 2.4em;
      color: @cl-column-subtext;
    }
    .input {
      border: 4px solid @cl-lines;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      padding: 5px 10px;
      width: 260px;
      .ft-raleway;
      color: @cl-column-subtext4;
      font-size: 1.5em;
    }
    .help {
      .ft-opensans-light;
      margin-top: 10px;
      text-align: left;
      color: @cl-column-subtext;
      font-style: italic;
    }
    .submit {
      .big-button;
      margin-top: 30px;
      font-size: 1.1em;
      .ft-raleway-heavy;
      background-color: @cl-background;
      border-color: @cl-lines;
      color: @cl-column-subtext;
    }
  }
  #room-create.has-error {
    .input {
      border-color: @cl-error;
    }
  }
  #room-create.has-success {
    .input {
      border-color: @cl-success;
    }
    .hash {
      color: @cl-success;
    }
    .submit {
      border-color: @cl-success;
      color: @cl-success;
    }
  }
  #room-profile {
    .name {
      margin-top: 20px;
    }
    .owner { font-size: 1.2em;  }
    .topic, .description, .website {
      margin-top: 30px;
      font-size: 1.2em;
    }
    .topic {
      background-color: @cl-column-subtext0;
      padding: 2.0em;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      border-radius: 35px;
    }
    .website {
      text-decoration: underline;
    }
    .join {
      margin-top: 60px;
      a {
        font-size: 2.0em;
        padding: 0.5em 1em;
      }
    }
    .permanent {
      position: absolute;
      top: -10px; right: 60px;
    }
    .edit {
      position: absolute;
      bottom: 20px;
      left: 50px;
    }
  }
  #user-profile {
    .username {
      margin-top: 20px;
    }
    .bio, .location {
      margin-top: 30px;
    }
    .bio {
      background-color: @cl-column-subtext0;
      padding: 2.0em;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      border-radius: 35px;
      font-size: 1.2em;
    }
    .website {
      text-decoration: underline;
      font-size: 1.2em;
    }
    .location {
      .ft-opensans-bold;
      font-size: 1.2em;
    }
    .discuss, .offline {
      margin-top: 60px;
      a {
        font-size: 2.0em;
        padding: 0.5em 1em;
      }
    }
  }
}

#center {
 .discussion {
    background-color: @cl-background;
    position: relative;
    height: 100%;

    .row-header, .row-content { margin: 0px; /* Cancel bootstrap negative .row margin */  }
    .row-content { height: 100%; padding-top: 83px; }

    .col-content { height: 100%; padding-left: 0; padding-right: 0; padding-bottom: 75px; }
    .col-users { padding-left: 0; padding-right: 0; border-left: 1px solid #ddd;  background-color: darkgrey; }

    .header {
      border-bottom: 1px solid transparent;
      border-color: #ddd;
      background-color: #f5f5f5;
      padding: 15px 10px;
      z-index: 10;
      position: absolute;
      top:0; left:0; right:0;

      .color {
        position: absolute;
        left: 0; right: 0; top: 0px;
        height: 10px;
        background-color: #f5f5f5; /* default color, same as header */
      }
      .actions {
        position: absolute; top:20px; right:15px;
        width: 270px;
        text-align: right;

        .permanent-switch {
          cursor:pointer;
        }
        .settings {
          margin-left: 10px;
          cursor:pointer;
          :hover { text-decoration: underline; }
        }
        .close { color: #FF0000; margin-left: 10px; }
      }
      .avatar {
        .pull-left;
        margin-right: 10px;

        img {
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          border: 1px solid #999999;
        }
      }
      .status {
        padding-left: 5px;
        padding-right: 5px;
        font-style: italic;
      }
      .name { color: #555555; font-weight: bolder; font-size: 16px; }
      .owner { margin-top: 5px; }
      .topic-block { min-width: 200px; margin-top: 10px;}
      .topic-current {
        .topic { margin-left: 5px; color: #333; }
        .edit { margin-left: 5px; cursor:  pointer; }
      }
      .topic-form {
        display: inline-block;
        min-width: 75%;
        margin-left: 15px;

        .topic-input { display: inline-block; width: 50%; }
        .topic-submit { display: inline-block; }
        .topic-cancel { display: inline-block; }
      }
    }

    .messages {
      background-color: #fff;
      overflow-y: scroll;
      height: 100%;

      p {
        margin: 0;
        padding: 4px 6px;
        color: #000;
        .ft-opensans;
        position: relative;
        border: 0;
        border-bottom: 1px solid #f5f5f5;

        .avatar { float: left; margin-right: 10px; height: 20px; width: 20px; }
        .date { position: absolute; right: 8px; color: #BDBDBD; }
        .username { font-weight: bold; }
        .message { display: block; margin-left: 26px; white-space: pre; }
      }

      .notification {
        color: #737373;
      }
      .separator {
        color: #737373;
        font-weight: bold;
        text-align: center;
        background-color: #e3e3e3;
      }
    }

    .message-box {
      padding: 10px;
      color: #333;
      background-color: #f5f5f5;
      border-top: 1px solid transparent;
      border-color: #ddd;
      position: absolute;
      bottom: 0; left: 0; right: 0;

      .row { margin: 0; /* Cancel bootstrap negative .row margin */ }
      .input-group-addon.smileys-message { border-right: 0; }
      .input-message { border-right: 0; resize: vertical; min-height: 52px; }
      .send-message { background-color: #ebebeb; }
      .send-message:hover { background-color: #eee; }

      .popover {
        max-width: 290px; /* for postbox smileys popover */

        .popover-content { padding: 10px 0 5px 10px; }
        ul { margin: 0; padding: 0; }
        li { margin-right: 5px; margin-bottom: 5px; }
      }
    }

    .col-users {
      height: 100%;

      .room-users  {
        .list {
          overflow-y: scroll;

          .user-item.owner {
            .username { font-weight: bold; text-decoration: italic; }
          }
          .user-item.op {
            .username { font-weight: bold; }
          }
          .user-item .actions {
            position: absolute;
            right: 10px;

            .op-user, .deop-user {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
