.discussion {
  .row;
  height: 100%;
  .content {
    height: 100%;
    float: left;
    width: -webkit-calc(~'100%' - @size-right);
    width: -o-calc(~'100%' - @size-right);
    width: calc(~'100%' - @size-right);
    position: relative;
    padding-top: 30px;
    padding-left: 40px;
    .header {
      min-height: 90px;
      .avatar {
        position: absolute;
        top: 30px; left: 40px;
        width: 100px;
        height: 100px;
      }
      .name, .username {
        display: inline-block;
        margin-top: 2px;
        margin-left: 105px;
        font-size: 2.2em;
      }
      .owner, .status {
        display: inline-block;
        margin-left: 5px;
        font-size: 1.2em;
      }
      .location, .website {
        margin-left: 105px;
        font-size: 1.2em;
      }
      .location {
        margin-top: 5px;
        font-weight: bold;
      }
      .topic {
        min-height: 32px;
        margin-top: 14px;
        margin-left: 85px;
        font-size: 1.3em;
        padding: 5px 15px;
        .topic-current {
          .txt-bubble;
          padding: 0.6em 1.2em;
          display: inline-block;
          img {
            margin-right: 5px;
            width: 30px;
            cursor: pointer;
          }
        }
        .topic-form {
          .txt-bubble;
          width: 100%;
          label {
            color: @cl-subtext2;
            font-size: 0.9em;
            margin-right: 10px;
            font-weight: normal;
          }
          input[type=text] {
            .form-control;
            display: inline-block;

            width: -webkit-calc(~'100%' - 295px);
            width: -o-calc(~'100%' - 295px);
            width: calc(~'100%' - 295px);

            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            padding: 6px 30px 6px 15px;
          }
          .submit, .cancel {
            .big-button;
            background-color: @cl-background;
            color: @cl-subtext4;
            border-color: @cl-subtext4;
            font-size: 0.8em;
            padding: 6px 9px;
            border-width: 3px;
            font-style: normal;
            display: inline-block;
            margin-left: 5px;
          }
          .cancel {
            margin-right: 5px;
          }
          .submit {
            font-weight: bold;
          }
        }
      }

      .actions {
        position: absolute;
        top: 40px;
        right: 40px;
        i { color: @cl-subtext1; }
        font-size: 0.9em;
        .permanent {
          width: 25px;
        }
      }
    }
    .messages {
      margin-top: 20px;
      height: -webkit-calc(~'100%' - 240px);
      height: -o-calc(~'100%' - 240px);
      height: calc(~'100%' - 240px);
      font-size: 1.1em;

      .notification, p.message {
        position: relative;
        margin-bottom: 0;
        .avatar { width: 30px; height: 30px; }
        .text { white-space: pre-wrap !important; }
        .date {
          position: absolute;
          top: 0; right: 0;
          color: @cl-subtext3;
          font-size: 0.8em;
        }
      }
      .notification {
        text-align: right;
        font-style: italic;
        color: @cl-subtext2;
        .date { display: none;}
        img { height: 20px; }
        .avatar {
          width: 20px;
          height: 20px;
          margin-left: 8px;
          margin-right: 8px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
        }
        .username { font-weight: bold; }
        i { color: @cl-success; }
      }
      .notification-inout {
        .date { display: none; }
        .item {
          display: inline-block;
          padding: 4px;
        }
      }
      p.message {
        padding-top: 10px;
        padding-left: 40px;
        .avatar {
          position: absolute;
          top: 0; left: 0;
          border: none;
        }
        .username {
          position: absolute;
          top: 0; left: 40px;
          .ft-opensans-bold;
          font-size: 1em;
        }
        .text {
          display: block;
          padding-top: 5px;
          a { font-weight: bold; }
        }
      }
      hr {
        margin-top: 5px;
        margin-bottom: 5px;
        clear: both;
        border-color: @cl-subtext0;
      }
    }
    .messages.scroller {
      .scroller-bar { background: none; border: 0; }
      .scroller-track { background: none; }
      .scroller-handle { right: 0; border: 0; width: 4px; background-color: @cl-subtext0; min-height: 20px; }
      .scroller-content { padding: 0; padding-right: 15px; }
    }
    .messages.scroller-active {
      .scroller-content { padding-right: 5px; }
    }
    .input {
      position: absolute;
      left:40px; right: 25px; bottom: 20px;
      border: 1px solid @cl-subtext1;
      padding: 0;
      padding-left: 70px;
      .avatar {
        position: absolute;
        left: 14px; top: 12px;
        width: 60px;
        height: 60px;
      }
      textarea {
        display: inline-block;
        width: -webkit-calc(~'100%' - 60px);
        width: -o-calc(~'100%' - 60px);
        width: calc(~'100%' - 60px);
        margin: 0;
        border: none;
        overflow: auto;
        outline: none;
        resize: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: 80px;
        padding: 12px 15px;
        font-size: 1.1em;
      }
      .send {
        position: absolute;
        top:0; bottom: 0; right:0;
        width: 65px;
        margin: 0;
        border: 0;
        padding-top: 20px;
        padding-left: 5px;
        display: inline-block;
        background-color: @cl-first;
        color: @cl-background;
        text-align: center;
        img {
          width: 35px;
        }
      }
      .send:after {
        content: "";
        position: absolute;
        bottom: -13px;
        left: 19px;
        border-style: solid;
        border-width: 15px 15px 0;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: inherit;
        border-bottom-color: inherit;
        display: block;
        width: 0;
        z-index: 1;
      }

    }
  }
  .side {
    float: left;
    width: @size-right;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    margin: 0;
    padding: 0;
    .blur {
      width: -webkit-calc(@size-right/2);
      width: -o-calc(@size-right/2);
      width: calc(@size-right/2);
      position: relative;
      height: 100%;
      color: @cl-background;
      a { color: @cl-background; }
      hr { margin-left: 0; margin-right: 0; }
      font-size: 1.1em;
      .users {
        background-color: rgba(0, 0, 0, 0.2);
        height: 100%;
        padding: 10px 0 10px 0;
        @header-height: 35px;
        .header {
          position: absolute;
          top: 14px; left: 20px; right: 20px;
          .count { .pull-left; }
          .between {
            font-size: 1.2em;
            line-height: 1;
            padding-left: 10px;
            padding-right: 10px;
          }
          .actions { .pull-right; }
        }
        > hr {
          position: absolute;
          left: 14px; right: 14px; top: @header-height;
        }
        .list {
          height: -webkit-calc(~'100%' - @header-height + 5px);
          height: -o-calc(~'100%' - @header-height + 5px);
          height: calc(~'100%' - @header-height + 5px);
          margin-top: -webkit-calc(@header-height + 10px);
          margin-top: -o-calc(@header-height + 10px);
          margin-top: calc(@header-height + 10px);
          margin-bottom: 0;
          padding: 0 0 10px 0;
          background-repeat: no-repeat;
          background-position: left top;
          position: relative;
          overflow: hidden;
          .item {
            position: relative;
            margin-top: 10px;
            font-size: 0.9em;
            .username { margin-left: 9px; }
            .avatar {
              position: relative;
              img { width: 34px; height: 34px; }
            }
            font-weight: bold;
            .actions {
              position: absolute;
              right: 0;
              line-height: 2.7;
              display: none;
              .deop-user, .op-user, .kick-user {
                cursor: pointer;
                margin-left: 3px;
              }
              .deop-user, .op-user {
                height: 21px;
              }
              .kick-user {
                height: 17px;
              }
            }
          }
          .item.op, .item.owner {
            .avatar {
              img {
                border-style: solid;
                border-width: 2px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
              }
            }
            .avatar::before {
              content: "";
              z-index: 5;
              position: absolute;
            }
          }
          .item.op {
            .avatar {
              img {
                border-color: @cl-success !important; // override .op if needed;
              }
            }
            .avatar::before {
              content: url("/images/op.svg");
              top: -13px; left: -7px;
            }
          }
          .item.owner {
            .avatar {
              img {
                border-color: #fbec4d !important; // override .op if needed;
              }
            }
            .avatar::before {
              content: url("/images/owner.svg") !important; // override .op if needed
              top: -20px !important; left: 9px !important;
            }
          }
          .item:hover {
            .actions {
              display: inline-block;
            }
          }
        }
        .list.scroller {
          .scroller-bar { background: none; border: 0; top: 10px; width: 13px; padding-right: 3px; }
          .scroller-track { background: none; }
          .scroller-handle { right: 0; width: 5px; }
          .scroller-content { padding: 6px 9px 0 14px; }
        }
        .list.scroller-active {
          .item .actions {
            right: -9px;
          }
        }
      }
    }
  }
}

/** for <=1024 screens resolutions **/
@media screen and (max-width: 1100px) {
  .discussion {
    .content {
      width: -webkit-calc(~'100%' - (@size-right/2));
      width: -o-calc(~'100%' - (@size-right/2));
      width: calc(~'100%' - (@size-right/2));
    }
    .side {
      width: -webkit-calc(@size-right/2);
      width: -o-calc(@size-right/2);
      width: calc(@size-right/2);
      background: none !important;
    }
  }
}
