@cl-column: #e2e2e2;
@cl-column-subtext: #b6b6b6;
@cl-column-subtext2: #777777;
@cl-column-subtext3: #313131;
@cl-column-subtext4: #6b6b6b;
@cl-lines: #dadada;
@cl-picto: #ffda3e;

.body-chat {
  height: 100%;
  overflow-y: hidden;
  .ft-opensans;
  font-size: 12px;
  padding-top: 20px;

  #alert-container {
    .alert {
      display: none;
      padding: .4em .6em .4em;
      background-color: #999;
      color: #FFF;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      border-radius: 0;
    }
    .alert.info { background-color: #31b0d5; }
    .alert.warn { background-color: #ec971f; }
    .alert.error { background-color: #c9302c; }
  }

  .open-room-profile, .open-user-profile {
    cursor:pointer;
  }

  .open-room-profile:hover, .open-user-profile:hover {
    text-decoration: underline;
  }
}

#chat {
  .container-fluid;
  height: 100%;
  margin: 0;
  padding: 0;

  > .row {
    margin: 0; /* Cancel bootstrap negative .row margin */
    height: 100%;
  }

  hr {
    border-top-color: @cl-lines;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .big-link {
    .ft-opensans-bold;
    color: @cl-first;
    font-size: 1.1em;
  }

  #color {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 20px;
    background-color: @cl-first;
  }

  #left {
    .make-sm-column(2);
    height: 100%;
    background-color: @cl-column;
    overflow-y:auto;

    h1.logo {
      margin-top: 30px;
      margin-bottom: 22px;
      text-align: center;
    }

    .help {
      position: absolute;
      top: 8px; right: 10px;
      font-size: 18px;
      color: @cl-column-subtext;
    }

    #block-current-user {
      .avatar {
        .pull-left;
        margin-right: 10px;
        width: 60px;
        height: 60px;
      }
      .welcome {
        padding-top: 5px;
        margin-bottom: 0;
      }
      .username {
        .ft-opensans-bold;
        margin-bottom: 0;
      }
      .actions {
        padding-top: 5px;
        a {
          color: @cl-column-subtext;
          margin-right: 10px;
        }
        a:hover {
          color: @cl-column-subtext2;
          text-decoration: none;
        }
      }

      .status { font-size: 10px; font-weight: bold; color: #ffffff; }
      .status.online { color: #4fedc0; }
      .status.connecting { color: #ffda3e; }
      .status.offline { color: #777777; }
      .status.error { color: #ff3838; }
    }

    #block-search {
      position: relative;
      padding: 0 10px;
      input[type=text] {
        width: 100%;
        border: 1px solid #ffffff;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        padding: 6px 30px 6px 15px;
        .ft-opensans-bold-italic;
        color: @cl-column-subtext2;
      }
      input[type=text]:focus {
      }
      i {
        position: absolute;
        top: 6px; right: 21px;
        font-size: 17px;
        color: @cl-column-subtext2;
      }
    }

    #block-rooms, #block-onetoones {
      .list {
        .item {
          display: block;
          margin-left: -15px;
          margin-right: -15px;
          padding: 12px 20px;

          a {
            color: @cl-column-subtext3;
          }

          span {
            font-size: 1.1em;
          }
          .users-count {
            background-color: #ffffff;
            padding: 3px 10px;
            margin-left: 10px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
          }

          .close-room, .close-onetoone {
            .pull-right;
            color: @cl-column-subtext;
            font-size: 18px;
          }
        }

        .item:hover {
          text-decoration: none;
          span.name {
            text-decoration: underline;
          }
        }
        .item.active,
        .item.active:hover,
        .item.active:focus {
          background-color: #ffffff;
          border-color: #428bca;

          .users-count {
            background-color: @cl-column;
          }
        }
        .item.unread { background-color: orangered; color: #fff; }
        .item .name {  }
        .item .badge { margin-right: 5px; }
        .item .close { color: @cl-column-subtext3; }
      }

      .footer {
        margin-top: 15px;
        a {
          .big-link;
        }
      }
    }

    .sign {
      position: absolute;
      left: 0; right: 0; bottom: 10px;
      text-align: center;
      color: @cl-column-subtext;
    }
  }

  #center {
    .make-sm-column(10);
    height: 100%;
    padding-left: 0; /* Cancel Bootstrap side padding */
    padding-right: 0; /* Cancel Bootstrap side padding */

    #home {
      height: 100%;
      .left {
        .make-md-column(10);
        height: 100%;
        padding: 30px 40px;
        overflow-x: auto;

        .search {
          position: relative;
          font-size: 2.3em;
          input[type=text] {
            width: 100%;
            border: 1px solid @cl-lines;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            padding: 5px 75px 6px 30px;
            .ft-raleway-heavy;
            color: @cl-column-subtext4;
          }
          input[type=text]:focus {
          }
          i {
            position: absolute;
            top: 12px; right: 21px;
            color: @cl-column-subtext4;
          }
        }

        .rooms {
          margin-top: 40px;

          .item {
            .pull-left;
            position: relative;
            width: 228px;
            height: 326px;
            text-align: center;
            p { margin-bottom: 0; }

            .avatar {
              .img-circle;
              width: 145px;
              height: 145px;
            }
            .name {
              .ft-raleway-heavy;
              margin-top: 17px;
              line-height: 1.2;
              font-size: 1.7em;
              color: @cl-column-subtext3;
            }
            .owner {
              font-size: 0.9em;
              span {
                color: @cl-first;
              }
            }
            .topic, .description {
              margin-top: 22px;
              max-height: 35px;
              padding-left: 20px;
              padding-right: 20px;
              overflow-y: auto;
              .ft-opensans-italic;
              font-size: 1em;
            }
            .join {
              position: absolute;
              left: 10px; right: 10px; bottom: 30px;
              a {
                background-color: @cl-first; /** customizable color **/
                .ft-raleway-medium;
                color: #ffffff;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                padding: 8px 16px;
                text-transform: uppercase;
                i {
                  color: @cl-picto;
                }
              }
            }

            .back {
              display: none;
              width: 100%;
              height: 100%;
              background-color: @cl-lines; /** customizable color **/
              -webkit-border-radius: 25px;
              -moz-border-radius: 25px;
              border-radius: 25px;
              .name { color: #ffffff; }
              .avatar {
                margin-top: 30px;
                width: 72px;
                height: 72px;
                border: 3px;
              }
              .owner {
                color: #ffffff;
                span { color: #ffffff; }
              }
              .description {
                margin-top: 17px;
                max-height: 85px;
                color: #ffffff;
              }
              .join a {
                background-color: #ffffff;
                color: @cl-first; /** customizable color **/

              }
            }
            .permanent {
              position: absolute;
              top: 20px; right: 14px;
              padding: 0 4px;
              border: 2px solid @cl-lines;
              -webkit-border-radius: 25px;
              -moz-border-radius: 25px;
              border-radius: 25px;
              i {
                color: @cl-lines;
              }
            }
          }
          .item:hover {
            .cover { display: none; }
            .back { display: block; }
          }
        }
      }
      .right {
        .make-md-column(2);
        height: 100%;
        padding: 20px 8px 0 18px;
        background-color: @cl-column;

        .onlines {
          .item {
            .pull-left;
            margin-top: 10px;
            margin-right: 10px;
            position: relative;
            .avatar {
              width: 30px;
              height: 30px;
            }
            .username {
              display: none;
              position: absolute; top: 0; right: -20px;
              height: 30px;
              line-height: 30px;
              margin-right: 50px;
              padding-left: 10px;
              padding-right: 8px;
              background-color: @cl-lines;
              -moz-border-radius-topleft: 4px;
              -webkit-border-top-left-radius: 4px;
              border-top-left-radius: 4px;
              -moz-border-radius-bottomleft: 4px;
              -webkit-border-bottom-left-radius: 4px;
              border-bottom-left-radius: 4px;
              text-align: left;
              .ft-opensans-bold;
              color: #ffffff;
              z-index: 99999;
              white-space:nowrap;
            }
          }
          .item:hover {
            .username {
              display: block;
            }
          }
        }
      }
    }
  }
}

#modals {
  #create-room-modal {
    .create-message { padding: 15px; }
  }

  .modal-iframe {
    .modal-dialog {
      width: @modal-lg;
      height: 680px;

      .modal-content {
        height: 100%;

        .modal-header {
        }

        .modal-body{
          height: 620px;
        }

        .modal-footer {
          display: none;
        }
      }
    }

    iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

#center {
 .discussion {
    background-color: #FFFFFF;
    position: relative;
    height: 100%;

    .row-header, .row-content { margin: 0px; /* Cancel bootstrap negative .row margin */  }
    .row-content { height: 100%; padding-top: 83px; }

    .col-content { height: 100%; padding-left: 0; padding-right: 0; padding-bottom: 75px; }
    .col-users { padding-left: 0; padding-right: 0; border-left: 1px solid #ddd;  background-color: darkgrey; }

    .header {
      border-bottom: 1px solid transparent;
      border-color: #ddd;
      background-color: #f5f5f5;
      padding: 15px 10px;
      z-index: 10;
      position: absolute;
      top:0; left:0; right:0;

      .color {
        position: absolute;
        left: 0; right: 0; top: 0px;
        height: 10px;
        background-color: #f5f5f5; /* default color, same as header */
      }
      .actions {
        position: absolute; top:20px; right:15px;
        width: 270px;
        text-align: right;

        .permanent-switch {
          cursor:pointer;
        }
        .settings {
          margin-left: 10px;
          cursor:pointer;
          :hover { text-decoration: underline; }
        }
        .close { color: #FF0000; margin-left: 10px; }
      }
      .avatar {
        .pull-left;
        margin-right: 10px;

        img {
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          border: 1px solid #999999;
        }
      }
      .status {
        padding-left: 5px;
        padding-right: 5px;
        font-style: italic;
      }
      .name { color: #555555; font-weight: bolder; font-size: 16px; }
      .owner { margin-top: 5px; }
      .topic-block { min-width: 200px; margin-top: 10px;}
      .topic-current {
        .topic { margin-left: 5px; color: #333; }
        .edit { margin-left: 5px; cursor:  pointer; }
      }
      .topic-form {
        display: inline-block;
        min-width: 75%;
        margin-left: 15px;

        .topic-input { display: inline-block; width: 50%; }
        .topic-submit { display: inline-block; }
        .topic-cancel { display: inline-block; }
      }
    }

    .messages {
      background-color: #fff;
      overflow-y: scroll;
      height: 100%;

      p {
        margin: 0;
        padding: 4px 6px;
        color: #000;
        .ft-opensans;
        position: relative;
        border: 0;
        border-bottom: 1px solid #f5f5f5;

        .avatar { float: left; margin-right: 10px; height: 20px; width: 20px; }
        .date { position: absolute; right: 8px; color: #BDBDBD; }
        .username { font-weight: bold; }
        .message { display: block; margin-left: 26px; white-space: pre; }
      }

      .notification {
        color: #737373;
      }
      .separator {
        color: #737373;
        font-weight: bold;
        text-align: center;
        background-color: #e3e3e3;
      }
    }

    .message-box {
      padding: 10px;
      color: #333;
      background-color: #f5f5f5;
      border-top: 1px solid transparent;
      border-color: #ddd;
      position: absolute;
      bottom: 0; left: 0; right: 0;

      .row { margin: 0; /* Cancel bootstrap negative .row margin */ }
      .input-group-addon.smileys-message { border-right: 0; }
      .input-message { border-right: 0; resize: vertical; min-height: 52px; }
      .send-message { background-color: #ebebeb; }
      .send-message:hover { background-color: #eee; }

      .popover {
        max-width: 290px; /* for postbox smileys popover */

        .popover-content { padding: 10px 0 5px 10px; }
        ul { margin: 0; padding: 0; }
        li { margin-right: 5px; margin-bottom: 5px; }
      }
    }

    .col-users {
      height: 100%;

      .room-users  {
        .list {
          overflow-y: scroll;

          .user-item.owner {
            .username { font-weight: bold; text-decoration: italic; }
          }
          .user-item.op {
            .username { font-weight: bold; }
          }
          .user-item .actions {
            position: absolute;
            right: 10px;

            .op-user, .deop-user {
              cursor: pointer;
            }
          }
        }
      }
    }

  }
}