.discussion {
  .row;

  /* preload disconnect image */
  background: url(/images/disconnect.svg) no-repeat -9999px -9999px;

  height: 100%;
  .content {
    height: 100%;
    float: left;
    width: -webkit-calc(~'100%' - @size-right);
    width: -o-calc(~'100%' - @size-right);
    width: calc(~'100%' - @size-right);
    position: relative;
    padding-top: 30px;
    padding-left: 40px;
    .header {
      min-height: 90px;
      .avatar {
        position: absolute;
        top: 30px; left: 40px;
        width: 100px;
        height: 100px;
      }
      .name, .username {
        display: inline-block;
        margin-top: 2px;
        margin-left: 105px;
        font-size: 2.2em;
      }
      .owner {
        display: inline-block;
        margin-left: 5px;
        font-size: 1.2em;
      }
      .status-block {
        display: inline-block;
        margin-left: 5px;
        font-size: 1.2em;
        i { font-size: 0.8em; }
      }
      .location, .website {
        margin-left: 105px;
        font-size: 1.2em;
      }
      .location {
        margin-top: 5px;
        font-weight: bold;
      }
      .topic {
        min-height: 32px;
        margin-top: 14px;
        margin-left: 100px;
        font-size: 1.2em;
        padding: 5px 15px;
        .topic-current {
          .txt-bubble;
          padding: 0.6em 1.2em;
          display: inline-block;
          em {
            color: @cl-subtext2;
            &:hover {
              color: @cl-subtext5;
            }
          }
        }
        .topic-form {
          .txt-bubble;
          width: 100%;
          input[type=text] {
            .form-control;
            display: inline-block;

            width: -webkit-calc(~'100%' - 295px);
            width: -o-calc(~'100%' - 295px);
            width: calc(~'100%' - 295px);

            min-width: 300px;

            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            padding: 6px 30px 6px 15px;
          }
          .submit, .cancel {
            .big-button;
            background-color: @cl-background;
            color: @cl-subtext4;
            border-color: @cl-subtext4;
            font-size: 0.8em;
            padding: 6px 9px;
            border-width: 3px;
            font-style: normal;
            display: inline-block;
            margin-left: 5px;
          }
          .cancel {
            margin-right: 5px;
          }
          .submit {
            font-weight: bold;
          }
        }
      }

      .actions {
        color: @cl-subtext3;
        margin-top: 4px;
        margin-left: 106px;
        i {
          color: @cl-subtext2;
          font-size: 0.9em;
        }
        a {
          font-size: 1em;
          text-decoration: none;
          border-bottom: 1px solid @cl-subtext1;
          color: @cl-subtext3;
          &:hover {
            text-decoration: none;
            border-bottom: 1px solid @cl-subtext3;
            color: @cl-title;
          }
        }
        .separation {
          margin-left: 5px;
          margin-right: 3px;
        }
        .url {
          margin-top: 2px;
          font-size: 1em;
          i {
            color: @cl-subtext3;
            font-size: 0.9em;
          }
          a {
            text-decoration: none;
          }
        }
        .edit {
          margin-right: 5px;
        }
        .profile {

        }
      }

      .share-button {
        position: absolute;
        top: 30px;
        right: 25px;
        width: inherit;
        height: 35px;
        border-radius: 25px;
        label {
          color: inherit;
          background-color: transparent;
          padding: 5px 12px;
          span {
            text-transform: none;
            .ft-opensans-bold;
          }
        }
        .social.networks-4 {
          width: inherit;
          z-index: 10;
          position: relative;
        }
      }
    }
    .events {
      height: -webkit-calc(~'100%' - 250px);
      height: -o-calc(~'100%' - 250px);
      height: calc(~'100%' - 250px);
      margin-top: 20px;
      &.scroller {
        .scroller-bar { background: none; border: 0; }
        .scroller-track { background: none; }
        .scroller-handle { right: 0; border: 0; width: 4px; background-color: @cl-subtext0; min-height: 20px; }
        .scroller-content { padding: 0; padding-right: 15px; }
      }
      &.scroller-active {
        .scroller-content { padding-right: 5px; }
      }

      .block {
        position: relative;
        margin: 5px 0;
        border: 0 solid @cl-subtext0;
        border-top: 1px;
        font-size: 1.1em;
        .event {
          .text {}
          .date {
            position: absolute;
            top: 0; right: 0;
            color: @cl-subtext3;
            font-size: 0.8em;
          }
        }
      }

      .block.message {
        padding-top: 10px;
        padding-left: 40px;
        .avatar {
          position: absolute;
          top: 0; left: 0;
          border: none;
          width: 30px;
          height: 30px;
        }
        .username {
          position: absolute;
          top: 0; left: 40px;
          .ft-opensans-bold;
          font-size: 1em;
        }
        .event {
          position: relative;
          .text {
            white-space: pre-wrap !important;
            padding-top: 5px;
            a { font-weight: bold; }
          }
          .date {

          }
        }
      }

      .block.inout {
        .date { display: none; }
        .event {
          display: inline-block;
          margin: 0 4px 4px 0;
          padding: 4px;
          border: 2px solid transparent;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          .username { display: none; }
          .avatar {
            margin-right: 0px;
          }
          .icon {}
          &.in:hover {
            border-color: @cl-success;
          }
          &.out:hover {
            border-color: @cl-error;
          }
        }
      }

      .block.hello,
      .block.disconnected,
      .block.reconnected,
      .block.oneOffline,
      .block.topic,
      .block.kick,
      .block.ban,
      .block.op,
      .block.deop {
        font-style: italic;
        color: @cl-subtext2;
        img { height: 20px; }
        .avatar {
          width: 20px;
          height: 20px;
          margin-right: 4px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
        }
        .username { font-weight: bold; }
        .detail { font-weight: normal; }
        i { color: @cl-success; }
      }
    }
    .input {
      position: absolute;
      left:40px; right: 25px; bottom: 20px;
      border: 1px solid @cl-subtext1;
      padding: 0;
      padding-left: 70px;
      .avatar {
        position: absolute;
        left: 14px; top: 12px;
        width: 60px;
        height: 60px;
      }
      textarea {
        display: inline-block;
        width: -webkit-calc(~'100%' - 60px);
        width: -o-calc(~'100%' - 60px);
        width: calc(~'100%' - 60px);
        margin: 0;
        border: none;
        overflow: auto;
        outline: none;
        resize: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: 80px;
        padding: 12px 15px;
        font-size: 1.1em;
      }
      .send {
        position: absolute;
        top:0; bottom: 0; right:0;
        width: 65px;
        margin: 0;
        border: 0;
        padding-top: 20px;
        padding-left: 5px;
        display: inline-block;
        background-color: @cl-first;
        color: @cl-background;
        text-align: center;
        img {
          width: 35px;
        }
      }
      .send:after {
        content: "";
        position: absolute;
        bottom: -13px;
        left: 19px;
        border-style: solid;
        border-width: 15px 15px 0;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: inherit;
        border-bottom-color: inherit;
        display: block;
        width: 0;
        z-index: 1;
      }

    }
  }
  .side {
    float: left;
    width: @size-right;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    margin: 0;
    padding: 0;
    .blur {
      width: -webkit-calc(@size-right/2);
      width: -o-calc(@size-right/2);
      width: calc(@size-right/2);
      position: relative;
      height: 100%;
      color: @cl-background;
      a { color: @cl-background; }
      hr { margin-left: 0; margin-right: 0; }
      font-size: 1.1em;
      .users {
        background-color: rgba(0, 0, 0, 0.2);
        height: 100%;
        padding: 10px 0 10px 0;
        @header-height: 35px;
        .header {
          position: absolute;
          top: 14px; left: 16px; right: 10px;
          .count { .pull-left; }
          .between {
            font-size: 1.2em;
            line-height: 1;
            padding-left: 10px;
            padding-right: 10px;
          }
          .actions { .pull-right; }
        }
        > hr {
          position: absolute;
          left: 14px; right: 14px; top: @header-height;
        }
        .list {
          height: -webkit-calc(~'100%' - @header-height + 5px);
          height: -o-calc(~'100%' - @header-height + 5px);
          height: calc(~'100%' - @header-height + 5px);
          margin-top: -webkit-calc(@header-height + 10px);
          margin-top: -o-calc(@header-height + 10px);
          margin-top: calc(@header-height + 10px);
          margin-bottom: 0;
          padding: 0 0 10px 0;
          background-repeat: no-repeat;
          background-position: left top;
          position: relative;
          overflow: hidden;
          .item {
            position: relative;
            margin-top: 10px;
            font-size: 0.9em;
            .username {
              position: relative;
              margin-left: 9px;
              padding-right: 12px;
              overflow: hidden;
              display: inline-block;
              vertical-align: middle;
              &::after {
                content: "\f10c";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: none;
                position: absolute;
                top: 2px; right: 0;
                font-size: 10px;
              }
            }
            .avatar {
              position: relative;
              img { width: 34px; height: 34px; }
            }
            font-weight: bold;
            .actions {
              position: absolute;
              right: 0;
              width: 65px;
              line-height: 2.7;
              padding: 0 10px;
              -webkit-border-radius: 15px;
              -moz-border-radius: 15px;
              border-radius: 15px;
              .deop-user, .op-user, .kick-user {
                cursor: pointer;
                margin-left: 3px;
              }
              .deop-user, .op-user {
                height: 21px;
              }
              .kick-user {
                height: 17px;
              }
            }
          }
          .item.online {
            .username::after { color: @cl-success; }
          }
          .item.offline {
            opacity: 0.7;
            .username::after { color: @cl-error; }
          }
          .item.op, .item.owner {
            .avatar {
              img {
                border-style: solid;
                border-width: 2px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
              }
            }
            .avatar::before {
              content: "";
              z-index: 5;
              position: absolute;
            }
          }
          .item.op {
            .avatar {
              img {
                border-color: @cl-success !important; // override .op if needed;
              }
            }
            .avatar::before {
              content: url("/images/op.svg");
              top: -13px; left: -7px;
            }
          }
          .item.owner {
            .avatar {
              img {
                border-color: #fbec4d !important; // override .op if needed;
              }
            }
            .avatar::before {
              content: url("/images/owner.svg") !important; // override .op if needed
              top: -20px !important; left: 9px !important;
            }
          }
          .item:hover {
            .actions {
//              display: inline-block;
              background-color: rgba(67, 67, 67, 0.5);
            }
          }
        }
        .list.scroller {
          .scroller-bar { background: none; border: 0; top: 10px; width: 13px; padding-right: 3px; }
          .scroller-track { background: none; }
          .scroller-handle { right: 0; width: 5px; }
          .scroller-content { padding: 6px 9px 0 14px; }
        }
        .list.scroller-active {
          .item .actions {
            right: -9px;
          }
        }
      }
    }
  }
}

/** for <=1024 screens resolutions **/
@media screen and (max-width: 1100px) {
  .discussion {
    .content {
      width: -webkit-calc(~'100%' - (@size-right/2));
      width: -o-calc(~'100%' - (@size-right/2));
      width: calc(~'100%' - (@size-right/2));
    }
    .side {
      width: -webkit-calc(@size-right/2);
      width: -o-calc(@size-right/2);
      width: calc(@size-right/2);
      background: none !important;
    }
  }
}
