.body-static {
  padding-top: 10px;
  a {
    font-weight: bold;
  }
  blockquote {
    font-size: 1em;
  }

  div.logo {
    .row;
    padding-top: 10px;
    img {
      width: 280px;
    }
  }

  div.main {
    .row;
    div.content {
      h1 {
        .ft-raleway-heavy;
      }
    }
  }


  .footer {
    .row;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid @cl-first;
  }
}

