@import "bootstrap-3.1.1/less/bootstrap";
@import "font-awesome-4.0.3/less/font-awesome";

body {
  padding: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#account {

  .header {
    .page-header;
    .text-center;
  }

  .detail {
    position: relative;
    padding-left: 60px;

    .avatar {
      .img-rounded;
      position: absolute;
      top: 0; left: 0;
    }
  }

  .global {
    .make-sm-column(6);
    line-height: 1.5;
  }

  .login {
    .make-sm-column(6);
    line-height: 1.5;

    .facebook {
      .well;
      margin-bottom: 0;
    }

    .unlink {
      .text-right;

      a {
        .btn;
        .btn-primary;
        .btn-sm;
      }
    }

  }

}