@import "bootstrap-3.2.0/less/bootstrap";
@import "font-awesome-4.1.0/less/font-awesome";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300,800);
@import url(http://fonts.googleapis.com/css?family=Raleway:500,900,400);
@import "./smilify.less";
@import "../vendor/colpick/css/colpick.css";
@import "../vendor/Scroller/jquery.fs.scroller.css";

@cl-background: #ffffff;
@cl-first: #fc2063;
@cl-second: #253b6c;

@cl-success: #4fedc0;
@cl-warning: #ffda3e;
@cl-error: #ff3838;
@cl-neutral: #777777;

@cl-detail: #4a649d;

@img-homepage: '/images/cover.jpg';
@img-homepage-blur: '/images/cover-blur.jpg';

.ft-opensans { font-family: 'Open Sans', sans-serif; font-weight: normal; }
.ft-opensans-light { .ft-opensans; font-weight: 300; }
.ft-opensans-italic { .ft-opensans; font-weight: 300; font-style: italic; }
.ft-opensans-bold { .ft-opensans; font-weight: bold; }
.ft-opensans-bold-italic { .ft-opensans; font-weight: bold; font-style: italic; }
.ft-raleway { font-family: 'Raleway', sans-serif; font-weight: normal; }
.ft-raleway-medium { .ft-raleway; font-weight: 500; }
.ft-raleway-heavy { .ft-raleway; font-weight: 900; }

html { height: 100%; }
body {
 .ft-opensans;
 font-size: 14px;
 overflow-x: hidden;
 a { color: @cl-second; }
 a:hover { color: @cl-second; }
}

body.light { padding: 0; overflow-y: auto; }

@import "./landing.less"; /* = non authenticated homepage */
@import "./account.less";
@import "./chat.less";

.color-picker {
  position: relative;
  color: #555;
  font-size: 16px;
  .preview {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    float:left;
  }
  .hexadecimal {
    width:90px;
    margin-left: 3px;
    padding: 3px 6px;
    font-weight: bold;
    line-height: 1.9;
  }
  .picker {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    left: 125px; top: -100px;
    z-index: 99;
    width: 254px;
    padding: 34px 10px 10px 10px;
    .hexagone {

    }
    .color-map {
      area {
        cursor: pointer;
      }
    }
    a.close-picker {
      position: absolute;
      top: 6px;
      right: 7px;
      font-size: 1.1em;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .2;
      cursor: pointer;
    }
    a.close-picker:hover {
      text-decoration: none;
      opacity: 1;
    }
  }
}
