<div class="message <% if (data.viewed == false) { %>unread<% } %>" data-notification-id="<%= data.id %>" data-time="<%= data.time %>">
    <img src="<%= data.avatar %>" alt="<%= data.data.room.name %>"/>
    <div class="message-subject">
        <%= t('chat.notifications.dropdown.deop', { roomname: data.data.room.name.replace('#', '' ), room_id: data.data.room.room_id}) %>
    </div>
    <span class="icon icon-times action-tag-as-done"></span>
    <div class="message-description unviewed">
        par <span class="username open-user-profile" data-user-id="<%= data.data.by_user.user_id %>">@<%= data.data.by_user.username %></span>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.time %>"><%= from_now %></span></div>
    </div>
</div> <!-- / .message -->