<div class="message <% if (data.viewed == false) { %>unread<% } %>" data-notification-id="<%= data.id %>" data-time="<%= data.time %>">
    <img src="<%= data.avatar %>" alt="<%= data.data.by_user.username %>" />
    <div class="message-subject">
        <%= t('chat.notifications.dropdown.usermessage', { username: data.data.by_user.username, user_id: data.data.by_user.user_id, message: data.data.message }) %>
    </div>
    <span class="icon icon-times action-tag-as-done"></span>
    <div class="message-description unviewed">
        <span class="hidden-xs hidden-sm">
            <span class="username">&nbsp;</span>
        </span>
        <div class="date">
            <span class="moment hidden-xs hidden-sm" data-time="<%= data.time %>" title="<%= data.time %>"><%= from_now %></span>
            <span class="moment visible-xs visible-sm" data-time="<%= data.time %>" title="<%= data.time %>"><%= from_now_short %></span>
        </div>
    </div>
</div> <!-- / .message -->