<div class="rooms">
    <% if (rooms.length < 1) { %>
        <div class="nothing">Aucun donut a afficher ;)</div>
    <% } %>
    <% _.each(rooms, function(room) { %>
    <div class="room" data-colorify="<%= room.color %>">
        <div class="cover">
            <img class="avatar" src="<%= room.avatar %>">
            <p class="name"><%= room.name %></p>
            <p class="owner">by <a data-colorify-text="#ffffff"><%= room.owner.username %></a></p>
            <p class="topic"><%= room.topic %></p>
            <p class="join">
                <a href="#room/<%= room.name.replace('#', '') %>" data-colorify-background="color" data-colorify-text="contrast">
                    Join <%= room.users %>
                    <i class="fa fa-child"></i>
                </a>
            </p>
            <% if (room.permanent == true) { %><p class="permanent"><i class="fa fa-lock" title="permanent donut"></i></p><% } %>
        </div>
        <div class="back" data-colorify-background="color" data-colorify-text="contrast">
            <div class="open-room-profile" data-room-name="<%= room.name %>">
                <img class="avatar" src="<%= room.avatar %>" data-colorify-border="lighter">
                <p class="name" data-colorify-text="contrast"><%= room.name %></p>
                <p class="owner">by <a class="open-user-profile" data-user-id="<%= room.owner.user_id %>" data-colorify-text="contrast"><%= room.owner.username %></a></p>
                <p class="description"><%= room.description %></p>
            </div>
            <p class="join">
                <a href="#room/<%= room.name.replace('#', '') %>" data-colorify-background="<%= room.color %>" data-colorify-text="contrast">
                    Join <%= room.users %> <i class="fa fa-child"></i>
                </a>
            </p>
            <% if (room.permanent == true) { %><p class="permanent" data-colorify-border="<%= room.color %>"><i class="fa fa-lock" data-colorify-text="<%= room.color %>" title="permanent donut"></i></p><% } %>
        </div>
    </div>
    <% }); %>
</div>