<div class="onlines">
    <% _.each(users, function(userOnline) { %>
        <% var bgColor = txtColor = ''; %>
        <% if (userOnline.color) {
        bgColor = "background-color: "+userOnline.color;
        txtColor = "color: "+userOnline.color;
        }; %>
        <div class="item open-user-profile" data-user-id="<%= userOnline.user_id %>">
            <div class="username" style="<%= bgColor %>"><%= userOnline.username %></div>
            <img class="avatar" src="<%= userOnline.avatar %>">
        </div>
    <% }); %>
</div>