<div class="image-uploader">
    <% if (type == 'current') { %>
    <div class="uploader-current">
        <span class="current">
            <% if (imgTag) { %>
                <%= imgTag %>
            <% } else { %>
                <%= t('edit.upload.nopicture') %>,
            <% } %>
        </span>
        (<a class="change"><%= t('global.change') %></a> <%= t('global.or') %> <a class="remove"><%= t('global.delete') %></a>).
    </div>
    <% } else if (type == 'uploader') { %>
    <div class="uploader-form">
        <input type="file" name="file" class="cloudinary_fileupload"> (<a class="cancel"><%= t('global.cancel') %></a>)
        <p class="help-block"><%= t('edit.avatarhelp') %></p>
    </div>
    <div class="progress" style="display: none;"></div>
    <% } else if (type == 'error') { %>
    <div class="uploader-error">
        <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                <%= t('edit.upload.failed') %>
            </div>
        </div>
    </div>
    <% } %>
</div>