<% if (list.length > 0) { %>
<div class="list">
    <% _.each(list, function(one) { %>
    <a href="#user/<%= one.username %>" class="item <% if (one.focused) { %>active<% }; %> <% if (one.unread > 0) {%>unread<%}; %>" data-user-id="<%= one.user_id %>">
        <img src="<%= one.avatar %>">
        <span class="name"><%= one.username %></span>
        <% if (one.unread > 0) { %>
            <span class="badge"><%= one.unread %></span>
        <% }; %>
        <i class="fa fa-times close-onetoone" data-username="<%= one.username %>"></i>
    </a>
    <% }); %>
</div>
<% }; %>