<% _.each(list, function(roomUser) { %>
<p class="item <% if (roomUser.owner === true) { %>owner<% }; %> <% if (roomUser.op === true) { %>op<% }; %>">
    <img class="open-user-profile" data-user-id="<%= roomUser.user_id %>" src="<%= roomUser.avatar %>" alt="<%= roomUser.username %> avatar">
    <span class="username open-user-profile" data-user-id="<%= roomUser.user_id %>"><%= roomUser.username %></span>
        <span class="actions">
            <% if (isOp === true || isOwner === true) { %>
                <% if (roomUser.op === true) { %>
                    <i data-username="<%= roomUser.username %>" class="fa fa-arrow-circle-down deop-user" title="Deop this user"></i> deop
                <% } else { %>
                    <i data-username="<%= roomUser.username %>" class="fa fa-arrow-circle-up op-user" title="Op this user"></i> op
                <% }; %>
            <% }; %>
        </span>
</p>
<% }); %>