<div class="content">
    <div class="header room">
        <img class="avatar open-room-profile" data-room-name="<%= name %>" src="<%= avatar %>" alt="<%= name %> avatar">
        <div class="name open-room-profile" data-room-name="<%= name %>"><%= name %></div>
        <div class="owner">by <a class="open-user-profile" data-username="<%= owner.username %>" data-colorify-text="color"><%= owner.username %></a></div>
        <div class="topic"><!-- topic view --></div>
        <div class="actions">
            <img src="/images/permanent.svg" class="permanent" alt="permanent room logo" style="display: <% if (permanent === true) { %>inline-block<% } else { %>none<% }; %>;">
            <% if (isOwner === true) { %>
            <img src="/images/settings.svg" class="edit open-room-edit" data-room-name="<%= name %>" alt="edit room logo">
            <% }; %>
        </div>
    </div>
    <div class="messages"><!-- messages view --></div>
    <div class="input"><!-- input view --></div>
</div><!-- /.content -->
<div class="side" <% if (poster) { %>style="background-image: url(<%= poster %>);"<% }; %>>
    <div class="blur" <% if (posterblured) { %>style="background-image: url(<%= posterblured %>);"<% }; %>>
        <div class="users"><!-- users view --></div>
    </div>
</div><!-- /.side -->
