<div class="room" data-colorify="<%= room.color %>">
    <img class="avatar" src="<%= room.avatar %>" alt="<%= room.name %> avatar">
    <p class="name"><%= room.name %></p>
    <p class="owner">by <a class="open-user-profile" data-username="<%= room.owner.username %>" data-colorify-text="#ffffff"><%= room.owner.username %></a></p>
    <% if (room.description) { %><p class="description"><%= room.description %></p><% }; %>
    <% if (room.topic) { %><p class="topic"><%= room.topic %></p><% }; %>
    <% if (room.website) { %><p class="website"><%= room.website %></p><% }; %>

    <p class="join"><a href="#room/<%= room.name.replace('#', '') %>" data-colorify-background="color" data-colorify-text="contrast">Join <%= room.users_count %> <i class="fa fa-child"></i></a></p>

    <div class="users">
        <% _.each(room.users_list, function(user) { %>
        <div class="user open-user-profile <% if (user.isOwner) { %>owner<% }; %> <% if (user.isOp) { %>op<% }; %>" data-username="<%= user.username %>" data-colorify="<%= user.color %>">
            <span class="avatar"><img src="<%= user.avatar %>" /></span>
            <div class="text" data-colorify-background="color">
                <div class="username" data-colorify-text="contrast"><%= user.username %></div>
                <div class="role" data-colorify-text="contrast">
                    <% if (user.isOwner) { %>propriétaire<% }; %>
                    <% if (user.isOp) { %>modérateur<% }; %>
                </div>
            </div>
        </div>
        <% }); %>
    </div>

    <% if (room.isOwner) { %>
    <a class="edit open-room-edit" data-room-name="<%= room.name %>"><i class="fa fa-pencil-square-o"></i> éditer</a>
    <% }; %>

    <% if (room.permanent === true) { %>
    <span class="fa-stack permanent">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x" title="permanent donut"></i>
    </span>
    <% } %>
</div>