<div class="room" data-colorify="<%= room.color %>">
    <span class="name"><%= room.name %></span>
    <span class="owner">by <a class="open-user-profile" data-user-id="<%= room.owner.user_id %>" data-colorify-text="#ffffff"><%= room.owner.username %></a></span>
</div>
<div class="errors"></div>
<form class="room-form" role="form">
    <div class="form-group">
        <label for="roomDescription">Description</label>
        <textarea name="description" class="form-control" id="roomDescription" placeholder="Describe the donut in few words" maxlength="200"><%= room.description %></textarea>
        <p class="help-block">Optional, max 200 char. <span class="counter"></span></p>
    </div>
    <div class="form-group">
        <label for="roomWebsite">Website</label>
        <input name="website" type="text" class="form-control" id="roomWebsite" placeholder="Your website URL" value="<%= room.website %>">
        <p class="help-block">Optional</p>
    </div>
    <div class="form-group">
        <label>Avatar</label>
        <div class="room-avatar"></div>
    </div>
    <div class="form-group">
        <label>Poster</label>
        <div class="room-poster"></div>
    </div>
    <div class="form-group">
        <label>Couleur</label>
        <div class="room-color"></div>
        <p class="help-block">Optional</p>
    </div>
    <label>Autres paramétres</label>
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="permanent" class="room-permanent-yes" value="1" <% if (room.permanent) { %>checked<% } %>>
                La room est permanent et sera conservée même lorsque vous vous déconnecterez
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="permanent" class="room-permanent-no" value="0" <% if (!room.permanent) { %>checked<% } %>>
                La room n'est pas permanent et sera supprimé au bout de quelques heures après que le dernier utilisateur l'aura quitté
            </label>
        </div>
    </div>
    <div class="form-group buttons">
        <a class="btn btn-default btn-sm cancel">Annuler</a>
        <input type="submit" value="Sauver">
    </div>
</form>