<div class="room" data-colorify="<%= room.color %>">
    <img class="avatar" src="<%= room.avatar %>" alt="<%= room.name %> avatar">
    <p class="name"><%= room.name %></p>
    <p class="owner"><%= t('global.by') %> <a class="open-user-profile" data-username="<%= room.owner.username %>" data-colorify-text="#ffffff"><%= room.owner.username %></a></p>
    <% if (room.description) { %><p class="description"><%= room.description %></p><% }; %>
    <% if (room.topic) { %><p class="topic"><%= room.topic %></p><% }; %>
    <% if (room.website) { %><p class="website"><%= room.website %></p><% }; %>

    <p class="join"><a href="#room/<%= room.name.replace('#', '') %>" data-colorify-background="color" data-colorify-text="contrast">Join <%= room.users_count %></a></p>

    <div class="users">
        <% _.each(room.users_list, function(user) { %>
        <div class="user open-user-profile <% if (user.isOwner) { %>owner<% }; %> <% if (user.isOp) { %>op<% }; %>" data-username="<%= user.username %>" data-colorify="<%= user.color %>">
            <span class="avatar"><img src="<%= user.avatar %>" /></span>
            <div class="text" data-colorify-background="color">
                <div class="username" data-colorify-text="contrast"><%= user.username %></div>
                <div class="role" data-colorify-text="contrast">
                    <% if (user.isOwner) { %>propriétaire<% }; %>
                    <% if (user.isOp) { %>modérateur<% }; %>
                </div>
            </div>
        </div>
        <% }); %>
    </div>

    <% if (room.permanent === true) { %>
    <img src="/images/permanent.svg" class="permanent" alt="permanent room logo">
    <% } %>

    <div class="footer">
        <a href="<%= room.url %>" target="_blank">Lien permanent vers ce profil <i class="fa fa-external-link"></i></a>
        <% if (room.isOwner) { %>
        <a class="edit open-room-edit" data-room-name="<%= room.name %>">Pour éditer ce profil cliquer ici <i class="fa fa-pencil-square-o"></i></a>
        <% }; %>
    </div>
</div>