<% _.each(list, function(user) { %>
<p class="item <% if (user.is_op === true) { %>op<% }; %> <% if (user.is_owner === true) { %>owner<% }; %>">
    <span class="avatar" title="<% if (user.is_op === true) { %><%= t('chat.op.is') %><% } else if (user.is_owner === true) { %><%= t('chat.owner.is') %><% }; %>"><img class="open-user-profile" data-username="<%= user.username %>" src="<%= user.avatar %>" alt="<%= user.username %> avatar"></span>
    <span class="username open-user-profile" data-username="<%= user.username %>"><%= user.username %></span>
        <span class="actions">
            <% if (!user.is_owner && (isOp === true || isOwner === true)) { %>
                <% if (user.is_op === true) { %>
                <img src="images/deop.svg" class="deop-user" title="<%= t('chat.deop.infobox') %>" data-username="<%= user.username %>">
                <% } else { %>
                <img src="images/op.svg" class="op-user" title="<%= t('chat.op.infobox') %>" data-username="<%= user.username %>">
                <% }; %>
                <img src="images/kick-w.svg" height="17px" class="kick-user" title="<%= t('chat.kick.infobox') %>" data-username="<%= user.username %>">
            <% }; %>
        </span>
</p>
<% }); %>