<div class="user" data-colorify="<%= user.color %>">
    <img class="avatar" src="<%= user.avatar %>" alt="<%= user.username %> avatar">
    <p class="username"><%= user.username %></p>
    <% if (user.bio) { %><p class="bio"><%= user.bio %></p><% }; %>
    <% if (user.location) { %><p class="location"><%= user.location %></p><% }; %>
    <% if (user.website) { %><p class="website"><%= user.website %></p><% }; %>
    <% if (user.status == 'online') { %>
    <p class="discuss"><a href="#user/<%= user.username %>" data-colorify-background="color" data-colorify-text="contrast"><%= t('actions.discuss') %></a></p>
    <% } else { %>
    <p class="offline"><a><%= t('global.offline') %></a></p>
    <% }; %>
    <div class="rooms">
        <% _.each(user.rooms_list, function(room) { %>
        <div class="room open-room-profile" data-room-name="<%= room.name %>" data-colorify="<%= room.color %>" data-colorify-background="color">
            <img class="avatar" src="<%= room.avatar %>" />
            <span class="name" data-colorify-text="contrast"><%= room.name %></span>
        </div>
        <% }); %>
    </div>

    <div class="footer">
        <a href="<%= user.url %>" target="_blank">Lien permanent vers ce profil <i class="fa fa-external-link"></i></a>
        <% if (user.isCurrent) { %>
        <a class="edit open-user-edit" data-username="<%= user.username %>">Pour éditer votre profil cliquer ici <i class="fa fa-pencil-square-o"></i></a>
        <% }; %>
    </div>
</div>