<div class="hello block" id="<%= data.id %>">
    <div class="event">
        <div class="text bordered-left">
            <%
            if (data.mode === 'public') {
                print(t('chat.welcome.public'))
            }
            else if (data.group_id) {
                if (data.allow_user_request === true) {
                    print(t('chat.welcome.members-invites', {
                        group_name: data.group_name,
                        group_id: data.group_id,
                        owner: data.owner_username,
                        owner_id: data.owner_id
                    }))
                } else {
                    print(t('chat.welcome.invites', {
                        owner: data.owner_username,
                        owner_id: data.owner_id
                    }))
                }
            } else {
                print(t('chat.welcome.invites', {
                    owner: data.owner_username,
                    owner_id: data.owner_id
                }))
            }
            %>
        </div>
    </div>
</div>