<div class="hello block">
    <div class="event">
        <div class="text bordered-left">
            <%
            if (mode === 'members-invites') {
                print(t('chat.welcome.members-invites', {
                    group_name: group_name,
                    group_id: group_id,
                    owner: owner_username,
                    owner_id: owner_id
                }))
            }
            if (mode === 'invites') {
                print(t('chat.welcome.invites', {
                    owner: owner_username,
                    owner_id: owner_id
                }))
            }
            if (mode === 'public') {
                print(t('chat.welcome.public'))
            }
            %>
        </div>
    </div>
</div>