<div class="block command-help">
    <div class="bordered-left">
        <% if (error) { %>
            <div class="error" style="color: red;"><%= error %></div>
        <% } %>
        <div class="text">
            <% _.each(data.help, function(cmd, key){ %>
            <div class="help-cmd">
                <span class="name-cmd"><% if (cmd.name) { %>/<%= cmd.name %><% } else { %>/<%= key %><% } %></span>
                <span class="params-cmd"><%= cmd.help %></span>
                <span class="desc-cmd"><%= t(cmd.description) %></span>
            </div>
            <% }); %>
        </div>
    </div>
</div>