<div class="block message has-hover <%= data.special %> <% if (spammed) { %>spammed<% } %> <% if (edited) { %>edited<% } %>  <% if (unviewed) { print('unviewed'); } %>"
     id="<%= data.id %>"
     data-user-id="<%= data.user_id %>"
     data-time="<%= data.time %>"
     <% if (data.special) { print('data-special="' + data.special + '"') }; %>
    <% if (data.spammed) { print('data-spammed="true"') }; %>
    <% if (data.edited) { print('data-edited="true"') }; %>>
    <div class="ctn">
        <div class="message-edit"><!-- message-edit view --></div>
        <% if (data.message) { %>
        <div class="text"><%= data.message %><% if (edited) { %><span class="text-edited">&nbsp;(<%= t('chat.message.edition.edited') %>)</span><% } %></div>
        <% } %>
        <% if (data.images) { %>
        <div class="images">
            <% _.each(data.files, function(f) { %>
            <% if (f.type !== 'raw') { %>
            <a class="image"
               target="_blank"
               href="<%=f.url%>"
               style="background-image: url(<%= f.thumbnail %>);"></a>
            <% } else { %>
            <a class="file"
               target="_blank"
               href="<%=f.url%>"
               title="<%= f.filename %>"
               style="background-image: url(/images/file-placeholder.png);"></a>
            <% } %>
            <% }); %>
            <hr>
        </div>
        <% } %>
        <% if (spammed) { %>
            <div class="text-spammed"><%= t('chat.message.text-spammed') %></div>
        <% } %>
    </div>
    <div class="date pull-right"><span class="moment" data-time="<%= data.time %>" title="<%= data.datefull %>"><%= data.dateshort %></span></div>
    <% if(!data.is_admin) { %> <!--Only display for non admin messages-->
    <div class="actions">
        <a class="message-menu" data-toggle="dropdown" role="button" aria-expanded="false" id="messageMenu">
            <i class="icon icon-cog"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="messageMenu"><!-- message dropdown menu content --></div>
    </div>
    <% } %>
</div>