<div class="block message has-hover <%= data.special %> <% if (data.spammed) { %>spammed<% } %> <% if (data.edited) { %>edited<% } %>"
     id="<%= data.id %>"
     data-user-id="<%= data.user_id %>"
     data-time="<%= data.time %>"
     <% if (data.special) { print('data-special="' + data.special + '"') }; %>
     <% if (data.spammed) { print('data-spammed="true"') }; %>
     <% if (data.edited) { print('data-edited="true"') }; %>
     >
    <span class="username open-user-profile" data-user-id="<%= data.user_id %>"  style="display:none">@<%=data.username%></span>
    <div class="ctn">
        <div class="message-edit"><!-- message-edit view --></div>
        <% if (data.message) { %>
        <div class="text"><%= data.message %><% if (data.edited) { %><span class="text-edited">&nbsp;(<%= t('chat.message.edition.edited') %>)</span><% } %></div>
        <% } %>
        <% if (data.files) { %>
        <div class="images collapse in" id="collapseMessages<%= data.id %>">
            <% _.each(data.files, function(f) { %>
                <% if (f.type === 'image') { %>
                    <a class="image"
                       target="_blank"
                       href="<%=f.href%>"
                       style="background-image: url(<%= f.thumbnail %>);">
                        <span class="filename"><%=f.filename%>.<%= f.extension%></span>
                    </a>
                <% } else { %>
                    <div class="file-ctn relative">
                        <a class="file"
                           target="_blank"
                           href="<%=f.url%>"
                           title="<%= f.filename %>">
                            <i class="icon file-icon"></i>
                        </a>
                        <span class="filename"><%=f.filename%>.<%= f.extension%></span>
                    </div>
                <% } %>
            <% }); %>
            <div class="clearfix"></div>
        </div>
        <div class="collapse-toggle" data-toggle="collapse" data-target="#collapseMessages<%= data.id %>" aria-expanded="true" aria-controls="collapseMessages<%= data.id %>">
            <span class="hide-collapsed"><%= t('global.expend') %></span>
            <span class="show-collapsed"><%= t('global.collapse') %></span>
        </div>
        <% } %>
        <% if (data.spammed) { %>
            <div class="text-spammed"><%= t('chat.message.text-spammed') %></div>
        <% } %>
    </div>
    <div class="date pull-right"><span class="moment" data-time="<%= data.time %>" title="<%= data.datefull %>"><%= data.dateshort %></span></div>
    <% if(!data.is_admin) { %> <!--Only display for non admin messages-->
        <div class="actions">
            <div class="action spammed ml5"><%= t('chat.message.dropdown.spam.mark-spam') %></div>
            <div class="action unspam ml5"><%= t('chat.message.dropdown.spam.unmark-spam') %></div>
            <div class="action edit ml5"><%= t('chat.message.dropdown.edit') %></div>
        </div>
    <% } %>
</div>