<%
var _icon = 'icon-';
switch (data.stype) {
  case 'ban':
  case 'deban':
    _icon += 'ban';
    break;
  case 'op':
  case 'deop':
    _icon += 'op';
    break;
  case 'devoice':
    _icon += 'microphone-slash';
    break;
  case 'voice':
    _icon += 'microphone';
    break;
  case 'kick':
    _icon += 'kick';
    break;
};
%>
<div class="block promote <%= data.stype %> <% if (data.unviewed) { print('unviewed'); } %>" id="<%= data.id %>" data-time="<%= data.time %>">
    <div class="event">
        <div class="text">
            <i class="icon icon-fw <%= _icon %>"></i>
            <div class="avatar open-user-profile" data-user-id="<%= data.user_id %>" style="background-image: url(<%= data.avatar %>)"></div>
            <span class="username open-user-profile"  data-user-id="<%= data.user_id %>">@<%= data.username %></span>
            <span class="message"><%= t('chat.notifications.' + data.type) %></span>
            <div class="avatar open-user-profile" data-user-id="<%= data.by_user_id %>" style="background-image: url(<%= data.by_avatar %>)"></div>
            <span class="username open-user-profile" data-user-id="<%= data.by_user_id %>">@<%= data.by_username %></span>
            <% if (data.reason && data.reason !== '') { %>
            <span class="reason"><%- t("chat.reason", {reason: data.reason}) %></span>
            <% }; %>
        </div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.datefull %>"><%= data.dateshort %></span></div>
    </div>
</div>