<div class="block topic <% if (data.unviewed) { print('unviewed'); } %>" id="<%= data.id %>" data-time="<%= data.time %>">
    <div class="event">
        <div class="text">
            <i class="icon icon-fw icon-quote"></i>
            <div class="avatar open-user-profile" data-user-id="<%= data.user_id %>" style="background-image: url(<%= data.avatar %>)"></div>
            <span class="username open-user-profile" data-user-id="<%= data.user_id %>">@<%= data.username %></span>
            <span class="topic"><%= t('chat.notifications.topic') %> <% if (data.topic != '') { %>"<%= data.topic %>"<% } else { %><em><%= t('chat.notifications.topicempty') %></em><% } %></span>
        </div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.datefull %>"><%= data.dateshort %></span></div>
    </div>
</div>