<% var _type = type.replace('user:', '').replace('room:', ''); %>
<% var _icon = (_type === 'in' || _type === 'out') ? _type : 'plug';  %>
<div class="block inout">
    <div class="event <%= _type %>" data-time="<%= data.time %>" title="<%= data.username %> <%= t('chat.notifications.' + _type) %> <%= data.dateshort %>" id="<%= data.id %>" data-time="<%= data.time %>">
        <div class="text">
            <div class="avatar open-user-profile" data-user-id="<%= data.user_id %>" style="background-image: url(<%= data.avatar %>)"></div>
            <i class="icon icon-<%= _icon %>"></i>
            <div class="username open-user-profile" data-user-id="<%= data.user_id %>">@<%= data.username %></div>
        </div>
    </div>
</div>