<% var _icon = (stype === 'in' || stype === 'out') ? stype : 'plug';  %>
<div class="block inout">
    <div class="event <%= stype %>" data-time="<%= data.time %>" title="<%= data.username %> <%= t('chat.notifications.' + stype) %> <%= data.dateshort %>" id="<%= data.id %>" data-time="<%= data.time %>">
        <div class="text">
            <div class="avatar open-user-profile" data-user-id="<%= data.user_id %>" style="background-image: url(<%= data.avatar %>)"></div>
            <i class="icon icon-<%= _icon %>"></i>
            <div class="username open-user-profile" data-user-id="<%= data.user_id %>">@<%= data.username %></div>
        </div>
    </div>
</div>