<div class="block me">
    <div class="event" id="<%= data.id %>" data-time="<%= data.time %>">
        <div class="text">
            <div class="avatar open-user-profile" data-username="<%= data.username %>" style="background-image: url(<%= data.avatar %>)"></div>
            <span class="username open-user-profile" data-username="<%= data.username %>">@<%= data.username %></span>
            <span class="action-me"><%= data.message %></span>
        </div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.datefull %>"><%= data.dateshort %></span></div>
    </div>
</div>