<% if (withBlock) { %>
<div class="block message" data-username="<%= data.username %>">
    <div class="avatar open-user-profile" data-username="<%= data.username %>" style="background-image: url(<%= data.avatar %>)"></div>
    <div class="username open-user-profile" data-username="<%= data.username %>">@<%= data.username %></div>
    <div class="items">
        <% } %>
        <div class="event <% if (unviewed) { print('unviewed'); } %>" id="<%= data.id %>" data-time="<%= data.time %>">
            <% if (data.message) { %>
            <div class="text"><%= data.message %></div>
            <% } %>
            <% if (data.images) { %>
            <div class="images">
                <% _.each(data.images, function(i) { %>
                <a class="image" data-toggle="image-popover" target="_blank" href="<%=i.url%>" data-cloudinary-id="<%=i.public_id%>" style="background-image: url(<%= i.thumbnail %>);"></a>
                <% }); %>
                <hr>
            </div>
            <% } %>
            <div class="date pull-right"><span class="moment" data-time="<%= data.time %>" title="<%= data.datefull %>"><%= data.dateshort %></span></div>
            <div class="actions">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="icon icon-cog"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                    <div class="arrow-up"></div>
                    <ul class="a">
                        <li>
                            <i class="icon icon-cog"></i>
                            Mark as spam
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <% if (withBlock) { %>
    </div>
</div>
<% } %>