<div class="block deop">
    <div class="event" id="<%= data.id %>" data-time="<%= data.time %>">
        <div class="text">
            <i class="icon icon-op"></i>
            <div class="avatar open-user-profile" data-user-id="<%= data.user_id %>" style="background-image: url(<%= data.avatar %>)"></div>
            <span class="username open-user-profile" data-user-id="<%= data.user_id %>">@<%= data.username %></span>
            <span class="message"><%= t('chat.notifications.deop') %></span>
            <div class="avatar open-user-profile" data-user-id="<%= data.by_user_id %>" style="background-image: url(<%= data.by_avatar %>)"></div>
            <span class="username open-user-profile" data-user-id="<%= data.by_user_id %>">@<%= data.by_username %></span>
        </div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.datefull %>"><%= data.dateshort %></span></div>
    </div>
</div>