<div class="block ban">
    <div class="event" id="<%= data.id %>" data-time="<%= data.time %>">
        <div class="text">
            <i class="icon icon-ban"></i>
            <div class="avatar open-user-profile" data-username="<%= data.username %>" data-user-id="<%= data.user_id %>" style="background-image: url(<%= data.avatar %>)"></div>
            <span class="username open-user-profile" data-username="<%= data.username %>" data-user-id="<%= data.user_id %>">@<%= data.username %></span>
            <span class="message"><%= t('chat.notifications.ban') %></span>
            <div class="avatar open-user-profile" data-username="<%= data.by_username %>" style="background-image: url(<%= data.by_avatar %>)"></div>
            <span class="username open-user-profile" data-username="<%= data.by_username %>">@<%= data.by_username %></span>
            <% if (data.reason && data.reason !== '') { %>
            <span class="reason"><%- $.t("chat.reason", {reason: data.reason}) %></span>
            <% }; %>
        </div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.datefull %>"><%= data.dateshort %></span></div>
    </div>
</div>