<div class="block deban">
    <div class="event" id="<%= data.id %>" data-time="<%= data.time %>">
        <div class="text">
            <i class="icon icon-deban"></i>
            <div class="avatar open-user-profile" data-username="<%= data.username %>" style="background-image: url(<%= data.avatar %>)"></div>
            <span class="username open-user-profile" data-username="<%= data.username %>">@<%= data.username %></span>
            <%= t('chat.notifications.deban') %>
            <div class="avatar open-user-profile" data-username="<%= data.by_username %>" style="background-image: url(<%= data.by_avatar %>)"></div>
            <span class="username open-user-profile" data-username="<%= data.by_username %>">@<%= data.by_username %></span>
            <% if (data.reason) { %> : '<%= data.reason %>'<% }; %>
        </div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.datefull %>"><%= data.dateshort %></span></div>
    </div>
</div>