<div class="room card {{#isOwner}}owner{{/isOwner}} {{#isOp}}op{{/isOp}}">
    <div class="cover">
        <a href="{{url}}"><img src="{{avatar}}" class="avatar" alt="{{name}} avatar"></a>
        <div class="text">
            <div class="name"><a href="{{url}}">{{name}}</a></div>
           {{#owner}}
           <p class="owner">
               {{#i}}global.by{{/i}} <a href="{{owner.url}}" {{#color}}style="color: {{color}};"{{/color}}>@{{owner.username}}</a>
           </p>
           {{/owner}}
       </div>
        <!--p class="join">
            <a href="{{url}}" {{#color}}style="background-color: {{color}};"{{/color}}>
                {{#i}}global.view{{/i}}
                <img src="/images/user.svg" alt="user icon">
            </a>
        </p-->
    </div>
    <div class="back" {{#color}}style="background-color: {{color}};"{{/color}}>
        <a href="{{url}}"><img src="{{avatar}}" class="avatar" alt="{{name}} avatar"></a>
        <div class="text">
            <div class="name"><a href="{{url}}">{{name}}</a></div>
            {{#owner}}
            <p class="owner">
                {{#i}}global.by{{/i}} <a href="{{owner.url}}">@{{owner.username}}</a>
            </p>
            {{/owner}}
            {{#description}}
            <p class="description">{{description}}</p>
            {{/description}}
        </div>
    <!--p class="join">
        <a href="{{url}}" {{#color}}style="color: {{color}};"{{/color}}>
        {{#i}}global.view{{/i}}
        <img src="/images/user.svg" alt="user icon">
        </a>
    </p-->
    </div>
</div>
