<div id="email-edit">

    <h2>Modifier votre email</h2>

    <form method="post" role="form">

        <input type="hidden" name="_csrf" value="{{token}}">

        {{#is_errors}}
        <div class="errors">
            {{#errors}}
            {{#errors}}{{msg}}{{/errors}}<br>
            {{/errors}}
        </div>
        {{/is_errors}}
        {{#success}}
        <div class="success">
            {{success}}
        </div>
        {{/success}}

        <div class="form-group">
            <input type="email" class="form-control" id="email-field" name="user[fields][email]" placeholder="Enter valid email" value="{{userFields.email}}">
            <p class="help-block">Your login to authenticate.</p>
        </div>

        <div class="form-group center">
            <input type="submit" value="Enregistrer" tabindex="3">
        </div>

    </form>

</div>