<div class="container-fluid">
    <form action="/account/edit/profile/background?_csrf={{token}}" method="post" role="form" class="forms" enctype="multipart/form-data">
        <div class="controls-inline">
            <div class="control-fields">
                {{#user.background}}
                <img class="background" src="/{{user.background.small.url}}" />
                {{/user.background}}
                <input type="file" class="form-control" id="background-field" name="user[fields][background]">
                <button type="submit" id="account-edit-background-submit" class="btn btn-primary btn-sm">Save</button>
            </div>
        </div>
    </form>
</div>