<div id="account-edit">

    <div class="page-header">
        <h1><span class="fa fa-cog"></span> Your Account</h1>
    </div>

    <form action="/account/edit/password" method="post" role="form" class="forms">

        <input type="hidden" name="_csrf" value="{{token}}">

        {{#is_errors}}
        <div class="errors">
            {{#errors}}
            {{#errors}}{{msg}}{{/errors}}<br>
            {{/errors}}
        </div>
        {{/is_errors}}

        <div class="controls">
            <div class="col-sm-8 col-lg-offset-2 text-right">
                <input type="submit" class="btn btn-primary btn-sm" value="Save and go back to account">
                <a href="/account" type="button" class="btn btn-default btn-sm">Cancel</a>
            </div>
        </div>

        <h4>Your password</h4>

        <div class="controls">
            <label class="control-labels" for="password-field">Password</label>
            <div class="control-fields">
                <input type="password" class="form-control" id="password-field" name="user[fields][password]" placeholder="Enter valid password" value="{{userFields.password}}">
                <p class="help-block">Must be compound of at least 6 characters.</p>
            </div>
        </div>
        <div class="controls">
            <label class="control-labels" for="confirm-field"> </label>
            <div class="control-fields">
                <input type="password" class="form-control" id="confirm-field" name="user[fields][confirm]" placeholder="Confirm" value="{{userFields.confirm}}">
            </div>
        </div>

        <h4> </h4>

        <div class="controls">
            <div class="col-sm-8 col-lg-offset-2 text-right">
                <button type="submit" id="account-password-submit" class="btn btn-primary btn-sm">Save and go back to account</button>
                <a href="/account" type="button" class="btn btn-default btn-sm">Cancel</a>
            </div>
        </div>

    </form>

</div>