<div id="account">

    <div class="page-header">
        <h1><span class="fa fa-cog"></span> Your Account</h1>
        <a id="delete-button" href="#">Delete account</a>
    </div>

    <script type="text/template" id="delete-alert-template">
        <div class="delete-alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>Are you sure?</h4>
            <p>You will delete your account and all the linked data, you will not able to find this information again except if you have a pimped Dolorean with spatio-temporal convector.</p>
            <button type="button" class="confirm">Delete my account</button>
            <button type="button" class="cancel" data-dismiss="alert" aria-hidden="true">Cancel</button>
        </div>
    </script>
    <div id="delete-alert-placeholder"></div>

    <div class="row">

        <!-- GLOBAL INFORMATION -->
        <div class="global">
            <div class="well">
                <h3><span class="fa fa-user"></span> Profile </h3>
                <div class="detail">
                    {{#avatarUrl}}
                    <a href="/user/{{user.username}}" class="picture pull-left">
                        <img src="{{avatarUrl}}">
                    </a>
                    {{/avatarUrl}}
                    <div class="body">
                        <span class="labels">username</span> <span class="values">{{user.username}}</span><br>
                        <span class="labels">bio</span> <span class="values">{{user.bio}}</span><br>
                        <span class="labels">location</span> <span class="values">{{user.location}}</span><br>
                        <span class="labels">website</span> <span class="values">{{user.website}}</span><br>
                    </div>
                </div>
                <p class="text-right">
                    <a href="/account/edit/profile" class="btn btn-success">Edit your profile</a>
                </p>
            </div>
        </div>

        <!-- LOGIN INFORMATION -->
        <div class="login">
            <div class="well">
                <h3><span class="fa fa-lock"></span> Login</h3>
                {{#user.local.email}}
                <p class="detail">
                    <span class="labels">email</span> <span class="values">{{user.local.email}} (<a href="/account/edit/email" id="email-modal-link">change email</a>)</span><br>
                    <span class="labels">password</span>
                    <span class="values">
                        <a href="/account/edit/password" id="password-modal-link">change password</a>
                    </span>
                    <br>
                </p>
                {{/user.local.email}}
                {{^user.local.email}}
                <p>
                    You haven't set <strong>{{title}}</strong> email and password.
                    If you want to login without Facebook or unlink your Facebook account just set:
                </p>
                <a href="/connect/local" class="btn btn-default">Add email and password</a>
                {{/user.local.email}}

                <!-- FACEBOOK INFORMATION -->
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                {{#user.facebook.token}}
                <p>Your account is linked to this Facebook account</p>
                <div class="facebook">
                    <p class="detail with-picture">
                        <img class="avatar" src="https://graph.facebook.com/{{user.facebook.id}}/picture"/>
                        <span class="labels">name</span> <span class="values">{{user.facebook.name}}</span><br>
                        <span class="labels">email</span> <span class="values">{{user.facebook.email}}</span><br>
                    </p>
                    {{#user.local.email}}
                    <p class="unlink">
                        <a href="/unlink/facebook" class="unlink">Unlink this Facebook account</a>
                    </p>
                    {{/user.local.email}}
                </div>
                {{/user.facebook.token}}
                {{^user.facebook.token}}
                <p>You can link this account to your Facebook account for easier login and social features:</p>
                <a href="/connect/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Connect with <strong>Facebook</strong></a>
                {{/user.facebook.token}}
            </div>
        </div>

    </div><!--/.row-->

    <div class="row">

        <!-- ROOMS -->
        <div class="rooms">
            <div class="well">
                <h3><span class="fa fa-glass"></span> Les rooms dont vous êtes propriétaire</h3>
                {{#rooms}}
                    <a href="/room/{{uri}}"><img src="{{avatar}}">{{name}}</a> par {{owner.username}}<br>
                {{/rooms}}
            </div>
        </div>

    </div><!--/.row-->

    <div class="text-center">
        <strong>id</strong>: {{user._id}}<br>
    </div>

</div>