<div id="email-edit">

    <h2>{{#i}}edit-email.title{{/i}}</h2>

    <form method="post" role="form">

        <input type="hidden" name="_csrf" value="{{token}}">

        {{#is_errors}}
        <div class="errors">
            {{#errors}}{{msg}}<br>{{/errors}}
        </div>
        {{/is_errors}}
        {{#success}}
        <div class="success">
            {{success}}
        </div>
        {{/success}}

        <div class="form-group">
            <input type="email" class="form-control" id="email-field" name="user[fields][email]" placeholder="{{#i}}login.email-placeholder{{/i}}" value="{{userFields.email}}">
        </div>

        <div class="form-group center">
            <input type="submit" value="{{#i}}global.save{{/i}}" tabindex="3">
        </div>

    </form>

</div>