<!doctype html>
<html lang="fr">
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/><!-- Avoid IE compatibility mode -->
</head>
<body class="body-chat">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="fluid-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/account">{{ title }}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="block-status">
                    <p class="navbar-text">
                        You are <span id="button-status" class="status">...</span>
                    </p>
                </li>
                {{#user}}
                <li>
                    <p class="navbar-text">
                        Welcome
                        {{#user.username}}
                        <a href="/user/{{ user.username }}" target="_blank"><strong>{{user.username}}</strong></a>
                        {{/user.username}}
                        {{^user.username}}
                        {{#user.facebook.name}}
                        <strong>{{user.facebook.name}}</strong>
                        {{/user.facebook.name}}
                        {{/user.username}}
                    </p>
                </li>
                <li><a href="/account" target="_blank"><i class="fa fa-cog"></i> your account</a></li>
                <li><a href="/logout"><i class="glyphicon glyphicon-remove-circle"></i> logout</a></li>
                {{/user}}
                {{^user}}
                <li><a href="/login">login</a></li>
                <li><a>or</a></li>
                <li><a href="/signup"><button type="submit" class="btn btn-success btn-sm">Join for free</button></a></li>
                {{/user}}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
    <div id="alert-container" role="banner" class="line">
        <div class="alert biggest tiny-smaller"></div>
    </div>
</div>

{{{ yield }}}
<script>
    window.cloudinary_cloud_name = '{{cloudinary.cloud_name}}';
    window.cloudinary_api_key = '{{cloudinary.api_key}}';
</script>
<script data-main="/javascripts/chat/index.js" src="/javascripts/vendor/requirejs/require.js"></script>
</body>
</html>