<!doctype html>
<html lang="fr">
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/><!-- Avoid IE compatibility mode -->
</head>
<body class="body-chat">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="fluid-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/!#">{{ title }}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="block-status">
                    <p class="navbar-text">
                        You are <span id="button-status" class="status">...</span>
                    </p>
                </li>
                {{#user}}
                <li>
                    <p class="navbar-text">
                        Welcome
                        {{#user.username}}
                        <a href="/user/{{ user.username }}" target="_blank"><strong>{{user.username}}</strong></a>
                        {{/user.username}}
                        {{^user.username}}
                        {{#user.facebook.name}}
                        <strong>{{user.facebook.name}}</strong>
                        {{/user.facebook.name}}
                        {{/user.username}}
                    </p>
                </li>
                <li><a href="#" id="youraccount"><i class="fa fa-cog"></i> your account</a></li>
                <li><a href="/logout"><i class="glyphicon glyphicon-remove-circle"></i> logout</a></li>
                {{/user}}
                {{^user}}
                <li><a href="/login">login</a></li>
                <li><a>or</a></li>
                <li><a href="/signup"><button type="submit" class="btn btn-success btn-sm">Join for free</button></a></li>
                {{/user}}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
    <div id="alert-container" role="banner" class="line">
        <div class="alert biggest tiny-smaller"></div>
    </div>
</div><!--/.navbar-->
<div id="chat">
    <div class="row">
        <div id="chat-left">
            <div id="block-home">
                <div class="body">
                    <a href="#" class="home-link"><span class="fa fa-home"></span> Home</a>
                    <br />
                    <a href="#room/Support"><span class="fa fa-question-circle"></span> Support</a>
                </div>
            </div>
            <div id="block-rooms"></div>
            <div id="block-onetoones"></div>
        </div><!-- /.chat-left -->
        <div id="chat-center">
            <div id="home">
                <div class="body">
                    <div id="home-content"></div>
                    <div id="block-onlines"></div>
                </div>
            </div>
            <div id="search">
                search here!
            </div>
        </div><!-- /.chat-center -->
    </div><!-- /.row -->
    <div id="modals"></div>

    <!-- Room search modal -->
    <div class="modal fade" id="room-search-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Search for rooms</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="search" class="form-control room-search-input" placeholder="Search for rooms" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default room-search-submit" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                            </div><!-- /input-group -->
                            <ul class="list-group rooms-list"></ul>
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- / Room search modal -->

    <!-- User search modal -->
    <div class="modal fade" id="user-search-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Search for user</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="search" class="form-control user-search-input" placeholder="Search for users" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default user-search-submit" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div><!-- /input-group -->
                            <ul class="list-group users-list"></ul>
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- / User search modal -->

</div><!-- /.container-fluid -->
<script>
    window.cloudinary_cloud_name = '{{cloudinary.cloud_name}}';
    window.cloudinary_api_key = '{{cloudinary.api_key}}';
</script>
<script data-main="/javascripts/chat/index.js" src="/javascripts/vendor/requirejs/require.js"></script>
{{{googleanalytics}}}
</body>
</html>