<!doctype html>
<html lang="fr">
<head>
    <title>{{#i}}title{{/i}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/><!-- Avoid IE compatibility mode -->
</head>
<body class="body-chat">
<div id="chat">
    <div id="color"></div><!-- /#color -->
    <div class="row">
        <div id="left">
            <h1 class="logo"><a href="/!#"><img src="/images/chat-logo.jpg" alt="{{#i}}title{{/i}} - {{#i}}baseline{{/i}}"/></a></h1>
            <a href="#room/Support" class="help" title="Help and support room"><i class="fa fa-question-circle right"></i></a>
            <div id="block-current-user"></div><!-- /#current-user-block -->
            <hr>
            <div id="block-search">
                <input type="text" placeholder="Search">
                <i class="fa fa-search"></i>
            </div>
            <hr>
            <div id="block-rooms"></div>
            <hr>
            <div id="block-onetoones"></div>
            <div class="sign">made with ♥</div>
        </div><!-- /#left -->
        <div id="center">
            <div id="drawer">
                <div class="opacity">
                    <div class="wrap">
                        <div class="content">la la la la</div>
                        <div class="close"><i class="fa fa-times"></i></div>
                    </div>
                </div>
            </div>
            <div id="home">
                <div class="left">
                    <div class="search">
                        <input type="text" placeholder="Search donut or user here">
                        <i class="fa fa-search"></i>
                    </div>
                    <div id="content"></div>
                </div>
                <div id="onlines" class="right"></div>
            </div>
            <div id="account">
                account here!
            </div>
        </div><!-- /#center -->
    </div><!-- /.row -->

    <div id="modals"></div>

    <!-- Room search modal -->
    <div class="modal fade" id="room-search-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Search for rooms</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="search" class="form-control room-search-input" placeholder="Search for rooms" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default room-search-submit" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                            </div><!-- /input-group -->
                            <ul class="list-group rooms-list"></ul>
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- / Room search modal -->

    <!-- User search modal -->
    <div class="modal fade" id="user-search-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Search for user</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="search" class="form-control user-search-input" placeholder="Search for users" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default user-search-submit" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div><!-- /input-group -->
                            <ul class="list-group users-list"></ul>
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- / User search modal -->

</div><!-- /.container-fluid -->
<script>
    window.cloudinary_cloud_name = '{{cloudinary.cloud_name}}';
    window.cloudinary_api_key = '{{cloudinary.api_key}}';
</script>
<script data-main="/javascripts/chat/index.js" src="/javascripts/vendor/requirejs/require.js"></script>
{{{googleanalytics}}}
</body>
</html>