<div id="choose-username">

    <h2>{{#i}}choose-username.title{{/i}}</h2>

    <form method="post" role="form">

        <input type="hidden" name="_csrf" value="{{token}}">

        {{#is_errors}}
        <div class="errors">
            {{#errors}}
            {{#errors}}{{msg}}{{/errors}}<br>
            {{/errors}}
        </div>
        {{/is_errors}}

        <div class="form-group">
            <strong>{{#i}}choose-username.description{{/i}}</strong>
        </div>

        <div class="form-group">
            <input type="username" class="form-control" id="username-field" name="user[fields][username]" placeholder="{{#i}}login.username-placeholder{{/i}}" value="{{userFields.username}}" tabindex="1">
            <p class="help-block">{{#i}}choose-username.help{{/i}}</p>
        </div>
        <div class="form-group center">
            <input type="submit" value="{{#i}}actions.save{{/i}}" tabindex="2">
        </div>

    </form>

</div>