<div id="choose-username">

    <h2>Il est temps de choisir un nom d'utilisateur</h2>

    <form method="post" role="form">

        <input type="hidden" name="_csrf" value="{{token}}">

        {{#is_errors}}
        <div class="errors">
            {{#errors}}
            {{#errors}}{{msg}}{{/errors}}<br>
            {{/errors}}
        </div>
        {{/is_errors}}

        <div class="form-group">
            <strong>Le nom d'utilisateur sera votre identité sur donut.</strong>
        </div>

        <div class="form-group">
            <input type="username" class="form-control" id="username-field" name="user[fields][username]" placeholder="Enter valid username" value="{{userFields.username}}">
            <p class="help-block">The username should be at least 3 characters length and you can use letters, numbers and some special characters.</p>
        </div>
        <div class="form-group center">
            <input type="submit" value="Enregistrer">
        </div>

    </form>

</div>