<div id="forgot">

    <h2>{{#i}}actions.forgot{{/i}}</h2>

    <div class="method-password">

        <form method="post" role="form">

            <input type="hidden" name="_csrf" value="{{token}}">

            {{#is_errors}}
            <div class="errors">
                {{#errors}}{{msg}}<br>{{/errors}}
            </div>
            {{/is_errors}}

            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="{{#i}}forgot.email-placeholder{{/i}}" value="{{email}}" autofocus="autofocus" tabindex="1">
            </div>
            <div class="form-group">
                <input type="submit" value="{{#i}}forgot.save{{/i}}" tabindex="2">
            </div>
        </form>
    </div>

</div>
