{{> head}}
<body class="body-profile" style="{{#color}}background-color: {{color}};{{/color}} {{#poster}}background-image: url({{poster}});{{/poster}}">
<div class="color" {{#color}}style="background-color: {{color}};"{{/color}}></div>
<a href="/" class="logo">
    <img src="/images/logo-onecolor-w.svg">
    <span class="text">{{#i}}baseline{{/i}}</span>
</a>
{{{ yield }}}
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    window.cloudinary_cloud_name = '{{cloudinary.cloud_name}}';
    window.cloudinary_api_key = '{{cloudinary.api_key}}';
</script>
{{#scripts}}
<script src="{{src}}"></script>
{{/scripts}}
<script src="/javascripts/old-browser-update.js"></script>
<script src="/javascripts/script.js"></script>
{{{googleanalytics}}}
</body>
</html>