<!doctype html>
<html lang="fr">
<head>
    <title>{{#i}}title.default{{/i}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/><!-- Avoid IE compatibility mode -->
</head>
<body class="body-pages">
<div class="wrapper">
    <h1 class="logo"><a href="/"><img src="/images/logo-onecolor.svg" alt="{{#i}}title{{/i}} - {{#i}}baseline{{/i}}"></a></h1>
    <div class="upon">
    {{#success}}<div class="alert alert-success">{{success}}</div>{{/success}}
    {{#info}}<div class="alert alert-info">{{info}}</div>{{/info}}
    {{#warning}}<div class="alert alert-warning">{{warning}}</div>{{/warning}}
    {{#error}}<div class="alert alert-danger">{{error}}</div>{{/error}}
    </div>
    <div class="content">
    {{{ yield }}}
    </div>
    <div class="above">
        {{#user}}
        {{#i}}global.footer.before{{/i}} <a href="/logout">{{#i}}actions.tologout{{/i}}</a> {{#i}}global.or{{/i}} <a href="/">{{#i}}actions.home{{/i}}</a>{{#i}}global.footer.after{{/i}}
        {{/user}}
        {{^user}}
        {{#i}}global.footer.before{{/i}} <a href="/login">{{#i}}actions.tologin{{/i}}</a> {{#i}}global.or{{/i}} <a href="/signup">{{#i}}actions.signup{{/i}}</a>{{#i}}global.footer.after{{/i}}
        {{/user}}
    </div>
</div><!-- /.wrapper -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    window.cloudinary_cloud_name = '{{cloudinary.cloud_name}}';
    window.cloudinary_api_key = '{{cloudinary.api_key}}';
</script>
{{#scripts}}
<script src="{{src}}"></script>
{{/scripts}}
<script src="/javascripts/script.js"></script>
{{{googleanalytics}}}
</body>
</html>