<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    {{#message}}
    <div class="alert alert-danger">{{message}}</div>
    {{/message}}

    <a href="/login/facebook" class="btn btn-primary btn-lg"><span class="fa fa-facebook"></span> Sign in with <strong>Facebook</strong></a>
    <p>OR</p>
    <form action="/login" method="post" role="form">

        <input type="hidden" name="_csrf" value="{{token}}">

        <div class="form-group">
            <input type="text" id="signin-email" class="form-control" name="email" placeholder="Email or Username">
        </div>
        <div class="form-group">
            <input type="password"  id="signin-password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" checked="checked"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Sign in</button>
    </form>

    <hr>

    <p>Need an account? <a href="/signup">Signup</a></p>

</div>
