<div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Room Page</h1>
</div>

<div class="row">

    <h3><span class="fa fa-user"></span> {{room.name}}</h3>

    <div class="col-sm-12">
        <div class="well">

            <p>
                <strong>id</strong>: {{room._id}}<br>
                <strong>name</strong>: {{room.name}}<br>
                <strong>permanent</strong>: {{room.permanent}}<br>
                <strong>allow_guests</strong>: {{room.allow_guests}}<br>
                <strong>invisible</strong>: {{room.invisible}}<br>
                <strong>topic</strong>: {{room.topic}}<br>
                <strong>description</strong>: {{room.description}}<br>
                <strong>owner</strong>: {{room.owner}}
            </p>

        </div>
    </div>

</div>