<div id="room-profile">

    <div class="row">

        <div class="cover">
            {{#avatarUrl}}
            <div class="avatar"><img src="{{avatarUrl}}"></div>
            {{/avatarUrl}}

            <h1>{{room.name}}</h1>

            {{#room.description}}
            <h3>{{room.description}}</h3>
            {{/room.description}}

            {{#room.topic}}
            <h3>{{room.topic}}</h3>
            {{/room.topic}}

            {{#room.permanent}}<i class="fa fa-certificate"></i> permanent{{/room.permanent}}
            {{^room.permanent}}volatile{{/room.permanent}}

            <div>
                {{#room.owner}}{{room.owner.username}} - {{room.owner.avatar}}{{/room.owner}}
            </div>

            <div>
                {{#room.website}}{{room.website}}{{/room.website}}
            </div>

            {{#isOwner}}
            <a href="/room/edit/{{uri}}" class="btn btn-primary">Editer</a>
            {{/isOwner}}
        </div><!-- /.col-sm-12 -->

        <div class="color" style="background-color: {{room.color}};"></div>
    </div><!-- /.row -->

    <div><strong>id</strong>: {{room._id}}</div>

</div>