<input type="hidden" name="id" value="{{room._id}}"><!-- petit curieux -->
<div id="profile" class="room-profile">
    <div class="cover room">
        <a href="{{room.url}}"><img class="avatar" src="{{room.avatar}}" alt="{{room.name}} avatar"></a>
        <p class="join"><a href="{{^user}}{{room.join}}{{/user}}{{#user}}{{room.chat}}{{/user}}" {{#room.color}}style="background-color: {{room.color}};"{{/room.color}}>{{#i}}actions.join{{/i}} {{#room.usersCount}}{{room.usersCount}}{{/room.usersCount}} <img src="/images/user.svg" alt="user icon"></a></p>
    </div>
    <div class="text room">
        <div class="name-content">
            <a href="{{room.url}}" class="name">{{room.name}}</a>
            <div class="fb-like" data-href="{{room.url}}" data-layout="button" data-action="like" data-show-faces="false" data-share="true" data-ref="profile-page"></div>
        </div>
        {{#room.owner}}
        <span class="owner">
            {{#i}}global.by{{/i}} <a href="{{room.owner.url}}" {{#room.color}}style="color: {{room.color}};"{{/room.color}}>{{room.owner.username}}</a>
        </span>
        {{/room.owner}}
        {{#room.website}}
        {{#room.owner}}<span class="separation">|</span>{{/room.owner}}
        <span class="website" {{#room.color}}style="color: {{room.color}};"{{/room.color}}>
            {{room.website}}
        </span>
        {{/room.website}}
        {{#room.description}}
        <div class="description">
            <p class="description-content">{{{room.description}}}</p>
        </div>
        {{/room.description}}
    </div>
    <hr class="clear">
    <hr>
    <p class="title">{{#i}}profile.room.ownerops{{/i}}</p>
    <div class="users cards">
        {{#room.owner}}{{> user}}{{/room.owner}}
        {{#room.op}}{{> user}}{{/room.op}}
    </div>
    <hr class="clear">
    <hr class="push-bottom">
    {{#room.topic}}
    <div class="room">
        <p class="title">{{#i}}profile.room.now{{/i}}</p>
        <div class="topic">
            <div class="topic-content"><label>{{#i}}chat.topic.label{{/i}}</label> {{{room.topic}}}</div>
        </div>
    </div>
    {{/room.topic}}
    <div class="users cards">
        {{#room.users}}{{> user}}{{/room.users}}
        {{^room.users}}<div class="no">{{#i}}profile.room.nouser{{/i}}</div>{{/room.users}}
    </div>
    <hr class="clear">
    <hr class="push-bottom">
    <div class="disclaimer">
        <p>
            {{#i}}profile.room.disclaimer.before{{/i}}
            <a href="{{room.url}}">{{room.name}}</a>
            {{#i}}profile.room.disclaimer.after{{/i}}
        </p>
        <a href="/"><img src="/images/logo-onecolor-gr.svg" alt="DONUT logo"></a>
    </div>
    <hr class="clear">
</div>