<div id="room-edit">

    <div class="page-header">
        <h1><span class="fa fa-cog"></span> Room edit</h1>
    </div>

    <form action="{{action}}" method="post" role="form" class="forms">

        <input type="hidden" name="_csrf" value="{{token}}">

        {{#is_errors}}
        <div class="errors">
            {{#errors}}{{msg}}<br>{{/errors}}
        </div>
        {{/is_errors}}

        <div class="controls">
            <div class="col-sm-8 col-lg-offset-2 text-right">
                <input type="submit" class="btn btn-primary btn-sm" value="Save and go back to account">
                <a href="/account" type="button" class="btn btn-default btn-sm">Cancel</a>
            </div>
        </div>

        <h4>Room profile</h4>

        <div class="controls">
            <label class="control-labels" for="description-field">Description</label>
            <div class="control-fields">
                <textarea class="form-control" id="description-field" name="room[fields][description]" placeholder="Describe in few words" maxlength="200">{{roomFields.description}}</textarea>
                <p class="help-block">Optional, max 200 char.</p>
            </div>
        </div>
        <div class="controls">
            <label class="control-labels" for="website-field">Website</label>
            <div class="control-fields">
                <input type="text" class="form-control" id="website-field" name="room[fields][website]" placeholder="Your website URL" value="{{roomFields.website}}">
                <p class="help-block">Optional</p>
            </div>
        </div>

        <h4>Apparence</h4>

        <div class="controls">
            <label class="control-labels">Avatar</label>
            <div class="control-fields">
                <!-- Current avatar -->
                <div class="uploader-current" data-current="{{& roomFields.avatar}}">
                    <span class="current"></span> (<a href="#_" class="uploader-show-form">change</a> or <a href="#_" class="uploader-delete">delete</a>).
                    <input type="hidden" name="room[fields][avatardelete]" value="">
                    <input type="hidden" name="room[fields][avatarversion]" value="">
                </div>
                <!-- Avatar upload form -->
                <div class="uploader-form">
                    {{& uploadTag}} (<a href="#_" class="uploader-cancel-form">cancel</a>)
                    <p class="help-block">Should be an image file (.jpeg, .jpg, .png or .gif), will be cropped to 150x150px format.</p>
                </div>
                <!-- Avatar upload progress -->
                <div class="uploader-progress">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            0% complete
                        </div>
                    </div>
                    <div class="preview"></div>
                </div>
            </div>
        </div>

        <div class="controls">
            <label class="control-labels" for="color-field">Theme color</label>
            <div class="control-fields">
                <div class="color-input">
                    <div class="preview"></div>
                    #<input type="text" id="color-field" name="room[fields][color]" value="{{roomFields.color}}">
                    <p class="help-block">Optional</p>
                </div>
            </div>
        </div>

        <h4></h4>

        <div class="controls">
            <div class="col-sm-8 col-lg-offset-2 text-right">
                <button type="submit" class="btn btn-primary btn-sm account-edit-submit">Save and go back to account</button>
                <a href="/account" type="button" class="btn btn-default btn-sm">Cancel</a>
            </div>
        </div>

    </form>
</div>