<div id="signup">

    <h2>{{#i}}actions.signup{{/i}}</h2>

    <div class="method-facebook">
        <a href="/login/facebook" class="facebook-button" tabindex="1"><span class="fa fa-facebook"></span> {{#i}}actions.signup{{/i}} {{#i}}login.withfacebook{{/i}}</a>
    </div>

    <div class="or">{{#i}}global.or{{/i}}</div>

    <div class="method-password">
        <form method="post" role="form">

            <input type="hidden" name="_csrf" value="{{token}}">

            {{#is_errors}}
            <div class="errors">
                {{#errors}}{{msg}}<br>{{/errors}}
            </div>
            {{/is_errors}}

            <div class="form-group">
                {{#i}}actions.signup{{/i}} {{#i}}login.withpassword{{/i}}
            </div>
            <div class="form-group">
                <input type="text" id="signin-email" class="form-control" name="email" placeholder="{{#i}}login.email-placeholder{{/i}}" value="{{userFields.email}}" tabindex="2">
            </div>
            <div class="form-group">
                <input type="password" id="signin-password" class="form-control" name="password" placeholder="{{#i}}login.password-placeholder{{/i}}" tabindex="3">
            </div>
            <div class="form-group">
                <input type="submit" value="{{#i}}home.signup.etvoila{{/i}}" tabindex="4">
            </div>
            <div class="disclaimer">{{#i}}signup.disclaimer{{/i}}</div>
        </form>
    </div>

</div>