<input type="hidden" name="id" value="{{user._id}}"><!-- petit curieux -->
<div id="profile" class="user-profile">
    <div class="cover user">
        <a href="{{user.url}}"><img class="avatar" src="{{user.avatar}}" alt="{{user.name}} avatar"></a>
        <p class="discuss"><a href="{{user.url.chat}}" {{#user.color}}style="background-color: {{user.color}};"{{/user.color}}>Discuter</a></p>
    </div>
    <div class="text user">
        <p class="username">{{user.username}}</p>
        {{#user.location}}
        <span class="location">
            {{user.location}}
        </span>
        {{/user.location}}
        {{#user.website}}
        {{#user.location}}<span class="separation">|</span>{{/user.location}}
        <span class="website" {{#user.color}}style="color: {{user.color}};"{{/user.color}}>
        {{user.website}}
        </span>
        {{/user.website}}
        {{#user.bio}}
        <div class="bio">
            <p class="bio-content">{{user.bio}}</p>
        </div>
        {{/user.bio}}
    </div>
    <hr class="clear">
    <hr>
    {{#user.hasRooms}}
    <p class="title">Ses rooms</p>
    <div class="rooms cards">
        {{#user.roomsList}}{{> room}}{{/user.roomsList}}
    </div>
    <hr class="clear">
    <hr>
    {{/user.hasRooms}}
    <div class="disclaimer">
        <p>Cette page est le profil de l'utilisateur <a href="{{user.url}}">{{user.username}}</a> sur la plateforme de chat <a href="/">donut.me</a>. donut.me vous permet de créer une room thématique sur le sujet de votre choix et d'y discuter avec "des" gens ou les gens de votre communauté.</p>
        <a href="/"><img src="/images/logo-onecolor-gr.svg" alt="donut.me logo"></a>
    </div>
    <hr class="clear">
</div>