<div id="user-profile">

    <div class="row">

        <div class="cover">
            {{#avatarUrl}}
            <div class="avatar"><img src="{{avatarUrl}}"></div>
            {{/avatarUrl}}

            <h1>{{requestedUser.username}}</h1>

            {{#requestedUser.bio}}
            <h3>{{requestedUser.bio}}</h3>
            {{/requestedUser.bio}}

            <div>
                {{#requestedUser.location}}{{requestedUser.location}}{{/requestedUser.location}}
                {{#requestedUser.location}}{{#requestedUser.website}} - {{/requestedUser.website}}{{/requestedUser.location}}
                {{#requestedUser.website}}{{requestedUser.website}}{{/requestedUser.website}}
            </div>
        </div><!-- /.col-sm-12 -->

        <div class="color" style="background-color: {{requestedUser.color}};"></div>
    </div><!-- /.row -->

</div>