<div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
</div>

<div class="row">

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-12">
        <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>

            <p>
                <strong>username</strong>: {{requestedUser.username}}<br>
                <strong>bio</strong>: {{requestedUser.bio}}<br>
                <strong>location</strong>: {{requestedUser.location}}<br>
                <strong>website</strong>: {{requestedUser.website}}<br>
                <strong>avatar</strong>:<br>
                {{#avatarUrl}}
                <img src="{{avatarUrl}}"><br>
                {{/avatarUrl}}
            </p>

        </div>
    </div>

</div>