<% if(cards.length === 0) { %>
    <%= t('chat.search.noresults') %>
<% } else { %>
    <% _.each(cards, function(card) { %>
        <% var _color = card.color ? card.color.replace('#', '').toLowerCase() : 'default' %>

            <% if(card.type === 'user') { %>

                <div class="card user">
                    <div class="top relative">
                        <div class="ctn flex-parent column center jc-center">
                            <div class="avatar" style="background-image:url(<%= card.avatar %>)"></div>
                            <div class="username">
                                <a href="<%= card.join %>" class="open-user-profile flex-child flex-parent center jc-center" data-user-id="<%=card.user_id%>">
                                    <span class="value">
                                        @<%= card.username %>
                                        <!--<i class="ml5 fs15 icon icon-dot-circle-o status <%=card.status%>" title="<%= t('global.' + card.status) %>"></i>-->
                                    </span>
                                </a>
                            </div>
                            <div class="location"><% if (card.location) { %><%=card.location%><% } %></div>
                        </div>
                        <div class="overlay"></div>
                        <div class="background" style="background-image:url(<%= card.avatar %>)"></div>
                    </div>
                    <div class="bottom">
                        <div class="bio">
                            <%= card.bio %>
                        </div>
                        <div class="button">
                            <% if(card.join) { %>
                                <a class="join" href="<%= card.join %>">
                                    <%= t('actions.discuss') %>
                                </a>
                            <% } else { %>
                                <a class="open-user-profile" data-dismiss="modal" href="<%=card.chat%>" data-user-id="<%=card.user_id%>">
                                    <%= t('global.view-profile') %>
                                </a>
                            <% } %>
                        </div>
                    </div>
                </div>

           <% } else if(card.type === 'group') { %>

                <div class="card group">
                    <div class="top relative">
                        <div class="ctn flex-parent column center jc-center">
                            <div class="avatar" style="background-image:url(<%= card.avatar %>)"></div>
                            <div class="name">
                                <a href="<%= card.join %>" class="open-group-profile flex-child flex-parent center jc-center" data-group-id="<%=card.group_id%>">
                                    <span class="value">
                                        <%=card.identifier.replace('#','')%>
                                    </span>
                                </a>
                            </div>
                            <div class="owner">
                                <% if (card.owner_id) { %>
                                    <span class="by"><%= t('global.by') %> </span><a class="open-user-profile" href="<%= card.owner_url %>" data-user-id="<%= card.owner_id %>">@<%= card.owner_username %></a>
                                <% } %>
                            </div>
                        </div>
                        <div class="background-ctn">
                            <div class="overlay"></div>
                            <div class="background" style="background-image:url(<%= card.avatar %>)"></div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="description">
                            <%= card.description %>
                        </div>
                        <div class="discussions flex-parent column">
                            <div class="flex-parent center flex-child">
                                <div class="title">Discussions:</div>
                                <div class="avatars flex-parent jc-center center ml5">
                                    <% _.each(card.rooms, function(c) { %>
                                        <div class="discussion-avatar img-circle ml5 open-room-profile" data-room-id="<%= c.room_id %>" data-toggle="tooltip" title="<%= c.identifier %>" style="background-image:url(<%= c.avatar %>)"></div>
                                    <% }) %>
                                    <% if(card.roomsCount > 3) { %>
                                        <div class="img-circle more ml5">
                                            <%= '+' + (card.roomsCount - card.rooms.length) %>
                                        </div>
                                    <% } %>
                                </div>
                                <span class="filler"></span>
                                <div class="users"><i class="icon-users-custom"></i> <%=card.users%></div>
                            </div>
                        </div>
                        <div class="button">
                            <% if(card.join) { %>
                                <a class="join" href="<%= card.join %>">
                                    <%= t('global.view-group') %>
                                </a>
                                <% } else { %>
                                <a class="open-group-profile" data-dismiss="modal" href="<%=card.chat%>" data-group-id="<%=card.group_id%>">
                                    <%= t('global.view-profile') %>
                                </a>
                            <% } %>
                        </div>
                    </div>
                </div>

            <% } else if(card.type === 'room') { %>
                <% var mode = (card.mode === 'public' ? 'public' : 'private' + (card.allow_user_request ? '-invites' : '') + (card.allow_group_member ? '-group' : '')) %>

                <div class="card room">
                    <div class="top relative">
                        <div class="ctn flex-parent column center jc-center">
                            <div class="avatar open-room-profile curp" data-room-id="<%=card.room_id%>" style="background-image:url(<%= card.avatar %>)"></div>
                            <div class="name">
                                <div class="groupname">
                                    <% if (card.group_name) { %>
                                        <a href="<%= card.join %>" class="open-group-profile flex-child flex-parent center jc-center" data-group-id="<%= card.group_id %>">
                                            <span class="value">
                                                <%= '#' + card.group_name %>
                                            </span>
                                        </a>
                                    <% } %>
                                </div>
                                <div class="roomname">
                                    <a href="<%= card.join %>" class="open-room-profile flex-child flex-parent center jc-center" data-room-id="<%=card.room_id%>">
                                        <span class="value">
                                            <% if (card.group_name) { %>
                                                <%= '/' + card.name %>
                                            <% } else { %>
                                                <%= '#' + card.name %>
                                            <% } %>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="owner">
                                <% if (card.owner_id) { %>
                                <span class="by"><%= t('global.by') %> </span><a class="open-user-profile" href="<%= card.owner_url %>" data-user-id="<%= card.owner_id %>">@<%= card.owner_username %></a>
                                <% } %>
                            </div>
                            <% if (card.group_avatar) { %>
                                <div class="avatar-group open-group-profile" data-toggle="tooltip" title="<%= card.group_name %>" data-group-id="<%= card.group_id %>" style="background-image:url(<%= card.group_avatar %>)"></div>
                            <% } %>

                            <% if(mode !== 'public') { %>
                            <div class="mode" data-toggle="tooltip" title="<%= t('global.mode.title.' + mode) + ': ' + t('global.mode.description.' + mode) %>">
                                <span class="<%= mode %>"></span>
                            </div>
                            <% } %>
                        </div>
                        <div class="background-ctn">
                            <div class="overlay"></div>
                            <div class="background" style="background-image:url(<%= card.avatar %>)"></div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="description">
                            <%= card.description %>
                        </div>
                        <div class="discussions flex-parent column">
                            <div class="flex-parent center flex-child">
                                <div class="users"><i class="icon-users-custom"></i> <%=card.users%></div>
                            </div>
                        </div>
                        <div class="button">
                            <% if(card.join) { %>
                            <a class="join" href="<%= card.join %>">
                                <%= t('global.view-group') %>
                            </a>
                            <% } else { %>
                            <a class="open-group-profile" data-dismiss="modal" href="<%=card.url%>" data-group-id="<%=card.group_id%>">
                                <%= t('global.view-profile') %>
                            </a>
                            <% } %>
                        </div>
                    </div>
                </div>

            <% } %>
    <% }); %>
<% } %>

