<a href="#" class="clean dropdown-toggle toggle flex-parent center" data-toggle="dropdown" role="button" aria-expanded="false">
    <% if (typeof confirmed === 'undefined' || confirmed === false) { %><i class="icon-ban not-confirmed"></i><% } %>
    <img class="mr5 dc-border-darker curp" src="<%= avatar %>" alt="<%= username %> avatar">
    <span class="mr5 ml5 dc-text-contrast username flex-child">
        <% if (realname) { print (realname) } else { print ('@'+username) } %>
    </span>
    <i class="icon icon-chevron-down fs20 dc-text-contrast hover"></i>
</a>
<ul class="dropdown-menu" role="menu">

    <li id="notifications" class="empty" role="presentation">
        <a href="#" class="empty open-user-notifications" data-user-id="<%= user_id %>">
            <i class="icon icon-fw icon-globe"></i> <%= t('chat.actions.notifications') %>
            <span class="unread-count badge pull-right"></span>
        </a>
        <!--<a href="#" class="dropdown-toggle toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
            <!--<i class="icon icon-fw icon-globe dc-text-contrast hover"></i>-->
            <!--<span class="badge hide-empty dc-border-darker dc-text"></span>-->
        <!--</a>-->
        <!--<div class="dropdown-menu p0" role="menu">-->
            <!--<div class="arrow-up colored"></div>-->
            <!--<div class="unread-count">-->
                <!--<span class="show-empty text-center">-->
                    <!--<span><%= t('chat.notifications.empty') %></span>-->
                <!--</span>-->
                <!--<span class="hide-empty">-->
                    <!--<span><%= t('chat.notifications.count') %></span>-->
                    <!--<span class="pull-right action-tag-as-read"><%= t('chat.notifications.tag-as-read') %></span>-->
                <!--</span>-->
            <!--</div>-->
            <!--<div class="messages-list-ctn">-->
                <!--<div class="messages-list" id="main-navbar-messages">&lt;!&ndash; Loaded dynamically &ndash;&gt;</div>-->
                <!--<div class="actions">-->
                    <!--<div class="read-more"><%= t('chat.notifications.read-more') %></div>-->
                    <!--<div class="loading hidden"><i class="icon icon-spinner icon-spin"></i></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </li>
    <li class="curp" role="presentation"><a href="/!#"><i class="icon icon-fw icon-home"></i> <%= t('global.discover') %></a></li>
    <li class="curp" role="presentation"><a href="#" class="open-create-room"><i class="icon icon-fw icon-plus"></i> <%= t('chat.actions.create') %> <%= t('chat.actions.adonut') %></li>
    <li role="presentation" class="divider"></li>
    <li class="curp" role="presentation"><a role="menuitem" tabindex="-1" class="open-user-profile" data-user-id="<%= user_id %>"><i class="icon icon-fw icon-eye"></i> <%= t('global.view-profile') %></a></li>
    <li class="curp" role="presentation"><a role="menuitem" tabindex="-1" class="open-user-account"><i class="icon icon-fw icon-lock"></i> <%= t('chat.actions.account') %></a></li>
    <li class="curp" role="presentation"><a role="menuitem" tabindex="-1" class="open-user-edit"><i class="icon icon-fw icon-pencil"></i> <%= t('chat.actions.edit') %></a></li>
    <li class="curp" role="presentation"><a role="menuitem" tabindex="-1" class="open-user-preferences"><i class="icon icon-fw icon-check"></i> <%= t('chat.actions.preferences') %></a></li>
    <li class="curp" role="presentation" id="mute"><a role="menuitem" tabindex="-1" class="toggle"><i class="icon icon-fw icon-volume-up"></i> <%= t('chat.actions.volume.up') %></a></li>
    <li role="presentation" class="divider"></li>
    <li class="curp" role="presentation"><a role="menuitem" tabindex="-1" href="/logout"><i class="icon icon-fw icon-power-off"></i> <%= t('actions.logout') %></a></li>
</ul>
