<img class="mr5 dc-border-darker curp open-user-profile" data-user-id="<%= user_id %>" src="<%= avatar %>" alt="<%= username %> avatar">
<span data-user-id="<%= user_id %>" class="mr5 dc-text-contrast username open-user-profile curp ">
    @<%= username %>
</span>
<span class="connection mr5">
    <i class="icon icon-circle status <%= status %>" title="<%= t('global.'+status) %>"></i>
    <!--
    <span class="user-status hidden-sm hidden-xs"><%= t('global.'+status) %></span>
        @todo yls put that in tooltip
    -->
</span>
<a href="#" class="dropdown-toggle toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <i class="icon icon-chevron-down dc-text-contrast hover"></i>
</a>
<ul class="dropdown-menu" role="menu">
    <li class="arrow-up"></li>

    <li class="curp" role="presentation"><a role="menuitem" tabindex="-1" class="open-user-account"><i class="icon icon-fw icon-lock"></i> <%= t('chat.actions.account') %></a></li>
    <li class="curp" role="presentation"><a role="menuitem" tabindex="-1" class="open-user-edit"><i class="icon icon-fw icon-pencil"></i> <%= t('chat.actions.edit') %></a></li>
    <li class="curp" role="presentation"><a role="menuitem" tabindex="-1" class="open-user-preferences"><i class="icon icon-fw icon-bell"></i> <%= t('chat.actions.preferences') %></a></li>
    <li role="presentation" class="divider"></li>
    <li class="curp" role="presentation"><a role="menuitem" tabindex="-1" href="/logout"><i class="icon icon-fw icon-power-off"></i> <%= t('actions.logout') %></a></li>

    <li role="separator" class="divider"></li>
    <li><a href="/!#donut/help"><%= t('chat.help') %></a></li>
    <li><a href="/faq" target="_blank"><%= t('page.faq.title') %></a></li>
    <li><a data-toggle="contactform"><%= t('page.contact.title') %></a></li>
    <li><a href="/eutc" target="_blank"><%= t('page.eutc.title') %></a></li>
    <li><a href="/legals" target="_blank"><%=t('landing.legals')%></a></li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-header"><%= t('global.switchlanguage') %></li>
    <li class="colored"><a href="" data-language="fr" class="switch">Français</a></li>
    <li class="colored"><a href="" data-language="en" class="switch">English</a></li>
</ul>
