<div class="side relative flex-parent <% if (!data.poster) { %>poster-empty<% } else { %> poster-full <% } %>" style="<% if (typeof data.poster !== 'undefined') { %>background-image: url(<%= data.poster %>);<% }; %>">
    <div class="blur" style="<% if (typeof data.posterblured !== 'undefined') { %>background-image: url(<%= data.posterblured %>);<% }; %>"></div>

    <ul class="nav nav-tabs flex-parent column" role="tablist">
        <li role="presentation" class="active"><a href="#tab-content-room-users"    aria-controls="tab-content-room-users" role="tab" data-toggle="tab"><i class="icon users-icon"></i></a></li>
        <li role="presentation" class="active"><a href="#tab-content-room-search"   aria-controls="tab-content-room-search" role="tab" data-toggle="tab">Search</a></li>
        <li role="presentation" class="active"><a href="#tab-content-room-starred"  aria-controls="tab-content-room-starred" role="tab" data-toggle="tab">Starred</a></li>
        <li role="presentation" class="active"><a href="#tab-content-room-pictures" aria-controls="tab-content-room-pictures" role="tab" data-toggle="tab">Pictures</a></li>
        <li role="presentation" class="active"><a href="#tab-content-room-files"    aria-controls="tab-content-room-files" role="tab" data-toggle="tab">Files</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active room-users"     id="tab-content-room-users"><!--dynamic content--></div>
        <div role="tabpanel" class="tab-pane active room-search"    id="tab-content-room-search"><!--dynamic content--></div>
        <div role="tabpanel" class="tab-pane active room-starred"   id="tab-content-room-starred"><!--dynamic content--></div>
        <div role="tabpanel" class="tab-pane active room-pictures"  id="tab-content-room-pictures"><!--dynamic content--></div>
        <div role="tabpanel" class="tab-pane active room-files"     id="tab-content-room-files"><!--dynamic content--></div>
    </div>
</div><!-- /.side -->

<div class="content">
    <div class="header room"><!-- header view --></div>
    <div class="date-ctn">
        <div class="ctn"></div>
        <div class="ctn-unviewed"></div>
    </div>
    <div class="events flex-parent column"><!--/events view--></div>
    <div class="input"><!-- input view --></div>
</div><!-- /.content -->