<div class="content blocked flex-parent">
    <div class="cover room">
        <div class="header room">
            <div class="margin-top: auto">
                <div class="error alert alert-danger"></div>
                <img class="avatar border-shadow open-room-profile mb20" data-room-id="<%= data.room_id %>" src="<%= data.avatar %>" alt="<%= data.identifier %> avatar">
                <div class="flex-parent center jc-center">
                    <span class="name open-room-profile" data-room-id="<%= data.room_id %>"><%= data.identifier %></span>
                    <span class="room-profile label label-default label-sm" data-toggle="tooltip" data-placement="top" title="<%= t('global.mode.description.' + (data.mode === 'public' ? 'public' : 'private' + (data.allow_user_request ? '-invites' : '') + (data.allow_group_member ? '-group' : ''))) %>">
                        <%= t('global.mode.title.' + (data.mode === 'public' ? 'public' : 'private' + (data.allow_user_request ? '-invites' : '') + (data.allow_group_member ? '-group' : ''))) %>
                    </span>
                </div>

                <% if (data.owner_id) { %>
                    <span class="owner"><%= t('global.by') %> <a class="open-user-profile dc-text" data-user-id="<%= data.owner_id %>">@<%= data.owner_username %></a></span>
                <% } %>

                <% if (data.mode === 'private' && data.blocked !== 'groupbanned' && data.blocked !== 'banned' && data.blocked !== 'kicked') { %>
                    <% if (data.hasPassword && confirmed !== false) { %>
                        <div class="password-form mt15 fs15">
                            <%= t('chat.blocked.allowed') %>
                            <% if(data.allow_user_request) { %>
                                <%= t('chat.blocked.ask-for-access') %>
                            <% } %>
                            <div class="form-inline mt15">
                                <span class="mt15"><%= t('chat.blocked.password') %></span>
                                <input class="input-password form-control " type="text" placeholder="<%= t('chat.blocked.password_placeholder') %>">
                                <button class="valid-password btn btn-success"><%= t('chat.blocked.password_button') %></button>
                            </div>
                        </div>
                    <% } else if (confirmed !== false) { %>
                        <div class="mt15 mb5 fs15">
                            <%= t('chat.blocked.allowed') %>
                            <% if(data.allow_user_request) { %>
                                <%= t('chat.blocked.ask-for-access') %>
                            <% } %>
                        </div>
                    <% } %>
                    <% if (data.disclaimer) { %>
                        <p class="disclaimer fs20"><%= data.disclaimer %></p>
                    <% } %>
                <% } else if (data.blocked === 'banned' || data.blocked === 'groupbanned') { %>
                    <div class="mt15 fs15">
                        <% if (data.banned_at) { print(t('chat.blocked.' + data.blocked, { at: data.banned_at })); } %>
                        <% if (data.reason) { %>
                        <p class="reason">
                            <span class="title"><%= t('chat.blocked.reason') %></span>
                            <span class="reason"><i class="icon icon-quote"></i><%= data.reason %></span>
                        </p>
                        <% } %>
                    </div>
                <% } else { %>
                    <div class="mt15 fs15">
                        <%= t('chat.blocked.kicked') %>
                        <a class="rejoin curp"><strong><%= t('actions.clickhere') %></strong></a> <%= t('chat.blocked.rejoin') %>
                    </div>
                <% } %>
                <a href="#" class="close-room"><strong><%= t('chat.blocked.close') %></strong></a>
            </div>
        </div>
    </div>
</div><!-- /.content -->
