<div class="side roomside dc-back <% if (!poster) { %>poster-empty<% } else { %> poster-full <% } %>" style="<% if (typeof poster !== 'undefined') { %>background-image: url(<%= poster %>);<% }; %>">
    <div class="blur dc-back" style="<% if (typeof posterblured !== 'undefined') { %>background-image: url(<%= posterblured %>);<% }; %>">
        <div class="users hidden-sm hidden-xs">
            <div class="scrollable"></div>
        </div>
    </div>
</div><!-- /.side -->
<div class="content">
    <div class="mini-header room visible-xs visible-sm">
        <img class="avatar open-room-profile dc-border-lighter" data-room-id="<%= room_id %>" src="<%= avatar %>" alt="<%= name %> avatar">
        <span class="name open-room-profile dc-text-contrast" data-room-id="<%= room_id %>">
            <%= name %>
            <% if (mode === 'private') { %>
                <span class="room-profile private" data-toggle="tooltip" data-placement="right" title="<%= t('global.private-donut') %>"> </span>
            <% } %>
        </span>
        <div class="info mt5"><%= dropdown %></div>
    </div>
    <div class="header room">
        <div class="overlay-ctn hidden-xs hidden-sm">
            <img class="avatar open-room-profile" data-room-id="<%= room_id %>" src="<%= avatar %>" alt="<%= name %> avatar">
            <div class="overlay open-room-profile" data-room-id="<%= room_id %>" ></div>
            <span class="overlay-text open-room-profile" data-room-id="<%= room_id %>" ><%= t('chat.actions.see') %></span>
        </div>
        <div class="info hidden-xs hidden-sm">
            <div class="name open-room-profile" data-room-id="<%= room_id %>">
                <%= name %>
                <% if (mode === 'private') { %>
                    <span class="room-profile private" data-toggle="tooltip" data-placement="top" title="<%= t('global.private-donut') %>"> </span>
                <% } %>
            </div>

            <%= dropdown %>

            <% if (owner && owner.username) { %>
            <span class="owner"><%= t('global.by') %> <a class="open-user-profile dc-text" data-user-id="<%= owner.id %>">@<%= owner.username %></a></span>
            <% } %>
            <div class="share hidden-xs hidden-sm">
                <%= t('chat.share.label') %>
                <i class="facebook icon icon-facebook-square"></i>
                <i class="twitter icon icon-twitter-square"></i>
                <i class="googleplus icon icon-google-plus-square"></i>
            </div>
        </div>
        <div class="topic"><!-- topic view --></div>
    </div>
    <div class="events flex-parent column"><!--/events view--></div>
    <div class="input"><!-- input view --></div>
</div><!-- /.content -->