<div class="side roomside dc-back <% if (!data.poster) { %>poster-empty<% } else { %> poster-full <% } %>" style="<% if (typeof data.poster !== 'undefined') { %>background-image: url(<%= data.poster %>);<% }; %>">
    <div class="blur dc-back" style="<% if (typeof data.posterblured !== 'undefined') { %>background-image: url(<%= data.posterblured %>);<% }; %>">
        <div class="users hidden-sm hidden-xs">
            <div class="scrollable"></div>
        </div>
    </div>
</div><!-- /.side -->
<div class="content">
    <div class="visible-xs visible-sm">
        <div class="mini-header room">
            <div class="avatar open-room-profile" data-room-id="<%= data.room_id %>">
                <img class="dc-border-lighter" src="<%= data.avatar %>" alt="<%= data.name %> avatar">
            </div>
            <span class="name open-room-profile dc-text-contrast" data-room-id="<%= data.room_id %>">
                <%= data.identifier %>
                <span class="room-profile label label-default label-sm" data-toggle="tooltip" data-placement="top" title="<%= t('global.mode.description.' + data.mode) %>">
                    <%= t('global.mode.title.' + data.mode) %>
                </span>
            </span>
            <div class="info mt5"><%= dropdown %></div>
        </div>
    </div>
    <div class="header room">
        <div class="overlay-ctn hidden-xs hidden-sm">
            <img class="avatar open-room-profile" data-room-id="<%= data.room_id %>" src="<%= data.avatar %>" alt="<%= data.identifier %> avatar">
            <div class="overlay open-room-profile" data-room-id="<%= data.room_id %>" ></div>
            <span class="overlay-text open-room-profile" data-room-id="<%= data.room_id %>" ><%= t('chat.actions.see') %></span>
        </div>
        <div class="info hidden-xs hidden-sm">
            <div class="name open-room-profile" data-room-id="<%= data.room_id %>">
                <%= data.identifier %>
                <span class="room-profile label label-default label-sm" data-toggle="tooltip" data-placement="top" title="<%= t('global.mode.description.' + data.mode) %>">
                    <%= t('global.mode.title.' + data.mode) %>
                </span>
            </div>

            <%= dropdown %>

            <% if (data.owner_id) { %>
            <span class="owner"><%= t('global.by') %> <a class="open-user-profile dc-text" data-user-id="<%= data.owner_id %>">@<%= data.owner_username %></a></span>
            <% } %>
            <div class="share hidden-xs hidden-sm">
                <%= t('chat.share.label') %>
                <i class="facebook icon icon-facebook-square"></i>
                <i class="twitter icon icon-twitter-square"></i>
                <i class="googleplus icon icon-google-plus-square"></i>
            </div>
        </div>
        <div class="topic"><!-- topic view --></div>
    </div>
    <div class="date-ctn hidden"></div>
    <div class="events flex-parent column"><!--/events view--></div>
    <div class="input"><!-- input view --></div>
</div><!-- /.content -->