<div class="side oneside dc-back <% if (typeof(poster) === 'undefined' || !poster) { %>poster-empty<% } %>" style="<% if (typeof(poster) !== 'undefined' && poster) { %>background-image: url(<%= poster %>);<% }; %>"></div>
<div class="content" id="onetoone">
    <div class="header user <% if (banned === true) { %> is-banned <% } %>"><!-- header view --></div>
    <div class="date-ctn">
        <div class="ctn"></div>
        <div class="ctn-unviewed"></div>
    </div>
    <div class="events flex-parent column"><!--/events view--></div>
    <div class="input"><!-- input view --></div>
</div><!-- /.content -->