<div class="avatar relative open-user-profile border-shadow" data-user-id="<%= user_id %>">
    <img src="<%= avatar %>" alt="<%= username %> avatar">
</div>
<div class="info flex-parent center">
        <span class="name open-user-profile" data-user-id="<%= user_id %>">
            <span class="realname">
                <% if (typeof realname !== "undefined" && realname !== '') { %>
                    <span class="mr5">
                        <%= realname %>
                    </span>
                <% } %>
            </span>
            <span class="username">@<%= username %></span>
        </span>

    <div class="flex-parent">
        <% if ( location ) { %>
            <span class="flex-parent center">
                <span class="location"><%= location %></span>
            </span>
        <% } %>
        <div class="dropdown">
            <button class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <i class="icon icon-chevron-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" class="open-user-profile" data-user-id="<%= user_id %>">
                        <i class="icon icon-eye"></i> <%= t('global.viewprofile') %>
                    </a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="ban-menu">
                    <a role="menuitem" tabindex="-1" data-toggle="confirmation" style="cursor: pointer;" class="show-if-banned action-user-deban" data-user-id="<%= user_id %>">
                        <i class="icon icon-ban"></i> <%= t('chat.actions.deban') %>
                    </a>
                    <a role="menuitem" tabindex="-1" data-toggle="confirmation" style="cursor: pointer;" class="show-if-unbanned action-user-ban" data-user-id="<%= user_id %>">
                        <i class="icon icon-ban"></i> <%= t('chat.actions.ban') %>
                    </a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" class="close-discussion" data-identifier="<%= user_id %>" data-type="user">
                        <i class="icon icon-times"></i> <%= t('chat.actions.close') %>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="status-block">
    <i class="icon icon-dot-circle-o status contrast"></i>
    <em>
        <span class="display-online">
            <%= t('global.online') %>
        </span>
        <span class="display-offline">
            <%= t('global.offline') %>
        </span>
    </em>
    <% if(onlined) { %>
        <span class="ago display-offline">(<%= t('profile.user.onlined', {time: '<span data-time="'+onlined+'"></span>'}) %>)</span>
    <% } %>
    <span class="hello-block   display-offline">
        <%= t('chat.welcome.onetoone') %>
    </span>
    <span class="show-if-banned  ">
        <span class="banned-status">
            &nbsp;-&nbsp;<%= t('chat.actions.banned') %>&nbsp;
            <span class="action-user-deban" data-user-id="<%= user_id %>" style="cursor: pointer; text-decoration: underline;">
                <%= t('chat.actions.unlock') %>
            </span>
        </span>
    </span>
    <% if (typeof(confirmed) !== 'undefined' && confirmed === false) { %>
        <span class="not-confirmed">
            - <%= t('chat.blocked.cant-answer', {username: username}) %>
        </span>
    <% } %>
</div>