<% if(list.onetoones && list.onetoones.length > 0) { %>
    <li class="title">ONETOONE</li>
    <% _.each(list.onetoones, function(item) { %>
    <li>
        <span class="item center flex-parent <% if (item.focused) { %>active<% }; %> <% if (item.blocked) { print('blocked'); } %>">
            <a class="clean avatar-ctn hidden-xs hidden-sm" href="<%= item.uri %>" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
                <img src="<%= item.avatar %>" class="avatar" alt="<%= item.identifier %> avatar">
            </a>
            <a class="clean name-ctn hidden-xs hidden-sm" href="<%= item.uri %>" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
                <span class="name"><span>@</span><%= item.username %></span>
            </a>
            <a href="<%= item.uri %>" class="visible-xs visible-sm" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
                <img src="<%= item.avatar %>" class="avatar" alt="<%= item.identifier %> avatar">
                <span class="selected"></span>
            </a>

            <% if (item.newuser === true || item.newmention === true || item.unviewed === true) { %>
                <span class="icon icon-circle unread cl-peter_river fs10"></span>
            <% } %>

            <a href="#" class="ml5 close-discussion hidden-xs hidden-sm" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
                <i class="icon hover icon-times-circle-o" title="<%= t('chat.discussion.close') %>"></i>
            </a>
        </span>

    </li>
    <% }); %>
<% } %>

<% if(list.rooms && list.rooms.length > 0) { %>
    <% if(list.onetoones && list.onetoones.length > 0) { %>
        <li><hr></li>
    <% } %>
    <li class="title">ROOMS</li>
    <% _.each(list.rooms, function(item) { %>
    <li>
        <span class="item flex-parent center <% if (item.focused) { %>active<% }; %> <% if (item.blocked) { print('blocked'); } %>">
            <a class="clean name-ctn hidden-xs hidden-sm" href="<%= item.uri %>" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
                <span class="name"><span>#</span><%= item.name.replace('#', '') %></span>
            </a>
            <a href="<%= item.uri %>" class="visible-xs visible-sm" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
                <img src="<%= item.avatar %>" class="avatar" alt="<%= item.identifier %> avatar">
                <span class="selected"></span>
            </a>

            <% if (item.newuser === true || item.newmention === true || item.unviewed === true) { %>
                <span class="icon icon-circle unread cl-peter_river fs10"></span>
            <% } %>

            <a href="#" class="close-discussion hidden-xs hidden-sm" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>"></a>
        </span>

    </li>
    <% }); %>
<% } %>