<div class="overlay-ctn">
    <img class="avatar open-room-profile" data-room-id="<%= data.room_id %>" src="<%= data.avatar %>" alt="<%= data.identifier %> avatar">
    <div class="overlay open-room-profile" data-room-id="<%= data.room_id %>" ></div>
    <span class="overlay-text open-room-profile" data-room-id="<%= data.room_id %>" ><%= t('chat.actions.see') %></span>
</div>
<div class="info flex-parent center">
    <div class="flex-parent center">
        <div class="name flex-parent baseline open-room-profile" data-room-id="<%= data.room_id %>">
            <% if(data.group_name) { %>
                <span class="groupname">#<%=data.group_name%></span>
                <span class="roompname">/<%=data.name%></span>
            <% } else { %>
                <span class="roompname"><%= data.identifier %></span>
            <% } %>
        </div>
    </div>

    <div class="flex-parent jc-center center">
        <% var mode = (data.mode === 'public' ? 'public' : 'private' + (data.allow_user_request ? '-invites' : '') + (data.allow_group_member ? '-group' : '')) %>
        <% if(data.mode !== 'public') { %>
            <% var icon = data.allow_group_member ? 'members' : 'private'; %>
            <span class="room-profile" data-toggle="tooltip" data-placement="left" title="<%= t('global.mode.title.' + mode) + ': ' + t('global.mode.description.' + mode) %>">
                <span class="icon icon-<%= icon %> cl-gray"></span>
            </span>
            <div class="separator"></div>
        <% } %>
        <div class="dropdown flex-parent jc-center center">
            <button class="dropdown-toggle flex-parent jc-center column center icon icon-cog icon-fw" data-toggle="dropdown" aria-expanded="true"></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" class="open-room-profile" data-room-id="<%= data.room_id %>">
                        <img class="img-avatar img-circle" src="<%= data.avatar %>"> <%= t('global.viewprofile') %>
                    </a>
                </li>
                <li role="presentation" class="divider"></li>
                <% if (data.isOwner || data.isAdmin) { %>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="open-room-edit" data-room-id="<%= data.room_id %>">
                            <i class="icon icon-pencil"></i> <%= t('profile.common.editlink') %>
                        </a>
                    </li>
                <% }; %>
                <% if ((data.isOwner || data.isAdmin || data.isOp) && !data.default) { %>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" class="open-room-access" data-room-id="<%= data.room_id %>">
                        <i class="icon icon-public"></i> <%= t('chat.access.link') %>
                    </a>
                </li>
                <% }; %>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" class="open-room-users" data-room-id="<%= data.room_id %>">
                        <i class="icon icon-users"></i> <%= t('chat.users.link') %>
                    </a>
                </li>
                <% if ((data.isOwner || data.isAdmin || data.isOp) && data.mode !== 'public') { %>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" class="open-room-users-allowed" data-room-id="<%= data.room_id %>">
                        <i class="icon icon-verified-user"></i> <%= t('profile.room.usersallowed') %>
                    </a>
                </li>
                <% } %>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" class="open-room-preferences" data-room-id="<%= data.room_id %>">
                        <i class="icon icon-bell"></i> <%= t('chat.actions.notifications') %>
                    </a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" class="close-discussion" data-identifier="<%= data.room_id %>" data-type="room">
                        <i class="icon icon-times"></i> <%= t('chat.actions.close') %>
                    </a>
                </li>
            </ul>
        </div>
        <div class="separator"></div>
        <div role="presentation" class="share flex-parent jc-center center">
            <a role="menuitem" class="clean facebook flex-parent jc-center center" tabindex="-1" data-toggle="tooltip" data-placement="left" title="<%= t('chat.share.on', {name: 'Facebook'}) %>" >
                <i class="icon icon-facebook-square"></i>
            </a>
        </div>
        <div role="presentation" class="share flex-parent jc-center center">
            <a role="menuitem" class="clean twitter flex-parent jc-center center" tabindex="-1" data-toggle="tooltip" data-placement="left" title="<%= t('chat.share.on', {name: 'Twitter'}) %>" >
                <i class="icon icon-twitter-square"></i>
            </a>
        </div>
        <div role="presentation" class="share flex-parent jc-center center">
            <a role="menuitem" class="clean googleplus flex-parent jc-center center" tabindex="-1" data-toggle="tooltip" data-placement="left" title="<%= t('chat.share.on', {name: 'Google'}) %>" >
                <i class="icon icon-google-plus-square"></i>
            </a>
        </div>
    </div>
</div>
<div class="topic"><!-- topic view --></div>
