<div class="relative">     <span class="close icon icon-times"></span> </div>

<div class="title">
    <%= t('profile.common.editlink') %>
    @<%= user.username %>
</div>

<div class="ctn-drawer">
    <div class="errors block mb20"></div>

    <form class="user-form" role="form">
        <div class="block">
            <label><%= t('chat.form.user-form.edit.username.label') %> : </label>
            <span class="user-username">@<%= user.username %></span>&nbsp;<span class="help"><%= t('chat.form.user-form.edit.username.info') %></span>
        </div>
        <div class="block">
            <label for="userRealName"><%= t('chat.form.user-form.edit.real-name.label') %></label>
            <input name="realname" class="form-control" id="userRealName" placeholder="<%= t('chat.form.user-form.edit.real-name.placeholder') %>" value="<%= user.name %>">
            <p class="help-block"><%= t('chat.form.user-form.edit.real-name.help') %></p>
        </div>
        <div class="block">
            <label for="userBio"><%= t('chat.form.user-form.edit.bio.label') %></label>
            <textarea name="bio" class="form-control" id="userBio" placeholder="<%= t('chat.form.user-form.edit.bio.placeholder') %>" maxlength="200"><%= user.bio %></textarea>
            <p class="help-block"><%= t('chat.form.user-form.edit.bio.help') %><span class="counter"></span></p>
        </div>
        <div class="block">
            <label for="userLocation"><%= t('chat.form.user-form.edit.location.label') %></label>
            <input name="location" type="text" class="form-control" id="userLocation" placeholder="<%= t('chat.form.user-form.edit.location.placeholder') %>" value="<%= user.location %>">
            <p class="help-block"><%= t('chat.form.user-form.edit.location.help') %></p>
        </div>
        <div class="block">
            <label for="userWebsite"><%= t('chat.form.common.edit.website.label') %></label>
            <input name="website" type="text" class="form-control" id="userWebsite" placeholder="<%= t('chat.form.common.edit.website.placeholder') %>" value="<% if (user.website) { %><%= user.website.title %><% } %>">
            <p class="help-block"><%= t('chat.form.common.edit.website.help') %></p>
        </div>
        <div class="block">
            <label><%= t('chat.form.common.edit.avatar.label') %></label>
            <div class="user-avatar"></div>
        </div>
        <div class="block">
            <label><%= t('chat.form.common.edit.poster.label') %></label>
            <div class="user-poster"></div>
            <p class="help-block"><%= t('chat.form.common.edit.poster.help') %></p>
        </div>
        <div class="block">
            <label><%= t('chat.form.common.edit.color.label') %></label>
            <div class="user-color"></div>
        </div>

        <div class="block buttons flex-parent jc-end">
            <a class="btn btn-default cancel mr10"><%= t('global.cancel') %></a>
            <input class="btn btn-success" type="submit" value="<%= t('global.save') %>">
        </div>
    </form>
</div>