<div class="relative">     <span class="close icon icon-times"></span> </div>

<div class="title">
    <%= t('chat.actions.account') %>
</div>

<div class="ctn-drawer">
    <div class="block">
        <h2><%= t('account.emailandpassword.label') %></h2>
        <div class="email-container"></div>
        <div class="password-container"></div>
    </div>

    <div class="block">
        <span class="email-info"><%= t('account.manageemail.info') %></span>
        <h2><%= t('account.manageemail.label') %></h2>
        <div class="manage-email-container"></div>
    </div>

    <div class="block">
        <h2><%= t('account.facebook.label') %></h2>
        <% if (user.account.facebook && user.account.facebook.token) { %>
            <p class="values"><%= t('account.facebook.help') %></p>
            <div class="facebook">
                <div class="infos flex-parent" style="overflow: hidden;">
                    <img class="avatar" src="https://graph.facebook.com/<%= user.account.facebook.id %>/picture"/>
                    <div class="flex-child ml10 flex-parent jc-center column">
                        <div class="row">
                            <strong class="col-sm-2"><%= t('account.facebook.name') %></strong>
                            <span class="col-sm-10"><%= user.account.facebook.name %></span>
                        </div>
                        <div class="row">
                            <strong class="col-sm-2"><%= t('account.facebook.email') %></strong>
                            <span class="col-sm-10"><%= user.account.facebook.email %></span>
                        </div>
                    </div>
                </div>
                <% if (user.account.email) { %>
                    <p class="unlink">
                        <a href="/unlink/facebook" target="_blank" class="unlink"><%= t('account.facebook.unlink') %></a>
                    </p>
                <% } %>
            </div>
        <% } else { %>
            <p class="values"><%= t('account.facebook.linkhelp') %></p>
            <div class="flex-parent jc-center center">
                <a href="/login/facebook" target="_blank" class="btn-facebook colored"><i class="icon icon-facebook"></i> | <%= t('account.facebook.connectwith') %> <strong><%= t('account.facebook.label') %></strong></a>
            </div>
        <% } %>
    </div>

    <div class="group block">
        <h2><%= t('account.profile.label') %></h2>
        <p class="values"><%= t('account.profile.help') %> <a class="open-user-edit"><%= t('account.profile.link') %></a>.</p>
    </div>

    <div class="group block">
        <h2><%= t('global.switchlanguage') %></h2>
        <ul class="link-ctn">
            <li><a href="" data-language="fr" class="switch"><%= t('global.french') %></a></li>
            <li><a href="" data-language="en" class="switch"><%= t('global.english') %></a></li>
        </ul>
    </div>

    <div class="group block">
        <h2><%= t('global.links') %></h2>
        <ul class="link-ctn">
            <li><a href="/!#donut/help"><%= t('chat.help') %></a></li>
            <li><a href="/faq" target="_blank"><%= t('page.faq.title') %></a></li>
            <li><a data-toggle="contactform"><%= t('page.contact.title') %></a></li>
            <li><a href="/eutc" target="_blank"><%= t('page.eutc.title') %></a></li>
            <li><a href="/legals" target="_blank"><%=t('landing.legals')%></a></li>
        </ul>
    </div>
</div>