<div class="relative"><span class="close icon icon-times"></span></div>

<div class="title">
    <%= t('chat.history.access') %>
    <%= '#' + group.name %>
</div>

<div class="ctn-drawer">
    <div class="errors block"></div>

    <div class="block">
        <p><%= t('chat.blocked.disclaimer-group') %></p>
    </div>

    <div class="allow-pending block">
        <label><%= t('chat.access.labelpending') %></label>
        <div class="ctn"></div>
        <div class="paginate flex-parent block"></div>
    </div>

    <div class="search block search-user">
        <div class="flex-child flex-parent relative">
            <input type="text" id="input-search" placeholder="<%= t('chat.actions.searchuser') %>" class="form-control flex-child" />
            <i class="icon icon-search"></i>
            <div class="dropdown">
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"></ul>
            </div>
        </div>
    </div>

    <div class="allowed block">
        <label><%= t('chat.users.type.members') %></label>
        <div class="ctn"></div>
        <div class="paginate flex-parent block"></div>
    </div>

    <div class="search block search-user-banned">
        <div class="flex-child flex-parent relative">
            <input type="text" id="input-search-banned" placeholder="<%= t('chat.actions.banuser') %>" class="form-control flex-child" />
            <i class="icon icon-search"></i>
            <div class="dropdown">
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"></ul>
            </div>
        </div>
    </div>

    <% if (group.isOwner ||  group.isAdmin) { %>
        <h2 class="block"><%= t('chat.form.room-form.mode.disclaimer.memberscondition') %></h2>

        <div class="membership-conditions block">
            <textarea class="form-control" id="conditions-area" maxlength="200" cols="46" rows="4" placeholder="<%= t('chat.form.room-form.edit.description.conditions') %>"></textarea>
            <p class="help-block"><%= t('chat.form.room-form.edit.description.help') %> <span class="counter"><%= t('chat.form.common.edit.left', {count: 200}) %></span></p>
            <div class="flex-parent jc-end mt10">
                <input class="btn btn-success save-access save-conditions pull-right" type="submit" value="<%= t('global.save')%>" />
            </div>
        </div>

        <h2 class="block"><%= t('chat.blocked.password_placeholder') %></h2>

        <div class="field-password radio block">
            <p><%= t('chat.form.group-form.mode.disclaimer.group-password') %></p>
            <div class="password-block form-inline mt10 flex-parent baseline space-between">
                <input type="checkbox" id="input-password-checkbox" name="input-password-checkbox" <% if (password) { %> checked <% } %> />
                <input type="text"
                       class="input-password form-control ml10 mr10 flex-child <% if (!password) { %> disabled <% } %>"
                       placeholder="<%= (password ? t('chat.form.room-form.common.mode.password-keep') : t('chat.form.room-form.common.mode.password-field') ) %>"
                       maxlength="255"
                       value="<%= password %>"
                <% if (!password) { %> disabled <% } %>
                />
                <a href="#" class="mr10 icon icon-refresh random-password dc-text <% if (!password) { %> disabled <% } %>"></a>
                <input class="btn btn-success save-access" type="submit" value="<%= t('global.save')%>" />
            </div>
        </div>
    <% } %>
</div>