<table class="table table-striped">
    <% _.each(users, function(u, index) { %>
    <tr>
        <td class="username">
            <div class="flex-parent flex-end">
                <img src="<%= u.avatarUrl %>" class="mr5">
                <a href="#" class="colored open-user-profile" data-user-id="<%= u.user_id %>" data-username="<%= u.username %>" >@<%= u.username %></a>
                <% if(u.isOwner) { %>
                <i class="icon icon-fw icon-owner cl-warning" data-toggle="tooltip" data-placement="top" title="<%= t('chat.users.type.owner') %>"></i>
                <% } if (u.isOp) { %>
                <i class="icon icon-fw icon-op op" data-toggle="tooltip" data-placement="top" title="<%= t('chat.users.type.op') %>"></i>
                <% } if(u.isBanned) { %>
                <i class="icon icon-fw icon-ban" data-toggle="tooltip" data-placement="top" title="<%= t('chat.users.type.ban') %>"></i>
                <% } %>
            </div>
        </td>
        <td class="actions" style="text-align: right; width: 1px;">
            <% if(op && !u.isOwner) { %>
                <span class="dropdown user-list">
                    <button class="dropdown-toggle flex-parent" data-toggle="dropdown" aria-expanded="true">
                        <i class="icon icon-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="arrow-right"></li>
                        <% if(!u.isOp) { %>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" class="op op-user" data-toggle="confirmation" data-action="op-user" data-user-id="<%= u.user_id %>" data-username="<%= u.username %>" >
                                    <i class="icon icon-fw icon-op"></i><p> <%= t('chat.op.infobox') %></p>
                                </a>
                            </li>
                        <% } else { %>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" class="deop deop-user" data-toggle="confirmation" data-action="deop-user" data-user-id="<%= u.user_id %>" data-username="<%= u.username %>" >
                                    <i class="icon icon-fw icon-op cl-neutral"></i>
                                    <p><%= t('chat.deop.infobox') %></p>
                                </a>
                            </li>
                        <% } %>
                        <li role="presentation">
                            <% if(!u.isBanned) { %>
                                <a class="ban" data-toggle="confirmation" data-action="ban-user" title="<%= t('chat.ban.infobox') %>" data-user-id="<%= u.user_id %>" data-username="<%= u.username %>" >
                                    <i class="icon icon-fw icon-ban" data-toggle="tooltip" data-placement="top" title="<%= t('chat.ban.infobox') %>"></i>
                                    <p><%= t('chat.ban.infobox') %></p>
                                </a>
                            <% } else { %>
                                <a class="deban" data-toggle="confirmation" data-action="deban-user" title="<%= t('chat.deban.infobox') %>" data-user-id="<%= u.user_id %>" data-username="<%= u.username %>" >
                                    <i class="icon icon-fw icon-ban icon-deban" data-toggle="tooltip" data-placement="top" title="<%= t('chat.deban.infobox') %>"></i>
                                    <p><%= t('chat.deban.infobox') %></p>
                                </a>
                            <% } %>
                        </li>
                    </ul>
                </span>
            <% }; %>
        </td>
    </tr>
    <%}); %>
</table>