<div class="relative">     <span class="close icon icon-times"></span> </div>

<div class="title">
    <%= t('preferences.title') %>
</div>

<div class="ctn-drawer">
    <div class="errors block mb20"></div>

    <form class="user-form" role="form">
        <div class="form-group">
            <label><%= t('preferences.welcome.title') %></label>
            <div class="radio">
                <label>
                    <input type="radio" class="savable" name="browser:welcome" value="browser:welcome:true" <% if (preferences['browser:welcome']) { print('checked'); } %>>
                    <%= t('preferences.welcome.label-true') %>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" class="savable" name="browser:welcome" value="browser:welcome:false" <% if (!preferences['browser:welcome']) { print('checked'); } %>>
                    <%= t('preferences.welcome.label-false') %>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label><%= t('preferences.sounds.title') %></label>
            <div class="radio">
                <label>
                    <input type="radio" class="savable" name="browser:sounds" value="browser:sounds:true" <% if (preferences['browser:sounds']) { print('checked'); } %>>
                    <%= t('preferences.browser.sounds.label-true') %> (<a class="play-sound-test"><i class="icon icon-bell"></i> <%= t('preferences.sounds.test') %></a>)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" class="savable" name="browser:sounds" value="browser:sounds:false" <% if (!preferences['browser:sounds']) { print('checked'); } %>>
                    <%= t('preferences.browser.sounds.label-false') %>
                </label>
            </div>
        </div>
        <label><%= t('preferences.notif.title') %></label>
        <p class="help-block"><%= t('preferences.notif.help.user') %>
        <div class="form-group">
            <div class="notification">
                <label class="level-2"><%= t('preferences.notif.channels.title') %></label>
                <div class="checkbox">
                    <label>
                        <input class="savable" type="checkbox" value="notif:channels:desktop" <% if (preferences['notif:channels:desktop']) { print('checked'); } %>> <%= t('preferences.notif.channels.desktop') %> (<a class="desktop-notification-test"><i class="icon icon-bolt"></i> <%= t('preferences.notif.channels.desktop-test') %></a>)
                    </label>
                    <% if (desktop && desktop !== 'granted') { %>
                    <label style="font-style: italic; display: block;">
                        <%= t('preferences.notif.channels.desktop-' + desktop) %>
                    </label>
                    <% } %>
                </div>
                <div class="checkbox">
                    <label>
                        <input class="savable" type="checkbox" value="notif:channels:email" <% if (preferences['notif:channels:email']) { print('checked'); } %>> <%= t('preferences.notif.channels.email') %>
                    </label>
                </div>
                <p class="help-block"><%= t('preferences.notif.channels.help') %></p>
            </div>
        </div>
        <div class="form-group">
            <p class="help-block"><%= t('preferences.notif.events.title') %></p>
            <% var notifications = ['notif:usermessage']; %>
            <% _.each(notifications, function(key) { %>
            <div class="notification">
                <div class="checkbox">
                    <label>
                        <input class="savable" type="checkbox" value="<%= key %>" <% if (preferences[key]) { print('checked'); } %>> <%= t('preferences.notif.events.'+key.replace('notif:', '').replace(':', '.')+'.label') %>
                    </label>
                </div>
                <p class="help-block"><%= t('preferences.notif.events.'+key.replace('notif:', '').replace(':', '.')+'.help') %></p>
            </div>
            <% }); %>
        </div>
        <div class="form-group">
            <label><%= t('preferences.exit.title') %></label>
            <div class="radio">
                <label>
                    <input type="radio" class="savable" name="browser:exitpopin" value="browser:exitpopin:true" <% if (typeof preferences['browser:exitpopin'] == 'undefined' || preferences['browser:exitpopin']) { print('checked'); } %>>
                    <%= t('preferences.exit.label-true') %>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" class="savable" name="browser:exitpopin" value="browser:exitpopin:false" <% if (preferences['browser:exitpopin'] === false) { print('checked'); } %>>
                    <%= t('preferences.exit.label-false') %>
                </label>
            </div>
        </div>
        <% if(bannedUsers.length > 0) { %>
            <h2><%= t('preferences.notif.banned-users') %></h2>
            <div class="form-group users">
                <div class="flex-parent center">
                    <% _.each(bannedUsers, function(u){ %>
                        <div class="avatar open-user-profile mr5" data-user-id="<%= u.user_id %>"><img src="<%= u.avatarUrl %>" alt="<%= u.username %>"></div>
                        <div class="username mr5"><span class="open-user-profile" data-user-id="<%= u.user_id %>"><%= u.username %></span></div>
                        <div class="actions">
                            <span class="action-user-deban curp" data-user-id="<%= u.user_id %>" data-toggle="tooltip" data-placement="top" title="<%= t('chat.actions.deban') %>">
                                <i class="icon icon-ban"></i>
                            </span>
                        </div>
                    <% }); %>
                </div>
            </div>
        <% } %>

        <h2><%= t('preferences.appearance') %></h2>
        <div class="form-group">
            <label><%= t('preferences.chatmode.title') %></label>
            <div class="radio">
                <label>
                    <input type="radio" class="savable" name="chatmode:compact" value="chatmode:compact:false" <% if (preferences['chatmode:compact'] === false) { print('checked'); } %>>
                    <%= t('preferences.chatmode.label-false') %>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" class="savable" name="chatmode:compact" value="chatmode:compact:true" <% if (typeof preferences['chatmode:compact'] == 'undefined' || preferences['chatmode:compact']) { print('checked'); } %>>
                    <%= t('preferences.chatmode.label-true') %>
                </label>
            </div>
        </div>
    </form>
</div>