<div class="header">
    <div class="title">
        <%= t('drawers.room-users.title') %>
    </div>
    <span class="close-drawer icon icon-times curp"></span>
</div>

<div class="block flex-parent column jc-center center">
    <h2 class="mb0"><%= room.identifier %></h2>
</div>

<div class="errors block"></div>

<div class="scrollable grayed">
    <div class="search">
        <div class="block flex-parent center mb0">
            <label for="input-search"><%= t('drawers.room-users.username') %></label>
            <div class="relative flex-child flex-parent center">
                <input type="text" id="input-search" placeholder="<%= t('drawers.room-users.search') %>" class="flex-child" />
                <i class="icon icon-search"></i>
                <div class="dropdown">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"></ul>
                </div>
            </div>
        </div>
        <div class="relative block flex-parent center">
            <label for="type-select"><%= t('drawers.room-users.type') %></label>
            <div class="relative flex-parent center flex-child select-dropdown">
                <select name="type" id="type-select" class="form-control">
                    <% _.each(type, function(type) { %>
                        <option value="<%= type %>"><%= t('chat.users.type.' + type) %></option>
                    <% }); %>
                </select>
                <div class="user-number"><span class="number"></span></div>
            </div>
        </div>
    </div>

    <div class="table-users block"></div>

    <div class="paginate flex-parent block"></div>
</div>