<div class="header">
    <div class="title">
        <%= t('profile.common.editlink') %>
        <%= group.identifier %>
    </div>
    <span class="close-drawer icon icon-times curp"></span>
</div>

<div class="scrollable">
    <div class="error block mb20"></div>

    <form class="group-form" role="form">
        <div class="block">
            <label for="groupDescription"><%= t('chat.form.group-form.edit.description.label') %></label>
            <textarea name="description" class="form-control" id="groupDescription" placeholder="<%= t('chat.form.group-form.edit.description.placeholder') %>" maxlength="200"><%= group.description %></textarea>
            <p class="help"><%= t('chat.form.group-form.edit.description.help') %> <span class="pull-right counter-description"></span></p>
        </div>
        <div class="block">
            <label for="groupWebsite"><%= t('chat.form.common.edit.website.label') %></label>
            <input name="website" type="text" class="form-control" id="groupWebsite" placeholder="<%= t('chat.form.common.edit.website.placeholder') %>" value="<% if (group.website) { %><%= group.website.title %><% } %>">
            <p class="help"><%= t('chat.form.common.edit.website.help') %></p>
        </div>
        <div class="block">
            <label><%= t('chat.form.common.edit.avatar.label') %></label>
            <div class="group-avatar"></div>
        </div>
        <% if (group.isAdmin) { %>
        <div class="block admin">
            <label><%= t('chat.form.group-form.edit.visibility.label') %></label>
            <div class="radio">
                <label>
                    <input type="radio" name="visibility" id="groupVisibilityTrue" value="true" <%= (group.visibility === true) ? 'checked' : '' %>>
                    <%= t('chat.form.group-form.edit.visibility.true') %>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="visibility" id="groupVisibilityFalse" value="false" <%= (group.visibility !== true) ? 'checked' : '' %>>
                    <%= t('chat.form.group-form.edit.visibility.false') %>
                </label>
            </div>
        </div>
        <div class="block admin">
            <label for="groupPriority"><%= t('chat.form.group-form.edit.priority.label') %></label>
            <input type="number" name="priority" class="form-control" id="groupPriority" placeholder="<%= t('chat.form.group-form.edit.priority.placeholder') %>" value="<%= group.priority %>">
            <p class="help"><%= t('chat.form.group-form.edit.priority.help') %></p>
        </div>
        <% } %>
        <div class="block column flex-parent jc-center center">
            <button class="btn btn-default" type="submit"><%= t('global.save') %></button>
            <button class="btn btn-link cancel mr10"><%= t('global.cancel') %></button>
        </div>
    </form>
    <div class="footer block">
        <p class="delete">
            <i class="icon icon-trash"></i><%= t('drawers.group-edit.link') %>
            <a class="open-group-delete cl-first" data-group-id="<%=group.group_id%>"><%= t('drawers.group-edit.click-here') %></a>
        </p>
    </div>
</div>