<!--<%=group.avatar%><br/>-->
<!--<%=group.color%><br/>-->
<!--<%=group.avatarUrl%><br/>-->
<!--<%=group.created%><br/>-->
<!--<%=group.focused%><br/>-->
<!--<%=group.id%><br/>-->
<!--<%=group.identifier%><br/>-->
<!--<%=group.members%><br/>-->
<!--<%=group.members_pending%><br/>-->
<!--<%=group.name%><br/>-->
<!--<%=group.owner_id%><br/>-->
<!--<%=group.owner_username%><br/>-->
<!--<%=group.priority%><br/>-->
<!--<%=group.room_id%><br/>-->
<!--<%=group.type%><br/>-->
<!--<%=group.uri%><br/>-->
<!--<%=group.visibility%><br/>-->
<!--<%=group.disclaimer%><br/>-->
<!--<%=group.description%><br/>-->
<!--<%=group.website%><br/>-->

<div class="relative">
    <span class="close icon icon-times"></span>
</div>

<div class="title">
    <%= t('profile.group.profilelink') %>
    #<%= group.name %>
</div>

<div class="block">
    <div class="overlay-ctn">
        <img class="avatar img-circle" src="<%= group.avatar %>" alt="<%= group.name %> avatar">
        <% if (group.isOwner || group.isAdmin) { %>
        <!--<span class="overlay open-room-edit img-circle" data-room-id="<%= group.room_id %>"></span>-->
        <!--<span class="overlay-text open-room-edit" data-room-id="<%= group.room_id %>"><%= t('profile.user.edit') %></span>-->
        <% } %>
    </div>

    <div class="roomname text-center block flex-parent column center">
        #<%= group.name %>
    </div>
    <div class="owner text-center">
        <%= t('global.by') %> <a class="colored open-user-profile dc-text" data-user-id="<%= group.owner_id %>">@<%= group.owner_username %></a>
    </div>
</div>

<div class="ctn-drawer">
    <div class="room block">
        <% if (group.disclaimer) { %><p class="description mt20 mb20 left"><%= group.disclaimer %></p><% }; %>
        <% if (group.website && group.website.href) { %><p class="website left"><i class="icon icon-fw icon-link dc-text"></i> <a class="colored dc-text" href="<%= group.website.href %>" target="_blank" title="<%= group.website.title %>"><%= group.website.title %></a></p><% }; %>
        <% if (group.created) { %><p class="created left"><i class="icon icon-fw icon-clock-o dc-text left"></i> <%= t('profile.group.createdat') %> <span class="ml5" data-time="<%= group.created %>"></span></p><% }; %>
        <p class="permalink left"><i class="icon icon-fw icon-link dc-text"></i> <a class="colored dc-text" href="<%= group.url %>" target="_blank"><%= t('profile.group.permalink') %></a></p>
        <!--<% if (group.isOwner || group.isAdmin) { %><p class="edit left"><i class="icon icon-fw icon-pencil dc-text"></i> <a class="colored open-room-edit dc-text" data-room-id="<%= group.room_id %>"> <%= t('profile.group.editlink') %></a><p><% }; %>-->
        <!--<% if (group.isOwner || group.isOp ||group.isAdmin) { %><p class="left"><i class="icon icon-fw icon-users dc-text left"></i> <a class="colored open-room-users dc-text" data-room-id="<%= group.room_id %>"><%= t('profile.group.editusers') %></a></p><% }; %>-->
        <!--<% if (group.isOwner || group.isAdmin ) { %><p class="left dc-text"><i class="icon icon-fw icon-public"></i> <a role="menuitem" tabindex="-1" class="colored open-room-access dc-text" data-room-id="<%= group.room_id %>"><%= t('chat.access.link') %></a></p><% }; %>-->
    </div>

    <div class="block flex-parent jc-center center">
        <a href="<%= group.uri %>" class="dc-back dc-back-hover dc-text-contrast button button-big fs20">
            <%= t('actions.join') %>
            <% if (group.members && group.members.length > 0) { /*print(group.members_count);*/ } %>
            <i class="icon icon-fw icon-user-custom cl-warning"></i>
        </a>
    </div>

    <% if (group.members.length > 0) { %>
        <div class="block">
            <h2><%= t('profile.group.ownerops') %> ( <%=group.members_count%> )</h2>
        </div>

        <div class="user-list block">
            <div class="list">
                <% _.each(group.members, function(user) { %>
                <% var bgColor = txtColor = ''; %>
                <% if (user.color) {
                    bgColor = "background-color: "+user.color;
                    txtColor = "color: "+user.color;
                }; %>
                <div class="item open-user-profile <% if (user.is_owner) { %>owner<% }; %> <% if (user.is_op) { %>op<% }; %>" data-bgcolor="<%= bgColor %>" data-type="room-users" data-txtcolor="<%= txtColor %>" data-user-id="<%= user.user_id %>" data-username="<%= user.username %>" data-toggle="tooltip" data-placement="right">
                    <div class="avatar" style="background-image:url(<%= user.avatar %>)"></div>
                </div>
                <% }); %>
            </div>
        </div>

        <% if( group.members_more ) { %>
            <div class="flex-parent center jc-center mt30">
                <i class="icon icon-circle cl-neutral fs10 ml5"></i>
                <i class="icon icon-circle cl-neutral fs10 ml5"></i>
                <i class="icon icon-circle cl-neutral fs10 ml5"></i>
            </div>
        <% } %>
    <% } %>
</div>