<table class="table table-striped">
    <% _.each(users, function(u, index) { %>
    <tr>
        <td class="username">
            <div class="flex-parent flex-end">
                <img src="<%= u.avatarUrl %>" class="mr5">
                <a href="#" class="colored open-user-profile" data-user-id="<%= u.user_id %>" data-username="<%= u.username %>" >@<%= u.username %></a>
                <% if(u.isOwner) { %>
                <i class="icon icon-fw icon-owner cl-warning" data-toggle="tooltip" data-placement="top" title="<%= t('chat.users.type.owner') %>"></i>
                <% } if (u.isOp) { %>
                <i class="icon icon-fw icon-op op" data-toggle="tooltip" data-placement="top" title="<%= t('chat.users.type.op') %>"></i>
                <% } %>
            </div>
        </td>
        <td class="actions" style="text-align: right; width: 1px;">
            <div class="flex-parent">
                <!--ONLY USERS WITH RIGHTS CAN USE ACTIONS -> op = admin / owner / op -->
                <% if((op && !u.isOwner) || admin) { %>
                    <!--IF TARGET USER IS BANNED, ONLY ONE OPTION AVAILABLE: DEBAN-->
                    <% if(u.isBanned) { %>
                        <a class="deban" data-toggle="confirmation" data-action="deban-user" title="<%= t('chat.deban.infobox') %>" data-user-id="<%= u.user_id %>" data-username="<%= u.username %>" >
                            <i class="icon icon-fw icon-ban icon-deban curp" data-toggle="tooltip" data-placement="top" title="<%= t('chat.deban.infobox') %>"></i>
                        </a>
                    <% } else { %>
                        <!--OP / DEOP an active user-->
                        <% if(!u.isOp) { %>
                            <a role="menuitem" tabindex="-1" class="op op-user" data-toggle="confirmation" data-action="op-user" data-user-id="<%= u.user_id %>" data-username="<%= u.username %>" >
                                <i class="icon icon-fw icon-op curp" data-toggle="tooltip" data-placement="top" title="<%= t('chat.op.infobox') %>"></i>
                            </a>
                        <% } else { %>
                            <a role="menuitem" tabindex="-1" class="deop deop-user" data-toggle="confirmation" data-action="deop-user" data-user-id="<%= u.user_id %>" data-username="<%= u.username %>" >
                                <i class="icon icon-fw icon-op cl-neutral curp" data-toggle="tooltip" data-placement="top" title="<%= t('chat.deop.infobox') %>"></i>
                            </a>
                        <% } %>

                        <a class="ban" data-toggle="confirmation" data-action="ban-user" title="<%= t('chat.ban.infobox') %>" data-user-id="<%= u.user_id %>" data-username="<%= u.username %>" >
                            <i class="icon icon-fw icon-ban" data-toggle="tooltip" data-placement="top" title="<%= t('chat.ban.infobox') %>"></i>
                        </a>
                    <% } %>
                <% }; %>
            </div>
        </td>
    </tr>
    <%}); %>
</table>