<div class="relative">
    <span class="close icon icon-times"></span>
</div>

<div class="block">
    <div class="overlay-ctn">
        <span class="avatar-ctn <% if (user.isCurrent) { %>open-user-edit <% } %> <% if (user.banned) { %>is-banned <% } %>">
            <img class="avatar" src="<%= user.avatar %>" alt="<%= user.username %> avatar">
            <% if (user.isCurrent) { %>
            <span class="overlay"></span>
            <span class="overlay-text"><%= t('profile.user.edit') %></span>
            <% } %>
        </span>
    </div>
</div>

<div class="ctn-drawer">
    <div class="user block">
        <p class="username text-center"><% if (user.name) { %><%= user.name %><% } else { %>@<%= user.username %><% } %></p>
        <% if (user.name) { %><p class="text-center">@<%= user.username %></p><% }; %>
        <% if (user.bio) { %><p class="bio mt20 mb20 left"><%= user.bio %></p><% }; %>
        <% if (user.location) { %><p class="action location left"><i class="icon icon-fw icon-map-marker dc-text"></i> <%= user.location %></p><% }; %>
        <% if (user.website && user.website.href) { %><p class="action website left"><i class="icon icon-fw icon-link dc-text"></i> <a class="colored" href="<%= user.website.href %>" target="_blank" title="<%= user.website.title %>"><%= user.website.title %></a></p><% }; %>
        <% if (user.registered) { %><p class="action created left"><i class="icon icon-fw icon-clock-o dc-text"></i> <%= t('profile.user.signuped') %> <span class="ml5" data-time="<%= user.registered %>"></span></p><% }; %>
        <% if (user.status != 'online' && user.onlined) { %><p class="onlined left"><i class="icon icon-fw icon-clock-o dc-text"></i> <%= t('profile.user.onlined', {time: '<span data-time="'+user.onlined+'"></span>'}) %></p><% }; %>
        <p class="action permalink left"><i class="icon icon-fw icon-link dc-text"></i> <a class="colored dc-text" href="<%= user.url %>" target="_blank" ><%= t('profile.user.permalink') %></a></p>
        <% if (user.isCurrent) { %><p class="action edit left"><i class="icon icon-fw icon-lock dc-text"></i> <a class="colored open-user-account dc-text" data-user-id="<%= user.user_id %>"><%= t('chat.actions.account') %></a></p><% }; %>
        <% if (user.isCurrent) { %><p class="action edit left"><i class="icon icon-fw icon-pencil dc-text"></i> <a class="colored open-user-edit dc-text" data-user-id="<%= user.user_id %>"><%= t('profile.common.editlink') %></a></p><% }; %>
        <% if (user.isCurrent) { %><p class="action edit left"><i class="icon icon-fw icon-bell dc-text"></i> <a class="colored open-user-preferences dc-text" data-user-id="<%= user.user_id %>"><%= t('chat.actions.preferences') %></a></p><% }; %>


        <% if (!user.isCurrent) { %>
            <!--Check if I banned this user-->
            <% if (user.banned) { %>
                <p class="action action-user-deban left" data-user-id="<%= user.user_id %>">
                    <i class="icon icon-fw icon-ban dc-text"></i> <a href="" class="colored dc-text"><%= t('chat.debanuser.infobox') %></a>
                </p>
            <% } else { %>
                <p class="action action-user-ban left" data-user-id="<%= user.user_id %>">
                    <i class="icon icon-fw icon-ban cl-error"></i> <a href="" class="colored dc-text"><%= t('chat.banuser.infobox') %></a>
                </p>
            <% }; %>

            <!--Check if this user banned me-->
            <% if (user.i_am_banned) { %>
            <p class="action cl-error left">
                <i class="icon icon-fw icon-ban cl-error"></i>
                <%= t('chat.banuser.banned-too') %>
            </p>
            <% }; %>
        <% }; %>

        <div class="block flex-parent jc-center center">
            <% if (user.status == 'online') { %>
            <p class="discuss"><a href="<%= user.uri %>" class="dc-back dc-back-hover dc-text-contrast button button-big fs20"><%= t('actions.discuss') %></a></p>
            <% } else { %>
            <p class="offline"><a href="<%= user.uri %>" class="dc-back dc-back-hover dc-text-contrast button button-big fs20"><%= t('global.offline') %></a></p>
            <% }; %>
        </div>

        <% if (user.rooms_list.length > 0) { %>
        <div class="block">
            <h2><%= t('profile.user.hisrooms') %></h2>
        </div>

        <div class="user-list block">
            <div class="list">
                <% _.each(user.rooms_list, function(room) { %>
                <% var bgColor = txtColor = ''; %>
                <% if (room.color) {
                    bgColor = "background-color: "+room.color;
                    txtColor = "color: "+room.color;
                }; %>
                <div class="item open-room-profile <% if (room.oped) { %>op<% } %> <% if (room.owned) { %>owner<% } %>" data-room-id="<%= room.id %>" data-bgcolor="<%= bgColor %>" data-type="rooms" data-username="<%= room.identifier %>"  data-txtcolor="<%= txtColor %>" data-toggle="tooltip" data-placement="right">
                    <div class="avatar" style="background-image:url(<%= room.avatar %>)"></div>
                </div>
                <% }); %>
            </div>
        </div>
        <% } %>
    </div>
</div>