<div class="relative">
    <span class="close icon icon-times"></span>
</div>

<div class="title">
    <%= t('chat.actions.notifications') %>
</div>

<div class="ctn-drawer">
    <div class="ctn" role="menu">
        <div class="mb10 block unread-count empty">
            <span class="show-empty text-center">
                <i class="icon fs14 icon-cog curp open-user-preferences" data-user-id="<%= user_id %>"></i>
                <span><%= t('chat.notifications.empty') %></span>
            </span>
            <span class="hide-empty">
                <i class="icon fs14 icon-cog curp open-user-preferences" data-user-id="<%= user_id %>"></i>
                <span><%= t('chat.notifications.count') %></span>
                <span class="pull-right action-tag-as-read"><%= t('chat.notifications.tag-as-read') %></span>
            </span>
        </div>
        <div class="messages-list-ctn">
            <div class="messages-list" id="main-navbar-messages"><!-- Loaded dynamically --></div>
            <div class="actions flex-parent mt5 jc-center">
                <div class="read-more btn btn-default"><%= t('chat.notifications.read-more') %></div>
                <div class="loading hidden"><i class="icon icon-spinner icon-spin"></i></div>
            </div>
        </div>
    </div>
</div>