<div class="relative">     <span class="close icon icon-times"></span> </div>

<div class="title">
    <%= t('chat.form.room-form.edit.room.delete.title') %>
    #<% if (room.group_name) { %><%- room.group_name %>/<% } %><%= room.name %>
</div>

<div class="ctn-drawer">
    <div class="errors block"></div>

    <div class="block">
        <p class="help-block"><%= t('chat.form.room-form.edit.room.delete.info', {name: room.name}) %></p>
    </div>

    <div class="block">
        <div class="field flex-parent jc-center">
            <span class="hash dc-text colorize">#<% if (room.group_name) { %><%- room.group_name %>/<% } %></span>
            <input type="text" name="input-delete" class="big-input dc-border flex-child colorize-border" placeholder="<%= t('chat.form.room-form.edit.room.delete.placeholder') %>" maxlength="24" />
        </div>
    </div>
    <div class="field buttons mt15 flex-parent center jc-center block">
        <a class="cancel-lnk btn btn-default mr10"><%= t('global.cancel') %></a>
        <button class="submit btn btn-success" type="button"><%= t('global.delete') %></button>
    </div>
</div>