<div class="header">
    <div class="title">
        <%= t('chat.form.group-form.edit.group.delete.title') %>
        <%= group.identifier %>
    </div>
</div>


<div class="scrollable">
    <div class="error block"></div>

    <div class="block mt25">
        <p class="help"><%= t('chat.form.group-form.edit.group.delete.info', {name: group.name}) %></p>
    </div>

    <div class="block identifier flex-parent jc-center column text-center mt25">
        <div class="groupname">
            <span class="hash">#</span>
            <input type="text" name="input-delete" class="big-input dc-border flex-child colorize-border" placeholder="<%= t('chat.form.group-form.edit.group.delete.placeholder') %>" maxlength="24" />
        </div>
    </div>

    <div class="block flex-parent column jc-center center mt50">
        <button class="submit btn btn-default" type="button"><%= t('global.delete') %></button>
        <button class="cancel-lnk btn btn-link" data-group-id="<%= group.group_id %>"><%= t('global.cancel') %></button>
    </div>
</div>