<div class="email-user-ctn">
    <span class="label"><%= t('account.email.label') %></span>
    <span class="value email-user"><%= user.account.email %></span>
    <a href="#" class="label" id="email-modal-link"></a>
</div>

<div class="mail-form-container"></div>

<div class="error">
    <span class="alert-danger" aria-hidden="true"></span>
    <span class="alert-danger error-label"></span>
</div>

<div class="success">
    <span class="alert-success" aria-hidden="true"></span>
    <span class="alert-success success-label"><%= t('account.email.success') %></span>
</div>

<form class="form-mail">
    <div class="form-group">
        <input id="email-sub" class="email-sub form-control block" type="email" placeholder="<%= t('account.email.new') %>" value="<%= user.account.email %>">

        <div class="center block">
            <button type="submit" class="btn btn-default submit-email" ><%= t('global.save') %></button>
            <button class="btn btn-link cancel-email mr5"><%= t('global.cancel') %></button>
        </div>
        <div class="clearfix"></div>
    </div>
</form>
