<span class="label"><%= t('account.password.label') %></span>
<span class="value email-user">(<%= t('account.password.defined') %><%= t('global.' + ((user.account.has_password) ? 'yes' : 'no')) %>)</span>
<a class="label" href="#" id="password-modal-link"></a>

<div class="password-form-container"></div>

<div class="error">
    <span class="alert-danger" aria-hidden="true"></span>
    <span class="alert-danger error-label"></span>
</div>

<div class="success">
    <span class="alert-success" aria-hidden="true"></span>
    <span class="alert-success success-label"><%= t('account.password.success') %></span>
</div>

<form class="form-password">
    <div class="form-group">

        <div class="block">
            <input id="input-current-password"  class="input-current-password form-control" type="password" placeholder="<%= t('account.password.current') %>">
            <input id="input-new-password"      class="mt5 input-new-password form-control" type="password" placeholder="<%= t('account.password.new') %>">
            <input id="input-password-confirm"  class="mt5 input-password-confirm form-control" type="password" placeholder="<%= t('account.password.confirm') %>">
        </div>

        <div class="flex-parent column center jc-center block">
            <button type="submit" class="btn btn-default submit-password"><%= t('global.save') %></button>
            <button class="btn btn-link cancel-password"><%= t('global.cancel') %></button>
        </div>
    </div>
</form>