<span class="labels"><%= t('account.password.label') %></span>
<span class="values email-user">(<%= t('account.password.defined') %><%= t('global.' + ((user.account.has_password) ? 'yes' : 'no')) %>)</span>
<a href="#" id="password-modal-link"></a>
<div class="password-form-container"></div>
<div class="error">
    <span class="alert-danger" aria-hidden="true"></span>
    <span class="alert-danger error-label"></span>
</div>
<div class="success">
    <span class="alert-success" aria-hidden="true"></span>
    <span class="alert-success success-label"><%= t('account.password.success') %></span>
</div>
<form class="form-password">
    <div class="form-group mt15">
        <span class="spinner"></span>

        <input id="input-current-password"  class="mt5 input-current-password form-control" type="password" placeholder="<%= t('account.password.current') %>">
        <input id="input-new-password"      class="mt5 input-new-password form-control" type="password" placeholder="<%= t('account.password.new') %>">
        <input id="input-password-confirm"  class="mt5 input-password-confirm form-control" type="password" placeholder="<%= t('account.password.confirm') %>">
        <div class="pull-right mt10">
            <input type="button" class="btn btn-default cancel-password mr5" value="<%= t('global.cancel') %>">
            <input type="submit" class="btn btn-success submit-password" value="<%= t('global.save') %>">
        </div>
        <div class="clearfix"></div>
    </div>
</form>