<span class="labels"><%= t('account.password.label') %></span>
<span class="values email-user">(<%= t('account.password.defined') %><%= t('global.' + ((user.account.has_password) ? 'yes' : 'no')) %>)</span>
<a href="#" id="password-modal-link"></a>
<div class="password-form-container"></div>
<div class="error">
    <span class="alert-danger" aria-hidden="true"></span>
    <span class="alert-danger error-label"></span>
</div>
<div class="success">
    <span class="alert-success" aria-hidden="true"></span>
    <span class="alert-success success-label"><%= t('account.password.success') %></span>
</div>
<form class="form-password">
    <div class="form-group mt15">
        <span class="spinner"></span>

        <label class="label-current-password" for="input-current-password"><%= t('account.password.current') %></label>
        <input id="input-current-password" class="input-current-password form-control" type="password" placeholder="<%= t('account.password.current') %>">

        <label for="input-new-password"><%= t('account.password.new') %></label>
        <input id="input-new-password" class="input-new-password form-control" type="password" placeholder="<%= t('account.password.new') %>">

        <label for="input-password-confirm"><%= t('account.password.confirm') %></label>
        <input id="input-password-confirm" class="input-password-confirm form-control" type="password" placeholder="<%= t('account.password.confirm') %>">
        <div class="pull-right">
            <input type="submit" class="big-button-light submit-password" value="<%= t('global.save') %>">
            <input type="button" class="big-button-light cancel-password" value="<%= t('global.cancel') %>">
        </div>
        <div class="clearfix"></div>
    </div>
</form>