<div class="header">
    <div class="title">
        <%= t('profile.room.usersallowed') %>
    </div>
    <span class="close-drawer icon icon-times curp"></span>
</div>

<div class="block flex-parent column jc-center center">
    <h2 class="mb0">#<%= identifier %></h2>
</div>

<div class="error block"></div>

<div class="scrollable grayed">

    <div class="block">
        <h2><%= t('chat.actions.searchuser') %></h2>
        <p><%= t('drawers.users-allowed-room.disclaimer') %></p>
        <div class="search-ctn mt10"><!-- rendered in another view --></div>
    </div>

    <div class="allow-pending block">
        <h2><%= t('chat.access.labelpending') %></h2>
        <p><%= t('drawers.users-allowed-room.pending-disclaimer') %></p>
        <div class="ctn mt10"></div>
        <div class="paginate flex-parent block"></div>
    </div>

    <div class="allowed block">
        <h2><%= t('chat.users.type.allowed') %></h2>
        <p><%= t('drawers.users-allowed-room.allowed-disclaimer') %></p>
        <div class="ctn mt10"></div>
        <div class="paginate flex-parent block"></div>
    </div>

</div>