<div class="relative">     <span class="close icon icon-times"></span> </div>

<div class="title">
    <%= t('chat.actions.account') %>
    @<%= user.username %>
</div>

<div class="ctn-drawer">
    <div class="block">
        <h2><%= t('account.emailandpassword.label') %></h2>
        <div class="email-container"></div>
        <div class="password-container"></div>
    </div>

    <div class="block">
        <h2><%= t('account.manageemail.label') %></h2>
        <div class="manage-email-container"></div>
    </div>

    <div class="block">
        <h2><%= t('account.facebook.label') %></h2>
        <% if (user.account.facebook && user.account.facebook.token) { %>
            <p class="values"><%= t('account.facebook.help') %></p>
            <div class="facebook">
                <div class="infos">
                    <img class="avatar" src="https://graph.facebook.com/<%= user.account.facebook.id %>/picture"/>
                    <p>
                        <span class="labels"><%= t('account.facebook.name') %></span>
                        <span class="values"><%= user.account.facebook.name %></span>
                    </p>
                    <p>
                        <span class="labels"><%= t('account.facebook.email') %></span>
                        <span class="values"><%= user.account.facebook.email %></span>
                    </p>
                </div>
                <% if (user.account.email) { %>
                    <p class="unlink">
                        <a href="/unlink/facebook" target="_blank" class="unlink"><%= t('account.facebook.unlink') %></a>
                    </p>
                <% } %>
            </div>
        <% } else { %>
            <p class="values"><%= t('account.facebook.linkhelp') %></p>
            <div class="flex-parent jc-center center">
                <a href="/connect/facebook" target="_blank" class="btn-facebook colored"><i class="icon icon-facebook"></i> | <%= t('account.facebook.connectwith') %> <strong><%= t('account.facebook.label') %></strong></a>
            </div>
        <% } %>
    </div>

    <div class="group block">
        <h2><%= t('account.profile.label') %></h2>
        <p class="values"><%= t('account.profile.help') %> <a class="open-user-edit"><%= t('account.profile.link') %></a>.</p>
    </div>
</div>