<div class="side roomside poster-empty">
    <div class="users hidden-sm hidden-xs">
        <div class="scrollable">
            <div class="title dc-text-contrast"><%= t('group.administrator') %></div>
            <div class="list op">
                <div class="ctn">
                    <div class="background"></div>
                    <% _.each(op, function(user) { %>
                        <div class="item <% if (user.is_op === true) { %>op<% }; %> <% if (user.is_owner === true) { %>owner<% }; %><%= user.status %>">
                            <span class="infos">
                                <span class="avatar open-user-profile" data-user-id="<%= user.user_id %>" style="background-image: url(<%= user.avatar %>)" title="<% if (user.is_op === true) { %><%= t('chat.op.is') %><% } else if (user.is_owner === true) { %><%= t('chat.owner.is') %><% }; %>"></span>
                                <span class="username open-user-profile" data-user-id="<%= user.user_id %>" title="<%= t('global.'+user.status) %>">@<%= user.username %></span>
                            </span>
                        </div>
                    <% }) %>
                </div>
            </div>
                <div class="flex-parent center mt20">
                    <div class="title dc-text-contrast flex-child">
                        <%= t('group.users') %> ( <%= members_count - 1 %> )
                    </div>
                    <% if (isOwner || isAdmin) { %>
                    <input type="button" class="flex-end btn btn-primary centered mr20 open-group-access" data-group-id="<%= group.group_id %>" value="<%= t('group.invite') %>" />
                    <% } %>
                </div>
            <% if (members.length > 0) { %>
                <div class="user-list block">
                    <div class="list">
                        <% _.each(members, function(user) { %>
                            <% var bgColor = txtColor = ''; %>
                            <% if (user.color) {
                            bgColor = "background-color: "+user.color;
                            txtColor = "color: "+user.color;
                            }; %>
                            <div class="item open-user-profile <% if (user.is_owner) { %>owner<% }; %> <% if (user.is_op) { %>op<% }; %>" data-bgcolor="<%= bgColor %>" data-type="room-users" data-txtcolor="<%= txtColor %>" data-user-id="<%= user.user_id %>" data-username="<%= user.username %>" data-toggle="tooltip" data-placement="left">
                                <div class="avatar" style="background-image:url(<%= user.avatar %>)"></div>
                            </div>
                        <% }); %>
                    </div>
                </div>
                <% if( members_more ) { %>
                    <div class="flex-parent center jc-center mt30">
                        <i class="icon icon-circle cl-neutral fs10 ml5"></i>
                        <i class="icon icon-circle cl-neutral fs10 ml5"></i>
                        <i class="icon icon-circle cl-neutral fs10 ml5"></i>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</div><!-- /.side -->
<div class="content">
    <div class="header room">
        <div class="overlay-ctn hidden-xs hidden-sm">
            <img class="avatar group open-group-profile curp" data-group-id="<%= group.group_id %>" src="<%= group.avatarUrl %>" alt="<%= group.identifier %> avatar">
        </div>
        <div class="info hidden-xs hidden-sm">
            <div class="name open-group-profile curp" data-group-id="<%= group.group_id %>">
                <%= group.identifier %>
            </div>

            <div class="dropdown">
                <button class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <i class="icon icon-chevron-down hidden-xs hidden-sm"></i>
                    <i class="icon icon-chevron-down visible-xs visible-sm dc-text-contrast"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="<%= group.uri %>" target="_blank" title="<%= group.name %> <%= t('global.permalink') %>">
                            <i class="icon icon-link"></i> <%= t('global.permalink') %>
                        </a>
                    </li>
                    <% if (isOwner || isAdmin ) { %>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="open-group-edit" data-group-id="<%= group.group_id %>">
                            <i class="icon icon-pencil"></i> <%= t('global.edit') %>
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="open-group-access" data-group-id="<%= group.group_id %>">
                            <i class="icon icon-public"></i> <%= t('chat.access.link') %>
                        </a>
                    </li>
                    <% }; %>
                </ul>
            </div>
            
            <% if (!isMember) { %>
                <span class="curp btn btn-primary pull-right request-allowance"><%= t('group.ask-membership') %></span>
                <div class="clearfix"></div>
            <% } %>

        </div>
        <div class="info">
            <div class="disclaimer fs18">
                <% if (!isMember) { %>
                <%= group.disclaimer %>
                <% } else { %>
                <%= group.description %>
                <% } %>
            </div>
        </div>
        <% if (group.has_password && !isMember) { %>
        <span class="curp btn btn-primary send-password pull-right password-div"><%= t('actions.join') %></span>
        <input type="password" class="input-password form-control ml10 mr10 pull-right password-div" placeholder="<%= t('chat.form.room-form.common.mode.password-field')%>" style="width: 180px">
        <% } %>
    </div>

    <div class="flex-parent center mt100">
        <h2 class="vcentered"><%= t('global.donuts') %></h2>
        <% if(isOwner || isAdmin) { %>
            <span class="open-create-room btn btn-primary ml20 curp" data-group-id="<%=group.group_id%>"><%= t('actions.create') %></span>
        <% } %>
    </div>
    <div class="ctn-results mt30">
        <div class="rooms cards">
            <div class="list"><!--room list--></div>
        </div>
    </div>
</div>

<hr>

