<div class="flex-parent column">
    <div class="title mb10"><%= t('group.administrator') %></div>
    <div class="list op">
        <div class="ctn">
            <% _.each(op, function(user) { %>
                <div class="item <% if (user.is_op === true) { %>op <% }; %> <% if (user.is_owner === true) { %>owner <% }; %><%= user.status %>">
                    <span class="infos">
                        <span class="avatar open-user-profile" data-toggle="tooltip" data-placement="top" data-user-id="<%= user.user_id %>" style="background-image: url(<%= user.avatar %>)" data-html="true" title="@<%=user.username%><br/> <% if (user.is_op === true) { %><%= t('chat.op.isgroup') %><% } else if (user.is_owner === true) { %><%= t('chat.owner.isgroup') %><% }; %>"></span>
                    </span>
                </div>
            <% }) %>
        </div>
    </div>

    <% if(isMember) { %>
        <div class="title mb10 mt10">
            <div class="title  flex-child">
                <%= t('group.users') %> (<%= members.length %>)
            </div>
        </div>
        <% if (members.length > 0) { %>
            <div class="user-list block">
                <div class="list scrollable">
                    <% _.each(members, function(user) { %>
                        <div class="item open-user-profile <% if (user.is_owner) { %>owner<% }; %> <% if (user.is_op) { %>op<% }; %>" title="@<%=user.username%>" data-toggle="tooltip" data-placement="top" data-user-id="<%= user.user_id %>">
                            <div class="avatar" style="background-image:url(<%= user.avatar %>)"></div>
                        </div>
                    <% }); %>
                </div>
            </div>
            <% if( members_more ) { %>
                <div class="flex-parent center jc-center mt30">
                    <i class="icon icon-circle cl-neutral fs10 ml5"></i>
                    <i class="icon icon-circle cl-neutral fs10 ml5"></i>
                    <i class="icon icon-circle cl-neutral fs10 ml5"></i>
                </div>
            <% } %>
        <% } %>
    <% } %>
</div>