<%
var statusClass =   (isBanned)  ? 'is-banned' :
                    (isOp)      ? 'is-op' :
                    (isOwner)   ? 'is-owner' :
                    (isAdmin)   ? 'is-admin' :
                    (isMember)  ? 'is-member' : 'is-not-member';
%>
<div class="header flex-parent">
    <img class="avatar group open-group-profile curp" data-group-id="<%= group.group_id %>" src="<%= group.avatarUrl %>" alt="<%= group.identifier %> avatar">
    <div class="info flex-child flex-shrink flex-parent column">
        <div class="flex-parent">
            <div class="name open-group-profile curp" data-group-id="<%= group.group_id %>"><%= group.identifier %></div>
            <div class="flex-child"></div>
            <div class="dropdown flex-parent jc-center center">
                <button class="dropdown-toggle flex-parent jc-center center" data-toggle="dropdown" aria-expanded="true">
                    <i class="icon icon-cog icon-fw"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="open-group-profile" data-group-id="<%= group.group_id %>">
                            <img class="img-avatar" src="<%= group.avatarUrl %>" /><%= t('group.dropdown.view-profile') %>
                        </a>
                    </li>
                    <% if (isOp || isOwner || isAdmin) { %>
                        <li role="presentation" class="divider"></li>
                    <% } %>
                    <% if (isOwner || isAdmin ) { %>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" class="open-group-edit" data-group-id="<%= group.group_id %>">
                                <i class="icon icon-pencil"></i> <%= t('group.dropdown.edit-profile') %>
                            </a>
                        </li>
                    <% }; %>
                    <% if (isOp || isOwner || isAdmin) { %>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" class="open-group-access" data-group-id="<%= group.group_id %>">
                                <i class="icon icon-public"></i> <%= t('group.dropdown.access-rules') %>
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" class="open-group-users" data-group-id="<%= group.group_id %>">
                                <i class="icon icon-users"></i> <%= t('group.dropdown.manage-members') %>
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" class="open-group-users-allowed" data-group-id="<%= group.group_id %>">
                                <i class="icon icon-verified-user"></i> <%= t('group.dropdown.invites') %>
                            </a>
                        </li>
                    <% }; %>
                    <% if (!isOwner && isMember) { %>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" class="quit-group" data-group-id="<%= group.group_id %>">
                                <i class="icon icon-times"></i> <%= t('group.close') %>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="separator"></div>
            <div role="presentation" class="share flex-parent jc-center center">
                <a role="menuitem" class="clean facebook flex-parent jc-center center" tabindex="-1" data-toggle="tooltip" data-placement="left" title="<%= t('chat.share.on', {name: 'Facebook'}) %>" >
                    <i class="icon icon-facebook-square"></i>
                </a>
            </div>
            <div role="presentation" class="share flex-parent jc-center center">
                <a role="menuitem" class="clean twitter flex-parent jc-center center" tabindex="-1" data-toggle="tooltip" data-placement="left" title="<%= t('chat.share.on', {name: 'Twitter'}) %>" >
                    <i class="icon icon-twitter-square"></i>
                </a>
            </div>
            <div role="presentation" class="share flex-parent jc-center center">
                <a role="menuitem" class="clean googleplus flex-parent jc-center center" tabindex="-1" data-toggle="tooltip" data-placement="left" title="<%= t('chat.share.on', {name: 'Google'}) %>" >
                    <i class="icon icon-google-plus-square"></i>
                </a>
            </div>
        </div>

        <div class="links flex-parent center">
            <% if(group.website) { %>
                <a class="link" href="<%= group.website.href %>" target="_blank"><%= group.website.title %></a>
            <% } %>

            <span class="link"><%= t('group.created-at') %> <%= created %></span>
            <span class="link flex-parent center"><i class="icon users-icon mr5"></i> <%= group.members_count %></span>

        </div>

        <% if(group.description) { %>
            <div class="description"><%= group.description %></div>
        <% } %>

        <div class="users flex-parent center">

            <!--Display owner-->
            <div class="flex-parent column owner">
                <span class="title"><%= t('group.creator') %></span>
                <div class="flex-parent center">
                    <% var identifier = '@' + group_users.owner.username + (group_users.owner.realname ? ' ('+ group_users.owner.realname +')' : '')  %>
                    <img class="avatar open-user-profile curp" data-user-id="<%= group_users.owner.user_id %>" src="<%= group_users.owner.avatar %>" title="<%= identifier %>" data-toggle="tooltip" data-placement="top" />
                    <span class="username">@<%=group_users.owner.username%></span>
                </div>
            </div>

            <!--Display op-->
            <% if(group_users.op.length > 0) { %>
                <div class="flex-parent column">
                    <span class="title"><%= t('group.moderators') %> <span class="count"><%=group_users.op.length%></span></span>
                    <div class="flex-parent center">
                        <% var count = 0; %>
                        <%_.find(group_users.op, function (u) { %>
                        <% var identifier = '@' + u.username + (u.realname ? ' ('+ u.realname +')' : '')  %>
                        <img class="avatar open-user-profile curp" data-user-id="<%= u.user_id %>" src="<%= u.avatar %>" title="<%= identifier %>" data-toggle="tooltip" data-placement="top" />
                        <% count ++; %>
                        <% if (count === 6) { %><i class="icon ellipsis-icon"></i><% return true; } %>
                        <% }); %>
                    </div>
                </div>
            <% } %>

            <!--Display members-->
            <% if ((isMember || isOwner) && !isBanned) { %>
                <% if(group_users.members.length > 0) { %>
                    <div class="flex-parent column">
                        <span class="title"><%= t('group.members') %> <span class="count"><%= (group.members_count - group_users.op.length - 1)%></span></span>
                        <div class="flex-parent center">
                            <% var count = 0; %>
                            <%_.find(group_users.members, function (u) { %>
                                <% var identifier = '@' + u.username + (u.realname ? ' ('+ u.realname +')' : '')  %>
                                <img class="avatar open-user-profile curp" data-user-id="<%= u.user_id %>" src="<%= u.avatar %>" title="<%= identifier %>" data-toggle="tooltip" data-placement="top" />
                                <% count ++; %>
                                <% if (count === 6) { %><i class="icon ellipsis-icon"></i><% return true; } %>
                            <% }); %>
                        </div>
                    </div>
                <% } %>
            <% } %>

            <div class="flex-child"></div>

            <div class="action-ctn flex-parent <%=statusClass%>">
                <!--Banned message-->
                <% if (isBanned) { %>
                    <span class="banned-message"><%= t('messages.groupban') %></span>
                <% } else { %>
                    <span class="donut-button transparent toggle-collapse">
                        <i class="icon i-icon show-is-member show-is-not-member"></i>
                        <i class="icon icon-owner show-is-owner"></i>
                        <i class="icon deop-icon show-is-op"></i>
                        <i class="icon icon-star cl-warning show-is-admin"></i>
                    </span>

                    <% if (isOwner || isOp || isMember) { %>
                        <!--Create a donut-->
                        <span class="curp open-create-room donut-button black" data-group-id="<%=group.group_id%>" data-group-name="<%=group.name%>"><%= t('buttons.create-discussion') %></span>
                    <% } else { %>
                        <!--Ask membership button for non members-->
                        <span class="curp group-join donut-button black"><%= t('group.ask-membership') %></span>
                    <% } %>
                <% } %>
            </div>
        </div>

        <div class="flex-child"></div>
    </div>
</div>

<div class="header-below <%=statusClass%>">
    <span class="arrow"></span>
    <div class="block-ctn flex-parent center">
        <div class="group-icon-ctn flex-parent jc-center center">
            <div class="group-icon"></div>
        </div>

        <% if (isBanned) { %>
            <div class="text">
                <%= t('messages.groupban-at', {at: banned_at}) %>
                <% if (reason) { %>
                    <%= t('messages.reason') %>
                    <br/>
                    <span class="reason"><em><%- reason %></em></span>
                <% } %>
            </div>
            <div class="flex-child"></div>
            <div class="actions">
                <span class="donut-button transparent toggle-collapse curp"><i class="icon icon-times"></i></span>
            </div>

        <% } else if (isOwner || isOp || isAdmin) { %>
            <div class="text">
                <% if (isOwner) { %>
                    <%= t('group.default-owner') %>
                <% } else if (isOp) { %>
                    <%= t('group.default-op') %>
                <% } else { %>
                    <%= t('group.default-admin') %>
                <% } %>
            </div>
            <div class="flex-child"></div>
            <div class="actions">
                <span type="button" class="curp donut-button gray open-group-users mr15" data-group-id="<%= group.group_id %>" ><%= t('group.manage') %></span>
                <span type="button" class="curp donut-button gray open-group-users-allowed" data-group-id="<%= group.group_id %>"><%= t('buttons.invites')%></span>
                <span class="donut-button transparent toggle-collapse curp"><i class="icon icon-times"></i></span>
            </div>

        <% } else if (isMember) { %>
            <div class="text"><%= t('group.default-member') %></div>
            <div class="flex-child"></div>
            <div class="actions">
                <span class="donut-button transparent toggle-collapse curp"><i class="icon icon-times"></i></span>
            </div>

        <% } else { %>
            <div class="text">
                <% if (group.disclaimer) { %>
                    <p><%= t('group.disclaimer-start') %><strong><span class="open-user-profile fs15 dc-text" data-user-id="<%=group.owner_id %>"></span></strong></p>
                    <p class="mt10"><em><%= t('group.disclaimer', {username: group.owner_username ,disclaimer: group.disclaimer}) %></em></p>
                <% } else { %>
                    <p><%= t('group.default-disclaimer') %></p>
                <% } %>
            </div>
            <div class="flex-child"></div>
            <div class="actions">
                <span class="donut-button transparent toggle-collapse curp"><i class="icon icon-times"></i></span>
            </div>
        <% } %>
    </div>
</div>

<div class="cards-content flex-parent column jc-center center mt30 mb30">
    <div class="filters flex-parent center jc-center">
        <span data-type="rooms" class="curp filter-action active"><%= t('global.rooms') %></span>
        <span data-type="users" class="curp filter-action"><%= t('group.members') %></span>
    </div>
    <div class="cards">
        <div class="toggle-cards rooms"><!--Cards list--></div>
        <div class="toggle-cards users hidden"><!--Cards list--></div>
    </div>
    <!--<button class="load-more btn btn-pink btn-big center-block mt20 mb20 hidden"><%= t('landing.loadmore') %></button>-->
</div>