<div class="content">
    <div class="header room flex-parent">
        <div class="overlay-ctn relative">
            <img class="avatar group open-group-profile curp" data-group-id="<%= group.group_id %>" src="<%= group.avatarUrl %>" alt="<%= group.identifier %> avatar">
            <span class="group-type img-circle dc-back dc-text-contrast">
                <i class="icon icon-users"></i>
            </span>
            <div class="members fs16 text-center">
                <%= t('global.members', { count: group.members.length }) %>
            </div>
        </div>
        <div class="info">
            <div class="name open-group-profile curp" data-group-id="<%= group.group_id %>">
                <%= group.name %>
            </div>
            <div class="dropdown">
                <button class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <i class="icon icon-chevron-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <!--<li role="presentation">-->
                        <!--<a role="menuitem" tabindex="-1" href="<%= group.url %>" target="_blank" title="<%= group.name %> <%= t('global.permalink') %>">-->
                            <!--<i class="icon icon-link"></i> <%= t('global.permalink') %>-->
                        <!--</a>-->
                    <!--</li>-->
                    <% if (isOwner || isAdmin ) { %>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="open-group-edit" data-group-id="<%= group.group_id %>">
                            <i class="icon icon-pencil"></i> <%= t('global.edit') %>
                        </a>
                    </li>
                    <% }; %>
                    <% if (isOp || isOwner || isAdmin) { %>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="open-group-access" data-group-id="<%= group.group_id %>">
                            <i class="icon icon-public"></i> <%= t('chat.access.link') %>
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="open-group-users" data-group-id="<%= group.group_id %>">
                            <i class="icon icon-users"></i> <%= t('chat.users.link') %>
                        </a>
                    </li>
                    <% }; %>
                </ul>
            </div>

            <div class="owner mt5">
                <i class="icon icon-fw icon-clock-o dc-text left"></i> <%= t('profile.group.createdat') %><span class="ml5"><%= created %></span> <%= t('global.by') %> <strong><span class="open-user-profile fs15 dc-text" data-user-id="<%=group.owner_id %>">@<%=group.owner_username%></span></strong>
            </div>

            <% if(group.website) { %>
                <div class="permalink mt5">
                    <i class="icon icon-fw icon-link dc-text"></i> <a class="colored dc-text" href="<%= group.website.href %>" target="_blank"><%= group.website.title %></a>
                </div>
            <% } %>

            <div class="description fs18 mt5">
                <%= group.description %>
            </div>
        </div>
    </div>

    <% if (isMember && !isBanned) { %>
    <div class="members mt10 alert alert-success">
        <div class="actions">
            <p class="fl-left"><%= t('group.default-member') %></p>
            <% if (isOwner || isOp || isAdmin) { %>
                <div class="pull-right mt5 ml5">
                    <input type="button" class="btn btn-block btn-primary open-group-access" data-group-id="<%= group.group_id %>" value="<%= t('group.invite') %>" />
                </div>
            <% } %>
            <div class="pull-right mt5">
                <span class="curp open-create-room btn-block btn btn-primary" data-group-id="<%=group.group_id%>" data-group-name="<%=group.name%>"><%= t('actions.create') %></span>
            </div>
        </div>
    </div>
    <% } %>

    <% if (!isMember && !isBanned) { %>
        <div class="disclaimer mt10 alert alert-warning" role="alert">
            <% if (group.disclaimer) { %>
                <p><%= t('group.disclaimer-start') %><strong><span class="open-user-profile fs15 dc-text" data-user-id="<%=group.owner_id %>"></span></strong><%= t('group.disclaimer-end') %></p>
                <p class="mt10"><i class="icon icon-quote"></i> <em><%= group.disclaimer %></em></p>
            <% } else { %>
                <p><%= t('group.default-disclaimer') %></p>
            <% } %>

            <div class="pull-right mt5">
                <span class="curp btn btn-primary group-join"><%= t('group.ask-membership') %></span>
            </div>

        </div>
    <% } %>

    <% if(isBanned) { %>
        <div class="reason mt10 alert alert-danger">
            <strong><%= t('chat.blocked.groupbanned', {at: banned_at}) %></strong>
            <% if (typeof reason !== 'undefined') { %>
                <br/>
                <%= t('chat.blocked.reason') %>
                <span class="reason"><em><%- reason %></em></span>
            <% } %>
        </div>
    <% } %>


    <div class="user-list users mt10 header"></div>
    <div class="mt10 title"><%= t('global.donuts') %></div>
    <div class="cards mt10 mb30"><!--Cards list--></div>
</div>

