<div class="list <% if (search == true) { %>search<% } %>">
    <div class="title">
        <% if (search == true) { %><%= t('chat.search.userstitle') %><% } else { %><%= t('chat.home.userstitle') %><% } %>
    </div>
    <% if (users.length < 1) { %>
        <div class="nothing"><%= t('chat.search.noresults') %></div>
    <% } %>
    <% _.each(users, function(u) { %>
        <div class="item open-user-profile <%= u.status %>" data-type="room-users" data-user-id="<%= u.user_id %>" data-username="<%= u.username %>" data-toggle="tooltip" data-placement="left">
            <div class="avatar" style="background-image:url(<%= u.avatar %>)"></div>
        </div>
    <% }); %>
</div>