<div class="rollup-container"></div>
<div class="typing-container"></div>
<div class="text-container">
    <div class="overlay">
        <span class="overlay-text">
            <% if (confirmed === true) { %>
            <%= bannedMessage %>
            <%} else { %>
            <%= t('chat.actions.bannedMessage.confirm') %>
            <% } %>
        </span>
    </div>
    <div class="text flex-parent jc-center center">
        <% if (avatar) { %><img class="avatar" src="<%= avatar %>"><% } %>
        <textarea class="editable" maxlength="512" placeholder="<%= t('chat.room-discussion.input-placeholder') %>"></textarea>
        <a class="images add-image ml20"><i class="icon picture-icon"></i></a>
        <a class="images add-file ml20"><i class="icon files-icon dc-text"></i></a>
        <a class="images add-smiley ml20"><i class="icon smileys-icon dc-text"></i></a>
        <a class="send">
            <i class="icon send-icon ml20"></i>
        </a>
    </div>
</div>
<div class="preview">
    <a class="add-image"><i class="icon more-icon"></i></a>
</div>