<div id="join-options">
    <div class="button-options">
        <button type="button" id="button-request" class="change-option btn btn-default"><%= t('chat.joingroup.options.request.button') %></button>
        <button type="button" id="button-password" class="change-option btn btn-default"><%= t('chat.joingroup.options.password.button') %></button>
        <button type="button" id="button-mail" class="change-option btn btn-default"><%= t('chat.joingroup.options.mail.button') %></button>
    </div>
    <div class="alert alert-success join-success"></div>
    <div class="alert alert-danger join-error"></div>
    <div class="join-mail">
        <div class="info-option"><%= t('chat.joingroup.options.mail.info') %></div>
        <input type="text" class="form-control input-join-mail" placeholder="">
        <% if (data.allowed_domains && data.allowed_domains.length) { %>
        <select class="join-domain">
            <% _.each(data.allowed_domains, function(domain) { %>
                <option value="<%= domain %>"><%= domain %></option>
            <% }); %>
        </select>
        <% } %>
        <div class="buttons">
            <button type="button" class="confirm-mail btn btn-default"><%= t('chat.joingroup.options.mail.confirm') %></button>
        </div>
    </div>
    <div class="join-request">
        <div class="info-option"><%= t('chat.joingroup.options.request.info') %></div>
        <textarea id="big-input-textarea" class="form-control input-join-request" rows="5" maxlength="200" placeholder="<%= t('chat.joingroup.options.request.placeholder') %>"></textarea>
        <div class="buttons">
            <button type="button" class="confirm-request btn btn-default"><%= t('chat.joingroup.options.request.confirm') %></button>
        </div>
    </div>
    <div class="join-password">
        <div class="info-option"><%= t('chat.joingroup.options.password.info') %></div>
        <input id="input-password" class="form-control input-join-password" type="password" placeholder="">
        <div class="buttons">
            <button type="button" class="confirm-password btn btn-default"><%= t('chat.joingroup.options.password.confirm') %></button>
        </div>
    </div>
</div>