<% if (markup.type === 'room') { %>
<a class="mention open-room-profile" data-room-id="<%= markup.id %>" style="<%= options.style %>">
<%= markup.title %>
</a>
<% } else if (markup.type === 'user') { %>
<a class="mention open-user-profile" data-user-id="<%= markup.id %>" style="<%= options.style %>">
<%= markup.title %>
</a>
<% } else if (markup.type === 'url') { %>
<a class="url" href="<%= markup.href %>" target="_blank" style="<%= options.style %>">
<%= markup.title %>
</a>
<% } else if (markup.type === 'email') { %>
<a class="email" href="<%= markup.href %>" style="<%= options.style %>">
<%= markup.title %>
</a>
<% } else if (markup.type === 'group') { %>
<a class="mention open-group-profile" data-group-id="<%= markup.id %>" href="<%= markup.href %>" style="<%= options.style %>">
    <%= markup.title %>
</a>
<% } %>