<div class="modal-header flex-parent cikumn jc-center center">
    <div class="ctn"><%= t('choose-username.title') %></div>
    <span class="curp close-modal" data-dismiss="modal" aria-label="Close"><i class="icon icon-times"></i></span>
</div>
<div class="modal-body">
    <div class="alert alert-success success" style="display: none"></div>
    <div class="alert alert-danger error" style="display: none"></div>

    <div class="form-horizontal input mb20">
        <div class="question"><%= t('choose-username.description') %></div>

        <input type="text" class="form-control input-username" placeholder="<%= t('login.username-placeholder') %>">
        <div class="help mt10"><%= t('choose-username.help') %></div>
    </div>
    <div class="mt20 flex-parent column jc-center center">
        <button type="button" class="btn btn-default submit"><%= t('global.validate') %></button>
    </div>
</div>