<% var nbOptions = (data.hasPassword ? 1 : 0) + (data.allow_user_request ? 1 : 0); %>

<div class="modal-header">
    <h4 class="modal-title"><%= t('chat.joinroom.title', {identifier: data.identifier}) %>
        <span data-dismiss="modal" aria-label="Close"><i class="icon icon-times"></i></span>
    </h4>
</div>

<div id="join-group" class="modal-body">

    <div class="alert alert-success success mt10" style="display: none"></div>
    <div class="alert alert-danger error mt10" style="display: none"></div>

    <p class="message mb20"><%= t('chat.joinroom.message') %></p>
    <% if (data.owner_username && data.disclaimer) { %>
        <div class="disclaimer mb20">
            <%= t('chat.joinroom.disclaimer', {username: data.owner_username}) %>
            <br/>
            <em><%= data.disclaimer %></em>
        </div>
    <% } %>


    <div id="join-options">

        <!--Display has tab panes if more than one option-->
        <% if (nbOptions > 1) { %>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-pills flex-parent center jc-space-around mb20" role="tablist">
                <% if(data.allow_user_request) { %>
                    <li role="presentation" class="active"><a href="#groupjoin-request" aria-controls="groupjoin-request" role="tab" data-toggle="tab"><%= t('chat.joingroup.options.request.button') %></a></li>
                <% } %>

                <% if(data.hasPassword) { %>
                <li role="presentation"><a href="#groupjoin-password" aria-controls="groupjoin-password" role="tab" data-toggle="tab"><%= t('chat.joingroup.options.password.button') %></a></li>
                <% } %>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

        <% } %>

        <% var active = ''  %>
        <% if(data.allow_user_request) { %>
        <% var active = ( nbOptions >= 1 ? 'active' : '' ) %>
        <div role="tabpanel" class="tab-pane <%= active %>" id="groupjoin-request">
            <div class="join-request">
                <% if (!data.isAllowedPending) { %>
                <p><%= t('chat.joinroom.options.request.info') %></p>
                <div class="mr20 ml20">
                    <textarea class="form-control input-request mt20"  rows="5" maxlength="200" placeholder="<%= t('chat.joingroup.options.request.placeholder') %>"></textarea>
                </div>
                <div class="flex-parent mt20 mr20 ml20 jc-center center">
                    <button type="button" class="confirm-request btn btn-default"><%= t('chat.joingroup.options.request.confirm') %></button>
                </div>
                <% } else { %>
                    <p><%= t('chat.joinroom.allowedpending') %></p>
                <% } %>
            </div>
        </div>
        <% } %>

        <% if(data.hasPassword) { %>
        <% var active = ( (nbOptions === 1 || !data.allow_user_request) ? 'active' : '' ) %>
        <div role="tabpanel" class="tab-pane <%= active %>" id="groupjoin-password">

            <div class="join-password">
                <p><%= t('chat.joingroup.options.password.info') %></p>
                <div class="mr20 ml20">
                    <input class="form-control input-password mt20" type="password" placeholder="<%= t('chat.joingroup.options.password.placeholder') %>">
                </div>
                <div class="flex-parent mt20 mr20 ml20 jc-center center">
                    <button type="button" class="confirm-password btn btn-default"><%= t('chat.joingroup.options.password.confirm') %></button>
                </div>
            </div>

        </div>
        <% } %>

        <% if (nbOptions > 1) { %>
            </div><!--/.tab-content-->
        <% } %>

        <% if(nbOptions === 0) { %>
        <div class="join-other">
            <% if (!data.isAllowedPending) { %>
                <p><%= t('chat.joinroom.options.other') %></p>
            <% } else { %>
                <p><%= t('chat.joinroom.allowedpending') %></p>
            <% } %>
        </div>
        <% } %>

    </div><!--/#join-options-->
</div>