<% var nbOptions = (data.allowed_domains ? 1 : 0) + (data.password ? 1 : 0) + (data.request ? 1 : 0); %>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon icon-times"></i></span></button>
    <h4 class="modal-title"><%= t('chat.joingroup.title', {identifier: data.identifier}) %></h4>
</div>
<div id="join-group" class="modal-body">

    <div class="alert alert-success success mt10" style="display: none"></div>
    <div class="alert alert-danger error mt10" style="display: none"></div>

    <div class="message mb10"><%= t('chat.joingroup.message') %></div>
    <% if (data.owner_username && data.disclaimer) { %>
        <div class="disclaimer alert alert-warning"><%= t('chat.joingroup.disclaimer', {username: data.owner_username ,disclaimer: data.disclaimer}) %></div>
    <% } %>


    <div id="join-options">

        <!--Display has tab panes if more than one option-->
        <% if (nbOptions > 1) { %>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <% if(data.request) { %>
                <li role="presentation" class="active"><a href="#groupjoin-request" aria-controls="groupjoin-request" role="tab" data-toggle="tab"><%= t('chat.joingroup.options.request.button') %></a></li>
            <% } %>

            <% if(data.password) { %>
                <li role="presentation"><a href="#groupjoin-password" aria-controls="groupjoin-password" role="tab" data-toggle="tab"><%= t('chat.joingroup.options.password.button') %></a></li>
            <% } %>

            <% if(data.allowed_domains) { %>
                <li role="presentation"><a href="#groupjoin-email" aria-controls="groupjoin-email" role="tab" data-toggle="tab"><%= t('chat.joingroup.options.email.button') %></a></li>
            <% } %>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

        <% } %>

            <% var active = ''  %>
            <% if(data.request) { %>
                <% var active = ( nbOptions >= 1 ? 'active' : '' ) %>
                <div role="tabpanel" class="tab-pane <%= active %>" id="groupjoin-request">
                    <div class="join-request">
                        <% if (!data.isAllowedPending) { %>
                            <div class="info-option"><%= t('chat.joingroup.options.request.info') %></div>
                            <textarea class="form-control input-request"  rows="5" maxlength="200" placeholder="<%= t('chat.joingroup.options.request.placeholder') %>"></textarea>
                            <button type="button" class="confirm-request btn btn-primary pull-right"><%= t('chat.joingroup.options.request.confirm') %></button>
                            <div class="clearfix"></div>
                        <% } else { %>
                            <%= t('chat.joingroup.allowedpending') %>
                        <% } %>
                    </div>
                </div>
            <% } %>

            <% if(data.password) { %>
            <% var active = ( (nbOptions === 1 || !data.request) ? 'active' : '' ) %>
                <div role="tabpanel" class="tab-pane <%= active %>" id="groupjoin-password">

                    <div class="join-password">
                        <div class="info-option"><%= t('chat.joingroup.options.password.info') %></div>
                        <input class="form-control input-password" type="password" placeholder="<%= t('chat.joingroup.options.password.placeholder') %>">
                        <button type="button" class="confirm-password btn btn-primary pull-right"><%= t('chat.joingroup.options.password.confirm') %></button>
                        <div class="clearfix"></div>
                    </div>

                </div>
            <% } %>

            <% if(data.allowed_domains) { %>
            <% var active = ( nbOptions === 1 ? 'active' : '' ) %>
                <div role="tabpanel" class="tab-pane <%= active %>" id="groupjoin-email">

                    <div class="join-email form-horizontal">
                        <div class="info-option"><%= t('chat.joingroup.options.email.info') %></div>

                        <div class="form-group form-inline">
                            <label class="col-sm-2 control-label"><%= t('chat.joingroup.options.email.placeholder') %></label>
                            <div class="col-sm-10 flex-parent">
                                <input type="text" class="form-control input-email flex-child mr5" placeholder="<%= t('chat.joingroup.options.email.placeholder') %>">
                                <% if (data.allowed_domains && data.allowed_domains.length) { %>
                                <select class="select-domain form-control">
                                    <% _.each(data.allowed_domains, function(domain) { %>
                                    <option value="<%= domain %>"><%= domain %></option>
                                    <% }); %>
                                </select>
                                <% } %>
                            </div>
                        </div>
                        <button type="button" class="confirm-email btn btn-primary pull-right"><%= t('chat.joingroup.options.email.confirm') %></button>
                        <div class="clearfix"></div>
                    </div>

                </div>
            <% } %>

        <% if (nbOptions > 1) { %>
        </div><!--/.tab-content-->
        <% } %>

        <% if(nbOptions === 0) { %>
            <div class="join-other">
                <% if (!data.isAllowedPending) { %>
                    <%= t('chat.joingroup.options.other') %>
                <% } else { %>
                    <%= t('chat.joingroup.allowedpending') %>
                <% } %>
            </div>
        <% } %>

    </div><!--/#join-options-->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('global.close') %></button>
</div>