<% _.each(listGroups, function(item) { %>
<li class="group <% if (item.focused) { %> active <% } %>" data-type="group" data-group-id="<%= item.id %>">
    <% if(item.rooms.length !== 0) { %>
        <i class="icon icon-fw toggle-icon curp" data-toggle="collapse" data-target="#collapseRoomlist-<%= item.id %>" aria-expanded="true" aria-controls="collapseRoomlist-<%= item.id %>"></i>
    <% } %>
    <span class="item flex-parent center">
        <a class="clean avatar-ctn item center flex-parent jc-center" href="<%= item.uri %>" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
            <img src="<%= item.avatar %>" class="avatar" alt="<%= item.identifier %> avatar">
        </a>
        <a class="clean flex-child" href="#g/<%- item.name %>" data-group-id="<%- item.id %>">
            #<%= item.name %>
        </a>
        <% if (item.unviewed === true) { %>
            <span class="icon icon-circle unread cl-first fs10"></span>
        <% } %>
        <% if(item.rooms.length === 0) { %>
            <a href="#" class="ml5 mr5 close-group" data-group-id="<%- item.group_id %>">
                <i class="icon hover icon-times" title="<%= t('global.close') %>"></i>
            </a>
        <% } else { %>
            <ul class="roomlist collapse" id="collapseRoomlist-<%= item.id %>">
                <% _.each(item.rooms, function(room){ %>
                    <li class="grouped room-type <% if (item.focused) { %> active <% } %>" data-room-id="<%= item.id %>">
                        <span class="item flex-parent center <% if (item.blocked) { %> blocked <% } %>">
                            <a class="clean name-ctn  " href="<%= item.uri %>" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
                                <span class="name"><span>/</span><%= item.name %></span>
                            </a>
                            <% if (item.unviewed === true) { %>
                                <span class="icon icon-circle unread cl-first fs10"></span>
                            <% } %>
                        </span>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </span>
</li>
<% }); %>