<% if(list.length) { %>
<li class="title">ROOMS</li>
<% var lastGroup = null %>
<% var isGrouped = false %>
<% var firstUngrouped = true %>
<% _.each(list, function(item) { %>
<% isGrouped = false %>
<% if (item.group !== null) { %>
<% isGrouped = true %>
<% } %>
<% if (item.group !== lastGroup ) { %>
<% lastGroup = item.group %>
<% if (item.group !== null) { %>
<li class="group">
    <a class="clean" href="#" data-group="<%- item.group %>">
        <%= item.group %>
    </a>
</li>
<% } %>
<% } %>
<% if(firstUngrouped && !isGrouped) { %>
<% firstUngrouped = false %>
<li class="mt20">
    <% } else { %>
<li>
    <% } %>
            <span class="item flex-parent center <% if (isGrouped) { %> grouped <% } %><% if (item.focused) { %> active <% } %> <% if (item.blocked) { %> blocked <% } %>">
                <a class="clean name-ctn hidden-xs hidden-sm" href="<%= item.uri %>" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
                    <% if(isGrouped) { %>
                    <span class="name">/<%= item.name.replace('#', '') %></span>
                    <% } else { %>
                    <span class="name"><span>#</span><%= item.name.replace('#', '') %></span>
                    <% } %>
                </a>

                <% if (item.newuser === true || item.newmention === true || item.unviewed === true) { %>
                    <span class="icon icon-circle unread cl-peter_river fs10"></span>
                <% } %>

                <a href="#" class="close-discussion hidden-xs hidden-sm" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>"></a>
            </span>

</li>
<% }); %>
<% } %>