<% var lastGroup = null; %>
<% _.each(list, function(item) { %>
<% if (item.group_id && item.group_id !== lastGroup) { %>
<li class="group">
    <a class="clean" href="#group/<%- item.group_name %>" data-group-id="<%- item.group_id %>">
        #<%= item.group_name %>
    </a>
</li>
<% } %>
<li>
    <span class="item flex-parent center <% if (item.group_id) { %> grouped <% } %><% if (item.focused) { %> active <% } %> <% if (item.blocked) { %> blocked <% } %>">
        <a class="clean name-ctn hidden-xs hidden-sm" href="<%= item.uri %>" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
            <% if (item.group_id) { %>
            <span class="name"><%= item.name.replace('#', '') %></span>
            <% } else { %>
            <span class="name"><span>#</span><%= item.name.replace('#', '') %></span>
            <% } %>
        </a>
        <% if (item.newuser === true || item.newmention === true || item.unviewed === true) { %>
            <span class="icon icon-circle unread cl-peter_river fs10"></span>
        <% } %>
        <a href="#" class="close-discussion hidden-xs hidden-sm" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>"></a>
    </span>
</li>
<% lastGroup = item.group_id; %>
<% }); %>