<% var count = 0; %>
<% var more = false; %>

<% _.each(list, function(item) { %>
    <% if(count === toggleCount) { %>
        <% more = true; %>
        <li class="more curp">
            <%= t('chat.navroom.seemore') %>
        </li>
    <% } %>

    <li class="<% if (more) { %> additional <% } %> <% if (item.focused) { %> active <% } %>" data-type="one" data-one-id="<%= item.id %>">
        <span class="item center flex-parent jc-center <% if (item.blocked) { %> blocked <% } %>">
            <a class="clean avatar-ctn item center flex-parent jc-center" href="<%= item.uri %>" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
                <img src="<%= item.avatar %>" class="avatar" alt="<%= item.identifier %> avatar">
            </a>
            <a class="clean name-ctn  " href="<%= item.uri %>" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
                <span class="name"><span>@</span><%= item.username %></span>
            </a>

            <a href="#" class="ml5 mr5 close-discussion  " data-type="<%= item.type %>" data-identifier="<%= item.user_id %>">
                <i class="icon hover icon-times" title="<%= t('global.close') %>"></i>
            </a>

            <% if (item.unviewed === true) { %>
                <span class="icon icon-circle unread cl-first fs10 mr5"></span>
            <% } %>
        </span>
    </li>

    <% count++ %>
<% }); %>

<% if(more) { %>
    <% more = false; %>
    <li class="less curp">
        <%= t('chat.navroom.seeless') %>
    </li>
<% } %>
