<p class="topic-current">
    <span class="txt" title=""></span>
</p>
<div class="form-inline topic-form">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default cancel" type="button"><%= t('global.cancel') %></button>
        </span>
        <input type="text" class="form-control topic-input" placeholder="<%= t('chat.topic.placeholder') %>" value="" maxlength="512">
        <span class="input-group-btn">
            <button class="btn btn-primary submit dc-text-contrast dc-back" type="submit"><%= t('global.change') %></button>
        </span>
    </div>
</div>
<a href="#" class="open-room-users visible-xs visible-sm dc-back" data-room-id="<%= roomId %>">
    <i class="icon icon-users dc-text-contrast"></i>
</a>