<div class="count ml15"><%= t('chat.room-discussion.userscount', {count: count}) %></div>

<ul class="list ml15 mt20">
    <% var previous; %>
    <% _.each(list, function(user) { %>
    <li data-user-id="<%=user.user_id%>" class="li-user curp" >
        <% previous = user.status; %>
        <div class="item <% if (user.is_op === true) { %>op<% }; %> <% if (user.is_owner === true) { %>owner<% }; %> <% if (user.is_devoice === true) { %> devoice<% }; %> <%= user.status %>" title="@<%- user.username %>" >
            <span class="infos relative">
                <span class="circle user-status <%= user.status %>" title="<%= user.status %>"></span>
                <span class="avatar relative curp" title="<% if (user.is_op === true) { %><%= t('chat.op.is') %><% } else if (user.is_owner === true) { %><%= t('chat.owner.is') %><% }; %>">
                    <span class="background" style="background-image: url(<%= user.avatar %>)"></span>
                </span>
                <span class="username ml5">@<%=user.username%></span>
            </span>
        </div>
    </li>
    <% }); %>

    <% if(count > maxDisplayed) { %>
        <li class="see-more open-room-users curp" data-room-id="<%= room_id %>"><i class="icon icon-fw icon-ellipsis"></i> <span><%= t('chat.room-discussion.see-all') %></span></li>
    <% } %>
</ul>

