<% var previous; %>
<% _.each(list, function(user) { %>
    <li data-user-id="<%=user.user_id%>" class="li-user" >
        <% previous = user.status; %>
        <div class="item <% if (user.is_op === true) { %>op<% }; %> <% if (user.is_owner === true) { %>owner<% }; %> <% if (user.is_devoice === true) { %> devoice<% }; %> <%= user.status %>" title="@<%- user.username %>" >
            <span class="infos relative">
                <span class="userstatus <%= user.status %>" title="<%= user.status %>"></span>
                <span class="avatar relative" title="<% if (user.is_op === true) { %><%= t('chat.op.is') %><% } else if (user.is_owner === true) { %><%= t('chat.owner.is') %><% }; %>">
                    <span class="background" style="background-image: url(<%= user.avatar %>)"></span>
                </span>
            </span>
        </div>
    </li>
<% }); %>

<li class="clearfix"></li>

<li class="li-title text-center mt5">
    <div class="item">
        <a class="open-room-users title btn btn-default btn-sm" data-room-id="<%= room_id %>">
            <%= t('chat.users.label') %>
        </a>
    </div>
</li>

<li class="li-title text-center mt5 hidden-compact">
    <div class="item count dc-text-contrast"><%= t('chat.userscount', {count: 0}) %></div>
</li>


