<% if (replace) { %>
    <div class="list <% if (typeof(search) !== 'undefined' && search === true) { %>search<% } %>">
        <% if (title) { %>
            <div class="title flex-child alone">
                <% if (search == true) { %><%= t('chat.search.roomstitle') %><% } else { %><%= t('chat.home.roomstitle') %><% } %>
            </div>
        <% } %>
        <% if (rooms.length < 1) { %>
            <div class="nothing mt20 mb20"><%= t('chat.search.noresults') %></div>
        <% } %>
<% } %>

    <% _.each(rooms, function(card) { %>
        <% var _color = card.color ? card.color.replace('#', '').toLowerCase() : 'default' %>
        <div class="room dc-i-<%= _color %>">
            <div class="mini-card hidden">
                <div class="flex-parent">
                    <div class="avatar" style="background-image:url(<%= card.avatar %>)"></div>
                    <% if(card.is_group) { %>
                    <span class="label label-group label-sm dc-back dc-text-contrast"><%= t('global.group') %></span>
                    <% } %>
                    <div class="ctn">
                        <span class="name">
                            <a href="<%= card.url %>" class="flex-parent column"><%= card.identifier %></a>
                        </span>
                        <% if (!card.is_group) { %>
                            <div class="room-profile label label-mode label-sm" data-toggle="tooltip" data-placement="top" title="<%= t('global.mode.description.' + card.mode) %>">
                                <%= t('global.mode.title.' + card.mode) %>
                            </div>
                        <% } %>
                        <a class="dc-text" href="<%= card.join %>">
                            <%= t('actions.join') %>
                            <% if (card.users > 0) { %><%= card.users %><% } %>
                            <i class="icon icon-user-custom"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="cover">
                <div class="avatar relative" style="background-image:url(<%= card.avatar %>)">
                    <% if (!card.is_group) { %>
                    <div class="room-profile label label-mode label-sm" data-toggle="tooltip" data-placement="top" title="<%= t('global.mode.description.' + card.mode) %>">
                        <%= t('global.mode.title.' + card.mode) %>
                    </div>
                    <% } %>
                    <% if(card.is_group) { %>
                    <span class="label label-group label-sm dc-back dc-text-contrast"><%= t('global.group') %></span>
                    <% } %>
                </div>
                <div class="top">
                    <div class="ctn">
                        <span class="name">
                            <a href="<%= card.url %>" class="flex-parent column"><%= card.identifier %></a>
                        </span>
                        <% if (card.owner_id) { %>
                            <span class="owner"><%= t('global.by') %> <a href="<%= card.owner_url %>" class="dc-text">@<%= card.owner_username %></a></span>
                        <% } %>
                    </div>
                    <!-- p class="topic"><%= card.topic %></p -->
                    <p class="join dc-back">
                        <a class="dc-text-contrast" href="<%= card.join %>" data-dismiss="modal">
                            <%= t('actions.join') %>
                            <% if (card.users > 0) { %><%= card.users %><% } %>
                            <i class="icon icon-user-custom"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="back dc-back dc-text-contrast">
                <div class="ctn">
                    <% if(card.is_group) { %>
                    <p class="name dc-text-contrast open-group-profile" data-dismiss="modal" data-group-id="<%= card.group_id %>">
                        <a class="dc-text-contrast flex-parent column" href="<%= card.url %>"><%= card.identifier %></a>
                    </p>
                    <% } else { %>
                    <p class="name dc-text-contrast open-room-profile" data-dismiss="modal" data-room-id="<%= card.room_id %>">
                        <a class="dc-text-contrast flex-parent column" href="<%= card.url %>"><%= card.identifier %></a>
                    </p>
                    <% } %>
                    <% if (card.owner_id) { %>
                        <p class="owner"><%= t('global.by') %> <a href="<%=card.owner_url%>" class="open-user-profile dc-text-contrast" data-user-id="<%= card.owner_id %>">@<%= card.owner_username %></a></p>
                    <% } %>
                    <p class="description">
                        <% if(card.is_group) { %>
                            <%- card.disclaimer %>
                        <% } else { %>
                            <%= card.description %>
                        <% } %>
                    </p>
                </div>
                <p class="join dc-back dc-back-hover">
                    <a class="dc-text-contrast" href="<%= card.join %>">
                        <%= t('actions.join') %>
                        <% if (card.users > 0) { %><%= card.users %><% } %>
                        <i class="icon icon-user-custom"></i>
                    </a>
                </p>
            </div>
        </div>
    <% }); %>

<% if (replace) { %>
    </div>
<% } %>