<div class="message <% if (data.viewed == false) { %>unread<% } %>" data-notification-id="<%= data.id %>" data-time="<%= data.time %>">
    <img src="<%= data.avatar %>" alt="<%= data.data.user.username %>" />
    <div class="avatar open-user-profile" data-username="<%= data.data.user.username %>" style="background-image: url(<%= data.data.user.avatar %>)"></div>
    <div class="message-subject">
        <span class="username open-user-profile" data-username="<%= data.data.user.username %>">@<%= data.data.user.username %></span>
        <a href="#">
            <%= t('notifications.deop') %>
        </a>
        <span class="name open-room-profile" data-room-name="<%= data.data.name %>"><%= data.data.name %></span>
    </div>
    <div class="message-description unviewed">
        par <span class="username open-user-profile" data-username="<%= data.data.by_user.username %>">@<%= data.data.by_user.username %></span>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.time %>"><%= from_now %></span></div>
    </div>
</div> <!-- / .message -->