<div class="color-picker">
    <input type="hidden" class="input" name="<%= name %>" value="<%= color %>">
    <div class="preview" style="background-color: <%= color %>;"></div>
    <span class="hexadecimal"><%= color %></span>
    <div class="picker">
        <% _.each(colors, function(c) { %>
            <div class="color" data-color="<%= c %>" style="background-color: <%= c %>; width: 15px; height: 15px; margin: 2px; float: left;"></div>
        <% }); %>
        <a class="close-picker"><%= t('global.close') %> <i class="icon icon-times-circle-o"></i></a>
    </div>
</div>