<a href="javascript:;" class="avatar open-user-profile hidden-xs hidden-sm" data-username="<%= username %>">
    <img src="<%= avatar %>" alt="<%= username %> avatar">
    <div class="overlay hidden-sm hidden-xs"></div>
    <span class="overlay-text hidden-sm hidden-xs"><%= t('chat.actions.see') %></span>
    <span class="title hidden-sm hidden-xs">
        <span class="username">
            @<%= username %>
        </span>
    </span>
    <span class="selected"></span>
    <span class="arrow"></span>
</a>

<ul class="sub-menu hidden-sm hidden-xs">
    <li>
        <div class="connection">
            <i class="icon icon-circle status <%= status %>"></i><span class="user-status hidden-sm hidden-xs"><%= t('global.'+status) %></span>
        </div>
    </li>
    <li>
        <div class="dropdown dropdown-user-actions">
            <button class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="settingsDropdown">
                <i class="icon icon-chevron-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="settingsDropdown">
                <li role="presentation"><a role="menuitem" tabindex="-1" class="open-user-account"><i class="icon icon-pencil"></i> <%= t('chat.actions.account') %></a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" class="open-user-edit"><i class="icon icon-pencil"></i> <%= t('chat.actions.edit') %></a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" class="open-user-preferences"><i class="icon icon-bell"></i> <%= t('chat.actions.preferences') %></a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout"><i class="icon icon-power-off"></i> <%= t('actions.logout') %></a></li>
            </ul>
        </div>
    </li>
</ul>


<!--Only for responsive-->
<a href="#" class="avatar dropdown-toggle visible-xs visible-sm" data-toggle="dropdown" aria-expanded="false" role="button">
    <img src="<%= avatar %>" alt="@<%= username %> avatar">
</a>
<ul class="sub-menu dropdown-menu visible-xs visible-sm">
    <li>
        <span class="title">
            <span class="username">
                @<%= username %>
            </span>
        </span>
        <div class="connection hidden-sm hidden-xs">
            <i class="icon icon-circle status <%= status %>"></i><span class="user-status hidden-sm hidden-xs"><%= t('global.'+status) %></span>
        </div>
    </li>
    <li>
        <div class="dropdown dropdown-user-actions">
            <ul class="dropdown-menu" role="menu" aria-labelledby="settingsDropdown">
                <li role="presentation"><a role="menuitem" tabindex="-1" class="open-user-account"><i class="icon icon-pencil"></i> <%= t('chat.actions.account') %></a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" class="open-user-edit"><i class="icon icon-pencil"></i> <%= t('chat.actions.edit') %></a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" class="open-user-preferences"><i class="icon icon-bell"></i> <%= t('chat.actions.preferences') %></a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout"><i class="icon icon-power-off"></i> <%= t('actions.logout') %></a></li>
            </ul>
        </div>
    </li>
</ul>

<!--<div class="avatar">-->
    <!--<img src="<%= avatar %>" alt="<%= username %> avatar">-->
    <!--<div class="overlay"></div>-->
    <!--<span class="overlay-text hidden-sm hidden-xs"><%= t('chat.actions.see') %></span>-->
    <!--<div data-username="<%= username %>" class="open-user-profile"></div>-->
<!--</div>-->
<!--<div class="content">-->
    <!--<div class="username open-user-profile hidden-sm hidden-xs" data-username="<%= username %>">-->
        <!--@<%= username %>-->
    <!--</div>-->
    <!--<div class="connection" title="<%= t('global.'+status) %>">-->
        <!--<i class="icon icon-circle status <%= status %>" data-placement="right" data-toggle="popover" data-trigger="focus" data-content="<%= t('global.'+status) %>"></i><span class="hidden-sm hidden-xs"> <%= t('global.'+status) %></span>-->
    <!--</div>-->
<!--</div>-->

<!--<script type="application/javascript">-->
    <!--$(function () {-->
        <!--$('[data-toggle="popover"]').popover({trigger: 'hover', container:'body', placement: 'right', template: '<div class="popover hidden-lg hidden-md" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'});-->
    <!--})-->
<!--</script>-->