<div class="avatar">
    <img src="<%= avatar %>" alt="<%= username %> avatar">
    <div class="overlay"></div>
    <span class="overlay-text"><%= t('chat.actions.see') %></span>
    <div data-username="<%= username %>" class="open-user-profile"></div>
</div>
<div class="content">
    <div class="username open-user-profile" data-username="<%= username %>">
        @<%= username %>
    </div>
    <div class="connection">
        <i class="icon icon-circle status <%= status %>" title="<%= t('global.'+status) %>"></i> <%= t('global.'+status) %>
    </div>
    <div class="dropdown">
        <button class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="settingsDropdown">
            <i class="icon icon-chevron-down"></i>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="settingsDropdown">
            <li role="presentation"><a role="menuitem" tabindex="-1" class="open-user-account"><i class="icon icon-pencil"></i> <%= t('chat.actions.account') %></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" class="open-user-edit"><i class="icon icon-pencil"></i> <%= t('chat.actions.edit') %></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" class="open-user-preferences"><i class="icon icon-bell"></i> <%= t('chat.actions.preferences') %></a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout"><i class="icon icon-power-off"></i> <%= t('actions.logout') %></a></li>
        </ul>
    </div>
</div>
