<div class="hello">
    <%= hello %>
    <i class="icon icon-dot-circle-o status <%= status %>" title="<%= status %>"></i>
</div>
<div class="avatar">
    <img class="open-user-profile" data-username="<%= username %>" src="<%= avatar %>" alt="<%= username %> avatar">
    <div class="edit open-user-edit">
        <%= t('global.edit') %>
        <i class="icon icon-pencil-square-o"></i>
    </div>
</div>
<div class="content">
    <div class="actions">
        <a class="open-user-account"><i class="icon icon-cog"></i> <%= t('actions.account') %></a>
        <a href="/logout"><i class="icon icon-power-off"></i> <%= t('actions.logout') %></a>
        <% if (typeof mute != 'undefined' && mute) { %>
        <a class="unmute"><i class="icon icon-bell-slash"></i> <%= t('actions.muted') %></a>
        <% } else { %>
        <a class="mute"><i class="icon icon-bell"></i> <%= t('actions.mute') %></a>
        <% } %>
    </div>
</div>
