<ul>
    <% _.each(list, function(item) { %>
    <li class="hidden-xs hidden-sm">
        <a href="<%= item.uri %>" class="item <% if (item.focused) { %>active<% }; %>" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
            <img src="<%= item.avatar %>" class="avatar" alt="<%= item.identifier %> avatar">
            <span class="ctn">
                <% if (item.type == 'room') { %>
                <span class="name"><span>#</span><%= item.name.replace('#', '') %></span>
                <% } else { %>
                <span class="name"><span>@</span><%= item.username %></span>
                <% } %>

                <% if (item.newuser == true || item.newmention == true || item.newmessage == true) { %>
                <span class="unread">
                    <% if (item.newuser == true) { %><i class="icon icon-user-custom"></i><% } %>
                    <% if (item.newmention == true) { %><i class=" icon-atxx">@</i><% } %>
                    <% if (item.newmessage == true) { %><i class="icon icon-envelope"></i><% } %>
                </span>
                <% } %>

                <i class="icon icon-times-circle-o close-discussion" title="Close this discussion"></i>
            </span>
            <span class="selected"></span>
        </a>
        </li>
        <li class="visible-xs visible-sm">
        <div class="dropdown-toggle item <% if (item.focused) { %>active<% }; %> visible-xs visible-sm" data-toggle="dropdown" role="button" aria-expanded="false">
            <img src="<%= item.avatar %>" class="avatar" alt="<%= item.identifier %> avatar">
            <a class="aname" href="<%= item.uri %>" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
                <% if (item.type == 'room') { %>
                <span class="name"><span>#</span><%= item.name.replace('#', '') %></span>
                <% } else { %>
                <span class="name"><span>@</span><%= item.username %></span>
                <% } %>
            </a>
            <span class="selected"></span>
            <ul class="<% if (item.focused) { %>active<% }; %> ctn dropdown-menu item"  data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
                <li>
                    <a href="<%= item.uri %>" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>"><i class="icon icon-eye" title="View this discussion"></i> Voir la discussion</a>
                </li>
                <li>
                    <a href="#" class="close-discussion"><i class="icon icon-times-circle-o" title="Close this discussion"></i> Close this discussion</a>
                </li>
                <li>
                    <% if (item.newuser == true || item.newmention == true || item.newmessage == true) { %>
                            <span class="unread">
                                <% if (item.newuser == true) { %><i class="icon icon-user-custom"></i><% } %>
                                <% if (item.newmention == true) { %><i class=" icon-atxx">@</i><% } %>
                                <% if (item.newmessage == true) { %><i class="icon icon-envelope"></i><% } %>
                            </span>
                    <% } %>
                </li>
            </ul>
        </div>
    </li>
    <% }); %>

</ul>