<div class="side" style="<% if (poster) { %>background-image: url(<%= poster %>);<% }; %>" data-colorify-background="color">
    <div class="blur" style="<% if (posterblured) { print('background-image: url(' + posterblured + ');'); } %>" data-colorify-background="darker">
        <div class="users"><!-- users view --></div>
    </div>
</div><!-- /.side -->
<div class="content">
    <div class="header room">
        <div class="overlay-ctn">
            <img class="avatar open-room-profile" data-room-name="<%= name %>" src="<%= avatar %>" alt="<%= name %> avatar">
            <div class="overlay open-room-profile" data-room-name="<%= name %>" ></div>
            <span class="overlay-text open-room-profile" data-room-name="<%= name %>" ><%= t('chat.actions.see') %></span>
        </div>
        <div class="info">
            <div class="name open-room-profile" data-room-name="<%= name %>"><%= name %></div>
            <div class="dropdown">
                <button class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <i class="icon icon-chevron-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="<%= url %>" target="_blank" title="<%= name %> <%= t('global.permalink') %>">
                            <i class="icon icon-link"></i> <%= t('global.permalink') %>
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="open-room-profile" data-room-name="<%= name %>">
                            <i class="icon icon-eye"></i> <%= t('global.viewprofile') %>
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="open-room-preferences" data-room-name="<%= name %>">
                            <i class="icon icon-bell"></i> <%= t('chat.actions.notifications') %>
                        </a>
                    </li>
                    <% if (isOwner === true || isOp === true || isAdmin === true) { %>
                    <li role="presentation" class="divider"></li>
                    <% }; %>
                    <% if (isOwner === true || isAdmin === true) { %>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="open-room-edit" data-room-name="<%= name %>">
                            <i class="icon icon-pencil"></i> <%= t('global.edit') %>
                        </a>
                    </li>
                    <% }; %>
                    <% if (isOwner === true || isOp === true || isAdmin === true) { %>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="open-room-users" data-room-name="<%= name %>">
                            <i class="icon icon-users"></i> <%= t('chat.users.link') %>
                        </a>
                    </li>
                    <% }; %>
                </ul>
            </div>
            <% if (owner && owner.username) { %>
            <div class="owner"><%= t('global.by') %> <a class="open-user-profile" data-username="<%= owner.username %>" data-colorify-text="color">@<%= owner.username %></a></div>
            <% } %>
            <div class="share">
                <%= t('chat.share.label') %>
                <i class="facebook icon icon-facebook-square"></i>
                <i class="twitter icon icon-twitter-square"></i>
                <i class="googleplus icon icon-google-plus-square"></i>
            </div>
        </div>
        <div class="topic"><!-- topic view --></div>
    </div>
    <div class="events"><!--/events view--></div>
    <!-- div class="truc" style="background-color: #ff41de; width: 30px; height: 5px; position: absolute; right: 5px; z-index: 200px;"></div -->
    <div class="input"><!-- input view --></div>
</div><!-- /.content -->