<% _.each(list, function(item) { %>
    <a href="<%= item.uri %>" class="item <% if (item.focused) { %>active<% }; %>" data-type="<%= item.type %>" data-identifier="<%= item.identifier %>">
        <img src="<%= item.avatar %>" class="avatar" alt="<%= item.identifier %> avatar">
        <span class="ctn">
            <% if (item.type == 'room') { %>
            <span class="name"><span>#</span><%= item.name.replace('#', '') %></span>
            <% } else { %>
            <span class="name"><span>@</span><%= item.username %></span>
            <% } %>

            <% if (item.newuser == true || item.newmention == true || item.newmessage == true) { %>
            <span class="unread">
                <% if (item.newuser == true) { %><i class="icon icon-user-custom"></i><% } %>
                <% if (item.newmention == true) { %><i class=" icon-atxx">@</i><% } %>
                <% if (item.newmessage == true) { %><i class="icon icon-envelope"></i><% } %>
            </span>
            <% } %>

            <i class="icon icon-times-circle-o close-discussion" title="Close this discussion"></i>
        </span>
        <span class="selected"></span>
    </a>
<% }); %>