<div class="side" <% if (poster) { %>style="background-image: url(<%= poster %>);"<% }; %> data-colorify-background="color"></div>
<div class="content">
    <div class="header user">
        <img class="avatar open-user-profile" data-username="<%= username %>" src="<%= avatar %>" alt="<%= username %> avatar">
        <div class="username open-user-profile" data-username="<%= username %>">@<%= username %></div>
        <div class="status-block">
            <em></em>
            <span class="ago">(<%= t('profile.user.onlined', {time: '<span data-time="'+onlined+'"></span>'}) %>)</span>
            <i class="icon icon-circle status contrast"></i>
        </div>
        <div class="location"><%= location %></div>
        <div class="website"><%= website %></div>
    </div>
    <div class="events"><!--/events view--></div>
    <div class="input"><!-- input view --></div>
</div><!-- /.content -->