<div class="side dc-back" style="<% if (typeof poster !== 'undefined') { %>background-image: url(<%= poster %>);<% }; %>">
    <div class="blur dc-back-darker" style="<% if (typeof posterblured !== 'undefined') { %>background-image: url(<%= posterblured %>);<% }; %>">
        <div class="users hidden-sm hidden-xs">
            <div class="scrollable"></div>
        </div>
    </div>
</div><!-- /.side -->
<div class="content">
    <div class="header room">
        <div class="overlay-ctn">
            <img class="avatar open-room-profile" data-room-name="<%= name %>" src="<%= avatar %>" alt="<%= name %> avatar">
            <div class="overlay open-room-profile" data-room-name="<%= name %>" ></div>
            <span class="overlay-text open-room-profile" data-room-name="<%= name %>" ><%= t('chat.actions.see') %></span>
        </div>
        <div class="info">
            <div class="name open-room-profile hidden-xs hidden-sm" data-room-name="<%= name %>"><%= name %></div>
            <div class="name open-room-profile visible-xs visible-sm dc-text-contrast" data-room-name="<%= name %>"><%= name %></div>
            <div class="dropdown">
                <button class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <i class="icon icon-chevron-down hidden-xs hidden-sm"></i>
                    <i class="icon icon-chevron-down visible-xs visible-sm dc-text-contrast"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="<%= url %>" target="_blank" title="<%= name %> <%= t('global.permalink') %>">
                            <i class="icon icon-link"></i> <%= t('global.permalink') %>
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="open-room-profile" data-room-name="<%= name %>">
                            <i class="icon icon-eye"></i> <%= t('global.viewprofile') %>
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="open-room-preferences" data-room-name="<%= name %>">
                            <i class="icon icon-bell"></i> <%= t('chat.actions.notifications') %>
                        </a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="close-discussion" data-identifier="<%= name %>" data-type="room">
                            <i class="icon icon-times"></i> <%= t('chat.actions.close') %>
                        </a>
                    </li>
                    <% if (isOwner === true || isOp === true || isAdmin === true) { %>
                    <li role="presentation" class="divider"></li>
                    <% }; %>
                    <% if (isOwner === true || isAdmin === true) { %>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="open-room-edit" data-room-name="<%= name %>">
                            <i class="icon icon-pencil"></i> <%= t('global.edit') %>
                        </a>
                    </li>
                    <% }; %>
                    <% if (isOwner === true || isOp === true || isAdmin === true) { %>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" class="open-room-users" data-room-name="<%= name %>">
                            <i class="icon icon-users"></i> <%= t('chat.users.link') %>
                        </a>
                    </li>
                    <% }; %>
                    <li role="presentation" class="divider hidden-md hidden-lg"></li>
                    <li role="presentation" class="share hidden-md hidden-lg">
                        <a role="menuitem" class="facebook" tabindex="-1">
                            <i class="icon icon-facebook-square"></i> Facebook
                        </a>
                    </li>
                    <li role="presentation" class="share hidden-md hidden-lg">
                        <a role="menuitem" class="twitter" tabindex="-1">
                            <i class="icon icon-twitter-square"></i> Twitter
                        </a>
                    </li>
                    <li role="presentation" class="share hidden-md hidden-lg">
                        <a role="menuitem" class="googleplus" tabindex="-1">
                            <i class="icon icon-google-plus-square"></i> Google
                        </a>
                    </li>
                </ul>
            </div>
            <% if (owner && owner.username) { %>
            <div class="owner"><%= t('global.by') %> <a class="open-user-profile dc-text" data-username="<%= owner.username %>">@<%= owner.username %></a></div>
            <% } %>
            <div class="share hidden-xs hidden-sm">
                <%= t('chat.share.label') %>
                <i class="facebook icon icon-facebook-square"></i>
                <i class="twitter icon icon-twitter-square"></i>
                <i class="googleplus icon icon-google-plus-square"></i>
            </div>
        </div>
        <div class="topic"><!-- topic view --></div>
    </div>
    <div class="events"><!--/events view--></div>
    <!-- div class="truc" style="background-color: #ff41de; width: 30px; height: 5px; position: absolute; right: 5px; z-index: 200px;"></div -->
    <div class="input"><!-- input view --></div>
</div><!-- /.content -->