<div class="form-group">
    <label><%= t('chat.form.room-form.common.join-mode-label') %></label>

    <% if (mode === 'creation') { %>

        <div class="radio">
            <label>
                <input type="radio" class="savable public" name="mode" value="public" checked>
                <%= t('chat.form.room-form.common.mode.public') %> (<%= t('global.default') %>)
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" class="savable private" name="mode" value="private">
                <%= t('chat.form.room-form.common.mode.private') %>
            </label>
        </div>
        <div class="field-password" style="display:none;" >
            <label><%= t('chat.form.room-form.common.mode.password-disclaimer') %></label>
            <label style="font-weight:normal; cursor:pointer;">
                <input type="checkbox" id="input-password-checkbox" name="input-password-checkbox" />
                <%= t('chat.form.room-form.common.mode.password-protection') %>
            </label>
            <div class="password-block" style="display:none" >
                <label><%= t('chat.form.room-form.common.mode.password-field') %> : </label>
                <input type="text" class="input-password" placeholder="<%= t('chat.form.room-form.common.mode.password-field') %>" maxlength="255" value="<%= name %>" />
                <a href="#" class="icon icon-refresh random-password dc-text"></a>
            </div>
        </div>

    <% } else { %>

        <div class="radio">
            <label>
                <input type="radio" class="savable public" name="mode" value="public" <% if (join_mode === 'public') { %> checked <% } %> >
                <%= t('chat.form.room-form.common.mode.public') %> (<%= t('global.default') %>)
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" class="savable private" name="mode" value="private" <% if (join_mode === 'private') { %> checked <% } %> >
                <%= t('chat.form.room-form.common.mode.private') %>
            </label>
        </div>
        <div class="field-password" <% if (join_mode === 'public') { %> style="display:none" <% } %> >
        <label for="input-password-checkbox"><%= t('chat.form.room-form.common.mode.password-field') %> : </label>
        <input type="checkbox" id="input-password-checkbox" name="input-password-checkbox" <% if (has_password === true) { %> checked <% } %>/>
        <label><%= t('chat.form.room-form.common.mode.password-field') %> : </label>
        <input type="text" class="input-password" placeholder="<%= t('chat.form.room-form.common.mode.password-field') %>" maxlength="255" value="<%= name %>" />
        <a href="#" class="icon icon-refresh random-password dc-text"></a>
        </div>

    <% } %>

</div>
