<form class="form-mail">
    <span class="spinner"></span>
    <div class="error">
        <span class="alert-danger glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="alert-danger mail-error"></span>
    </div>
    <div class="success">
        <span class="alert-success glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="alert-success mail-success"><%= t('account.email.success') %></span>
    </div>
    <input class="email-sub form-control" type="email" placeholder="<%= t('account.email.new') %>">
    <input type="submit" class="btn btn-primary btn-xm submit-email" value="<%= t('account.email.save') %>">
</form>
