<div class="room">
    <span class="name"></span>
    <span class="owner"><%= t('global.by') %> <a class="open-user-profile dc-text colored" data-user-id=""></a></span>
</div>
<div class="user-number">
    <span><strong class="number"></strong></span>
    <span class="user-label"><%= t('chat.users.link') %></span>
</div>
<div class="search">
    <input type="text" placeholder="search">
    <i class="icon icon-search"></i>
</div>
<ul class="nav nav-pills">
    <li role="presentation"><a href="#" class="all active">all</a></li>
    <li role="presentation"><a href="#" class="Op">Op</a></li>
    <li role="presentation"><a href="#" class="Allowed">Allowed</a></li>
    <li role="presentation"><a href="#" class="Banned">Banned</a></li>
    <li role="presentation"><a href="#" class="Devoiced">Devoiced</a></li>
</ul>
<div class="table-users"></div>
<div class="paginate"></div>