<div class="user" data-colorify="<%= user.color %>">
    <span class="avatar-ctn <% if (user.isCurrent) { %>open-user-edit <% } %> <% if (user.banned) { %>is-banned <% } %>">
        <img class="avatar" src="<%= user.avatar %>" alt="<%= user.username %> avatar">
        <% if (user.isCurrent) { %>
        <span class="overlay"></span>
        <span class="overlay-text"><%= t('profile.user.edit') %></span>
        <% } %>
    </span>
    <p class="username">@<%= user.username %></p>
    <% if (user.bio) { %><p class="bio"><%= user.bio %></p><% }; %>
    <% if (user.location) { %><p class="action location"><i class="icon icon-map-marker" data-colorify-text="color" data-colorify="<%= user.color %>"></i> <%= user.location %></p><% }; %>
    <% if (user.website) { %><p class="action website"><i class="icon icon-link" data-colorify-text="color" data-colorify="<%= user.color %>"></i> <span><%= user.website %></span></p><% }; %>
    <% if (user.registered) { %><p class="action created"><i class="icon icon-clock-o" data-colorify-text="color" data-colorify="<%= user.color %>"></i> <%= t('profile.user.signuped') %> <span data-time="<%= user.registered %>"></span></p><% }; %>
    <% if (user.status != 'online' && user.onlined) { %><p class="onlined"><i class="icon icon-clock-o" data-colorify-text="color" data-colorify="<%= user.color %>"></i> <%= t('profile.user.onlined', {time: '<span data-time="'+user.onlined+'"></span>'}) %></p><% }; %>
    <p class="action permalink"><i class="icon icon-link" data-colorify-text="color" data-colorify="<%= user.color %>"></i> <a href="<%= user.url %>" target="_blank" data-colorify-text="color" data-colorify="<%= user.color %>"><%= t('profile.user.permalink') %></a></p>
    <% if (user.isCurrent) { %><p class="action edit"><a class="open-user-edit" data-username="<%= user.username %>" data-colorify-text="color" data-colorify="<%= user.color %>"><i class="icon icon-pencil"  data-colorify-text="color" data-colorify="<%= user.color %>"></i> <%= t('profile.user.editlink') %></a></p><% }; %>

    <% if (!user.isCurrent) { %>
        <!--Check if I banned this user-->
        <% if (user.banned) { %>
        <p class="action action-user-deban" style="cursor:pointer" data-uid="<%= user.user_id %>" data-colorify-text="color" data-colorify="<%= user.color %>"><i class="icon icon-ban" data-colorify-text="color" data-colorify="<%= user.color %>"></i> <%= t('chat.debanuser.infobox') %></p>
        <% } else { %>
        <p class="action action-user-ban" style="cursor:pointer" data-uid="<%= user.user_id %>" data-colorify-text="color" data-colorify="<%= user.color %>"><i class="icon icon-ban color-text-error"></i> <%= t('chat.banuser.infobox') %></p>
        <% }; %>

        <!--Check if this user banned me-->
        <% if (user.i_am_banned) { %>
        <p class="action cl-error">
            <i class="icon icon-ban cl-error"></i>
            <%= t('chat.banuser.banned-too') %>
        </p>
        <% }; %>
    <% }; %>

    <% if (user.status == 'online') { %>
    <p class="discuss"><a href="#user/<%= user.username %>" data-colorify-background="color" data-colorify-text="contrast"><%= t('actions.discuss') %></a></p>
    <% } else { %>
    <p class="offline"><a href="#user/<%= user.username %>"><%= t('global.offline') %></a></p>
    <% }; %>
    <% if (user.rooms_list.length > 0) { %>
    <div class="rooms">
        <p class="title"><i class="icon icon-empire"></i> <%= t('profile.user.hisrooms') %></p>
        <% _.each(user.rooms_list, function(room) { %>
        <div class="room open-room-profile <% if (room.oped) { %>op<% } %> <% if (room.owned) { %>owner<% } %>" data-room-name="<%= room.name %>" data-colorify="<%= room.color %>">
            <img class="avatar" src="<%= room.avatar %>" />
            <span class="name"><%= room.name %></span>
        </div>
        <% }); %>
        <hr>
    </div>
    <% } %>
</div>