<div class="room" data-colorify="<%= room.color %>">
    <span class="name"><%= room.name %></span>
    <span class="owner"><%= t('global.by') %> <a class="open-user-profile" data-username="<%= room.owner.username %>" data-colorify-text="#ffffff">@<%= room.owner.username %></a></span>
    <span class="owner"><%= t('global.by') %> <a class="open-user-profile" data-username="<%= room.owner.username %>" data-colorify-text="#ffffff">@<%= room.owner.username %></a></span>
</div>
<% if (room.owner) { %>
<div class="form-group owner">
    <label><i class="icon icon-owner"></i> <%= t('chat.users.owner.label') %></label>
    <p class="help-block"><%= t('chat.users.owner.help') %></p>
    <table>
        <tbody>
            <tr>
                <td class="avatar"><img src="<%=$.cd.userAvatar(room.owner.avatar, 20)%>"></td>
                <td class="username">@<%=room.owner.username%></td>
                <td class="actions">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<% } %>
<% if (room.op && room.op.length) { %>
<div class="form-group ops">
    <label><i class="icon icon-op"></i> <%= t('chat.users.ops.label') %></label>
    <p class="help-block"><%= t('chat.users.ops.help') %></p>
    <table>
        <tbody>
            <% _.each(room.op, function(op) { %>
            <tr>
                <td class="avatar"><img src="<%=$.cd.userAvatar(op.avatar, 20)%>"></td>
                <td class="username">@<%=op.username%></td>
                <td class="actions">
                    <div class="deop" data-toggle="confirmation" data-action="deop-user" title="<%= t('chat.deop.infobox') %>" data-username="<%= op.username %>">
                        <i class="icon icon-op"></i>
                    </div>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<% } %>
<% if (room.bans && room.bans.length) { %>
<div class="form-group bans">
    <label><i class="icon icon-ban"></i> <%= t('chat.users.bans.label') %></label>
    <p class="help-block"><%= t('chat.users.bans.help') %></p>
    <table>
        <tbody>
        <% _.each(room.bans, function(ban) { %>
        <tr>
            <td class="avatar"><img src="<%=$.cd.userAvatar(ban.avatar, 20)%>"></td>
            <td class="username">@<%=ban.username%></td>
            <td class="actions">
                <div class="deban" data-toggle="confirmation" data-action="deban-user" title="<%= t('chat.deban.infobox') %>" data-username="<%= ban.username %>">
                    <i class="icon icon-ban"></i>
                </div>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>
<% } %>
<% if (room.users && room.users.length) { %>
<div class="form-group users">
    <label><%= t('chat.users.users.label') %></label>
    <p class="help-block"><%= t('chat.users.users.help') %></p>
    <table>
        <tbody>
        <% _.each(room.users, function(user) { %>
        <tr>
            <td class="avatar"><img src="<%=$.cd.userAvatar(user.avatar, 20)%>"></td>
            <td class="username">@<%=user.username%></td>
            <td class="actions">
                <div class="op" data-toggle="confirmation" data-action="op-user" title="<%= t('chat.op.infobox') %>" data-username="<%= user.username %>">
                    <i class="icon icon-op"></i>
                </div>
                <div class="kick" data-toggle="confirmation" data-action="kick-user" title="<%= t('chat.kick.infobox') %>" data-username="<%= user.username %>">
                    <i class="icon icon-kick"></i>
                </div>
                <div class="ban" data-toggle="confirmation" data-action="ban-user" title="<%= t('chat.ban.infobox') %>" data-username="<%= user.username %>">
                    <i class="icon icon-ban"></i>
                </div>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>
<% } %>