<div class="form-group">
    <label><%= t('chat.form.room-form.common.join-mode-label') %></label>

    <% if (mode === 'creation') { %>

        <div class="radio">
            <label>
                <input type="radio" class="savable public" name="mode" value="public" checked>
                <%= t('chat.form.room-form.common.mode.public') %> (<%= t('global.default') %>)
                <br/><%= t('chat.form.room-form.mode.disclaimer.public') %>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" class="savable private" name="mode" value="private">
                <%= t('chat.form.room-form.common.mode.private') %>
                <br/><%= t('chat.form.room-form.mode.disclaimer.private') %>
            </label>
        </div>

    <% } else { %>

        <div class="radio <%= (model.mode === 'private') ? 'disabled' : '' %>">
            <label>
                <input type="radio"
                       class="savable public <%= (model.mode === 'private') ? 'disabled' : '' %>"
                       name="mode"
                       value="public"
                        <% if (model.mode === 'public') { %> checked <% } %>
                        <% if (model.mode === 'private') { %> disabled <% } %>
                />
                <%= t('chat.form.room-form.common.mode.public') %> (<%= t('global.default') %>)
                <br/><%= t('chat.form.room-form.mode.disclaimer.public') %>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" class="savable private" name="mode" value="private" <% if (model.mode === 'private') { %> checked <% } %> >
                <%= t('chat.form.room-form.common.mode.private') %>
                <br/><%= t('chat.form.room-form.mode.disclaimer.private') %>
            </label>
        </div>

        <div class="field-password radio" <% if (model.mode === 'public') { %> style="display:none;" <% } %> >
            <label><%= t('chat.form.room-form.mode.disclaimer.password') %></label>
            <label class="mt10" style="font-weight:normal; cursor:pointer;">
                <input type="checkbox" id="input-password-checkbox" name="input-password-checkbox" <% if (model.hasPassword) { %> checked <% } %> />
                <%= t('chat.form.room-form.common.mode.password-protection') %>
            </label>
            <div class="password-block form-inline mt10 flex-parent baseline space-between" <% if (!model.hasPassword) { %> style="display:none" <% } %> >
                <label><%= t('chat.form.room-form.common.mode.password-field') %> : </label>
                <input type="text"
                       class="input-password form-control ml10 mr10 flex-child"
                       placeholder="<%= (model.hasPassword ? t('chat.form.room-form.common.mode.password-keep') : t('chat.form.room-form.common.mode.password-field') ) %>"
                       maxlength="255"
                       value="" />
                <a href="#" class="icon icon-refresh random-password dc-text"></a>
            </div>
        </div>

    <% } %>

</div>
