<div class="room">
    <span class="name"><%= t('chat.create.label') %></span>
</div>
<div class="form-group">
    <p class="help-block"><%= t('chat.create.info') %></p>
</div>
<div class="field flex-parent">
    <span class="hash dc-text">#</span>
    <input type="text" class="input dc-border flex-child" placeholder="<%= t('chat.create.placeholder') %>" maxlength="24" value="<%= name %>" />
</div>
<div class="form-group">
    <p class="help-block"><%= t('chat.create.help') %></p>
</div>
<div class="field">
    <button class="submit dc-back dc-text-contrast" type="button"><%= t('chat.create.submit') %></button>
</div>
