<span class="labels"><%= t('account.password.label') %></span>
<span class="values email-user"><%= t('global.' + ((user.account.have_password) ? 'yes' : 'no')) %></span>
<a href="#" id="password-modal-link"></a>
<div class="password-form-container"></div>
<div class="error">
    <span class="alert-danger" aria-hidden="true"></span>
    <span class="alert-danger error-label"></span>
</div>
<div class="success">
    <span class="alert-success" aria-hidden="true"></span>
    <span class="alert-success success-label"><%= t('account.password.success') %></span>
</div>
<form class="form-password">
    <span class="spinner"></span>
    <input class="input-current-password form-control" type="password" placeholder="<%= t('account.password.current') %>">
    <input class="input-new-password form-control" type="password" placeholder="<%= t('account.password.new') %>">
    <input class="input-password-confirm form-control" type="password" placeholder="<%= t('account.password.confirm') %>">
    <input type="submit" class="btn btn-default submit-password" value="<%= t('global.save') %>">
    <input type="button" class="btn btn-default cancel-password" value="<%= t('global.cancel') %>">
</form>