<div class="room">
    <span class="name"><%= t('chat.form.room-form.create.label') %></span>
</div>
<div class="errors"></div>
<div class="room">
    <p class="help-block"><%= t('chat.form.room-form.create.info') %></p>
</div>
<div class="form-group">
    <div class="field flex-parent">
        <span class="hash dc-text">#</span>
        <input type="text" class="input dc-border flex-child" placeholder="<%= t('chat.form.room-form.create.placeholder') %>" maxlength="24" value="<%= name %>" />
    </div>
    <p class="help-block"><%= t('chat.form.room-form.create.help') %></p>
</div>

<div class="form-group">
    <label><%= t('chat.form.room-form.common.join-mode-label') %></label>
    <div class="radio">
        <label>
            <input type="radio" class="savable public" name="mode" value="public" checked>
            <%= t('chat.form.room-form.common.mode.public') %> (<%= t('global.default') %>)
            <br/><%= t('chat.form.room-form.mode.disclaimer.public') %>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" class="savable private" name="mode" value="private">
            <%= t('chat.form.room-form.common.mode.private') %>
            <br/><%= t('chat.form.room-form.mode.disclaimer.private') %>
        </label>
    </div>
</div>

<div class="field mt15 flex-parent jc-center center">
    <button class="submit dc-back dc-back-hover dc-text-contrast button button-big" type="button"><%= t('chat.form.room-form.create.submit') %></button>
</div>
