<div class="room">
    <span class="name"><%= room_name %></span>
    <span class="owner"><%= t('global.by') %> <a class="open-user-profile dc-text colored" data-user-id="<%= owner_id %>">@<%= owner_name %></a></span>
</div>
<div class="search dropdown">
    <label for="input-search"><%= t('chat.access.labelsearch') %></label>
    <input type="text" id="input-search" placeholder="<%= t('chat.actions.searchuser') %>">
    <i class="icon icon-search"></i>
</div>
<div class="dropdown">
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

    </ul>
</div>
<div class="allow-pending">
    <label for="table-allow-pending"><%= t('chat.access.labelpending') %></label>
    <div id="table-allow-pending"></div>
</div>
<div class="allowed">
    <label for="table-allowed"><%= t('chat.users.type.allowed') %></label>
    <div id="table-allowed"></div>
</div>