<table class="table table-striped">
    <% _.each(users, function(u, index) { %>
    <tr>
        <td class="username">
            <img src="<%= u.avatarUrl %>" class="mr5">
            <a href="#" class="colored open-user-profile" data-user-id="<%= u.user_id %>">@<%= u.username %></a>
        </td>
        <td class="actions" style="text-align: right; width: 1px;">
            <% if (u.isPending) { %>
            <div class="accept-allow" data-toggle="confirmation" data-action="accept-allow-user" title="<%= t('global.accept') %>" data-user-id="<%= u.user_id %>">
                <i class="icon icon-fw icon-check" data-toggle="tooltip" data-placement="top" title="<%= t('chat.allow.infobox.accept') %>"></i>
            </div>
            <div class="refuse-allow" data-toggle="confirmation" data-action="refuse-allow-user" title="<%= t('global.refuse') %>" data-user-id="<%= u.user_id %>">
                <i class="icon icon-fw icon-times" data-toggle="tooltip" data-placement="top" title="<%= t('chat.allow.infobox.refuse') %>"></i>
            </div>
            <% } %>
        </td>
    </tr>
    <%}); %>
    <% if(!users.length) { %>
    <tr><td><%= t('chat.rollup.results.users.empty') %></td></tr>
    <% } %>
</table>