<div class="room" data-colorify="<%= room.color %>">
    <div class="overlay-ctn">
        <img class="avatar" src="<%= room.avatar %>" alt="<%= room.name %> avatar">
        <% if (room.isOwner || room.isAdmin) { %>
        <span class="overlay open-room-edit" data-room-name="<%= room.name %>"></span>
        <span class="overlay-text open-room-edit" data-room-name="<%= room.name %>"><%= t('profile.user.edit') %></span>
        <% } %>
    </div>
    <p class="name"><%= room.name %></p>
    <p class="owner"><%= t('global.by') %> <a class="open-user-profile" data-username="<%= room.owner.username %>" data-colorify-text="#ffffff">@<%= room.owner.username %></a></p>
    <% if (room.description) { %><p class="description"><%= room.description %></p><% }; %>
    <% if (room.website) { %><p class="website"><i class="icon icon-link" data-colorify-text="#000"></i> <a href="<%= room.website.href %>" title="<%= room.website.title %>" data-colorify-text="#000"><%= room.website.title %></a></p><% }; %>
    <% if (room.created) { %><p class="created"><i class="icon icon-clock-o"  data-colorify-text="#000"></i> <%= t('profile.room.createdat') %> <span data-time="<%= room.created %>"></span></p><% }; %>
    <p class="permalink"><i class="icon icon-link"  data-colorify-text="#000"></i> <a href="<%= room.url %>" target="_blank" data-colorify-text="#000"><%= t('profile.room.permalink') %></a></p>
    <% if (room.isOwner || room.isAdmin) { %><p class="edit"><i class="icon icon-pencil" data-colorify-text="#000"></i> <a class="open-room-edit" data-room-name="<%= room.name %>"  data-colorify-text="#000"> <%= t('profile.room.editlink') %></a><p><% }; %>
    <% if (room.isOwner || room.isOp ||room.isAdmin) { %><p class="users"><i class="icon icon-users"  data-colorify-text="#000"></i> <a class="open-room-users" data-room-name="<%= room.name %>"  data-colorify-text="#000"><%= t('profile.room.editusers') %></a></p><% }; %>
</div>

<div class="room" data-colorify="<%= room.color %>">
    <p class="join">
        <a href="#room/<%= room.name.replace('#', '') %>" data-colorify-background="color" data-colorify-text="contrast">
            <%= t('actions.join') %>
            <% if (room.users && room.users.length > 0) { %><%= room.users.length %><% } %>
            <i class="icon icon-user-custom"></i>
        </a>
    </p>
</div>
<% if (room.users_list.length > 0) { %>
<div class="users">
    <p class="title"><i class="icon icon-users"></i> <%= t('profile.room.ownerops') %></p>
    <% _.each(room.users_list, function(user) { %>
    <div class="user open-user-profile <% if (user.isOwner) { %>owner<% }; %> <% if (user.isOp) { %>op<% }; %>" data-username="<%= user.username %>" data-colorify="<%= user.color %>">
        <img class="avatar" src="<%= user.avatar %>" />
        <span class="username">@<%= user.username %></span>
    </div>
    <% }); %>
    <hr>
</div>
<% } %>