<form class="form-mail">
    <span class="spinner"></span>
    <div class="error">
        <span class="alert-danger" aria-hidden="true"></span>
        <span class="alert-danger error-label"></span>
    </div>
    <div class="success">
        <span class="alert-success" aria-hidden="true"></span>
        <span class="alert-success success-label"><%= t('account.email.success') %></span>
    </div>
    <input class="email-sub form-control" type="email" placeholder="<%= t('account.email.new') %>">
    <input type="submit" class="btn btn-primary btn-xm submit-email" value="<%= t('account.email.save') %>">
</form>
