<table class="table table-striped">
    <% _.each(users, function(u, index) { %>
    <tr>
        <td class="username">
            <img src="<%= u.avatarUrl %>" class="mr5">
            <a href="#" class="colored open-user-profile" data-user-id="<%= u.user_id %>">@<%= u.username %></a>
        </td>
        <td style="border-left: solid 2px; border-right: solid 2px; width: 1px;">
            <% if(u.isOwner) { %>
            <div><i class="icon icon-fw icon-owner cl-warning" data-toggle="tooltip" data-placement="top" title="<%= t('chat.users.type.owner') %>"></i></div>
            <% } if (u.isOp) { %>
            <div><i class="icon icon-fw icon-op op" data-toggle="tooltip" data-placement="top" title="<%= t('chat.users.type.op') %>"></i></div>
            <% } if(u.isBanned) { %>
            <div><i class="icon icon-fw icon-ban" data-toggle="tooltip" data-placement="top" title="<%= t('chat.users.type.ban') %>"></i></div>
            <% } if(u.isDevoiced) { %>
            <div><i class="icon icon-fw icon-microphone-slash" data-toggle="tooltip" data-placement="top" title="<%= t('chat.users.type.devoice') %>"></i></div>
            <% } %>
        </td>
        <td class="actions" style="text-align: right; width: 1px;">
            <% if(op && !u.isOwner) { %>
                <% if(!u.isOp) { %>
                <div class="op" data-toggle="confirmation" data-action="op-user" title="<%= t('chat.op.infobox') %>" data-user-id="<%= u.user_id %>">
                    <i class="icon icon-fw icon-op" data-toggle="tooltip" data-placement="top" title="<%= t('chat.op.infobox') %>"></i>
                </div>
                <% } else { %>
                <div class="deop" data-toggle="confirmation" data-action="deop-user" title="<%= t('chat.deop.infobox') %>" data-user-id="<%= u.user_id %>">
                    <i class="icon icon-fw icon-op icon-deop" data-toggle="tooltip" data-placement="top" title="<%= t('chat.deop.infobox') %>"></i>
                </div>
                <% } %>
                <div class="kick" data-toggle="confirmation" data-action="kick-user" title="<%= t('chat.kick.infobox') %>" data-user-id="<%= u.user_id %>">
                    <i class="icon icon-fw icon-kick" data-toggle="tooltip" data-placement="top" title="<%= t('chat.kick.infobox') %>"></i>
                </div>
                <% if(!u.isBanned) { %>
                <div class="ban" data-toggle="confirmation" data-action="ban-user" title="<%= t('chat.ban.infobox') %>" data-user-id="<%= u.user_id %>">
                    <i class="icon icon-fw icon-ban" data-toggle="tooltip" data-placement="top" title="<%= t('chat.ban.infobox') %>"></i>
                </div>
                <% } else { %>
                <div class="deban" data-toggle="confirmation" data-action="deban-user" title="<%= t('chat.deban.infobox') %>" data-user-id="<%= u.user_id %>">
                    <i class="icon icon-fw icon-ban icon-deban" data-toggle="tooltip" data-placement="top" title="<%= t('chat.deban.infobox') %>"></i>
                </div>
                <% } %>
                <% if(u.isDevoiced) { %>
                <div class="voice" data-toggle="confirmation" data-action="voice-user" title="<%= t('chat.voice.infobox') %>" data-user-id="<%= u.user_id %>">
                    <i class="icon icon-fw icon-microphone" data-toggle="tooltip" data-placement="top" title="<%= t('chat.voice.infobox') %>"></i>
                </div>
                <% } else { %>
                <div class="devoice" data-toggle="confirmation" data-action="devoice-user" title="<%= t('chat.devoice.infobox') %>" data-user-id="<%= u.user_id %>">
                    <i class="icon icon-fw icon-microphone-slash" data-toggle="tooltip" data-placement="top" title="<%= t('chat.devoice.infobox') %>"></i>
                </div>
                <% } %>
            <% } %>
        </td>
    </tr>
    <%}); %>
</table>