<div class="dropdown">
    <button class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <i class="icon icon-chevron-down hidden-xs hidden-sm"></i>
        <i class="icon icon-chevron-down visible-xs visible-sm dc-text-contrast"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="<%= data.url %>" target="_blank" title="<%= data.name %> <%= t('global.permalink') %>">
                <i class="icon icon-link"></i> <%= t('global.permalink') %>
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" class="open-room-profile" data-room-name="<%= data.name %>">
                <i class="icon icon-eye"></i> <%= t('global.viewprofile') %>
            </a>
        </li>
        <li role="presentation" class="divider"></li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" class="open-room-preferences" data-room-name="<%= data.name %>">
                <i class="icon icon-bell"></i> <%= t('chat.actions.notifications') %>
            </a>
        </li>
        <% if (data.isOwner === true || data.isAdmin === true) { %>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" class="open-room-edit" data-room-name="<%= data.name %>">
                <i class="icon icon-pencil"></i> <%= t('global.edit') %>
            </a>
        </li>
        <% }; %>
        <% if (data.isOwner === true || data.isOp === true || data.isAdmin === true) { %>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" class="open-room-users" data-room-name="<%= data.name %>">
                <i class="icon icon-users"></i> <%= t('chat.users.link') %>
            </a>
        </li>
        <% }; %>
        <li role="presentation" class="divider hidden-md hidden-lg"></li>
        <li role="presentation" class="share hidden-md hidden-lg">
            <a role="menuitem" class="facebook" tabindex="-1">
                <i class="icon icon-facebook-square"></i> Facebook
            </a>
        </li>
        <li role="presentation" class="share hidden-md hidden-lg">
            <a role="menuitem" class="twitter" tabindex="-1">
                <i class="icon icon-twitter-square"></i> Twitter
            </a>
        </li>
        <li role="presentation" class="share hidden-md hidden-lg">
            <a role="menuitem" class="googleplus" tabindex="-1">
                <i class="icon icon-google-plus-square"></i> Google
            </a>
        </li>
        <li role="presentation" class="divider"></li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" class="close-discussion" data-identifier="<%= data.name %>" data-type="room">
                <i class="icon icon-times"></i> <%= t('chat.actions.close') %>
            </a>
        </li>
    </ul>
</div>
