<div class="scrollable">
    <div class="scrollable-content">
        <div class="pad"><i class="icon icon-spinner icon-spin"></i></div>
        <div class="loader">
            <span class="help">
                <i class="icon icon-arrow-circle-o-up arrow"></i>
                <%= t('chat.history.help') %>
                <i class="icon icon-arrow-circle-o-up arrow"></i>
            </span>
            <span class="loading">
                <%= t('chat.history.loading') %>
            </span>
            <span class="no-more">
                <%= t('chat.history.nomore') %>
            </span>
        </div>
        <div class="blank"></div>
        <div class="realtime">
            <% if (model.type == 'room') { %>
            <div class="hello block hidden-xs">
                <div class="event">
                    <div class="text"><i class="icon icon-hello"></i> <%= t('chat.welcome.room', {name: model.name}) %></div>
                </div>
            </div>
            <% } else if (model.type == 'onetoone') { %>
            <div class="hello block hidden-xs">
                <div class="event">
                    <div class="text"><i class="icon icon-hello"></i> <%= t('chat.welcome.onetoone', {username: model.username}) %></div>
                </div>
            </div>
            <% }; %>
        </div>
    </div>
</div>
<div class="go-to-top">
    <a><i class="icon icon-arrow-circle-o-up"></i> <%= t('chat.history.top') %></a>
</div>
<div class="go-to-bottom">
    <a><i class="icon icon-arrow-circle-o-down"></i> <%= t('chat.history.bottom') %> <span class="unread"><%= $.t('chat.unread.title') %></span></a>
</div>
