<% if (type == 'date') { %>
<div class="date">
    <i class="fa fa-calendar"></i> <%= day %>
</div>
<% } else if (type =='disconnected') { %>
<div class="block disconnected">
    <div class="event" id="<%= data.id %>">
        <div class="text"><div class="picto disconnected"></div> <%= t('chat.notifications.disconnected') %></div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.full %>"><%= data.fromnow %></span></div>
    </div>
</div>
<% } else if (type =='reconnected') { %>
<div class="block reconnected">
    <div class="event" id="<%= data.id %>">
        <div class="text"><div class="picto connected"></div> <%= t('chat.notifications.reconnected') %></div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.full %>"><%= data.fromnow %></span></div>
    </div>
</div>
<% } else if (type =='room:topic') { %>
<div class="block topic">
    <div class="event" id="<%= data.id %>" data-time="<%= data.time %>">
        <div class="text">
            <div class="avatar open-user-profile" data-username="<%= data.username %>" style="background-image: url(<%= data.avatar %>)"></div>
            <span class="username open-user-profile" data-username="<%= data.username %>">@<%= data.username %></span>
            <%= t('chat.notifications.topic') %> "<%- data.topic %>"
        </div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.full %>"><%= data.fromnow %></span></div>
    </div>
</div>
<% } else if (type =='room:kick') { %>
<div class="block kick">
    <div class="event" id="<%= data.id %>" data-time="<%= data.time %>">
        <div class="text">
            <div class="picto kick"></div>
            <div class="avatar open-user-profile" data-username="<%= data.username %>" style="background-image: url(<%= data.avatar %>)"></div>
            <span class="username open-user-profile" data-username="<%= data.username %>">@<%= data.username %></span>
            <%= t('chat.notifications.kick') %>
            <div class="avatar open-user-profile" data-username="<%= data.by_username %>" style="background-image: url(<%= data.by_avatar %>)"></div>
            <span class="username open-user-profile" data-username="<%= data.by_username %>">@<%= data.by_username %></span>
            <% if (data.reason) { %> : '<%= data.reason %>'<% }; %>
        </div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.full %>"><%= data.fromnow %></span></div>
    </div>
</div>
<% } else if (type =='room:op') { %>
<div class="block op">
    <div class="event" id="<%= data.id %>" data-time="<%= data.time %>">
        <div class="text">
            <div class="picto op"></div>
            <div class="avatar open-user-profile" data-username="<%= data.username %>" style="background-image: url(<%= data.avatar %>)"></div>
            <span class="username open-user-profile" data-username="<%= data.username %>">@<%= data.username %></span> <%= t('chat.notifications.op') %>
            <div class="avatar open-user-profile" data-username="<%= data.by_username %>" style="background-image: url(<%= data.by_avatar %>)"></div>
            <span class="username open-user-profile" data-username="<%= data.by_username %>">@<%= data.by_username %></span>
        </div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.full %>"><%= data.fromnow %></span></div>
    </div>
</div>
<% } else if (type =='room:deop') { %>
<div class="block deop">
    <div class="event" id="<%= data.id %>" data-time="<%= data.time %>">
        <div class="text">
            <div class="picto deop"></div>
            <div class="avatar open-user-profile" data-username="<%= data.username %>" style="background-image: url(<%= data.avatar %>)"></div>
            <span class="username open-user-profile" data-username="<%= data.username %>">@<%= data.username %></span> <%= t('chat.notifications.deop') %>
            <div class="avatar open-user-profile" data-username="<%= data.by_username %>" style="background-image: url(<%= data.by_avatar %>)"></div>
            <span class="username open-user-profile" data-username="<%= data.by_username %>">@<%= data.by_username %></span>
        </div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.full %>"><%= data.fromnow %></span></div>
    </div>
</div>
<% } else if (type == 'room:message' || type == 'user:message') { %>
    <% if (withBlock) { %>
    <div class="block message" data-username="<%= data.username %>">
        <div class="avatar open-user-profile" data-username="<%= data.username %>" style="background-image: url(<%= data.avatar %>)"></div>
        <div class="username open-user-profile" data-username="<%= data.username %>">@<%= data.username %></div>
        <div class="items">
    <% } %>
            <div class="event <% if (isNew) { print('new'); } %>" id="<%= data.id %>" data-time="<%= data.time %>">
                <div class="text"><%= data.message %></div>
                <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.full %>"><%= data.fromnow %></span></div>
            </div>
    <% if (withBlock) { %>
        </div>
    </div>
    <% } %>
<% } else if (type == 'user:online' || type == 'user:offline' || type =='room:in' || type == 'room:out') { %>
    <% if (withBlock) { %>
        <div class="block inout">
            <div class="items">
    <% } %>
    <% if (type == 'user:online') { %>
    <div class="event online" data-time="<%= data.time %>" title="<%= data.username %> <%= t('chat.notifications.online') %> <% print(moment().format('HH:mm:ss')) %>" id="<%= data.id %>" data-time="<%= data.time %>">
        <div class="text">
            <div class="avatar open-user-profile" data-username="<%= data.username %>" style="background-image: url(<%= data.avatar %>)"></div>
            <div class="picto connected"></div>
            <div class="username open-user-profile" data-username="<%= data.username %>">@<%= data.username %></div>
        </div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.full %>"><%= data.fromnow %></span></div>
    </div>
    <% } else if (type == 'user:offline') { %>
    <div class="event offline" data-time="<%= data.time %>" title="<%= data.username %> <%= t('chat.notifications.offline') %> <% print(moment().format('HH:mm:ss')) %>" id="<%= data.id %>" data-time="<%= data.time %>">
        <div class="text">
            <div class="avatar open-user-profile" data-username="<%= data.username %>" style="background-image: url(<%= data.avatar %>)"></div>
            <div class="picto disconnected"></div>
            <div class="username open-user-profile" data-username="<%= data.username %>">@<%= data.username %></div>
        </div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.full %>"><%= data.fromnow %></span></div>
    </div>
    <% } else if (type =='room:in') { %>
    <div class="event in" data-time="<%= data.time %>" title="<%= data.username %> <%= t('chat.notifications.in') %> <% print(moment().format('HH:mm:ss')) %>" id="<%= data.id %>" data-time="<%= data.time %>">
        <div class="text">
            <div class="avatar open-user-profile" data-username="<%= data.username %>" style="background-image: url(<%= data.avatar %>)"></div>
            <div class="picto in"></div>
            <div class="username open-user-profile" data-username="<%= data.username %>">@<%= data.username %></div>
        </div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.full %>"><%= data.fromnow %></span></div>
    </div>
    <% } else if (type == 'room:out') { %>
    <div class="event out" data-time="<%= data.time %>" title="<%= data.username %> <%= t('chat.notifications.out') %> <% print(moment().format('HH:mm:ss')) %> <% if (data.reason == 'disconnect') { %>(disconnected)<% } %>" id="<%= data.id %>" data-time="<%= data.time %>">
        <div class="text">
            <div class="avatar open-user-profile" data-username="<%= data.username %>" style="background-image: url(<%= data.avatar %>)"></div>
            <div class="picto out"></div>
            <div class="username open-user-profile" data-username="<%= data.username %>">@<%= data.username %></div>
        </div>
        <div class="date"><span class="moment" data-time="<%= data.time %>" title="<%= data.full %>"><%= data.fromnow %></span></div>
    </div>
    <% } %>
    <% if (withBlock) { %>
            </div>
        </div>
    <% } %>
<% } %>