<div class="list <% if (search == true) { %>search<% } %>">
    <div class="title">
        <% if (search == true) { %><%= t('chat.search.userstitle') %><% } else { %><%= t('chat.home.userstitle') %><% } %>
    </div>
    <% if (users.length < 1) { %>
        <div class="nothing"><%= t('chat.search.nouser') %></div>
    <% } %>
    <% _.each(users, function(u) { %>
        <% var bgColor = txtColor = ''; %>
        <% if (u.color) {
        bgColor = "background-color: "+u.color;
        txtColor = "color: "+u.color;
        }; %>
        <div class="item open-user-profile <%= u.status %>" data-bgcolor="<%= bgColor %>" data-type="room-users" data-txtcolor="<%= txtColor %>" data-username="<%= u.username %>" data-user-id="<%= u.user_id %>" data-toggle="tooltip" data-placement="left">
            <!--<div class="username" style="<%= bgColor %>">@<%= u.username %></div>-->
            <div class="avatar" style="background-image:url(<%= u.avatar %>)"></div>
        </div>
    <% }); %>
</div>