<div class="text-container">
    <div class="text">
        <textarea class="editable" maxlength="512"></textarea>
        <% if (avatar) { %><img class="avatar" src="<%= avatar %>"><% } %>
        <div class="actions">
            <a class="images add-image" data-colorify-text="color"><i class="fa fa-camera"></i></a>
            <a class="images add-smiley" data-colorify-text="color"><i class="fa fa-smile-o"></i></a>
        </div>
        <a class="send" data-colorify-background="color" data-colorify-border="color"><img src="/images/input-arrow.svg" alt="send message"></a>
    </div>
</div>
<div class="preview">
    <a class="add-image"><i class="fa fa-plus"></i></a>
</div>