<div class="rollup-container"></div>
<div class="text-container">
    <div class="overlay">
        <span class="overlay-text">
            <%= bannedMessage %>
        </span>
    </div>
    <div class="text">
        <textarea class="editable" maxlength="512" id="main-input"></textarea>
        <% if (avatar) { %><img class="avatar" src="<%= avatar %>"><% } %>
        <div class="actions">
            <a class="images add-image" data-colorify-text="color"><i class="icon icon-camera"></i></a>
            <a class="images add-smiley" data-colorify-text="color"><i class="icon icon-smile-o"></i></a>
        </div>
        <a class="send" data-colorify-background="color" data-colorify-border="color"><img src="/images/input-arrow.svg" alt="send message"></a>
    </div>
</div>
<div class="preview">
    <a class="add-image"><i class="icon icon-plus"></i></a>
</div>