<div class="messages-list-ctn">
    <div class="messages-list" id="main-navbar-messages" style="overflow: hidden; width: auto; height: 250px;">
        <div class="message">
            <img src="https://res.cloudinary.com/roomly/image/upload/b_rgb:782235,c_fill,d_user-avatar-default.png,f_jpg,g_face,h_30,w_30/user-avatar-default" alt="" class="message-avatar">
            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            <div class="message-description">
                from <span class="username open-user-profile" data-username="michel">@michel</span>
                &nbsp;&nbsp;-&nbsp;&nbsp;
                2h ago
            </div>
        </div> <!-- / .message -->

        <div class="message">
            <img src="https://res.cloudinary.com/roomly/image/upload/b_rgb:782235,c_fill,d_user-avatar-default.png,f_jpg,g_face,h_30,w_30/user-avatar-default" alt="" class="message-avatar">
            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
            <div class="message-description">
                from <span class="username open-user-profile" data-username="michel">@michel</span>
                &nbsp;&nbsp;-&nbsp;&nbsp;
                2h ago
            </div>
        </div> <!-- / .message -->
    </div>
    <a href="#" class="messages-link">MORE MESSAGES</a>
</div>