<% if (list.length > 0) { %>
<div class="list">
    <% _.each(list, function(one) { %>
    <a href="#user/<%= one.username %>" class="item <% if (one.focused) { %>active<% }; %> <% if (one.unread > 0) {%>unread<%}; %>" data-username="<%= one.username %>">
        <img src="<%= one.avatar %>" class="avatar" alt="<%= one.username %> avatar">
        <% if (one.unread > 0) { %>
        <span class="unread"><%= one.unread %></span>
        <% }; %>
        <span class="name"><span>@</span><%= one.username %></span>
        <i class="fa fa-times-circle-o close-onetoone" data-username="<%= one.username %>" title="Close this discussion"></i>
    </a>
    <% }); %>
</div>
<% }; %>