<div id="chat_input_tab_ui" class="tab_complete_ui">
    <div id="chat_input_tab_ui_header" class="tab_complete_ui_header"><span class="header_label"><%= t('chat.rollup.header.'+type) %></span>
        <span class="header_help"><strong>tab</strong>&nbsp; or &nbsp;<strong>↑</strong> <strong>↓</strong>&nbsp; to navigate <strong class="left_margin">↵</strong>&nbsp; to select <strong class="left_margin">esc</strong>&nbsp; to dismiss</span>
    </div>
    <div id="monkey_scroll_wrapper_for_chat_input_tab_ui_scroller" class="monkey_scroll_wrapper ">
        <div class="monkey_scroll_hider " style="width: 100%;">
            <div id="chat_input_tab_ui_scroller" class="tab_complete_ui_scroller monkey_scroller">
                <% var nb = 0; %>
                <ul class="type_<%= type %>">
                <% if (type === 'users') { %>
                    <% _.each(results, function(result) { %>
                    <li class="tab_complete_ui_item <%= nb == 0 ? 'active' : '' %>" data-index="<%= nb %>">
                        <% if (type === 'users') { %>
                        <img class="avatar" src="<%= result.avatarUrl %>">
                        <span class="username value">@<%= result.username  %></span><span class="presence <%= result.status %>"></span>
                        <span class="realname"><%= result.bio  %></span>
                        <% }); %>
                        <% if (type === 'rooms') { %>
                        <img class="avatar" src="<%= result.avatarUrl %>">
                        <span class="name value"><%= result.name %></span>
                        <% }); %>
                        <% if (type === 'commands') { %>
                        <div class="cmd-left-td">
                            <span class="name value">/<%= result.name %></span>
                            <span class="args"><%= result.arguments %></span>
                        </div>
                        <div class="cmd-right-td"><span class="cmddesc"><span class="cmdtype"></span> <%= result.description %></span>
                        </div>
                        <% }); %>
                    </li>
                    <% nb++; %>
                    <% }); %>
                <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>