<% var previous; %>
<% _.each(list, function(user) { %>
<% if (previous && previous != user.status) { %>
<div class="title">Utilisateurs hors ligne</div>
<% } %>
<% previous = user.status; %>
<div class="item <% if (user.is_op === true) { %>op<% }; %> <% if (user.is_owner === true) { %>owner<% }; %> <%= user.status %>">
    <div class="infos">
        <div class="avatar open-user-profile" data-username="<%= user.username %>"  style="background-image: url(<%= user.avatar %>)" title="<% if (user.is_op === true) { %><%= t('chat.op.is') %><% } else if (user.is_owner === true) { %><%= t('chat.owner.is') %><% }; %>"></div>
        <div class="username open-user-profile" data-username="<%= user.username %>" title="<%= t('global.'+user.status) %>">@<%= user.username %></div>
    </div>
    <% if (isAdmin === true || (!user.is_owner && (isOp === true || isOwner === true))) { %>
    <div class="actions">
        <div class="open-user-profile" data-username="<%= user.username %>" title="view user profile">
            <i class="fa fa-user"></i>
        </div>
        <% if (user.is_op === true) { %>
        |
        <div class="deop-user" title="<%= t('chat.deop.infobox') %>" data-username="<%= user.username %>">
            <img src="/images/deop.png">
        </div>
        <% } else { %>
       |
        <div class="op-user" title="<%= t('chat.op.infobox') %>" data-username="<%= user.username %>">
            <img src="/images/op.png">
        </div>
        <% }; %>
        |
        <div class="kick-user" title="<%= t('chat.kick.infobox') %>" data-username="<%= user.username %>">
            <img src="/images/kick-w.png">
        </div>
    </div>
    <% }; %>
</div>
<% }); %>