<div class="list">
    <% _.each(list, function(room) { %>
    <% var uriName = room.name.replace('#', ''); %>
    <a href="#room/<%= uriName %>" class="item <% if (room.focused) { %>active<% }; %> <% if (room.unread > 0) {%>unread<%}; %>" data-name="<%= room.name %>">
        <img src="<%= room.avatar %>" class="avatar" alt="<%= room.name %> avatar">
        <% if (room.unread > 0) { %>
        <span class="unread"><%= room.unread %></span>
        <% }; %>
        <span class="name"><span>#</span><%= room.name.replace('#', '') %></span>
        <i class="fa fa-times-circle-o close-room" data-name="<%= room.name %>" title="Close this discussion"></i>
    </a>
    <% }); %>
</div>