<% var previous; %>
<% _.each(list, function(user) { %>
    <li>
        <% if (previous && previous != user.status) { %>
            <div class="title"><%= t('chat.usersoffline') %></div>
        <% } %>
        <% previous = user.status; %>
        <div class="item <% if (user.is_op === true) { %>op<% }; %> <% if (user.is_owner === true) { %>owner<% }; %> <%= user.status %>">
            <span class="infos">
                <span class="avatar open-user-profile" data-username="<%= user.username %>"  style="background-image: url(<%= user.avatar %>)" title="<% if (user.is_op === true) { %><%= t('chat.op.is') %><% } else if (user.is_owner === true) { %><%= t('chat.owner.is') %><% }; %>"></span>
                <span class="username open-user-profile" data-username="<%= user.username %>" title="<%= t('global.'+user.status) %>"><span>@<%= user.username %> </span><i class="icon icon-circle status <%= user.status %>" title="online"></i></span>

                <% if (isAdmin === true || (!user.is_owner && (isOp === true || isOwner === true))) { %>
                <span class="dropdown">
                    <button class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <i class="icon icon-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" class="open-user-profile" data-username="<%= user.username %>"><i class="icon icon-user"></i> Voir le profil</a>
                        </li>
                        <% if (!user.is_owner || isAdmin === true) { %>
                            <% if (!user.is_owner && user.is_op === true) { %>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" class="deop deop-user" data-username="<%= user.username %>">
                                    <span class="icon-stack">
                                        <i class="icon icon-op icon-stack-1x"></i>
                                        <i class="icon icon-ban icon-stack-2x text-danger"></i>
                                    </span>
                                    <%= t('chat.deop.infobox') %>
                                </a>
                            </li>
                            <% } else if (!user.is_owner) { %>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" class="op op-user" data-username="<%= user.username %>">
                                    <i class="icon icon-op"></i> <%= t('chat.op.infobox') %>
                                </a>
                            </li>
                            <% }; %>
                        <% }; %>
                        <% if (!user.is_owner) { %>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" class="kick kick-user" data-username="<%= user.username %>">
                                <i class="icon icon-kick"></i> <%= t('chat.kick.infobox') %>
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" class="ban ban-user" data-username="<%= user.username %>">
                                <i class="icon icon-ban"></i> <%= t('chat.ban.infobox') %>
                            </a>
                        </li>
                        <% }; %>
                    </ul>
                </span>
                <% }; %>
            </span>
        </div>
    </li>
<% }); %>