<p class="topic-current">
    <label><%= t('chat.topic.label') %></label>
    <span class="txt" title=""></span>
</p>
<div class="form-inline topic-form">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default cancel" type="button"><%= t('global.cancel') %></button>
        </span>
        <input type="text" class="form-control topic-input" placeholder="<%= t('chat.topic.placeholder') %>" value="" maxlength="512">
        <span class="input-group-btn">
            <button class="btn submit" type="submit" data-colorify-text="contrast" data-colorify-background="color"><%= t('global.change') %></button>
        </span>
    </div>
</div>
<a href="#" class="drawer-users visible-xs visible-sm" data-colorify-text="contrast" data-colorify-background="color">
    <i class="icon icon-users"></i>
</a>
<div id="user-modal" class="modal fade" role="dialog" aria-labelledby="userModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><%= t('chat.topic.users') %></h4>
            </div>
            <div class="modal-body">
                <ul class="list">
                    <li><i class="icon icon-spinner icon-spin center-block" style=" font-size: 24px; "></i></li>
                </ul>
            </div>
            <!--<div class="modal-footer">-->
                    <!--<span class="checkbox">-->
                        <!--<label>-->
                            <!--<input class="avoid" type="checkbox"> <%= t('welcome.donotshowagain') %>-->
                        <!--</label>-->
                    <!--</span>-->
                <!--<a href="#room/donut" class="nothing" data-dismiss="modal"><%= t('welcome.nothing') %></a>-->
            <!--</div>-->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /#welcome -->