<div class="header">
    <p class="count"></p>
    <ul class="page-sidebar-menu right visible-xs visible-sm">
        <li class="home visible-sm visible-xs">
            <a href="javascript:;">
                <span class="title hidden-sm hidden-xs cl-text">Users</span>
                <i class="icon icon-users cl-text"></i>
            </a>

            <ul class="sub-menu">
                <li><i class="icon icon-circle status online"></i><p class="count cl-text"></p></li>
            </ul>
        </li>
    </ul>
</div>
<hr>
<ul class="list">
    <li class="pad loading">
        <div style=" margin: 0 auto; display: block; width: 24px; ">
            <i class="icon icon-spinner icon-spin center-block" style=" font-size: 24px; "></i>
        </div>
    </li>
</ul>