<div class="list">
    <% _.each(list, function(room) { %>
    <% var uriName = room.name.replace('#', ''); %>
    <a href="#room/<%= uriName %>" class="item <% if (room.focused) { %>active<% }; %> <% if (room.unread > 0) {%>unread<%}; %>" data-name="<%= room.name %>">
        <img src="<%= room.avatar %>" class="avatar" alt="<%= room.name %> avatar">
        <% if (room.unread > 0) { %>
        <span class="unread"><%= room.unread %></span>
        <% }; %>
        <span class="name"><%= room.name %></span>
        <span class="badge">
            <span class="users-count"><span class="count"><%= room.count %></span> <img src="/images/user-g.svg" alt="user icon"></span>
        </span>
        <img src="/images/close.svg" class="close-room" data-name="<%= room.name %>" alt="close" title="Close this discussion">
    </a>
    <% }); %>
</div>