<p class="topic-current">
    <label><%= t('chat.topic.label') %></label>
    <span class="txt" title=""></span>
</p>
<div class="form-inline topic-form">
    <div class="form-group">
        <input type="text" class="form-control topic-input" placeholder="<%= t('chat.topic.placeholder') %>" value="" maxlength="512">
    </div>
    <button type="submit" class="btn btn-default cancel"><%= t('global.cancel') %></button>
    <button type="submit" class="btn submit" data-colorify-text="contrast" data-colorify-background="color"><%= t('global.change') %></button>
</div>