<li class="header">
    <a href="#" class="close close-results"><i class="icon icon-times"></i>close</a>
</li>
<% if (rooms && rooms.list.length) { %>
    <li class="dropdown-header">donuts</li>
    <% _.each(rooms.list, function(item) { %>
    <li class="room">
        <a class="open-room-profile" data-room-name="<%= item.name %>">
            <span class="avatar"><img src="<%= item.avatarUrl %>" alt="<%= item.name %> avatar" /></span>
            <span class="name"><%= item.name %></span>
        </a>
    </li>
    <% }); %>
    <% if (rooms.more) { %>
    <li class="more"><a href="#">more results...</a></li>
    <% } %>
<% } %>
<% if (users && users.list.length) { %>
    <li class="dropdown-header">utilisateurs</li>
    <% _.each(users.list, function(item) { %>
    <li class="user">
        <a class="open-user-profile" data-user-username="<%= item.username %>">
            <span class="avatar"><img src="<%= item.avatarUrl %>" alt="<%= item.username %> avatar" /></span>
            <span class="username"><%= item.username %></span>
        </a>
    </li>
    <% }); %>
    <% if (users.more) { %>
    <li class="more"><a href="#">more results...</a></li>
    <% } %>
<% } %>
<% if ((!rooms || !rooms.list.length) && (!users || !users.list.length)) { %>
    <li class="nothing"><a href="#">no result</a></li>
<% } %>