<div class="list">
    <% if (rooms.length < 1) { %>
        <div class="nothing"><%= t('chat.search.noroom') %></div>
    <% } %>
    <% _.each(rooms, function(room) { %>
    <div class="room" data-colorify="<%= room.color %>">
        <div class="cover">
            <div class="avatar" style="background-image:url(<%= room.avatar %>)"></div>
            <p class="name"><%= room.name %></p>
            <% if (room.owner && room.owner.username) { %>
            <p class="owner"><%= t('global.by') %> <a data-colorify-text="#ffffff">@<%= room.owner.username %></a></p>
            <% } %>
            <!-- p class="topic"><%= room.topic %></p -->
            <p class="join">
                <a href="#room/<%= room.name.replace('#', '') %>" data-colorify-background="color" data-colorify-text="contrast">
                    <%= t('actions.join') %>
                    <% if (room.users > 0) { %><%= room.users %><% } %>
                    <i class="icon icon-user-custom"></i>
                </a>
            </p>
        </div>
        <div class="back" data-colorify-background="color" data-colorify-text="contrast">
            <div class="open-room-profile" data-room-name="<%= room.name %>" data-room-id="<%= room.id %>">
                <div class="avatar" style="background-image:url(<%= room.avatar %>)" data-colorify-border="lighter"></div>
                <p class="name" data-colorify-text="contrast"><%= room.name %></p>
                <% if (room.owner && room.owner.username) { %>
                <p class="owner"><%= t('global.by') %> <a class="open-user-profile" data-username="<%= room.owner.username %>" data-colorify-text="contrast">@<%= room.owner.username %></a></p>
                <% } %>
                <p class="description"><%= room.description %></p>
            </div>
            <p class="join">
                <a href="#room/<%= room.name.replace('#', '') %>" data-colorify-background="<%= room.color %>" data-colorify-text="contrast">
                    <%= t('actions.join') %>
                    <% if (room.users > 0) { %><%= room.users %><% } %>
                    <i class="icon icon-user-custom"></i>
                </a>
            </p>
        </div>
    </div>
    <% }); %>
</div>