{% extends "layout.twig.html" %}

{% block title %}Channels{% endblock %}

{% block content %}
<div class="container">
    <div class="starter-template">
        <p class="lead">
            <h1>Channels</h1>
            <section id="channels">
            <ul>
            {% for channel in channels %}
                <li><a href="{{ path('chat', {id: channel.code}) }}"><div class="logo"><img src="/img/channels/{{ channel.logo }}" /></div><div class="name">{{ channel.name }}</div></a></li>
            {% endfor %}
            </ul>
            </section>
        </p>
    </div>
</div>
{% endblock %}