{% extends "layout.twig.html" %}

{% block title %}...{% endblock %}

{% block content %}
<div id="chat" class="container-fluid">
    <div class="row">
        <div id="chat-left" class="col-sm-2 col-md-2 col-lg-2">
            <div id="block-status" class="panel panel-default">
                <div class="panel-body">
                    You are
                    <button id="button-status" type="button" class="status">...</button>
                </div>
            </div>
            <div id="block-rooms" class="panel panel-default">
                <div class="panel-heading">Conversations</div>
                <div id="rooms-list" class="list-group"></div>
                <div class="panel-footer">
                    <a href="#" id="create-room-toggle"><span class="glyphicon glyphicon-plus"></span> Create a room</a>
                    <div id="create-room-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="create-room-name" placeholder="Room name">
                        </div>
                        <button class="btn btn-primary" id="create-room-submit">Create</button>
                        <button class="btn btn-error" id="create-room-cancel">Cancel</button>
                    </div>
                    <br />
                    <a href="#" id="search-room-link"><span class="glyphicon glyphicon-search"></span> Search a room</a>
                </div>
            </div>
            <div id="block-users" class="panel panel-default">
                <div class="panel-heading">Users</div>
                <div id="online-users-list" class="list-group">
                    <!-- Default user-item -->
                    <a href="#" class="list-group-item user-item" data-default="true"><em>No user online</em></a>
                    <!-- / Default user-item -->
                    <!-- Template user-item -->
                    <a href="#" class="list-group-item user-item" data-user-id="" data-template="true"><span class="avatar"><img src="" /></span> <span class="username"></span></a>
                    <!-- / Template user-item -->
                </div>
                <div class="panel-footer">
                    <a href="#" id="search-user-link"><span class="glyphicon glyphicon-search"></span> Search a user</a>
                </div>
            </div>

            <button class="btn btn-success" id="test1">Test</button><button class="btn btn-success" id="test2">Test</button><button class="btn btn-success" id="test3">Test</button>

        </div><!-- /.chat-left -->
        <div id="chat-center" class="col-sm-10 col-md-10 col-lg-10">
            <div class="cwindow" data-default="true">
                <div class="default">Not in room</div>
            </div>
        </div><!-- /.chat-center -->
    </div><!-- /.row -->
</div><!-- /.container-fluid -->

<!-- User profile modal -->
<div class="modal fade" id="user-profile-modal"></div>
<!-- / User profile modal -->

<!-- Room search modal -->
<div class="modal fade" id="room-search-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Search for rooms</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="search" class="form-control room-search-input" placeholder="Search for rooms" />
                            <span class="input-group-btn">
                                <button class="btn btn-default room-search-submit" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div><!-- /input-group -->
                        <ul class="list-group rooms-list"></ul>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- / Room search modal -->

<!-- User search modal -->
<div class="modal fade" id="user-search-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Search for user</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="search" class="form-control user-search-input" placeholder="Search for users" />
                            <span class="input-group-btn">
                                <button class="btn btn-default user-search-submit" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div><!-- /input-group -->
                        <ul class="list-group search-users-list"></ul>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- / User search modal -->

{% include 'chat.templates.twig.html' %}

{% endblock %}

{% block endofpage %}
<script src="/public/vendor/underscore.js"></script>
<script src="/public/vendor/backbone.js"></script>
<!-- @todo : embeded code in Backbone view --><script src="/js/jquery-insertAtCaret.js"></script>
<!-- @todo : embeded code in Backbone view --><script src="/js/jquery.autosize.min.js"></script>
<!-- @todo : embeded code in Backbone view --><script src="/js/jquery-dateFormat.min.js"></script>
<!-- @todo : replaced by socket.io --><script src="/js/swfobject.js"></script>
<!-- @todo : replaced by socket.io --><script src="/js/web_socket.js"></script>
<!-- @todo : replaced by socket.io --><script src="/js/when.js"></script>
<!-- @todo : replaced by socket.io --><script src="/js/autobahn.js"></script>
<!-- @todo : replaced by socket.io --><script src="/public/js/old.server.js"></script>
<script src="/public/js/User.js"></script>
<script src="/public/js/Room.js"></script>
<script src="/public/js/OneToOne.js"></script>
<script src="/public/js/Message.js"></script>
<script src="/public/js/Chat.js"></script>
<script src="/public/js/views.js"></script>
<script>
$(document).ready(function() {

    window.Chat = window.Chat || { };
    window.Chat.main = new window.Chat.MainView;
    window.Chat.main.run();

    $("#test1").click(function (e) {
//        console.log(Conversations);
//        Conversations.add(new OneToOne({ id: '4234234243278dsq7', user_id: 'fsdff'}));
//        Conversations.add(new OneToOne({ id: '132465987qsdssqsq', user_id: 'xxxx'}));
//        Conversations.add(new Room({ id: 'azeezezaezaezae', name: 'tdsest'}));
//        Conversations.add(new Room({ id: 'g4fd456gdg45df54g', name: 'test'}));
//        Conversations.add(new Room({ id: 'aze4a51dq1sqs2d3q', name: 'test2'}));
//        Conversations.add(new OneToOne({ id: 'azzeazzeezzezeze', user_id: 'trerererest'}));
    });

});
</script>
{% endblock %}