{% extends "layout.twig.html" %}

{% block title %}chat!{% endblock %}

{% block content %}
<div id="chat">
    <section id="rooms">

        <!-- Status panel -->
        <div class="panel panel-default">
            <div class="panel-body" style="position: relative;">
                You are
                <button type="button" id="status" class="" style="position: absolute; right: 15px;">...</button>
            </div>
        </div>
        <!-- / Status panel -->

        <!-- Already in rooms panel -->
        <div class="panel panel-default">
            <div class="panel-heading">Your are in</div>
            <div id="rooms-list" class="list-group">
                <!-- Default room-item -->
                <a href="#" class="list-group-item room-item" data-room-id="default"><em>Not in room</em></a>
                <!-- / Default room-item -->
                <!-- Template room-item -->
                <a href="#" class="list-group-item room-item" data-room-id="template" style="display:none;">&nbsp;</a>
                <!-- / Template room-item -->
            </div>
        </div>
        <!-- / Already in rooms panel -->

        <!-- Available rooms panel -->
        <div class="panel panel-default">
            <div class="panel-heading">Available rooms</div>
            <div id="available-rooms-list" class="list-group">
                <!-- Template room-item -->
                <a href="#" class="available-room-item" data-room-id="template" style="display:none;">&nbsp;</a>
                <!-- / Template room-item -->
            </div>
            <div class="panel-footer">
                <a href="#" id="create-room-toggle">Create a room <span class="glyphicon glyphicon-plus"></span></a>
                <div id="create-room-form" style="display: none;">
                    <div class="form-group">
                        <input type="text" class="form-control" id="create-room-name" placeholder="Room name">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Private room
                        </label>
                    </div>
                    <button class="btn btn-primary" id="create-room-submit">Create</button>
                </div>
            </div>
        </div>
        <!-- / Available rooms panel -->

        <button class="btn btn-success" id="test1">Test</button>
        <button class="btn btn-success" id="test2">Test</button>
        <button class="btn btn-success" id="test3">Test</button>
    </section>
    <div id="main">
        <!-- Default room container -->
        <div class="room-container" data-room-id="default">
            <section class="default">Not in room</section>
        </div>
        <!-- / Default room container -->
        <!-- Template room container -->
        <div class="room-container" data-room-id="template" style="display: none;">
            <section class="header"><span class="name"></span> <span class="topic"></span> <span class="close glyphicon glyphicon-remove"></span></section>
            <section class="messages"></section>
            <section class="postbox">
                <a name="post"></a>
                <div class="row">
                    <div class="col-lg-1"><p class="text-center"><img src="/img/smiley-icon.png" width="29px" /></p></div>
                    <div class="col-lg-11">
                        <div class="input-group">
                            <input type="text" name="message" class="form-control input-message" data-room-id="" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default send-message" data-room-id="">Send!</button>
                    </span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- / Template room container -->
    </div>
    <section id="users">
        <!-- Default room user list -->
        <div class="panel panel-primary users-list" data-room-id="default">
            <div class="panel-heading">Users</div>
            <div class="list-group">
                <a href="#" class="list-group-item user-item default">&nbsp;</a>
            </div>
        </div>
        <!-- / Default room user list -->
        <!-- Template room user list -->
        <div class="panel panel-default users-list" data-room-id="template" style="display: none;">
           <div class="panel-heading">Users</div>
           <div class="list-group">
               <a href="#" class="list-group-item user-item" style="display: none;">&nbsp;</a>
           </div>
        </div>
        <!-- / Template room user list -->
    </section>
</div>

{% endblock %}

{% block endofpage %}
<script src="/js/when.js"></script>
<script src="/js/autobahn.js"></script>
<script src="/js/transport.js"></script>
<script src="/js/chat.js"></script>
<script>
//$(document).ready(function() {
//});
</script>
{% endblock %}