<!-- User profile modal -->
<div class="modal fade" id="user-profile-modal"></div>
<!-- / User profile modal -->

<!-- Room search modal -->
<div class="modal fade" id="room-search-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Search for rooms</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="search" class="form-control room-search-input" placeholder="Search for rooms" />
                            <span class="input-group-btn">
                                <button class="btn btn-default room-search-submit" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div><!-- /input-group -->
                        <ul class="list-group rooms-list"></ul>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- / Room search modal -->

<!-- User search modal -->
<div class="modal fade" id="user-search-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Search for user</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="search" class="form-control user-search-input" placeholder="Search for users" />
                            <span class="input-group-btn">
                                <button class="btn btn-default user-search-submit" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div><!-- /input-group -->
                        <ul class="list-group search-users-list"></ul>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- / User search modal -->
