{% extends "layout.twig.html" %}

{% block title %}room - {{user.username}}{% endblock %}

{% block content %}
<div class="chat container-fluid full-height">
    <div class="row main-row full-height">
        <div class="rooms col-md-2">
            <h2>Rooms</h2>
            <ul>
                <li>TF1</li>
                <li>France2</li>
                <li>France3</li>
                <li>canal+</li>
                <li>France5</li>
                <li>M6</li>
                <li>Arte</li>
                <li>D8</li>
                <li>w9</li>
                <li>TMC</li>
                <li>NT1</li>
                <li>NRJ12</li>
                <li>LCP</li>
                <li>France4</li>
                <li>BFM TV</li>
                <li>iTélé</li>
                <li>D17</li>
                <li>Gulli</li>
            </ul>
        </div><!--/.col-md-2 -->
        <div class="full-height central-column col-md-8">
            <div class="topic">
                Topic
            </div>
            <div class="messages">
                <p><span class="date">[19:47:28]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">tu crois aux rêves prémonitoires ?</span></p>
                <p><span class="date">[19:47:39]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">oui, mais pas tout le temps.</span></p>
                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>
                <p><span class="date">[19:47:28]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">tu crois aux rêves prémonitoires ?</span></p>
                <p><span class="date">[19:47:39]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">oui, mais pas tout le temps.</span></p>
                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>
                <p><span class="date">[19:47:28]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">tu crois aux rêves prémonitoires ?</span></p>
                <p><span class="date">[19:47:39]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">oui, mais pas tout le temps.</span></p>
                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>
                <p><span class="date">[19:47:28]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">tu crois aux rêves prémonitoires ?</span></p>
                <p><span class="date">[19:47:39]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">oui, mais pas tout le temps.</span></p>
                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>                <p><span class="date">[19:47:39]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">oui, mais pas tout le temps.</span></p>
                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>
                <p><span class="date">[19:47:28]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">tu crois aux rêves prémonitoires ?</span></p>
                <p><span class="date">[19:47:39]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">oui, mais pas tout le temps.</span></p>
                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>
                <p><span class="date">[19:47:28]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">tu crois aux rêves prémonitoires ?</span></p>
                <p><span class="date">[19:47:39]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">oui, mais pas tout le temps.</span></p>
                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>
                <p><span class="date">[19:47:28]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">tu crois aux rêves prémonitoires ?</span></p>
                <p><span class="date">[19:47:39]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">oui, mais pas tout le temps.</span></p>
                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>
                <p><span class="date">[19:47:28]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">tu crois aux rêves prémonitoires ?</span></p>
                <p><span class="date">[19:47:39]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">oui, mais pas tout le temps.</span></p>
                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>
                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>
                <p><span class="date">[19:47:28]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">tu crois aux rêves prémonitoires ?</span></p>
                <p><span class="date">[19:47:39]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">oui, mais pas tout le temps.</span></p>
                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>
                <p><span class="date">[19:47:28]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">tu crois aux rêves prémonitoires ?</span></p>
                <p><span class="date">[19:47:39]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">oui, mais pas tout le temps.</span></p>
                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>
                <p><span class="date">[19:47:28]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">tu crois aux rêves prémonitoires ?</span></p>
                <p><span class="date">[19:47:39]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">oui, mais pas tout le temps.</span></p>
                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>
                <p><span class="date">[19:47:28]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">tu crois aux rêves prémonitoires ?</span></p>
                <p><span class="date">[19:47:39]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">oui, mais pas tout le temps.</span></p>
                <p><span class="date">[19:47:41]</span> <span class="nickname">&lt;foxy&gt;</span> <span class="text">hé bha cette nuit j'ai rêvé qu'on couchait ensemble!</span></p>
                <p><span class="date">[19:47:42]</span> <span class="nickname">&lt;albou&gt;</span> <span class="text">bhen tu vois; pas tout le temps..</span></p>
            </div>
            <div class="post">
                <a name="post" />
                <form action="#post">
                    <input type="text" id="message" name="message" />
                    <span class="glyphicons glyphicon-user"></span>
                    <input type="submit" value="Send" />
                </form>
            </div>
        </div><!--/.col-md-8 -->
        <div class="users col-md-2">
            <h2>Users</h2>
            <ul>
                <li class="op">Pomf</li>
                <li class="op">Gino34</li>
                <li class="friend">Crhis</li>
                <li>mini-pouce</li>
                <li>ZZExw</li>
                <li class="friend">Elea</li>
                <li>RaoülCastorStop</li>
                <li>Paind'uitre</li>
                <li>Peetwit</li>
                <li>Charles</li>
                <li>Néné</li>
                <li>Sandy</li>
                <li>CupCake</li>
                <li>Rayxxx</li>
                <li>SexIbitch</li>
                <li>Paind'uitre</li>
                <li>Peetwit</li>
                <li>Charles</li>
                <li class="friend">Néné</li>
                <li>Sandy</li>
                <li>CupCake</li>
            </ul>
        </div><!--/.col-md-2 -->
    </div><!--/.row -->
</div><!--/.container-fluid -->
{% endblock %}

{% block endofpage %}
<script src="/js/chat.js"></script>
<script>
$(document).ready(function() {
    if(document.getElementById('message')) {
        window.setInterval(upCall, reloadTime);
        $("#message").focus();
}
});
</script>
{% endblock %}