{% extends "layout.twig.html" %}

{% block content %}
<section class="container" style="padding: 50px 15px;">

    <div class="row">
        <div class="col-lg-12">

            <span type="button" id="test2" class="" data-container="body" data-toggle="popover" data-placement="top" data-content="Liste !!!">
                :)
            </span>

        </div>
    </div>

</section>
{% endblock %}

{% block endofpage %}
<script>
    $(document).ready(function() {
        $('#test2').first().popover();
        $('#test2').first().on('show.bs.popover', function () {
            alert("view");
        });
        $('#test2').first().on('hidden.bs.popover', function () {
            alert("test");
        });
    });
</script>
{% endblock %}