{% extends "layout.twig.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="container">
    <div id="welcome">
        <p class="lead">
        {% if is_granted('ROLE_USER') %}
            <h1>Welcome to Chat!</h1>

            {% include 'channels.twig.html' with {'channels': channels} %}
        {% else %}
            <h1>Welcome to Chat!</h1>
            <p>Chat! c'est simple! C'est du chat en temps réel, avec plein de gens dans des rooms thématiques ou non.</p>
            <p>Que vous soyez une vieux nostalgique d'IRC ou un afficionados du forum de NRJ vous vous y retrouverez.</p>
            <p>Already registered, <a href="{{ path('user.login') }}">signin</a>.</p>
            <p>Not already registered, <a href="{{ path('user.register') }}">signup.</a></p>
        {% endif %}
        </p>
    </div>
</div>
{% endblock %}