<% layout('email') %>
<table width="90%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <div style="height: 100px; line-height: 100px; font-size: 10px;">&nbsp;</div>
            <div style="line-height: 44px;">
                <font face="Arial, Helvetica, sans-serif" size="5" color="#57697e" style="font-size: 34px;">
                    <span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
                        <%= t('email.roomdeban.content.title') %>&nbsp;<strong><%- roomname %></strong>
                    </span>
                </font>
            </div>
            <div style="height: 30px; line-height: 30px; font-size: 10px;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <div style="line-height: 30px;">
                <font face="Arial, Helvetica, sans-serif" size="5" color="#4db3a4" style="font-size: 17px;">
                    <span style="font-family: Arial, Helvetica, sans-serif; font-size: 17px; color: #4db3a4;">
                        <%= t('email.roomdeban.content.disclaimer') %>
                        <small style="font-size: 13px;"><%= t('email.roomdeban.content.action') %>&nbsp;<strong><a href="https://<%- fqdn %>/user/<%= username %>">@<%- username %></a></strong></small>
                    </span>
                </font>
            </div>
            <div style="height: 35px; line-height: 35px; font-size: 10px;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <div style="line-height:24px;">

                <table border="0" cellpadding="0" cellspacing="0" class="emailButton" style="-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color:#EE2763;">
                    <tr>
                        <td align="center" valign="middle" class="emailButtonContent" style="padding-top:10px; padding-right:30px; padding-bottom:10px; padding-left:30px;">
                            <a href="https://<%- fqdn %>" target="_blank" style="color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:16px; font-weight:bold; text-decoration:none;" alt="<%= t('email.roomdeban.content.button') %>"><%= t('email.roomdeban.content.button') %></a>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="height: 45px; line-height: 45px; font-size: 10px;">&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table width="80%" align="center" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center">
                        <div style="line-height: 24px;">
                            <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 16px;">
                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
                                    <%= t('email.global.content.team') %>
                                </span>
                            </font>
                        </div>
                    </td>
                </tr>
            </table>
            <div style="height: 45px; line-height: 45px; font-size: 10px;">&nbsp;</div>
        </td>
    </tr>
</table>
<!--links -->
<tr>
    <td align="center" bgcolor="#f9fafc">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center">
                    <div style="height: 30px; line-height: 30px; font-size: 10px;">&nbsp;</div>
                    <table width="80%" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center" valign="middle" style="font-size: 10px; line-height:20px;">
                                <font face="Tahoma, Arial, Helvetica, sans-serif" size="2" color="#282f37" style="font-size: 10px; font-style: italic;">
                                    <%= t('email.global.content.ps') %>&nbsp;<a href='mailto:<%- email %>'><%- email %></a>&nbsp;<%= t('email.global.content.ps2') %>
                                </font>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr><td><div style="height: 30px; line-height: 30px; font-size: 10px;">&nbsp;</div></td></tr>
        </table>
    </td>
</tr>
<!--links END-->
