<% layout('form') %>
<div id="signup">
    <div class="login">
        <div class="content">
            <form class="login-form" method="post" role="form">
                <input type="hidden" name="_csrf" value="<%= token %>">

                <h3 class="form-title"><%= t('edit-password.title') %></h3>

                <%= partial('errors') %>

                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input type="password" class="form-control placeholder-no-fix" id="password-field" name="user[fields][password]" placeholder="<%= t('login.password-placeholder') %>" value="<%- userFields.password %>">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input type="password" class="form-control" id="confirm-field" name="user[fields][confirm]" placeholder="<%= t('login.confirm-placeholder') %>" value="<%- userFields.confirm %>">
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="<%= t('global.save') %>" tabindex="4">
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</div>