<%- partial('head') %>
<body class="body-chat dc-default">
    <div id="fb-root"></div>
    <div id="chat">
        <div id="alert" role="banner">
            <div class="alert">
                <p class="message"></p>
                <img class="close-btn" src="/images/svg/close-r.svg" alt="close icon">
            </div>
        </div>
        <div id="color-default"></div>
        <nav id="color" class="navbar navbar-default navbar-fixed-top dc-back">
            <div class="container">
                <div id="navbar">
                    <a class="navbar-brand-a hidden-xs hidden-sm" href="/!#"><img class="logo" src="/images/logo-bordered-small.png" alt="<%= t('title.chat') %>"> <span class="beta">alpha</span></a>

                    <ul class="nav navbar-nav-ul hidden-xs hidden-sm">
                        <li><a href="/!#" class="dc-text-contrast">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="mute" class="hidden-xs hidden-sm">
                            <a href="#" class="toggle">
                                <i class="icon icon-volume-up dc-text-contrast"></i>
                            </a>
                        </li>
                        <li id="notifications" class="dropdown empty">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="icon icon-globe dc-text-contrast"></i>
                                <span class="badge hide-empty"></span>
                            </a>
                            <div class="dropdown-menu p0" role="menu">
                                <div class="arrow-up"></div>
                                <div class="unread-count">
                                    <span class="show-empty text-center">
                                        <span><%= t('chat.notifications.empty') %></span>
                                    </span>
                                    <span class="hide-empty">
                                        <span><%= t('chat.notifications.count') %></span>
                                        <span class="pull-right action-tag-as-read"><%= t('chat.notifications.tag-as-read') %></span>
                                    </span>
                                </div>
                                <div class="messages-list-ctn">
                                    <div class="messages-list" id="main-navbar-messages"><!-- Loaded dynamically --></div>
                                    <div class="actions">
                                        <div class="read-more"><%= t('chat.notifications.read-more') %></div>
                                        <div class="loading hidden"><i class="icon icon-spinner icon-spin"></i></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="help">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="icon icon-menu dc-text-contrast"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="arrow-up"></li>
                                <li><a href="/!#room/help"><i class="icon icon-life-ring"></i> <%= t('chat.help') %></a></li>
                                <li><a href="/faq" target="_blank"><i class="icon icon-question-circle"></i> <%= t('page.faq.title') %></a></li>
                                <li><a data-toggle="contactform"><i class="icon icon-envelope"></i> <%= t('page.contact.title') %></a></li>
                                <li><a href="/eutc" target="_blank"><i class="icon icon-question-circle"></i> <%= t('page.eutc.title') %></a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="row">
            <div id="left">

                <ul class="page-sidebar-menu">

                    <li id="block-current-user">
                        <a href="#" class="avatar dropdown-toggle visible-xs visible-sm" data-toggle="dropdown" aria-expanded="false" role="button">
                            <img src="<%- user.avatar %>" alt="@<%- user.username %> avatar">
                        </a>
                    </li><!-- /#block-current-user -->
                    <li class="visible-xs visible-sm">
                        <a class="go-to-search"><i class="icon icon-search"></i></a>
                        <a class="open-create-room"><i class="icon icon-pencil"></i></a>
                        <hr>
                    </li>

                    <li id="block-actions">
                        <hr>
                        <a class="go-to-search"><%= t('chat.actions.search') %></a> <%= t('global.or') %> <a class="open-create-room"><%= t('chat.actions.create') %></a> <%= t('chat.actions.adonut') %>
                        <hr>
                    </li>

                    <li id="block-discussions">
                        <ul class="list">
                            <!--discussions content-->
                        </ul>
                    </li>
                </ul>

            </div><!-- /#left -->
            <div id="center">
                <div id="drawer">
                    <div class="opacity dc-back-opacity">
                        <div class="wrap">
                            <div class="content"></div>
                            <img src="/images/svg/close.svg" class="close" alt="close">
                        </div>
                    </div>
                </div>
                <div id="home"><!--home content--></div>
            </div><!-- /#center -->
        </div><!-- /.row -->
    </div><!-- /#chat -->
    <div id="welcome" class="modal fade" role="dialog" aria-labelledby="welcomeMessage" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <%= t('welcome.message') %>
                    <div class="rooms cards"><!-- rooms --></div>
                </div>
                <div class="modal-footer">
                    <span class="checkbox">
                        <label>
                            <input class="avoid" type="checkbox"> <%= t('welcome.donotshowagain') %>
                        </label>
                    </span>
                    <a href="#room/donut" class="nothing" data-dismiss="modal"><%= t('welcome.nothing') %></a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /#welcome -->
    <div id="connection" class="modal bs-example-modal-sm" role="dialog" aria-labelledby="welcomeMessage" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="loader">
                        <%= t('chat.loading') %><span class="one">.</span><span class="two">.</span><span class="three">.</span>​
                    </div>
                    <div class="hello">
                        <%= hello %>
                    </div>
                    <div class="error-message"><!--connection error --></div>
                    <div class="contactus">
                        <a data-toggle="contactform"><i class="icon icon-envelope"></i> <%= t('chat.connection.contactus') %></a>
                    </div>
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="confirmation" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="confirmation" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="question"><%= t('chat.confirmation.sure') %></div>
                    <div class="input">
                        <input type="text" class="form-control" placeholder="<%= t('chat.confirmation.placeholder') %>">
                    </div>
                    <div class="buttons">
                        <button type="button" class="cancel" data-dismiss="modal"><i class="icon icon-times"></i> <%= t('chat.confirmation.cancel') %></button>
                        <button type="button" class="confirm"><i class="icon icon-check"></i> <%= t('chat.confirmation.confirm') %></button>
                    </div>
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="room-users-modal" class="modal fade" role="dialog" aria-labelledby="userModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><%= t('chat.topic.users') %></h4>
                </div>
                <div class="modal-body">
                    <ul class="list">
                        <li class="loader">
                            <div style="margin: 0 auto; display: block; width: 24px; ">
                                <i class="icon icon-spinner icon-spin center-block" style=" font-size: 24px; "></i>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /#room-users-modal -->
    <%- partial('contact') %>
    <div class="responsive">
        <div class="device-xs visible-xs visible-xs-block"></div>
        <div class="device-sm visible-sm visible-sm-block"></div>
        <div class="device-md visible-md visible-md-block"></div>
        <div class="device-lg visible-lg visible-lg-block"></div>
    </div><!-- /.responsive -->
    <script src="/javascripts/old-browser-update.js"></script>
    <script src="//widget.cloudinary.com/global/all.js"></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script>
        window.recaptcha_site_key = '<%- recaptcha.sitekey %>';
        window.room_default_color = '<%- room_default_color %>';
        window.message_maxedittime = <%= message_maxedittime %>;
        window.colors = <%= colors %>;

        window.fbAsyncInit = function() {
            FB.init({
                appId      : '<%- facebook.clientID %>',
                xfbml      : true,
                version    : 'v2.4'
            });
        };
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/<%- locale_iso %>/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        (function() {
            cloudinary.setCloudName('<%- cloudinary.cloud_name %>');
        }());
    </script>
    <script data-main="<%- build %>" src="/vendor/requirejs/require.js"></script>
    <%= googleanalytics %>
</body>
</html>
<!-- made with ♥ -->
