{{> head}}
<body class="body-chat">
    <div id="fb-root"></div>
    <div id="chat">
        <div id="alert" role="banner">
            <div class="alert">
                <p class="message"></p>
                <img class="close-btn" src="/images/svg/close-r.svg" alt="close icon">
            </div>
        </div>
        <div id="color-default"></div>
        <div id="color">
            <h1 class="logo">
                <a href="/!#"><img src="/images/logo-onecolor.svg" alt="{{#i}}title.chat{{/i}}"></a>
            </h1>
            <div class="beta">bêta</div>
            <div class="links links-primary">
                <a href="/!#"><i class="fa fa-home"></i> Home</a>
            </div>
            <div class="links links-secondary">
                <a href="/!#room/Support"><i class="fa fa-life-ring"></i> {{#i}}chat.help{{/i}}</a>
                <a href="/faq" target="_blank"><i class="fa fa-question-circle"></i> {{#i}}page.faq.title{{/i}}</a>
                <a rel="contactus" target="_blank"><i class="icon icon-envelope"></i> {{#i}}page.contact.title{{/i}}</a>
                <a href="/eutc" target="_blank"><i class="fa fa-question-circle"></i> {{#i}}page.eutc.title{{/i}}</a>
            </div>
        </div>
        <div class="row">
            <div id="left">
                <div id="block-current-user">
                    <div class="wait-connection">
                        <div class="hello">
                            Connecting <strong>@{{user.username}}</strong>
                        </div>
                        <div class="avatar"></div>
                        <div class="content">
                            <div class="actions">
                                <a href="/logout"><i class="icon icon-power-off"></i> {{#i}}actions.logout{{/i}}</a>
                            </div>
                        </div>
                    </div>
                </div><!-- /#block-current-user -->
                <div id="block-actions">
                    <a class="go-to-search"><i class="icon icon-search"></i> {{#i}}global.search{{/i}}</a>
                    &nbsp;
                    <a class="open-create-room"><i class="fa fa-plus-circle"></i> {{#i}}chat.createadonut{{/i}}</a>
                </div>
                <hr>
                <div id="block-discussions">
                    <div class="list">
                        <!--discussions content-->
                    </div>
                </div>
            </div><!-- /#left -->
            <div id="center">
                <div id="drawer">
                    <div class="opacity">
                        <div class="wrap">
                            <div class="content"></div>
                            <img src="/images/svg/close.svg" class="close" alt="close">
                        </div>
                    </div>
                </div>
                <div id="home"><!--home content--></div>
            </div><!-- /#center -->
        </div><!-- /.row -->
    </div><!-- /#chat -->
    <div id="welcome" class="modal fade" role="dialog" aria-labelledby="welcomeMessage" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    {{#i}}welcome.message{{/i}}
                    <div class="rooms"><!-- rooms --></div>
                </div>
                <div class="modal-footer">
                    <span class="checkbox">
                        <label>
                            <input type="checkbox"> {{#i}}welcome.donotshowagain{{/i}}
                        </label>
                    </span>
                    <a href="#room/donut" class="nothing" data-dismiss="modal">{{#i}}welcome.nothing{{/i}}</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /#welcome -->
    <div id="connection" class="modal bs-example-modal-sm" role="dialog" aria-labelledby="welcomeMessage" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="loader">
                        <i class="icon icon-spinner icon-spin icon-2x"></i>
                    </div>
                    <div class="current">
                        <!-- must be already in DOM -->
                        <span class="connected">{{#i}}chat.connection.connected{{/i}}</span>
                        <span class="reconnected">{{#i}}chat.connection.reconnected{{/i}}</span>
                        <span class="connecting">{{#i}}chat.connection.connecting{{/i}}</span>
                        <span class="error">{{#i}}chat.connection.error{{/i}}</span>
                        <span class="disconnected">{{#i}}chat.connection.disconnected{{/i}}</span>
                    </div>
                    <div class="error-message"><!--connection error --></div>
                    <div class="contactus">
                        <a rel="contactus" target="_blank"><i class="icon icon-envelope"></i> {{#i}}chat.connection.contactus{{/i}}</a>
                    </div>
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="confirmation" class="modal bs-example-modal-sm" role="dialog" aria-labelledby="confirmation" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="question">{{#i}}chat.confirmation.sure{{/i}}</div>
                    <div class="input">
                        <input type="text" class="form-control" placeholder="{{#i}}chat.confirmation.placeholder{{/i}}">
                    </div>
                    <div class="buttons">
                        <button type="button" class="cancel" data-dismiss="modal"><i class="icon icon-times"></i> {{#i}}chat.confirmation.cancel{{/i}}</button>
                        <button type="button" class="confirm"><i class="fa fa-check"></i> {{#i}}chat.confirmation.confirm{{/i}}</button>
                    </div>
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<script>
    window.cloudinary_cloud_name = '{{cloudinary.cloud_name}}';
    window.cloudinary_api_key = '{{cloudinary.api_key}}';
    window.facebook_app_id = '{{facebook.clientID}}';
    window.room_default_color = '{{room_default_color}}';
    window.colors = {{&colors}};
</script>
<script src="/javascripts/old-browser-update.js"></script>
<script data-main="{{build}}" src="/vendor/requirejs/require.js"></script>
{{{googleanalytics}}}
</body>
</html>
<!-- made with ♥ -->