<% layout('static') %>
<h1>Foire Aux Questions</h1>

<div class="menu">
    <p>Ci-dessous les questions les plus fréquement posées par nos utilisateurs. N'hésitez pas à venir nous poser vos question sur <a href="/!#donut/help">#help</a> ou par email e-mail sur <span class="address"></span></p>
    <ul>
        <li class="title">Généralités</li>
        <li><a href="#q-1-1">J'ai un problème, j'ai une question, pouvez-vous m'aider ?!</a></li>
        <li><a href="#q-1-2">J'ai une bonne idée pour améliorer DONUT, comment vous en parler ?</a></li>
        <li><a href="#q-1-3">Je suis fan de DONUT, est-ce que je peux vous aider ?</a></li>
        <li><a href="#q-1-4">Que veut dire "bêta", à côté du logo DONUT ?</a></li>
        <li><a href="#q-1-5">Puis-je inviter d'autres gens à rejoindre DONUT ?</a></li>
        <li class="title">Mon compte</li>
        <li><a href="#q-2-1">Comment lier mon compte DONUT à mon compte Facebook ?</a></li>
        <li><a href="#q-2-2">Comment délier mon compte DONUT de mon compte Facebook ?</a></li>
        <li><a href="#q-2-3">Comment personnaliser mon profil ?</a></li>
        <li><a href="#q-2-4">Mon profil est-il public ?</a></li>
        <li><a href="#q-2-5">Comment changer de nom d'utilisateur ?</a></li>
        <li class="title">Donuts (salons de discussion)</li>
        <li><a href="#q-3-1">Qu'est-ce qu'un donut ?</a></li>
        <li><a href="#q-3-2">Comment trouver le donut que j'ai envie de rejoindre ?</a></li>
        <li><a href="#q-3-3">Comment savoir qui est dans le donut actuellement ?</a></li>
        <li><a href="#q-3-4">Ce qui se dit dans un donut est-il public ?</a></li>
        <li><a href="#q-3-5">Puis-je discuter dans plusieurs donuts simultanément ?</a></li>
        <li><a href="#q-3-6">Comment savoir que j'ai des messages non lus dans un donut ?</a></li>
        <li><a href="#q-3-7">Si je me déconnecte ou si ferme mon navigateur, que se passe-t-il ?</a></li>
        <li><a href="#q-3-8">Comment signaler des comportements anormaux ?</a></li>
        <li><a href="#q-3-9">Comment devenir modérateur ?</a></li>
        <li><a href="#q-3-10">Comment ne plus être modérateur d'un donut ?</a></li>
        <li><a href="#q-3-11">Je discutais dans un donut , et tout à coup, je me suis retrouvé sur la page d'accueil. Que s'est-il passé ?</a></li>
        <li><a href="#q-3-12">Comment insérer des émoticones (smileys) ?</a></li>
        <li class="title">Mes Donuts</li>
        <li><a href="#q-4-1">Comment créer mon propre donut ?</a></li>
        <li><a href="#q-4-2">Comment personnaliser mon donut ?</a></li>
        <li><a href="#q-4-3">Comment retrouver les donuts que j'ai créés ?</a></li>
        <li><a href="#q-4-4">Qui voit le profil de mon donut ?</a></li>
        <li><a href="#q-4-5">Comment faire connaître mon donut ?</a></li>
        <li><a href="#q-4-6">Comment changer le sujet ?</a></li>
        <li><a href="#q-4-7">Comment bien modérer ce qui se dit dans mon donut ?</a></li>
        <li><a href="#q-4-8">Comment supprimer un donut ?</a></li>
        <li class="title">Utilisateurs</li>
        <li><a href="#q-5-1">Comment voir quels utilisateurs sont en ligne ?</a></li>
        <li><a href="#q-5-2">Comment voir le profil des autres utilisateurs ?</a></li>
        <li><a href="#q-5-3">Comment retrouver un utilisateur ?</a></li>
        <li><a href="#q-5-4">Comment discuter en privé avec un utilisateur ?</a></li>
        <li class="title">Tête-à-tête (discussion privée entre deux utilisateurs)</li>
        <li><a href="#q-6-1">Qu'est-ce qu'un tête-à-tête ?</a></li>
        <li><a href="#q-6-2">Comment lancer un tête-à-tête ?</a></li>
        <li><a href="#q-6-3">Comment suis-je notifié que quelqu'un a lancé un tête-à-tête avec moi ?</a></li>
        <li><a href="#q-6-4">Quel poster s'affiche à droite de la conversation ?</a></li>
        <li><a href="#q-6-5">Ce qui se dit dans un tête-à-tête est-il public ?</a></li>
        <li><a href="#q-6-6">Comment puis-je inviter une troisième personne à rejoindre le tête-à-tête ?</a></li>
    </ul>
</div>

<h2>Généralités</h2>

<p class="question"><a name="q-1-1"></a><span class="numero">1.</span> J'ai un problème, j'ai une question, pouvez-vous m'aider ?!</p>
<p>
    Oui, bien sûr on est là pour ça ! <span>Rendez vous</span> sur le <span>donut</span> de support (lien ici <a href="/!#donut/help">#help</a>), nous serons ravis de d'échanger avec vous.
</p>
<p>
    Sinon nous sommes joignables par e-mail sur <span class="address"></span>
</p>
<p class="question"><a name="q-1-2"></a><span class="numero">2.</span> J'ai une bonne idée pour améliorer DONUT, comment vous en parler ?</p>
<p>
    C'est formidable ! DONUT n'en est qu'à ces débuts, et nous avons besoin de l'aide des pionniers comme vous
    pour identifier ce qui fera de DONUT un service meilleur demain. Vous pouvez discuter avec nous sur le
    <span>donut</span> de support (lien ici <a href="/!#donut/help">#help</a>) ou nous envoyer un petit e-mail sur <span class="address"></span>
</p>
<p class="question"><a name="q-1-3"></a><span class="numero">3.</span> Je suis fan de DONUT, est-ce que je peux vous aider ?</p>
<p>
    Avec grand plaisir ! Nous avons passé des mois à travailler pour mettre au point la première version de
    DONUT. Nous vous remercions d'être parmi les premiers à l'utiliser, et surtout nous sommes ravis que ça vous
    plaise.
</p>
<p>
    Faîtes-vous connaître en engageant la conversation sur le <span>donut</span> de Support (lien ici <a href="/!#donut/help">#help</a>) ou
    en nous envoyant un petit e-mail sur <span class="address"></span>. Nous serons ravis de faire connaissance et de vous faire
    partager l'envers du décor de cette folle aventure.
</p>
<p class="question"><a name="q-1-4"></a><span class="numero">4.</span> Que veut dire "bêta", à côté du logo DONUT ?</p>
<p>
    DONUT est actuellement en version "bêta" ouverte. <span>Ca</span> veut dire que DONUT est en phase de
    lancement et de test utilisateurs. Pour être encore plus clair : vous êtes un pionnier ! DONUT est une belle
    aventure qui vient de démarrer. Vous faîtes parmi des premiers à être au courant, des premiers à l'utiliser.
    Il faut donc parfois être compréhensif quand un petit quelque chose ne fonctionne comme ça devrait.
</p>
<p>
    Ce serait également super sympa si vous pouviez nous faire part de vos remarques, des problèmes que vous
    rencontrez, des fonctionnalités que vous aimeriez voir demain sur DONUT. DONUT est un outil fait pour vous, nous
    sommes à votre service pour le rendre meilleur. Et être un des premiers à l'adopter, c'est être une voix forte
    que nous écouterons pour faire un service qui vous plaise.
</p>
<p>
    Ah,… et ce serait aussi super sympa si vous pouviez en parler autour de vous. Par exemple en faisant un petit
    <span>like</span> sur Facebook <span>(lien ici)</span> , ou alors rameutant toute votre communauté. Vous avez une
    passion ? Alors parlez-en aux autres passionnés !
</p>
<p class="question"><a name="q-1-5"></a><span class="numero">5.</span> Puis-je inviter d'autres gens à rejoindre DONUT ?</p>
<p>
    Plus on est de fous, plus on rit. DONUT est fait pour discuter entre passionnés. Alors n'hésitez pas, faites
    venir tout votre club de yoga, vos amis Apple <span>addicts</span> , et tous les anti-Apple, votre groupe de
    réflexion philosophique et ceux qui commentent la télé en direct. Si un sujet vous intéresse, c'est qu'il
    intéresse d'autres gens, alors faites de <span>donuts</span> !
</p>
<p>
    Vous pouvez également nous <span>liker</span> sur Facebook <span>(lien ici)</span> . Vous pouvez nous Twitter,
    nous <span>Instagramer</span> , nous <span>Pinterester</span> , nous <span>Redditer</span> , nous
    <span>Whatsapper</span> , nous <span>Toutcequevousvouler</span> !
</p>
<p>
    Si vous voulez prendre un mégaphone et hurler notre nom au stade, c'est possible aussi :)
</p>

<h2>Mon compte</h2>

<p class="question"><a name="q-2-1"></a><span class="numero">1.</span> Comment lier mon compte DONUT à mon compte Facebook ?</p>
<p>
    Vous avez la possibilité de lier votre compte DONUT à votre compte Facebook. De cette manière DONUT vous
    reconnaît automatiquement si vous êtes déjà connecté Facebook grâce au système Facebook
    <span>Connect</span> . Pour ce faire, connectez-vous à votre compte DONUT à l'aide de votre e-mail et votre mot de
    passe. A côté de votre photo de profil (en haut à gauche), cliquez sur "Mon compte". Cliquez alors sur le
    bouton "Lier ce compte à Facebook". Il se peut que Facebook vous redemande vous connecter si vous ne l'êtes pas
    déjà. Et voilà, c'est terminé !
</p>
<p class="question"><a name="q-2-2"></a><span class="numero">1.</span> Comment délier mon compte DONUT de mon compte Facebook ?</p>
<p>
    Vous vous connectez actuellement à DONUT à l'aide de Facebook <span>Connect</span> et vous aimeriez désormais
    vous connecter avec votre e-mail et votre mot de passe DONUT. Pour ce faire, connectez-vous à DONUT dans un
    premier temps. A côté de votre photo de profil en haut à gauche, cliquez sur "Mon compte". Cliquez sur le
    bouton "Ajouter e-mail et mot de passe". Renseignez alors votre e-mail et choisissez un mot de passe.
</p>
<p>
    Retournez alors dans "Mon compte" et cliquez sur "Délier de ce compte Facebook".
</p>
<p>
    Désormais, pour vous connecter à DONUT, utilisez votre e-mail et votre mot de passe.
</p>
<p>
    NB : Si vous avez changé d'avis, vous pouvez à nouveau lier votre compte DONUT à votre compte Facebook, en
    cliquant sur le bouton Facebook <span>Connect</span> sur la page d'accueil de DONUT.
</p>
<p class="question"><a name="q-2-3"></a><span class="numero">2.</span> Comment personnaliser mon profil ?</p>
<p>
    DONUT vous propose de personnaliser votre profil. En approchant la souris sur votre photo de profil en haut à
    gauche, un lien "Editer" apparaît. Cliquez dessus et vous verrez s'ouvrir le menu de personnalisation.
</p>
<p class="question"><a name="q-2-4"></a><span class="numero">3.</span> Mon profil est-il public ?
</p>
<p>
    Oui, absolument ! Les utilisateurs de DONUT peuvent voir votre profil en cliquant sur votre photo de profil.
    C'est pratique pour en savoir plus sur les gens avec qui vous discutez dans un <span>donut</span> . Votre profil est
    également accessible via l'url http://donut.me/u/votrenomdutilisateur et sur les moteurs de
    recherche. N'hésitez pas à partager le lien.
</p>
<p class="question"><a name="q-2-5"></a><span class="numero">4.</span> Comment changer de nom d'utilisateur ?</p>
<p>
    Malheureusement votre nom d'utilisateur n'est pas modifiable. Comme indiqué lors votre choix de nom
    d'utilisateur, notre système de permet pas de changer de nom d'utilisateur afin de limiter les abus et usurpations
    d'identité.
</p>

<h2><span>Donuts</span> (salons de discussion)</h2>

<p class="question"><a name="q-3-1"></a><span class="numero">1.</span> Qu'est-ce qu'un <span>donut</span> ?</p>
<p>
    Un <span>donut</span> est un salon de discussion. Chaque <span>donut</span> a un thème. Ce thème peut être
    une passion (#skateboard), un groupe (#<span>clubmedgymbastille</span> ), ou ce qui vous fait plaisir. En principe,
    dans un <span>donut</span> on parle du thème annoncé. Enfin, en principe… vous savez ce que c'est, on parle et
    parle et <span>on</span> <span>fini</span> par refaire le monde en partant de la recette du moelleux au
    chocolat…
</p>
<p>
    Chaque <span>donut</span> porte un nom qui commence par # et a une photo de profil en forme de rond. Son nom ne
    peut être modifié, c'est ce qui vous permet de le retrouver.
</p>
<p class="question"><a name="q-3-2"></a><span class="numero">2.</span> Comment trouver le <span>donut</span> que j'ai envie de rejoindre ?</p>
<p>
    Des <span>donuts</span> , il en existe de toutes sortes ! Pour trouver celui qui est à votre goût, un gourmand
    vous dirait de tous les goûter. Mais pour être plus efficace, n'essayez que ceux qui vous tentent. Commencez par
    regarder le profil des <span>donuts</span> , vous y trouverez une description et d'autres infos utiles. Chaque fois
    que vous voyez le nom d'un <span>donut</span> (il commence par #) vous pouvez cliquer dessus pour faire apparaître
    son profil.
</p>
<p>
    Si vous connaissez le nom du <span>donut</span> ou son thème, essayez le moteur de recherche, il se situe en
    dessous de votre photo de profil. Si vous n'avez pas d'idée précise, trouvez de l'inspiration sur la page
    d'accueil, elle propose de nombreux <span>donuts</span> . Quand vous rencontrez des utilisateurs, allez voir leur
    profil (un clic sur leur nom), il comporte la liste de leurs <span>donuts</span> favoris. Avec un peu de chance
    vous aurez <span>les même goûts</span> !
</p>
<p class="question"><a name="q-3-3"></a><span class="numero">3.</span> Comment savoir qui est dans le <span>donut</span> actuellement ?</p>
<p>
    Lorsque vous êtes dans un <span>donut</span> , la liste des utilisateurs qui sont dans le <span>donut</span> est
    dans la partie droite de l'écran. Vous pouvez en savoir plus sur ces utilisateurs en regardant leur profil (un
    clic sur leur nom)
</p>
<p class="question"><a name="q-3-4"></a><span class="numero">4.</span> Ce qui se dit dans un <span>donut</span> est-il public ?</p>
<p>
    Ce qui se dit dans un <span>donut</span> est visible par toute personne qui est dans le <span>donut</span> .
    C'est le principe, vous discutez avec un groupe, donc ceux qui sont dans le groupe le voient. Ceux qui ne sont pas
    dans le <span>donut</span> au moment où vous le dites ne peuvent pas le voir (même en remontant leur
    historique).
</p>
<p class="question"><a name="q-3-5"></a><span class="numero">5.</span> Puis-je discuter dans plusieurs <span>donuts</span> simultanément ?</p>
<p>
    Absolument et heureusement ! Vous pouvez naviguer d'un <span>donut</span> à l'autre en cliquant sur leur nom.
    Ils sont listés dans la colonne de gauche.
</p>
<p class="question"><a name="q-3-6"></a><span class="numero">6.</span> Comment savoir que j'ai des messages non lus dans un <span>donut</span> ?</p>
<p>
    Lorsque vous êtes dans plusieurs <span>donuts</span> en même temps, ils sont listés dans la colonne de
    gauche. Vous pouvez naviguer de l'un à l'autre, mais seul l'onglet d'une conversation est actif. Dans les autres
    <span>donuts</span> , vous apparaissez comme présent, et continuez à recevoir les messages envoyés par le groupe.
    Une pastille rose, avec un compteur de messages non lus, s'affiche dans la colonne de gauche, à côté du nom du
    <span>donut</span> .
</p>
<p class="question"><a name="q-3-7"></a><span class="numero">7.</span> Si je me déconnecte ou si ferme mon navigateur, que se passe-t-il ?</p>
<p>
    Notre plateforme fonctionne sur plusieurs appareils (on dit "multi-<span>device</span>" pour se faire
    mousser…). Donc si vous fermez votre navigateur, et que vous êtes connecté par exemple sur votre tablette, vous
    pouvez continuer vos discussions comme si rien n'était sur votre tablette. En revanche si vous n'étiez connecté
    que sur ce navigateur, vous êtes déconnecté. Les gens ne vous voient plus comme utilisateur présent dans les
    <span>donuts</span> où vous étiez. Et vous ne verrez pas les messages postés dans ces <span>donuts</span> . Si
    vous tenez à voir ce qui se passe même quand vous n'avez pas le temps d'être actif, laissez votre navigateur
    ouvert.
</p>
<p>
    A votre prochaine connexion, s'ouvriront automatiquement les <span>donuts</span> qui étaient ouverts avant
    votre déconnexion.
</p>
<p class="question"><a name="q-3-8"></a><span class="numero">8.</span> Comment signaler des comportements anormaux ?</p>
<p>
    DONUT est un espace de discussion convivial et tout public. Nos conditions générales précises tous les
    comportements qu'on ne veut pas voir parce qu'ils sont illégaux ou nuisent à la bonne humeur générale. Dans un
    premier temps, vous pouvez signaler un abus au créateur et/ou aux modérateurs du <span>donut</span> dans lequel
    se produit l'incident. Vous êtes également invité à nous signaler tout usage inapproprié en prenant contact
    avec nous via le <span>donut</span> de support (<a href="/!#donut/help">#help</a>) ou par e-mail à <span class="address"></span>. Pensez à être
    précis dans votre alerte (date/heure, <span>utilsateurs</span> et/ou <span>donuts</span> concernés, nature du
    comportement inapproprié….).
</p>
<p class="question"><a name="q-3-9"></a><span class="numero">9.</span> Comment devenir modérateur ?</p>
<p>
    Les modérateurs veillent au bon fonctionnement du <span>donut</span> , à sa bonne ambiance et au respect des
    conditions générales d'utilisateur. Les modérateurs ne sont pas des salariés de DONUT.me mais des utilisateurs
    comme vous, que le créateur du <span>donut</span> a jugé suffisamment responsables pour l'aider à modérer le
    <span>donut</span> . Vous pouvez donc devenir modérateur d'un <span>donut</span> ! Tout modérateur du
    <span>donut</span> peut vous nommer modérateur. En général, on nomme modérateur des habitués, qui ont un
    comportement positif sur le groupe. Alors soyez cool et actif !
</p>
<p class="question"><a name="q-3-10"></a><span class="numero">10.</span> Comment ne plus être modérateur d'un <span>donut</span> ?</p>
<p>
    Vous êtes modérateur d'un <span>donut</span> et vous ne souhaitez plus vous en occuper. Dans ce cas, vous
    pouvez vous retirer le rôle de modérateur comme vous l'auriez fait au sujet de quelqu'un d'autre : allez dans le
    <span>donut</span> en question, repérez votre nom dans la liste des participants (colonne de droite), et cliquez
    sur le logo représentant un insigne de shérif.
</p>
<p class="question"><a name="q-3-11"></a><span class="numero">11.</span> Je discutais dans un <span>donut</span> , et tout à coup, je me suis retrouvé sur la page d'accueil. Que s'est-il passé ?</p>
<p>
    Vous avez été expulsé ! Les modérateurs veillent au bon fonctionnement du <span>donut</span> et ont le
    pouvoir d'expulser les utilisateurs qui ne se comportent pas bien. Nous déduisons que vous ne vous êtes pas bien
    comporté. Attention, DONUT est une plateforme conviviale. Les incivilités ne sont pas les bienvenues. Je vous
    invite à relire nos conditions générales pour mieux cerner ce que vous pouvez ou ne pouvez pas faire.
</p>
<p>
    Si vous considérez que vous êtes victime d'une modération injuste, n'hésitez pas nous le signaler sur le
    <span>donut</span> de support (<a href="/!#donut/help">#help</a>) ou par e-mail sur <span class="address"></span>. Les modérateurs aussi doivent
    être cools et conviviaux !
</p>
<p class="question"><a name="q-3-12"></a><span class="numero">12.</span> Comment insérer des émoticones (smileys) ?</p>
<p>
    Lorsque vous saisissez un message, à droite de la zone de saisie il y a un bouton en forme d'émoticone.
    En cliquant dessus vous faites apparaître un menu pour choisir celle qui vous convient.
    Vous pouvez insérer des émoticones en tapant des raccourcis claviers directement dans le texte du message.
    Voici la liste des raccourcis claviers :
</p>
<p>
    <img src="/images/smileys-faq.png" alt="Liste des émoticones et des raccourcis associés">
</p>

<h2>Mes <span>Donuts</span></h2>

<p class="question"><a name="q-4-1"></a><span class="numero">1.</span> Comment créer mon propre <span>donut</span> ?
</p>
<p>
    C'est très simple, il vous suffit de cliquer sur "Créer un <span>donut</span>". <span>Ca</span> se situe
    dans la colonne de gauche, sous la barre de recherche. Ensuite, choisissez un joli petit nom pour votre
    <span>donut</span> , et voilà ! Vous pouvez par la suite personnaliser votre <span>donut</span> (voir la question
    d'après)
</p>
<p class="question"><a name="q-4-2"></a><span class="numero">2.</span> Comment personnaliser mon <span>donut</span> ?
</p>
<p>
    Lorsque vous êtes dans votre <span>donut</span> , cliquez sur le bouton "éditer" qui se situe en haut, à
    droite du nom du <span>donut</span> . Vous aurez alors tout le loisir de personnaliser votre <span>donut</span> . Vos
    éléments personnalisés figurent, dans l'interface de chat (lorsque vous êtes dans le <span>donut</span> ), sur
    le profil interne du <span>donut</span> (il apparaît en cliquant sur le nom du <span>donut</span> ), sur le profil
    externe accessible sur l'adresse http://donut.me/room/lenomdevotredonut
</p>
<p class="question"><a name="q-4-3"></a><span class="numero">3.</span> Comment retrouver les <span>donuts</span> que j'ai créés ?
</p>
<p>
    L'ensemble de vos <span>donuts</span> se trouvent sur votre profil, que vous y soyez connecté ou nom. Cliquez
    donc sur votre nom d'utilisateur et vous verrez les <span>donuts</span> que vous avez créés et dont vous êtes
    modérateur.
</p>
<p class="question"><a name="q-4-4"></a><span class="numero">4.</span> Qui voit le profil de mon <span>donut</span> ?
</p>
<p>
    Le profil de votre <span>donut</span> est public. Tous les utilisateurs de DONUT peuvent le voir. Il est
    également accessible depuis les moteurs de recherche (Google et compagnie). C'est un bon moyen de le faire
    connaître. Si vous voulez, vous pouvez également partager le lien vers votre <span>donut</span> . Il se construit
    comme ça : http://donut.me/r/nomdevotredonut
</p>
<p class="question"><a name="q-4-5"></a><span class="numero">5.</span> Comment faire connaître mon <span>donut</span> ?
</p>
<p>
    Vous pouvez partager le lien vers votre <span>donut</span> sur les réseaux sociaux. L'ami d'un ami partage
    probablement votre passion. Le lien vers votre profil de <span>donut</span> se construit comme ça : http://donut.me/room/nomdevotredonut
</p>
<p>
    Nous nous chargeons d'indexer votre <span>donut</span> dans notre moteur de recherche interne et son profil
    public dans les moteurs de recherche (Google…).
</p>
<p class="question"><a name="q-4-6"></a><span class="numero">6.</span> Comment changer le sujet ?
</p>
<p>
    Dans tout <span>donut</span> , il y a un espace réservé pour indiquer le sujet actuel de la discussion,
    décrire l'humeur générale… Ce sujet juste se situe sous le nom du <span>donut</span> dans l'interface de chat.
    Lorsque vous êtes le créateur ou le modérateur du <span>donut</span> , vous avez le droit de modifier ce sujet.
    Eh oui, c'est à vous de donner le ton ! Il vous suffit de cliquer sur le sujet actuel et vous pourrez en saisir un
    nouveau.
</p>
<p class="question"><a name="q-4-7"></a><span class="numero">7.</span> Comment bien modérer ce qui se dit dans mon <span>donut</span> ?
</p>
<p>
    En tant que créateur de <span>donut</span> , vous y êtes un peu chez vous, et c'est tant mieux. Chez vous,
    l'ambiance est bonne, et on recadre gentiment celui qui va trop loin. Dans votre <span>donut</span> aussi. Chez
    vous, on met dehors celui qui a clairement franchi la ligne rouge. Dans votre <span>donut</span> aussi. Et quand il
    y a un peu de trop monde chez vous, vous demandez à quelques amis sûrs de vous donner un coup de main pour gérer
    tout ça. Dans votre <span>donut</span> aussi !
</p>
<p>
    Dans votre <span>donut</span> vous pouvez expulser quiconque ne se comporte pas correctement. Pour ce faire,
    lorsque vous êtes dans le <span>donut</span> , repérez l'utilisateur à expulser dans la liste des participants
    (colonne de droite) et cliquez sur le l'icône à sa droite représentant un cercle, et une flèche sortant du
    cercle. L'utilisateur pourra revenir. Il a été averti.
</p>
<p>
    Pour être plus efficace, nommez d'autres utilisateurs modérateurs. Choisissez des habitués, qui vous semblent
    responsables. Il est important que la modération puisse se poursuivre même lorsque vous n'êtes pas actif dans
    votre <span>donut</span> . Pour ce faire, lorsque vous êtes dans le <span>donut</span> , repérez l'utilisateur à
    promouvoir dans la liste des participants (colonne de droite) et cliquez sur le l'icône représentant un insigne
    de shérif. Ca y est, il est modérateur. Pour lui retirer ce rôle, cliquez à nouveau sur la même icône.
</p>
<p>
    Il est important de noter que tout modérateur peut lui-même nommer d'autres modérateurs, et retirer le statut
    de modérateur aux autres modérateurs.
</p>
<p>
    N'hésitez pas à nous signaler tout comportement anormal sur le <span>donut</span> de support (<a href="/!#donut/help">#help</a>) ou par
    e-mail sur <span class="address"></span>.
</p>
<p>
    Enfin, vous pouvez relire les conditions générales d'utilisation de DONUT afin de refaire un point sur ce que
    vous pouvez tolérer ou non dans votre <span>donut</span> .
</p>
<p class="question"><a name="q-4-8"></a><span class="numero">8.</span> Comment supprimer un <span>donut</span> ?
</p>
<p>
    En tant que créateur d'un <span>donut</span> , vous êtes le seul utilisateur habilité à le supprimer. Pour ce
    faire, allez sur le profil du <span>donut</span> à supprimer (par exemple, recherchez le dans le moteur de
    recherche et cliquez sur son nom), cliquez ensuite sur "Pour éditer le profil cliquez ici". Dans la page
    d'édition du <span>donut</span> , cliquez en bas de la page sur "Vous pouvez également supprimer ce
    <span>donut</span> en cliquant ici.". Suivez les instructions.
</p>

<h2>Utilisateurs</h2>

<p class="question"><a name="q-5-1"></a><span class="numero">1.</span> Comment voir quels utilisateurs <span>sont</span> en ligne ?
</p>
<p>
    L'ensemble des utilisateurs en ligne s'affiche dans la colonne de droite de la page d'accueil. La page d'accueil
    est accessible en cliquant sur le logo DONUT en haut à gauche.
</p>
<p>
    L'ensemble des utilisateurs présents dans un <span>donut</span> sont listés dans l'interface de chat de ce
    <span>donut</span> , dans la colonne de droite.
</p>
<p class="question"><a name="q-5-2"></a><span class="numero">2.</span> Comment voir le profil des autres utilisateurs ?
</p>
<p>
    Cliquez tout simplement sur son nom.
</p>
<p class="question"><a name="q-5-3"></a><span class="numero">3.</span> Comment retrouver un utilisateur ?
</p>
<p>
    Vous connaissez tout ou partie de son nom d'utilisateur ? Alors tentez votre chance dans le moteur de recherche.
    Il est accessible depuis la colonne de gauche.
</p>
<p class="question"><a name="q-5-4"></a><span class="numero">4.</span> Comment discuter en privé avec un utilisateur ?
</p>
<p>
    Vous pouvez avec une discussion vous isoler et discuter en tête-à-tête avec tout utilisateur. Pour ce faire
    cliquez sur le nom de cet utilisateur. Apparaît le profil de cet utilisateur sur lequel trône un gros bouton "
    Discuter ". Vous en brûlez d'envie, alors allez-ci, cliquez.
</p>

<h2>Tête-à-tête (discussion privée entre deux utilisateurs)</h2>

<p class="question"><a name="q-6-1"></a><span class="numero">1.</span> Qu'est-ce qu'un tête-à-tête ?
</p>
<p>
    Un tête-à-tête est une discussion privée entre deux utilisateurs. Ce qui se dit entre les deux n'est pas
    public, seuls les deux interlocuteurs peuvent le voir.
</p>
<p class="question"><a name="q-6-2"></a><span class="numero">2.</span> Comment lancer un tête-à-tête ?
</p>
<p>
    Vous pouvez avec une discussion vous isoler et discuter en tête-à-tête avec tout utilisateur. Pour ce faire
    cliquez sur le nom de cet utilisateur. Apparaît le profil de cet utilisateur sur lequel trône un gros bouton "
    Discuter ". Vous en brûlez d'envie, alors allez-ci, cliquez.
</p>
<p class="question"><a name="q-6-3"></a><span class="numero">3.</span> Comment suis-je notifié que quelqu'un a lancé un tête-à-tête avec moi ?
</p>
<p>
    Dans la colonne de gauche vous voyez l'ensemble de vos conversations actives : les <span>donuts</span>, et les
    tête-à-tête. Vous voyez donc dans la liste un nouveau tête-à-tête avec une pastille rose vous indiquant le
    nombre de messages non lus.
</p>
<p class="question"><a name="q-6-4"></a><span class="numero">4.</span> Quel poster s'affiche à droite de la conversation ?
</p>
<p>
    Lorsque vous discutez en tête-à-tête, vous voyez à droite de la conversation le poster de votre
    interlocuteur. Réciproquement, votre interlocuteur voit votre poster.
</p>
<p class="question"><a name="q-6-5"></a><span class="numero">5.</span> Ce qui se dit dans un tête-à-tête est-il public ?
</p>
<p>
    Non, seuls les deux interlocuteurs du tête-à-tête peuvent le voir.
</p>
<p class="question"><a name="q-6-6"></a><span class="numero">6.</span> Comment puis-je inviter une troisième personne à rejoindre le tête-à-tête
    ?
</p>
<p>
    Ce n'est malheureusement pas possible, sinon ce serait un tête-à-tête-à-tête ! En revanche, si vous voulez
    discuter à trois ou plus, créez un <span>donut</span>. C'est fait pour ça !
</p>
<script>
    (function() {
        var addresses = document.querySelectorAll(".address");
        var e = 'hello';
        e += '\u0040';
        e += 'donut'+'.me';
        for (i = 0; i < addresses.length; ++i) {
          var atag = document.createElement("a");
          atag.href = 'ma'+'il'+'to'+':'+e;
          atag.appendChild(document.createTextNode(e));
          addresses[i].insertBefore(atag);
        }
    })();
</script>
