{{> head}}
<body class="body-static">
<div class="container">
    <div class="logo">
        <a href="/"><img src="/images/logo.png" alt="{{#i}}title{{/i}} - {{#i}}baseline{{/i}}"></a>
    </div>
    <div class="main">
        <div class="content">
            {{{ yield }}}
        </div>
    </div>
    <div class="footer">
        {{#user}}
        {{#i}}global.footer.before{{/i}} <a href="/logout">{{#i}}actions.tologout{{/i}}</a> {{#i}}global.or{{/i}} <a href="/!">{{#i}}actions.home{{/i}}</a>{{#i}}global.footer.after{{/i}}
        {{/user}}
        {{^user}}
        {{#i}}global.footer.before{{/i}} <a href="/login">{{#i}}actions.tologin{{/i}}</a> {{#i}}global.or{{/i}} <a href="/signup">{{#i}}actions.signup{{/i}}</a>{{#i}}global.footer.after{{/i}}
        {{/user}}
    </div>
</div>
{{> foot}}
</body>
</html>