<h1>Mentions légales</h1>

<p>Le site Donut.me est édité par la <strong>société</strong> Donut Systems SAS en cours de formation.</p>

<p>Le directeur de la publication est M. Stéphane Lorbiol.</p>

<p>
    Le site Donut.me est hébergé par
    <blockquote>
        OVH<br>
        SAS au capital de 10 000 000 €<br>
        RCS Roubaix – Tourcoing 424 761 419 00045<br>
        Code APE 6202A<br>
        N° TVA : FR 22 424 761 419<br>
        Siège social : 2 rue Kellermann - 59100 Roubaix - France.
    </blockquote>
</p>

<p>Ce site respecte le droit d'auteur. Si vous constatez cependant une atteinte aux droits d’un tiers, vous pouvez nous le signaler par e-mail à <a href="mailto:hello@donut.me">hello@donut.me</a> en veillant à fournir suffisamment d’informations pour que nous puissions traiter la demande.</p>

<p>Ce site est un produit de la propriété intellectuelle. Toute reproduction, rediffusion, publication, modification totale ou partielle, à usage commercial ou non, est interdite sans autorisation expresse de de l’éditeur.</p>

<p>Numéro de déclaration CNIL : en cours d’enregistrement</p>
