<% layout('form') %>
<div class="content">
    <div id="signup">
        <div class="login">
            <div class="content">
                <form class="login-form form" method="post" role="form">
                    <input type="hidden" name="_csrf" value="<%= token %>">

                    <h3 class="form-title text-center"><%= t('actions.verify') %></h3>

                    <%= partial('errors') %>
                    <%= partial('success') %>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>