<% layout('form') %>
<div class="content">
    <div id="signup">
        <div class="login">
            <div class="content">
                <form class="login-form form" method="post" role="form">
                    <input type="hidden" name="_csrf" value="<%= token %>">

                    <h3 class="form-title text-center"><%= t('actions.verify') %></h3>

                    <%= partial('errors') %>
                    <%= partial('success') %>
                    <% if (user) { %>
                    <div class="actions-chat text-center">
                        <a class="flex-child button" href="/!"><%= t('logged.chat') %></a>
                    </div>
                    <% } else { %>
                    <div class="actions text-center">
                        <a href="/signup" class="flex-child"><%= t('landing.signup') %></a>
                        <span class="divider-vertical"></span>
                        <a href="/login"  class="flex-child"><%= t('landing.login') %></a>
                    </div>
                    <% } %>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>