<% layout('form') %>
<div class="content">
    <div id="signup">
        <div class="login">
            <div class="content">
                <form class="login-form form" method="post" role="form">
                    <input type="hidden" name="_csrf" value="<%= token %>">

                    <h3 class="form-title text-center"><%= t('actions.verify') %></h3>

                    <%= partial('errors') %>
                    <%= partial('success') %>

                    <div class="actions text-center">
                        <% if (user) { %>
                        <a class="flex-child" href="/!"><%= t('logged.chat') %></a>
                        <a class="flex-child" href="/logout"><%= t('logged.logout') %></a>
                        <% } else { %>
                        <a href="/signup" class="flex-child"><%= t('landing.signup') %></a>
                        <a href="/login"  class="flex-child"><%= t('landing.login') %></a>
                        <% } %>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>