<% layout('profile') %>
<input type="hidden" name="id" value="<%= room._id %>"><!-- petit curieux -->
<div id="profile" class="room-profile">
    <div class="cover room">
        <a href="<%= room.url %>"><img class="avatar" src="<%= room.avatar %>" alt="<%= room.name %> avatar"></a>
        <p class="join"><a href="<% if (!user) { %><%= room.join %><% } else { %><%= room.chat %><% } %>" <% if (room.color) { %>style="background-color: <%= room.color %>;"<% } %>><%= t('actions.join') %> <% if (room.usersCount) { %><%= room.usersCount %><% } %> <i class="icon icon-user-custom"></i></a></p>
    </div>
    <div class="text room">
        <div class="name-content">
            <a href="<%= room.url %>" class="name"><%= room.name %></a>
            <div class="fb-like" data-href="<%= room.url %>" data-layout="button" data-action="like" data-show-faces="false" data-share="true" data-ref="profile-page"></div>
        </div>
        <% if (room.owner) { %>
        <span class="owner">
            <%= t('global.by') %> <a href="<%= room.owner.url %>" <% if (room.color) { %>style="color: <%= room.color %>;"<% } %>>@<%= room.owner.username %></a>
        </span>
        <% } %>
        <% if (room.website) { %>
        <% if (room.owner) { %><span class="separation">|</span><% } %>
        <a class="website" href="<%= room.website.href %>" title="<%= room.website.title %>" <% if (room.color) { %>style="color: <%= room.color %>;"<% } %>>
            <%= room.website.title %>
        </a>
        <% } %>
        <% if (room.description) { %>
        <div class="description">
            <p class="description-content"><%= room.description %></p>
        </div>
        <% } %>
    </div>
    <hr class="clear">
    <hr>
    <p class="title"><%= t('profile.room.ownerops') %></p>
    <div class="users cards">
        <% if (room.owner) { %><%= partial('user', {_user: room.owner}) %><% } %>
        <% _.each(room.op, function(_op) { print(partial('user', {_user: _op}));  }); %>
    </div>
    <hr class="clear">
    <hr class="push-bottom">
    <% if (room.topic) { %>
    <div class="room">
        <p class="title"><%= t('profile.room.now') %></p>
        <div class="topic">
            <div class="topic-content"><label><%= t('chat.topic.label') %></label> <%= room.topic %></div>
        </div>
    </div>
    <% } %>
    <div class="users cards">
        <% _.each(room.users, function(u) { print(partial('user', {_user: u})); }); %>
        <% if (!room.users) { %><div class="no"><%= t('profile.room.nouser') %></div><% } %>
    </div>
    <hr class="clear">
    <hr class="push-bottom">
    <div class="disclaimer">
        <p>
            <%= t('profile.room.disclaimer.before') %>
            <a href="<%= room.url %>"><%= room.name %></a>
            <%= t('profile.room.disclaimer.after') %>
        </p>
        <a href="/"><img src="/images/logo-onecolor-gr.svg" alt="DONUT logo"></a>
    </div>
    <hr class="clear">
</div>