<% layout('form') %>
<div class="content">
    <div id="signup">
        <div class="login">
            <div class="content">
                <form class="login-form form flex-parent column" method="post" role="form">
                    <input type="hidden" name="_csrf" value="<%= token %>">

                    <div class="method-facebook-or">
                        <div class="outer"><div class="inner"><%= t('landing.signup-self') %></div></div>
                    </div>

                    <a href="/login/facebook" class="btn-facebook"><i class="icon icon-facebook"></i> | &nbsp;<%= t('login.withfacebook') %></a>

                    <div class="method-facebook-or">
                        <div class="outer"><div class="inner"><%= t('actions.orsignup') %></div></div>
                    </div>

                    <%- partial('errors') %>

                    <div class="form-group mb10 mt20">
                        <input type="text" id="signin-username" class="form-control" name="username" placeholder="<%= t('login.username-placeholder') %>" value="<%- userFields.username %>" tabindex="1">
                        <img src="/images/arrow.svg">
                        <p class="help-block"><%= t('choose-username.help') %></p>
                    </div>

                    <div class="form-group mb10">
                        <input type="text" id="signin-email"    class="form-control" name="email"   placeholder="<%= t('login.email-placeholder') %>" value="<%- userFields.email %>" tabindex="2">
                        <img src="/images/arrow.svg">
                    </div>

                    <div class="form-group mb10">
                        <input type="password" id="signin-password" class="form-control" name="password" placeholder="<%= t('login.password-placeholder') %>" tabindex="3">
                        <img src="/images/arrow.svg">
                    </div>

                    <div class="form-group flex-end mt10">
                        <input type="submit" class="button button-blue" value="<%= t('home.signup.etvoila') %>" tabindex="4">
                    </div>

                    <div class="clearfix"></div>

                    <div class="create-account text-center">
                        <%= t('signup.disclaimer') %>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>