<% layout('profile') %>

<div class="side oneside dc-back <% if (!poster) { %>poster-empty<% } %>" style="<% if (typeof poster !== 'undefined') { %>background-image: url(<%= poster %>);<% }; %>">
    <div class="blur dc-back-darker " style="<% if (typeof poster !== 'undefined') { %>background-image: url(<%= poster %>);<% }; %>">

    </div>
</div><!-- /.side -->
<div class="content">
    <div class="visible-xs visible-sm">
        <div class="mini-header user">
            <img class="avatar border-shadow" src="<%= _user.avatar %>" alt="<%= _user.username %> avatar">
            <span class="username dc-text-contrast" >@<%= _user.username %></span>
        </div>
    </div>
    <div class="header user">
        <div class="overlay-ctn">
            <img class="avatar border-shadow" src="<%= _user.avatar %>" alt="<%= _user.username %> avatar">
            <p class="discuss"><a class="dc-back dc-text-contrast" href="<% if (!user) { %><%= _user.discuss %><% } else { %><%= _user.chat %><% } %>" ><%= t('actions.discuss') %></a></p>
        </div>
        <div class="info">
            <a href="<%= _user.url %>" class="username"><% if (_user.realname) { %><%= _user.realname %><% } else { %>@<%= _user.username %><% } %></a>
            <div class="share ">
                <%= t('chat.share.label') %>
                <i class="facebook icon icon-facebook-square" data-url="<%- _user.url %>" data-name="<%- _user.username %>" data-avatar="<%- _user.avatar %>"></i>
                <i class="twitter icon icon-twitter-square" data-url="<%- _user.url %>" data-name="<%- _user.username %>"></i>
                <i class="googleplus icon icon-google-plus-square" data-url="<%- _user.url %>"></i>
            </div>
            <% if (_user.realname) { %>
                <br />
                <span class="othername">
                    @<%= _user.username %>
                </span>
            <% } %>
            <% if (_user.location) { %>
                <br/>
                <span class="location ">
                    <%= _user.location %>
                </span>
            <% } %>
            <% if (_user.website && _user.website.href) { %>
                <% if (_user.location) { %><span class="separation ">|</span><% } %>
                <span class="website  dc-text">
                    <a class="website dc-text" href="<%= _user.website.href %>" title="<%= _user.website.title %>">
                        <%= _user.website.title %>
                    </a>
                </span>
            <% } %>
            <% if (_user.bio) { %>
                <div class="bio ">
                    <p class="bio-content"><%= _user.bio %></p>
                </div>
            <% } %>
        </div>
    </div>
    <div class="events">
        <div class="scrollable">
            <input type="hidden" name="id" value="<%= _user._id %>"><!-- petit curieux -->

            <% if (_user.hasRooms) { %>
            <p class="title"><%= t('profile.user.hisrooms') %></p>
            <p class="flex-parent flex-row-wrap">
                <% _.each(rooms, function(room) { %>
                    <a class="mr10 mb10 fs20" href="<%=room.url%>"><%=room.identifier%></a>
                <% }); %>
            </p>
            <% } %>
        </div>
    </div>
    <div class="input">
        <div class="text-container">
            <div class="overlay">
                <span class="overlay-text">
                    <a href="<% if (!user) { %><%= _user.discuss %><% } else { %><%= _user.chat %><% } %>" data-identifier="<%= user.name %>"><%= t('actions.discuss') %></a>
                </span>
            </div>
            <div class="text">
                <textarea class="editable" maxlength="512"></textarea>
                <% if (typeof user !== 'undefined' && typeof user.avatar !== 'undefined') { %>
                <img class="avatar" src="<%= user.avatar %>">
                <% } else { %>
                <img class="avatar" src="<%= userDefaultAvatar %>" alt="default avatar">
                <% } %>
                <div class="actions">
                    <a class="images add-image"><i class="icon icon-camera dc-text"></i></a>
                    <a class="images add-smiley"><i class="icon icon-smile-o dc-text"></i></a>
                </div>
                <a class="send dc-back dc-border"><img src="/images/input-arrow.svg" alt="send message">
                    <span class="arrow-bottom dc-border"></span>
                </a>
            </div>
        </div>
    </div>
</div><!-- /.content -->