<% layout('profile') %>

<div class="side dc-back" style="<% if (typeof poster !== 'undefined') { %>background-image: url(<%= poster %>);<% }; %>">
    <div class="blur dc-back-darker " style="<% if (typeof poster !== 'undefined') { %>background-image: url(<%= poster %>);<% }; %>">

    </div>
</div><!-- /.side -->
<div class="content">
    <div class="header user">
        <div class="avatar">
            <img src="<%= _user.avatar %>" alt="<%= _user.username %> avatar">
            <p class="discuss hidden-xs hidden-sm"><a href="<% if (!user) { %><%= _user.discuss %><% } else { %><%= _user.chat %><% } %>" <% if (_user.color) { %>style="background-color: <%= _user.color %>;"<% } %>><%= t('actions.discuss') %></a></p>
        </div>
        <div class="info">
            <a href="<%= _user.url %>" class="username hidden-xs hidden-sm">@<%= _user.username %></a>
            <a href="<%= _user.url %>" class="username visible-xs visible-sm dc-text-contrast">@<%= _user.username %></a>
            <% if (_user.location) { %>
                <span class="location hidden-xs hidden-sm">
                    <%= _user.location %>
                </span>
            <% } %>
            <% if (_user.website) { %>
                <% if (_user.location) { %><span class="separation hidden-xs hidden-sm">|</span><% } %>
                    <span class="website hidden-xs hidden-sm" <% if (_user.color) { %>style="color: <%= _user.color %>;"<% } %>>
                    <%= _user.website %>
                    </span>
                <% } %>
                <% if (_user.bio) { %>
                <div class="bio hidden-xs hidden-sm">
                    <p class="bio-content"><%= _user.bio %></p>
                </div>
            <% } %>
            <div class="fb-like hidden-xs hidden-sm" data-href="<%= _user.url %>" data-layout="button" data-action="like" data-show-faces="false" data-share="true" data-ref="profile-page"></div>
        </div>
    </div>
    <div class="events">
        <div class="scrollable">
            <input type="hidden" name="id" value="<%= _user._id %>"><!-- petit curieux -->

            <% if (_user.hasRooms) { %>
            <p class="title"><%= t('profile.user.hisrooms') %></p>
            <div class="rooms cards">
                <% _.each(_user.roomsList, function(room) { print(partial('room', {room: room})); }); %>
            </div>
            <hr class="clear">
            <hr>
            <% } %>
        </div>
    </div>
</div><!-- /.content -->