.body-chat { height: 100%; overflow-y: hidden; .ft-opensans; }
.tooltip-home-users { padding: 0 !important; margin-left: 0 !important; margin-top: -2px;
  .tooltip-inner {     background-color: transparent; padding: 0; border: 0; max-width: initial; border-radius: 0;
    .username {     max-width: 200px; padding: 3px 8px; color: #fff; border-top-left-radius: 4px; border-bottom-left-radius: 4px; line-height: 24px; font-size: 12px; text-align: center; }
  }
}
#welcome {
  .modal-dialog {
    z-index: 1041; // fix .modal-dialog behind .modal-backdrop for unknown reason
  }
  .modal-body {
    font-size: 1.1em;
    .room {
      font-size: 0.9em;
    }
  }
  .modal-footer {
    span.checkbox {
      .pull-left;
      margin: 0;
    }
  }
}
#connection {
  .modal-backdrop {
    background-color: @cl-background;
  }
  .modal-dialog {
    margin-top: 10em;
    //width: 320px;
    .modal-content {
      .modal-body {
        padding: 50px 10px 50px;
        .loader {
          font-size: 38px;
          margin-bottom: 5px;
          text-align: center;
          .ft-opensans-bold;
          color: @cl-subtext30;
          .one {
            opacity: 0;
            -webkit-animation: dot 1.3s infinite;
            -webkit-animation-delay: 0.0s;
            animation: dot 1.3s infinite;
            animation-delay: 0.0s;
          }
          .two {
            opacity: 0;
            -webkit-animation: dot 1.3s infinite;
            -webkit-animation-delay: 0.2s;
            animation: dot 1.3s infinite;
            animation-delay: 0.2s;
          }
          .three {
            opacity: 0;
            -webkit-animation: dot 1.3s infinite;
            -webkit-animation-delay: 0.3s;
            animation: dot 1.3s infinite;
            animation-delay: 0.3s;
          }
          @-webkit-keyframes dot {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }

          @keyframes dot {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
        .hello {
          text-align: center;
          font-size: 20px;
          margin-bottom: 12px;
          color: @cl-subtext50;
        }
        .error-message {
          display: none;
          margin-top: 25px;
          text-align: center;
          color: @cl-error;
        }
        .contactus {
          margin-top: 30px;
          text-align: center;
          font-size: 14px;
          a {
            color: @cl-first;
          }
        }
      }
    }
  }
}
#confirmation {
  .modal-backdrop {
    background-color: @cl-background;
  }
  .modal-dialog {
    margin-top: 10em;
    width: 400px;
    .modal-content {
      .modal-body {
        text-align: center;
        .question {
          margin-bottom: 15px;
        }
        .input {
          margin-bottom: 15px;
        }
        .buttons {
          .cancel {
            .btn;
            .btn-danger;
          }
          .confirm {
            .btn;
            .btn-success;
          }
        }
      }
    }
  }
}
#room-users-modal .modal-body .list { padding: 0; list-style: none;
  > li { float:left; width: 50%;
    &.loader { float:none; width:100%; }
    &.li-title { clear: both; width: 100%;
      .title { margin-top: 15px; padding-left: 10px; }
    }
    .item { position: relative; width: 100%; padding: 0; margin: 5px; font-size: 0.9em; font-weight: bold; white-space: nowrap; display: block;
      .avatar { position: relative; display: inline-block; width: 34px; height: 34px; background-position: center center; background-size: 34px 34px; vertical-align: middle; }
      .username { position: relative; font-size: 12px; margin-left: 9px; padding-right: 12px; overflow: hidden; display: inline-block; vertical-align: middle; max-width: 110px; white-space: nowrap;
        .icon-dot-circle-o {
          &.online { color: @cl-success; }
          &.offline { color: @cl-error; }
        }
      }
      .dropdown { float: none; top: 0; margin: 0; position: relative; display: inline-block; vertical-align: middle;
        .dropdown-toggle { border: 0; background-color: transparent; }
        .dropdown-menu {
          > li {
            > a { color: inherit; padding-left: 8px; cursor: pointer; padding-right: 8px;
              p { display:inline; }
              &.deop { padding-left: 5px;
                .icon-stack { font-size: 11px; }
              }
            }
          }
        }
      }
      &.offline {
        .username { .opacity(0.4); }
        .avatar { .opacity(0.4); width: 30px; height: 30px; background-size: 30px 30px; }
      }
      &.op {
        .avatar { .border-radius(5px); border: 2px solid @cl-success !important; }
        .avatar::before { z-index: 5; position: absolute; content: " "; top: -10px; left: -7px; width: 12px; height: 16px; background-image: url("@{img-path}/op.png"); background-size: 12px 16px;
        }
      }
      &.devoice {
        .avatar { .border-radius(5px); border: 2px solid @cl-error !important;
          &::after { content: '\f037'; display: inline-block; font: normal normal normal 14px/1 'Donut'; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); right: -9px; bottom: -10px; position: absolute; color: @cl-error; font-size: 19px; border-radius: 50%; }
        }
      }
      &.owner {
        .avatar { .border-radius(5px); border: 2px solid #fbec4d !important; }
        .avatar::before { z-index: 5; position: absolute; content: url("@{img-path}/owner.png") !important; top: -15px !important; left: 7px !important; }
      }
    }
  }
  &::after { .clearfix; }
}
#chat {
  .container-fluid;
  height: 100%;
  margin: 0;
  padding: 0;

  #languages { z-index: 5;
    a { padding: 3px 5px; cursor: pointer; }
  }

  > .row {
    margin: 0; /* Cancel bootstrap negative .row margin */
    height: 100%;
    width: 100%;
    padding-top: @size-color;
  }

  #color-default {
    position: fixed;
    right: 0;
    left: 0;
  }
  #color-default { background-color: @cl-first; }
  #color, #color-default {
    min-height: @size-color;
    height: @size-color;
    margin-bottom: 0;
    border-width: 0 0 0;
    font-size: 13px;
    .container {
      width: 100%;
      padding-left: 7px;
      padding-right: 0;
      .navbar-brand-a { height: auto; padding: 0 15px 0 10px; float:left; margin-top:1px;
        &:hover { text-decoration: none; }
        .logo { display: inline-block; width: 144px; }
        .beta { vertical-align: bottom; height: @size-color; .ft-raleway-medium; font-size: 13px; padding-left: 0px; padding-top: 18px; text-decoration: none; }
      } // #chat #color .container .navbar-brand-a
      .navbar-nav-ul>li>a {
        &:hover { text-decoration:underline; }
      }
      #notifications {
        &.empty {
          .hide-empty { display: none; }
          .show-empty { display: initial; }
        }
        &.full {
          .hide-empty { display: initial; }
          .show-empty { display: none; }
        }
        .badge { position: absolute; right: 2px; top: 4px; line-height: 9px; font-size: 8px; font-weight: normal; background-color: #FFF; border-radius: 50%; height: 18px; width: 18px; padding: 3px; border-style:solid; border-width:1px; }
        .dropdown-menu {
          min-width: 375px;
          min-height: 80px;
          .loading {
            padding: 20px 20px;
            font-size: 1.5em;
            position: relative;
            .icon {
              position: absolute;
              left: 166px;
              top: 10px;
            }
          }
          .action-tag-as-read { text-decoration: underline; cursor: pointer; font-size: 0.8em; line-height: 18px; }
          .read-more { padding: 10px 20px; font-size: 1.2em; text-align: center; color: #555; background: #f1f1f1; border-color: #f1f1f1; .border-radius(0px 0px 3px 3px); cursor: pointer;
            &:hover { background: #FDFDFD; }
          }
          .unread-count { margin: 0; font-size: 13px; display: inline-block; width: 100%; color: #555; padding: 10px 20px; background-color: #f1f1f1;
            a { text-decoration: none; }
          }
          .messages-list-ctn {
            overflow-y: auto;
            overflow-x: hidden;
            width: auto;
            height: 300px;
            .messages-list {
              font-size: 13px;
              .message {
                padding: 10px 12px;
                position: relative;
                border-bottom-color: #F1F1F1;
                border-style: solid;
                border-width: 0 0 1px 0;
                &.unread {
                  background-color: #e9eaed;
                  background: rgba(237, 239, 245, .98);
                  border-color: #d8deea;
                  &:hover {
                    background-color: #f6f7f8;
                    border-color: #e9eaed;
                    text-decoration: none;
                  }
                }
                img {
                  width: 45px;
                  height: 45px;
                  position: absolute;
                  top: 38%;
                  margin-top: -16px;
                  left: 7px;
                  .border-radius(50%);
                  border: 2px solid #fafafa;
                  border: 2px solid rgba(167, 167, 167, 0.1);
                }
                i.icon { width: 23px; height: 23px; position: absolute; top: 50%; margin-top: -16px; font-size: 22px; text-align: center; }
                .message-subject { display: block; line-height: 17px; margin-bottom: 2px; overflow-x: hidden; overflow-y: hidden; padding: 0 30px 0 42px; text-overflow: ellipsis; white-space: nowrap; width: 350px;
                  .username, .name { color: #000; font-weight: bold; }
                }
                .action-tag-as-done { font-size: 18px; position: absolute; top: 10px; right: 5px; color: @cl-silver; cursor: pointer;  }
                .message-description {
                  color: #AAA;
                  font-size: 11px;
                  line-height: 17px;
                  padding-left: 42px;
                  .username {
                    color: #000;
                    font-weight: bold;
                  }
                  .date {
                    display: inline;
                    float: right;
                  }
                }
              }
            }
            .messages-link {
              border-top-color: #F1F1F1;
              border-top-style: solid;
              border-top-width: 1px;
              color: #999;
              display: block;
              font-size: 10px;
              font-weight: 600;
              height: 35px;
              line-height: 18px;
              padding-top: 8px;
              text-align: center;
              text-decoration: none;
              &:hover {
                background: #F1F1F1;
              }
            }
          }
        }
      } // #color .container #notifications
      .icontop .toggle, .icontop .dropdown-toggle {
        .icon {
          .opacity(0.5);
          &:hover { .opacity(1); }
        }
        &[aria-expanded="true"] {
          .icon { .opacity(1); }
        }
      }
      .navbar-nav { float:left; margin: 0;
        &.navbar-right { float:right; margin: 0; position: absolute; top: 0; right: 0;
          > li > a { background-color:transparent; }
          .dropdown-menu { right:0; left: initial; }
          .open .dropdown-menu { position: absolute;
            background-color: #FFF;
            border: 1px solid rgba(0,0,0,0.15);
            box-shadow: 0 6px 12px rgba(0,0,0,0.175); }
        }
        & > li { float: left;
          & > a { padding-top: 9px; padding-bottom: 8px;
            &:active, &:visited, &:focus { background-color: transparent; }
            .icon { font-size: 20px; } // #chat #color .container .navbar-nav>li>a .icon
          } // #chat #color .container .navbar-nav>li>a
          .dropdown-menu > .arrow-up { width: 0; height: 0; border-style: solid; border-width: 0 10px 10px 10px; border-color: transparent transparent #C4C4C4 transparent; position: absolute; top: -10px; right: 13px; display: block; padding: 0;
            &::after { content:''; width: 0; height: 0; border-style: solid; border-width: 0 10px 10px 10px; border-color: transparent transparent #FFF transparent; position: absolute; top: 1px; right: -10px; display: block; padding: 0; }
            &.colored::after { border-color: transparent transparent #F1F1F1 transparent; }
          }
        } // #chat #color .container .navbar-nav>li
      } // #chat #color .container .navbar-nav
      .navbar-nav-ul>.open>a, .navbar-nav-ul>li>a:hover { background-color: transparent; }
      .navbar-nav-ul>li { float:left; }
      .navbar-nav-ul>li>a { background-color: transparent; }
      .dropdown-menu {
          &>li>a {
          color: @cl-subtext30;
          &.loading {
            text-align: center;
          }
        }
      }
    } // #chat #color .container
  }

  #left {float: left; width: @size-left; height: 100%; background-color: @cl-subtext10; z-index: 12; position: relative; font-size: 14px;
    hr {
      margin-bottom: 13px;
    }
    .page-sidebar-menu { margin:0; padding:0; .display-flex; .flex-flow(column nowrap); height:100%;
      #block-current-user { list-style: none; .clearfix; padding: 12px 8px 0 18px; position: relative; min-height: 72px;
        .avatar { float:left; position: relative; display: inline-block; width: 60px; height: 60px;
          img { width: 60px; height: 60px; }
          .overlay { display:none; background-color: black; height: 100%; width: 100%; position: absolute; top: 0; cursor: pointer; .opacity(0.2); }
          .overlay-text { display:none; color: white; position: absolute; top: 19px; width: 100%; text-align: center; cursor: pointer; }
          .username { font-size: 14px; overflow: hidden; text-overflow: ellipsis; .ft-opensans-bold; left: 65px; width: 130px; position: absolute; top: 0; cursor: pointer; }
          &:hover .overlay, &:hover .overlay-text { display: block; }
        }
        .sub-menu { display: inline-block; width: 110px; padding: 0; margin: 0;
          .connection { top: 32px; position: absolute; left: 83px;
            i { margin-right: 5px; }
          }
          .dropdown-user-actions { position: absolute; top: 3px; right: 4px;
            button { font-size: 22px; color: @cl-subtext20;
              &:hover { color: @cl-subtext50; }
            }
          }
          .dropdown-toggle { border: none; background-color: transparent; }
          a { color: @cl-subtext40; cursor: pointer; }
          a:hover { color: @cl-subtext50; text-decoration: none; }
        }
      }
    }

    #block-actions {
      text-align: center;
      color: @cl-subtext30;
      a {
        color: @cl-subtext50;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }


    #block-discussions { overflow-x: hidden; overflow-y: auto; padding-bottom: 0; margin-bottom: 25px; .flex(1); .scrollbar-grey-thin;
      ul { padding:0;
        li { list-style: none; padding:0; margin:0;position: relative; }
      } // #chat #left #block-discussions ul
      .list { height: 100%; margin-bottom: 0; padding: 0; background-repeat: no-repeat; background-position: left top; position: relative;
        .item { display: block; position: relative; color: @cl-title; .display-flex; .flex-flow(row nowrap); padding-right:5px;
          a, a:hover { text-decoration:none; }
          .avatar-ctn { margin: auto; }
          .name-ctn { .flex(1); margin: auto; }
          .avatar { width: 22px; height: 22px; margin-left: 16px; display: inline; }
          &[data-type="room"] {
            .avatar { .img-circle; }
          }
          .name, .username { margin-top: 5px; margin-left: 5px; font-family: "Open Sans"; font-size: 14px; display: inline-block; width: 138px; overflow: hidden; text-overflow: ellipsis;
            > span { font-size: 13px; padding-right: 1px; }
          }
          .close-discussion { font-size: 1.8em; color: @cl-subtext20;
            &:hover { color: @cl-subtext20; }
          }
          &:hover { text-decoration: none;
            span.name { color: @cl-subtext50; }
            &::before { content: url('@{img-path}/svg/draggable.svg'); position: absolute; left: 4px; top: 8px; }
          }
          &.blocked { span.name { color: green; } }
          &.active,
          &.active:hover,
          &.active:focus {
            background-color: @cl-background;
          }
        }
        .unread { padding: 1px 6px; font-size: 11px; background-color: @cl-first; color: #fff; .border-radius(10px); align-self: center;
          i { line-height: 1.5; margin-left: 2px;
            &:last-child { margin-left: 0; }
          }
          i.icon-user-custom { font-size: 12px; }
          i.icon-atxx { font-size: 12px; margin-left: 0; }
          i.icon-envelope { font-size: 11px; }
        }
        .placeholder {
          .ft-opensans-bold-italic;
          background-color: @cl-subtext20;
          color: @cl-subtext50;
          text-align: center;
          font-size: 1.2em;
          padding: 8px 8px 0;
        }
      }
    } // #chat #left #block-discussions
  }

  #center { height: 100%; z-index: 5; margin-left: @size-left; font-size: 12px; background-color: @cl-subtext0; background-image: url('@{img-path}/logo-onecolor-gr.svg'); background-repeat: no-repeat; background-position: center center; background-size: 60%;
    #home { height: 100%; display: none; background-color: @cl-background;

      .title {
        .ft-raleway-medium;
        color: @cl-subtext30;
        font-size: 1.6em;
        margin-bottom: 10px;
        a {
          color: @cl-first;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .nothing {
        .ft-raleway-medium;
        color: @cl-subtext30;
        text-align: center;
        font-size: 1.2em;
        margin-top: 20px;
      }
      .left {
        .make-xs-column(12);
        .make-sm-column(10);
        .make-lg-column(9);
        height: 100%;
        padding: 30px 40px;
        overflow-x: auto;

        > .search {
          position: relative;
          font-size: 1.8em;
          input[type=text] {
            width: 100%;
            border: 1px solid @cl-subtext10;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            padding: 5px 75px 6px 30px;
            .ft-raleway-medium;
            color: @cl-subtext50;
            outline: none; /* avoid Google Chrome blue outline on focused input */
          }
          input[type=text]:focus {
          }
          i {
            position: absolute;
            top: 9px; right: 19px;
            color: @cl-subtext50;
            cursor: pointer;
          }
        } // #chat #center #home .left>.search

        .rooms {
          .title {
            margin-top: 30px;
            margin-bottom: 10px;
          }
        }
      } // #chat #center #home .left
      .right { .make-xs-column(0); .make-sm-column(2); .make-lg-column(3); height: 100%; padding: 20px 5px 50px 14px; background-color: @cl-subtext10;
        .users { height:100%;
          .list { overflow-y: auto; overflow-x: hidden; height: 100%; .scrollbar-white;
            .item { .pull-left; position: relative; margin-top: 10px; margin-right: 10px;
              .avatar { display: inline-block; width: 30px; height: 30px; }
              .username { display: none; position: absolute; top: 0; right: -20px; height: 30px; line-height: 30px; margin-right: 50px; padding-left: 10px; padding-right: 8px; background-color: @cl-subtext10; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; text-align: left; .ft-opensans-bold; color: #ffffff; z-index: 99999; white-space: nowrap;
              }
              &:hover {
                .username {
                  display: block;
                }
              }
            }
          } // #chat #center #home .right .users .list
          .list.search {
            .item {
              .avatar {
                margin-left: -3px;
                margin-top: -1px;
                .pull-left;
              }
              .username {
                display: inline-block;
                position: relative;
                right: inherit;
                margin-right: 0;
                color: @cl-title;
                background-color: transparent !important;
                font-size: 1.1em;
              }
            }
            .item:hover {
              .username {
                display: inline-block;
              }
            }
          }
        } // #chat #center #home .right .users
      } // #chat #center #home .right
    } // #chat #center #home
    .discussion { background-color: @cl-background; height: 100%;
      @header-height: 35px; @size-user-item: 205px;
      .content { height: 100%; position: relative; padding-left: 35px; .display-flex; .flex-flow(column nowrap);
        &.blocked { align-items: center; justify-content: center;
          .header .info { padding:0; }
        }
        .cover { text-align: center; }
        .user {
          .show-if-banned { display:none; }
          &.is-banned .show-if-banned { display:initial; }
          &.is-banned .show-if-unbanned { display:none; }
          &.is-banned .avatar::after { font-family: Donut; content: '\f002'; position: absolute; font-size: 90px; color: rgba(119, 119, 119, 0.75); top: 0; line-height: 90px; left:6px; }
        }
        .header { padding-top: 18px; padding-right: 10px;
          .info { padding-left: 110px;
            .share { display: inline-block;
              i { font-size: 16px; color: @cl-text; margin-left: 3px; vertical-align: middle; cursor: pointer;
                &.facebook { color: #3b5998; }
                &.twitter { color: #4099FF; }
                &.googleplus { color: #dd4b39; }
              }
            }
          } // #chat #center .discussion .content .header .info
          &.room { min-height: 135px;
            .overlay-ctn {
              .avatar { position: absolute; width: 100px; height: 100px; .border-shadow; } // #chat #center .discussion .content .header.room .overlay-ctn .avatar
              .overlay { height: 100px; width: 100px; top:0; .border-radius(50%); }
              .overlay-text { width: 100px; top: 40px; }
            } // #chat #center .discussion .content .header.room .overlay-ctn
            .info {
              .name { display: inline-block; margin-top: 2px; font-size: 2.2em; } #chat #center .discussion .content .header.room .info .name
              .owner { display: inline-block; font-size: 1.2em; }
              .dropdown { display: inline-block; position: relative;
                .dropdown-menu>li>a { color: @cl-subtext40; }
                button { font-size: 24px; border: none; background-color: transparent; color: @cl-subtext20;
                  &:hover { color: @cl-subtext50; }
                }
              }
            } // #chat #center .discussion .content .header.room .info
            .topic { min-height: 32px; margin-top: 4px; padding: 5px 15px 5px 110px;
              .topic-current { .txt-bubble; overflow: hidden; text-overflow: ellipsis; padding: 0.6em 1.2em; display: inline-block; white-space: nowrap; max-width: 100%; width: 100%;
                label { font-size: 13px; display: block; width: 90px; float: left; margin: 0; color: @cl-subtext40; }
                .txt { display: block; font-size: 13px; margin-left: 90px; overflow: hidden; }
                .default { color: @cl-subtext20;
                  &:hover { color: @cl-subtext50; }
                }
              }
              .topic-form { display: none;
                input[type=text] { width: 100%; }
              }
            } // #chat #center .discussion .content .header.room .topic
          } // #chat #center .discussion .content .header.room
          &.user { min-height: 135px; position: relative;
            .avatar { position: absolute; width: 100px; height: 100px;
              img { width:100%; }
            }
            .banned-status { color: rgb(255, 78, 78); font-style: italic; }
            .info { font-size: 1.2em;
              .username { display: inline-block; margin-top: 12px; margin-right: 4px; font-size: 2em; }
              .location, .website { }
              .dropdown { display: inline-block; position: relative;
                button { font-size: 24px; border: none; background-color: transparent; color: @cl-subtext20;
                  &:hover { color: @cl-subtext50; }
                }
              }
            } // #chat #center .discussion .content .header.user .info
            .status-block { font-size: 1.2em; margin-left: 110px;
              i { font-size: 0.9em; }
              .ago { display: none; font-size: 0.9em; font-style: italic; }
            } // #chat #center .discussion .content .header.user .status-block
            .hello-block { font-size: 1.2em; margin-left: 110px; font-style: italic; }
          } // #chat #center .discussion .content .header.user
        } // #chat #center .discussion .content .header
        .events { border-top: 1px solid @cl-subtext10; overflow-y: scroll; overflow-x: hidden; .flex(1); .scrollbar-grey;
          .go-to-top {
            display: none;
            position: absolute;
            top: 135px;
            right: 0;
            padding: 4px 8px 6px;
            background-color: @cl-background;
            border: 1px solid @cl-subtext10;
            border-right: 0;
            border-top-color: @cl-background;
            border-bottom-left-radius: 5px;
            a {
              color: @cl-subtext30;
              cursor: pointer;
              i {
                font-size: 1.4em;
                vertical-align: middle;
              }
              &:hover {
                text-decoration: none;
              }
            }
          }
          .go-to-bottom {
            display: none;
            opacity: .5;
            position: absolute;
            bottom: 115px; right: 0;
            padding: 8px;
            background-color: @cl-background;
            border: 1px solid @cl-subtext10;
            border-right: 0;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            a {
              color: @cl-subtext30;
              cursor: pointer;
              i {
                font-size: 1.4em;
                vertical-align: middle;
              }
              &:hover {
                text-decoration: none;
              }
              .unread {
                display: none;
              }
            }
            &.unread {
              background-color: @cl-first;
              a {
                color: @cl-background;
                .unread {
                  display: inline;
                }
              }
            }
          }
          .scrollable { margin-right: 5px;
            .scrollable-content { position: relative; padding-right: 10px;
              hr { border-color: @cl-subtext5; }
              .pad { min-height: 30px; text-align: center; font-size: 2em;
                i { display: none; }
                &.loading  i { display: inline; }
              }
              .loader { padding: 10px; text-align: center; font-size: 1.1em; border-radius: 2px;
                .arrow { font-size: 1.4em; padding-left: 50px; padding-right: 50px; }
                .loading { display: none;
                  .spinner { font-size: 1.3em; }
                }
                .no-more { margin:50px 0; display: none; text-align: left;
                  .title { font-size:3rem; .ft-raleway-heavy; }
                  .info { font-size: 2rem;
                    .name, .owner { font-size:2rem; font-weight:normal; }
                  }
                  .actions { padding: 15px 0;
                    > a { margin: 0 10px; text-decoration:underline;
                      &:first-child { margin-left:0; }
                      &:hover { text-decoration:none; }
                    }
                  }
                }
              }
              .realtime {
                a.linkified { position: relative; text-decoration: underline; }
                a.mention { font-weight: bold; }
                .block { line-height: 19px; position: relative; margin: 0; border-top: 1px solid @cl-subtext0; font-size: 1.1em;
                  &.date + .block { border-top: transparent; }
                  &.date { margin-top: 16px; margin-bottom: 10px; clear: both; border-top: 0;
                    height: 1px;
                    background-color: @cl-subtext10;
                    text-align: center;
                    .moment { position: relative; top: -0.7em; background-color: @cl-background; text-align: center; font-size: 1.1em; font-weight: bold; color: @cl-subtext30; padding: 0 10px; }
                  }
                  &.hello {
                    i {
                      font-size: 1.5em;
                      color: @cl-success;
                      vertical-align: bottom;
                      line-height: normal;
                    }
                  }
                  &.disconnected {
                    i {
                      font-size: 1.8em;
                      color: @cl-error;
                      vertical-align: middle;
                    }
                  }
                  &.reconnected {
                    i {
                      font-size: 1.8em;
                      color: @cl-success;
                      vertical-align: middle;
                    }
                  }
                  &.op {
                    i {
                      font-size: 1.5em;
                      color: @cl-success;
                      vertical-align: middle;
                      line-height: normal;
                    }
                  }
                  &.deop {
                    i {
                      font-size: 1.5em;
                      color: @cl-subtext30;
                      vertical-align: middle;
                      line-height: normal;
                    }
                  }
                  &.kick {
                    i {
                      font-size: 1.5em;
                      color: @cl-error;
                      vertical-align: middle;
                      line-height: normal;
                    }
                  }
                  &.ban {
                    i {
                      font-size: 1.4em;
                      color: @cl-error;
                      vertical-align: middle;
                    }
                  }
                  &.deban {
                    i {
                      font-size: 1.4em;
                      color: @cl-subtext30;
                      vertical-align: middle;
                    }
                  }
                  &.voice {
                    i {
                      font-size: 1.4em;
                      color: @cl-success;
                      vertical-align: middle;
                    }
                  }
                  &.devoice {
                    i {
                      font-size: 1.4em;
                      color: @cl-error;
                      vertical-align: middle;
                    }
                  }
                  &.unviewed {
                    &::before {
                      content: "\f028";
                      font-family: Donut;
                      font-size: 9px;
                      color: #10A4FE;
                      position: absolute;
                      top: 4px;
                      left: -2px;
                      line-height: 1;
                    }
                  }
                  .event {
                    .date {
                      position: absolute;
                      top: 3px; right: 20px;
                      color: @cl-subtext30;
                      font-size: 0.8em;
                    }
                    &.out {
                      i {
                        font-size: 1.8em;
                        color: @cl-error;
                        vertical-align: middle;
                      }
                    }
                    &.in {
                      i {
                        font-size: 2em;
                        color: @cl-success;
                        vertical-align: middle;
                      }
                    }
                    &.online {
                      i {
                        font-size: 1.8em;
                        color: @cl-success;
                        vertical-align: middle;
                      }
                    }
                    &.offline {
                      i {
                        font-size: 1.8em;
                        color: @cl-error;
                        vertical-align: middle;
                      }
                    }
                  }
                }
                .block.user { padding-top: 23px; padding-left: 40px; background-color: orange;
                  .avatar { position: absolute; top: 5px; left: 5px; border: none; width: 30px; height: 30px; background-position: center center; background-size: 30px 30px; }
                  .username { position: absolute; top: 5px; left: 45px; .ft-opensans-bold; font-size: 1em; }
                }
                .block.message { position: relative; padding-left: 45px; border-top: 0;
                  .text-spammed { display:none; }
                  .date {
                    position: absolute;
                    top: 3px; right: 20px;
                    color: @cl-subtext30;
                    font-size: 0.8em;
                  }
                  .text {
                    padding: 0 50px 0 0;
                    text-align: justify;
                    display : block;
                    a { font-weight: bold; }
                    .text-edited { font-size: .9rem; color: #0480be; }
                  }
                  .images {
                    .image {
                      .pull-left;
                      display: block;
                      position: relative;
                      width: 50px;
                      height: 50px;
                      margin: 2px;
                      background-position: center center;
                      background-repeat: no-repeat;
                      border: 1px solid @cl-subtext10;
                    }
                    .popover {
                      border-radius: 0;
                      .popover-content {
                        padding: 2px 2px;

                      }
                    }
                    hr {
                      clear: both;
                      border-color: @cl-background;
                      margin: 0;
                    }
                  }
                  .actions { float: right; font-size: 14px; right: 0; position: absolute; top: 0; color: #777; display:none;
                    i { color:#777 }
                    &.open .dropdown-menu { display: block; .opacity(1); min-width: initial; }
                    .dropdown-menu {display: block; padding: 0; margin: 0; right:-2px; left: initial; bottom: 25px;  top: initial; .opacity(0); .transition(all 600ms cubic-bezier(0, 0.85, 0.97, 1.08)); font-size:0.9em;
                      .arrow-up {  width: 0; height: 0; border-style: solid;   border-width: 5px 5px 0 5px;
                        border-color: #ccc transparent transparent transparent; position: absolute; bottom: -6px; right: 2px; display: block; padding: 0; }
                      ul.a { padding: 0; margin: 0; white-space: nowrap;
                        li {  list-style: none; text-align: right; padding: 5px 10px 5px; cursor:pointer;
                          &:hover { background-color: @cl-subtext5; }
                          .unspam { display: none; }
                        }
                      }
                    }
                  }
                  &.new { border-left: 3px solid #5C77B6; padding-left: 4px; }
                  &.has-hover:hover .actions, .actions.open { display:block; }
                  &.spammed {
                    .text, .images { display: none; }
                    .actions .dropdown-menu ul.a li .unspam { display:inline; }
                    .actions .dropdown-menu ul.a li .spammed { display:none; }
                    .text-spammed { display: block; font-style: italic; color: #333; padding-right:50px;
                      a { cursor:pointer; }
                    }
                  }
                  &.viewed {
                    .actions .dropdown-menu ul.a li .unspam { display:inline; }
                    .actions .dropdown-menu ul.a li .spammed { display:none; }
                    .ctn { background-color: lighten(#e74c3c, 30%);
                      .remask-spammed-message {
                        float: left;
                        font-weight: normal;
                        font-size: 10px;
                        color: @cl-clouds;
                        margin: 2px 5px 0 2px;
                      }
                    }
                  }
                  .message-form { display:none; padding: 5px 50px 5px 5px; border-radius: 5px; background-color: #f8efc0;
                    textarea { resize:none; }
                    .enter { float:right;}
                    a { color: #2a80b9; text-decoration:none; }
                    a:hover { text-decoration:underline; }
                  }
                }
                .block.inout {
                  float: left;
                  border-top: 0;
                  padding-top: 5px;
                  .event {
                    display: inline-block;
                    margin: 0 4px 4px 0;
                    padding: 4px 4px 0 4px;
                    border: 2px solid transparent;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                    .username { display: none; }
                    .avatar {
                      display: inline-block;
                      margin-right: 0px;
                      width: 20px;
                      height: 20px;
                      background-position: center center;
                      background-size: 20px 20px;
                    }
                    .icon {}
                    &.in:hover {
                      border-color: @cl-success;
                    }
                    &.out:hover {
                      border-color: @cl-error;
                    }
                  }
                }
                .block.hello,
                .block.disconnected,
                .block.reconnected,
                .block.topic,
                .block.kick,
                .block.ban,
                .block.deban,
                .block.op,
                .block.deop,
                .block.voice,
                .block.devoice {
                  clear: both;
                  margin-top: 5px;
                  padding: 5px;
                  img { height: 20px; }
                  .avatar {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background-position: center center;
                    background-size: 20px 20px;
                    vertical-align: middle;
                  }
                  .username { font-weight: bold; }
                  .detail { font-weight: normal; }
                  .event {
                    .text {
                      font-style: italic;
                      padding-right: 50px;
                      img { margin-right: 3px; }
                    }
                  }
                }
                .block.spinner {
                  text-align: center;
                  color: @cl-title;
                  font-size: 12px;
                  background-color: @cl-subtext0;
                  -webkit-border-radius: 5px;
                  -moz-border-radius: 5px;
                  border-radius: 5px;
                  padding: 11px;
                }
                .block.command-help {
                  padding: 5px;
                  .help-cmd {
                    margin: 5px;
                    .name-cmd { font-weight: bold; }
                    .params-cmd { color: #8699a4; }
                    .desc-cmd { font-style: italic; }
                  }
                }
              } // #chat #center .discussion .content .events .scrollable .scrollable-content .realtime
            } // // #chat #center .discussion .content .events .scrollable .scrollable-content
          } // #chat #center .discussion .content .events .scrollable
        } // #chat #center .discussion .content .events
        .input { padding-top: 5px; margin-right: 25px; padding-bottom: 10px; position: relative;
          .add-image, .add-smiley {
            cursor: pointer;
          }
          .text-container { padding-bottom: 10px; position:relative;
            .overlay { display:none; background-color: black; height: 91px;   width: 100%;   position: absolute;   top: 0;   cursor: pointer; z-index: 2; .opacity(0.2);
              .overlay-text { color: white;   position: absolute; top: 33px;   width: 100%;   text-align: center;   cursor: pointer; font-size: 20px;}
              &::after { content: ""; position: absolute; bottom: -15px; right: 17px; border-style: solid; border-width: 15px 15px 0; border-right-color: transparent; border-left-color: transparent; border-top-color: black; border-bottom-color: black; display: block; width: 0; z-index: 1; }
            }
            .text {
              position: relative;
              padding: 12px 95px 12px 85px;
              border: 1px solid @cl-subtext10;
              background-color: @cl-background;
              .avatar {
                position: absolute;
                left: 14px; top: 12px;
                width: 60px;
                height: 60px;
              }
              .actions {
                position: absolute;
                top: 0; right: 74px;
                font-size: 20px;
                text-align: center;
                a {
                  display: block;
                  color: @cl-subtext30;
                }
                .images { margin-top: 5px; }
              }
              .mentions { padding: 0; font-size: 13px; }
              .mentions-autocomplete-list {
                z-index: 10001;
                top: initial;
                overflow: auto;
                font-size: 13px;
              }
              .mentions-input-box .mentions>div>strong { }
              .editable {
                width: 100%;
                padding: 0;
                display: block;
                min-height: 65px;
                border: none;
                overflow: auto;
                outline: none;
                resize: none;
                .box-shadow(none);
                font-size: 13px;
              }
              .send {
                position: absolute;
                top:0; bottom: 0; right:0;
                width: 65px;
                margin: 0;
                border: 0;
                padding-top: 20px;
                padding-left: 5px;
                display: inline-block;
                text-align: center;
                img {
                  width: 35px;
                  height: 40px;
                }
                .arrow-bottom:after {
                  content: "";
                  position: absolute;
                  bottom: -13px;
                  left: 19px;
                  border-style: solid;
                  border-width: 15px 15px 0;
                  border-right-color: transparent;
                  border-left-color: transparent;
                  border-top-color: inherit;
                  border-bottom-color: inherit;
                  display: block;
                  width: 0;
                  z-index: 1;
                }
              }
            }
          }
          &.inactive .text-container {
            .overlay, .overlay::after { display:block; }
          }
          .typing-container {
            position: absolute;
            display: block;
            bottom: 1px;
          }
          .preview {
            padding-top: 2px;
            display: none;
            .image {
              display: inline-block;
              vertical-align: top;
              position: relative;
              width: 80px;
              height: 80px;
              margin: 2px;
              .remove-image {
                position: absolute;
                right: 5px;
                display: none;
                color: @cl-error;
                cursor: pointer;
                font-size: 1.3em;
              }
              &:hover {
                .remove-image {
                  display: inline;
                }
              }
            }
            .add-image {
              display: inline-block;
              vertical-align: top;
              border: 2px dashed @cl-subtext20;
              border-radius: 2px;
              width: 80px;
              height: 80px;
              margin: 2px;
              padding-top: 28px;
              text-align: center;
              i {
                font-size: 1.9em;
                color: @cl-subtext20;
              }
            }
          }
        }
      } // #chat #center .discussion .content
      .side { float: right; width: @size-right; height: 100%; background-repeat: no-repeat; background-position: left top; margin: 0; padding: 0;
        .blur { width: @size-right-mid; position: relative; height: 100%; color: @cl-background; font-size: 1.1em; .scrollbar-grey;
          hr { margin-left: 0; margin-right: 0; }
          .users { position: relative; background-color: rgba(0, 0, 0, 0.2); padding: 10px 0 30px 0; height: 100%; // #chat #center .discussion .side .blur .users
            .header { position: absolute;     white-space: nowrap; top: 14px; left: 16px; right: 10px;
              .count { .pull-left; }
              .between { font-size: 1.2em; line-height: 1; padding-left: 10px; padding-right: 10px; }
              .actions { .pull-right; }
            }
            > hr { position: absolute; left: 14px; right: 14px; top: @header-height; }
            .list { width: 215px; overflow-y: auto; height: 100%; margin-top: (@header-height + 10px); margin-bottom: 0; margin-left: 0; padding: 0 0 10px 0; background-repeat: no-repeat; background-position: left top; position: relative; .scrollbar-white; // #chat #center .discussion .side .blur .users .list
              .li-title .item { width: (@size-user-item + 10px); padding:10px; }
              .item { position: relative; width: @size-user-item; padding-top: 10px; padding-left: 10px; font-size: 0.9em; font-weight: bold; white-space: nowrap; display: block;
                .avatar { position: relative; display: inline-block; width: 34px; height: 34px; background-position: center center; background-size: 34px 34px; vertical-align: middle; }
                .username { position: relative; font-size: 12px; margin-left: 9px; padding-right: 12px; overflow: hidden; display: inline-block; vertical-align: middle; max-width: 110px; white-space: nowrap;
                  .icon-dot-circle-o {
                    &.online { color: @cl-success; }
                    &.offline { color: @cl-error; }
                  }
                }
                .dropdown { position: relative; display:block;
                  button { color: @cl-background; position: absolute; left: 165px; top: -28px; border: none; background-color: transparent; }
                  .dropdown-menu { color: @cl-subtext50;
                    p { display: inline; margin: 0;
                    }
                    >li>a { color: inherit; padding-left: 8px; cursor: pointer;
                      &.deop { padding-left: 5px;
                        .icon-stack { font-size: 11px; }
                      }
                    }
                  }
                }
                &.offline {
                  .username { .opacity(0.4); }
                  .avatar { .opacity(0.4); width: 30px; height: 30px; background-size: 30px 30px; }
                }
                &.op {
                  .avatar { .border-radius(5px); border: 2px solid @cl-success !important; }
                  .avatar::before { z-index: 5; position: absolute; content: " "; top: -10px; left: -7px; width: 12px; height: 16px; background-image: url("@{img-path}/op.png"); background-size: 12px 16px;
                  }
                }
                &.devoice {
                  .avatar { .border-radius(5px); border: 2px solid @cl-error !important;
                    &::after { content: '\f037'; display: inline-block; font: normal normal normal 14px/1 'Donut'; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); right: -9px; bottom: -10px; position: absolute; color: @cl-error; font-size: 19px; border-radius: 50%; }
                  }
                }
                &.owner {
                  .avatar { .border-radius(5px); border: 2px solid #fbec4d !important; }
                  .avatar::before { z-index: 5; position: absolute; content: url("@{img-path}/owner.png") !important; top: -15px !important; left: 7px !important; }
                }
              }
            }
          }
        } // #chat #center .discussion .side .blur
        &.oneside { width:@size-right-mid; }
        &.poster-empty { width:40px;
          &.roomside { width:@size-right-mid; }
          .blur { width:0;
            .users { background-color: transparent; }
          }
        }
        &.poster-full .dc-text-contrast { color:#fff; }
        &.poster-full .dc-back-darker { background-color: transparent; }
      } // #chat #center .discussion .side
    }
  } // #chat #center

  hr {
    border-top-color: #dadada;
    margin-top: 12px;
    margin-bottom: 15px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .big-link {
    .ft-opensans-bold;
    color: @cl-subtext50;
    font-size: 1.1em;
  }

  .home>.dropdown-menu>li>a, .share, .open-room-profile, .open-user-profile, .open-room-edit, .open-room-delete, .open-room-users, .open-room-access, .open-user-edit, .open-create-room, .go-to-search, .ban-user, .deban-user, .open-room-preferences, .close-discussion {
    cursor:pointer;
  }

  #alert {
    .alert { display: none; position: absolute; top: 0; left: 0; right: 0; min-height: 45px; z-index: 1031; padding: .4em .6em .4em; background-color: @cl-neutral; font-size: 1.5em; color: @cl-background; text-align: center; white-space: nowrap;
      .ft-opensans-bold;
      .close-btn { position: absolute; top: 8px; right: 12px; cursor: pointer;
        img { width: 25px; height: 25px; }
      }
    }
    .alert.info { background-color: @cl-success;}
    .alert.warning { background-color: @cl-warning; }
    .alert.error { background-color: @cl-error; }
  }

  .status {
    font-size: 14px;
    font-weight: bold;
    color: @cl-background;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: @cl-background;
    &.contrast {
      -webkit-text-stroke-color: @cl-subtext20;
    }
  }
  .status.online { color: #5cb85c; }
  .status.connecting { color: #f0ad4e; }
  .status.offline { color: #d9534f; }
  .status.error { color: #d9534f; }

  @import './drawer';
}

#chat #center .discussion .content .events .scrollable .scrollable-content .realtime .block.ping {
  font-style: italic;
  color: @cl-subtext30;
}

#chat #center .discussion .content .events .scrollable .scrollable-content .realtime .block.command-error {
  padding: 5px;
  .error-command {font-weight: bold; color: #000;}
  .error {font-style: italic; color: #8699a4;}
}

#chat #center .discussion .content .events .scrollable .scrollable-content .realtime .event.me {
  font-style: italic;
  color: @cl-subtext30;
}

#chat #center .discussion .content .events .scrollable .scrollable-content .realtime .event.random {
  font-style: italic;
  color: @cl-subtext30;
}