.body-chat { height: 100%; overflow-y: hidden; .ft-opensans; }
#results-search {
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 2px;
  left: 232px;
  z-index: 3;
  background: #FFF;
  border: 1px solid @cl-nav-left-back-darker;
  .border-radius(4px);
  li.result {
    color: @cl-text;
    height: 44px;
    .display-flex;
    .flex-flow(row nowrap);
    .align-items(center);
    overflow: hidden;
    img {
      width: 40px;
      height: 40px;
      margin-left: 2px;
      .border-radius(3px);
      border-style: solid;
      border-width: 1px;
    }
    .name {
      .ft-raleway-heavy;
      font-size: 1.4rem;
      margin-right: 5px;
      .othername { color: @cl-subtext20; font-weight: normal; }
    }
    .disclaimer {
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      flex: 1;
      color: @cl-subtext30;
      font-style: italic;
      margin-right: 10px;
      overflow: hidden;
    }
    .status { padding-top:2px; margin-right: 4px; }
    &:nth-of-type(odd) {
      background-color: #f9f9f9;
    }
    &:hover {
      outline: 1px solid #c7c7c7;
      background-color: #f0f0f0 !important;
    }
    &:last-child {
      .border-radiuses(0, 4px, 4px, 0);
    }
    &.active {
      background: #439fe0; color: #fff!important; border-bottom-color: #2a80b9;
    }
  }
  .spinner, .empty {
    padding: 5px 15px;
    min-height: 40px;
    text-align: center;
  }
  .presentation {
    &:first-child { .border-radiuses(4px, 0, 0, 4px); }
    background-color: #CCC;
    color: @cl-text;
    padding: 5px 15px 5px 10px;
    span {
      float: right;
      color: @cl-text;
      text-decoration: underline;
    }
  }
}
.tooltip-home-users { padding: 0 !important; margin-left: 0 !important; margin-top: -2px;
  .tooltip-inner { background-color: transparent; padding: 0; border: 0; max-width: initial; border-radius: 0;
    .username { max-width: 200px; padding: 3px 8px; color: #fff; line-height: 24px; font-size: 12px; text-align: center; }
    &.left .username {
      .border-radiuses(0,0,4px,4px);
    }
    &.right .username {
      margin-top: -1px;
      .border-radiuses(4px,4px,0,0);
    }
  }
}
#welcome {
  .modal-dialog {
    z-index: 1041; // fix .modal-dialog behind .modal-backdrop for unknown reason
  }
  .modal-body {
    font-size: 1.1em;
    .room {
      font-size: 0.9em;
    }
  }
  .modal-footer {
    span.checkbox {
      .pull-left;
      margin: 0;
    }
  }
}
#connection {
  .modal-backdrop {
    background-color: @cl-background;
  }
  .modal-dialog {
    margin-top: 10em;
    //width: 320px;
    .modal-content {
      .modal-body {
        padding: 50px 10px 50px;
        .loader {
          font-size: 38px;
          margin-bottom: 5px;
          text-align: center;
          .ft-opensans-bold;
          color: @cl-subtext30;
          .one {
            opacity: 0;
            -webkit-animation: dot 1.3s infinite;
            -webkit-animation-delay: 0.0s;
            animation: dot 1.3s infinite;
            animation-delay: 0.0s;
          }
          .two {
            opacity: 0;
            -webkit-animation: dot 1.3s infinite;
            -webkit-animation-delay: 0.2s;
            animation: dot 1.3s infinite;
            animation-delay: 0.2s;
          }
          .three {
            opacity: 0;
            -webkit-animation: dot 1.3s infinite;
            -webkit-animation-delay: 0.3s;
            animation: dot 1.3s infinite;
            animation-delay: 0.3s;
          }
          @-webkit-keyframes dot {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }

          @keyframes dot {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
        .hello {
          text-align: center;
          font-size: 20px;
          margin-bottom: 12px;
          color: @cl-subtext50;
        }
        .error-message {
          display: none;
          margin-top: 25px;
          text-align: center;
          color: @cl-error;
        }
        .contactus {
          margin-top: 30px;
          text-align: center;
          font-size: 14px;
          a {
            color: @cl-first;
          }
        }
      }
    }
  }
}
#confirmation {
  .modal-backdrop {
    background-color: @cl-background;
  }
  .modal-dialog {
    margin-top: 10em;
    width: 400px;
    .modal-content {
      .modal-body {
        text-align: center;
        .question {
          margin-bottom: 15px;
        }
        .input, .big-input {
          margin-bottom: 15px;
          label {
            font-weight: normal;
          }
        }
        textarea {
          max-width: 368px;
          max-height: 450px;
        }
        .buttons {
          .cancel {
            .btn;
            .btn-danger;
          }
          .confirm {
            .btn;
            .btn-success;
          }
        }
      }
    }
  }
}

.drawer-open #chat #left { box-shadow: rgba(0, 0, 0, 0.6) 0 1px 10px 0; }
#chat {
  .container-fluid;
  height: 100%;
  margin: 0;
  padding: 0;

  #languages { z-index: 5;
    a { padding: 3px 5px; cursor: pointer; }
  }

  > .row {
    margin: 0; /* Cancel bootstrap negative .row margin */
    height: 100%;
    width: 100%;
  }

  #left { float: left; width: @size-left; background-color: @cl-nav-left-back; color:@cl-nav-left-text; z-index: 12; position: relative; font-size: 14px; overflow: auto; height:100%; padding-bottom:70px; .scrollbar-white;
    .scrollable { .align-self(flex-start); width: 100%;
      #block-current-user { margin: 1rem; padding: 0.5rem; cursor: pointer; overflow: hidden; .border-radius(4px); .transition(max-height 200ms); max-height: 40px;
        .not-confirmed {     z-index: 1; position: absolute; top: 15px; font-size: 28px; left: 17px; color: @cl-pomegranate; opacity: 0.7; }
        i, .username { color:@cl-nav-left-text-lighter; }
        img { width: 28px; height: 28px; }
        &.open { .transition(max-height 400ms); max-height: 600px; }
        &.open, &:hover { background-color: rgba(255,255,255,.2); }
        .dropdown-menu { width: 100%; display: block;
          position:relative;
          background-color: transparent;
          .box-shadow(none);
          border:0;
          li {
            &:hover {
              background-color: rgba(255,255,255,.2);
              .border-radius(4px);
            }
            &.dropdown-header { color:@cl-nav-left-text-lighter; cursor:default; padding:3px 20px 3px 10px;
              &:hover { background-color: transparent; }
            }
            a { color:@cl-clouds; padding:3px 11px 3px 15px;
              &:hover, &:focus { background-color:transparent; }
            }
          }
        }
        .dropdown-toggle { width: 100%; padding: 0;
          .username { max-width: 158px; text-overflow: ellipsis; overflow: hidden; font-size:1.8rem; }
        }
        #notifications {
          &.empty {
            .hide-empty {
              display: none;
            }
            .show-empty {
              display: initial;
            }
          }
          &.full {
            .hide-empty {
              display: initial;
            }
            .show-empty {
              display: none;
            }
          }
          .unread-count {
            margin-top: 2px;
            padding: 1px 5px;
            font-size: 1rem;
            font-weight: bold;
            color: #FFF;
            line-height: 1.4rem;
            vertical-align: middle;
            white-space: nowrap;
            text-align: center;
            border-radius: 10px;
            background-color: @cl-sun_flower;
          }
          .dropdown-menu {
            min-width: 375px;
            min-height: 80px;
            .loading {
              padding: 20px 20px;
              font-size: 1.5em;
              position: relative;
              .icon {
                position: absolute;
                left: 166px;
                top: 10px;
              }
            }
            .action-tag-as-read {
              text-decoration: underline;
              cursor: pointer;
              font-size: 0.8em;
              line-height: 18px;
            }
            .read-more {
              padding: 10px 20px;
              font-size: 1.2em;
              text-align: center;
              color: #555;
              background: #f1f1f1;
              border-color: #f1f1f1;
              .border-radius(0px 0px 3px 3px);
              cursor: pointer;
              &:hover {
                background: #FDFDFD;
              }
            }
            .messages-list-ctn {
              overflow-y: auto;
              overflow-x: hidden;
              width: auto;
              height: 300px;
              .messages-list {
                font-size: 13px;
                .message {
                  display: block;
                  cursor: pointer;
                  padding: 10px 12px;
                  position: relative;
                  border-bottom-color: #F1F1F1;
                  border-style: solid;
                  border-width: 0 0 1px 0;
                  text-decoration: none;
                  &.unread {
                    background-color: #e9eaed;
                    background: rgba(237, 239, 245, .98);
                    border-color: #d8deea;
                    &:hover {
                      background-color: #f6f7f8;
                      border-color: #e9eaed;
                      text-decoration: none;
                    }
                  }
                  img {
                    width: 45px;
                    height: 45px;
                    position: absolute;
                    top: 38%;
                    margin-top: -16px;
                    left: 7px;
                    .border-radius(50%);
                    border: 2px solid #fafafa;
                    border: 2px solid rgba(167, 167, 167, 0.1);
                  }
                  i.icon {
                    width: 23px;
                    height: 23px;
                    position: absolute;
                    top: 50%;
                    margin-top: -16px;
                    font-size: 22px;
                    text-align: center;
                  }
                  .message-subject {
                    display: block;
                    line-height: 17px;
                    margin-bottom: 2px;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    padding: 0 30px 0 42px;
                    text-overflow: ellipsis;
                    width: 350px;
                    span {
                      font-weight: bold;
                    }
                  }
                  .action-tag-as-done {
                    font-size: 18px;
                    position: absolute;
                    top: 10px;
                    right: 5px;
                    color: @cl-silver;
                    cursor: pointer;
                  }
                  .message-description {
                    color: #AAA;
                    font-size: 11px;
                    line-height: 17px;
                    padding-left: 42px;
                    .username {
                      color: #000;
                      font-weight: bold;
                    }
                    .date {
                      display: inline;
                      float: right;
                    }
                  }
                  &:hover {
                    background-color: @cl-subtext5;
                  }
                }
              }
              .messages-link {
                border-top-color: #F1F1F1;
                border-top-style: solid;
                border-top-width: 1px;
                color: #999;
                display: block;
                font-size: 10px;
                font-weight: 600;
                height: 35px;
                line-height: 18px;
                padding-top: 8px;
                text-align: center;
                text-decoration: none;
                &:hover {
                  background: #F1F1F1;
                }
              }
            }
          }
        }
      }
      #navbar { margin: 1rem;
        .search { .flex(1); height: 28px;
          position: relative;
          .input-group { width: 100%;
            > .relative { max-width:450px; }
            input { height: 28px; max-width: 450px; padding: 6px 24px 6px 12px; .transition(width 200ms);
              .border-radius(0);
              &:focus { .box-shadow(none); }
            }
            i.icon-search { position: absolute; right: 9px; z-index: 2; display: block; top: 7px; color:@cl-nav-left-back-darker; }
          }
        }
      }
      .page-sidebar-menu { padding: 0; margin:0; .display-flex; .flex-flow(column nowrap); width: 100%; }
      #ones {display: none;}
      #ones, #rooms { padding: 0; margin: 0;
        .open-create-room { text-transform: lowercase; font-style: italic; }
        a { color:@cl-nav-left-text-lighter; }
        ul { padding-left: 0;
          &.empty li { padding: 0 5px 0 10px; font-style: italic; color: @cl-subtext20; }

          li.group-block+li.room-type.ungrouped, li.group-block+li.group-block { margin-top: 15px; } // spacing between groups

          li { list-style: none; margin-left: 5px; padding: 3px 0; .border-radiuses(0, 0, 5px, 5px);
            &.group { margin-top: 15px;
              &:first-child { margin-top: 0; }
              a { color:@cl-nav-left-text-lighter; }
            }
            &.more, &.less { padding-left:20px; text-align: left; padding-right: 20px; }
            a { color: @cl-nav-left-text-lighter;
              i { color: @cl-nav-left-text-lighter; }
              &.close-discussion { display:none; }
            }
            .item { position: relative; color: @cl-nav-left-text-lighter; padding: 0 10px;
              .avatar-ctn { margin: auto;
                .avatar { width: 22px; height: 22px; display: inline; }
              }
              .name-ctn { .display-flex; .flex(1); margin: auto 0;
                .name, .username { .ft-opensans; display: inline-block; width: 138px; overflow: hidden; text-overflow: ellipsis; color:@cl-nav-left-text;
                  > span { font-size: 13px; }
                }
              }
              .close-discussion { font-size: 1.6rem; margin:auto; }
              &.blocked { span.name { color: @cl-error; } }
              &.grouped {
                a { padding-left:5px;
                  .name { padding-left: 5px; font-weight: normal; }
                }
              }
            }
            &:hover { background-color: rgba(255,255,255,0.2);
              .item { margin-left: 2px; .transition(margin-left 200ms); }
              .close-discussion + .unread { display:none; }
              .close-discussion { display:block; }
            }
            &.active { background-color: @cl-background;
              &.group a, .item .name-ctn .name { color:@cl-text; }
              .close-discussion  i { color:@cl-nav-left-back; }
            }
            &.highlighted.group-block { background-color: rgba(255,255,255,0.2); }
          }
        }
      }
      #ones li .item .name { font-weight:bold; }
    }
    .create-ctn { width: (@size-left - 10);
      padding: 10px 0 10px 10px;
      position: fixed;
      bottom: 0;
      z-index: 10;
      background-color: @cl-nav-left-back;
      > a { display: block; }
    }
  }

  #center { height: 100%; z-index: 5; margin-left: @size-left; font-size: 12px; background-color: @cl-subtext0; background-image: url('@{img-path}/logo-onecolor-gr.svg'); background-repeat: no-repeat; background-position: center center; background-size: 60%;
    .user-list { height: 100%;
      .list { overflow-y: auto; overflow-x: hidden; height: 100%; .scrollbar-white;
        .item { .pull-left; position: relative; margin-top: 10px; margin-right: 10px;
          .avatar { display: inline-block; width: 30px; height: 30px; }
          .username { display: none; position: absolute; top: 0; right: -20px; height: 30px; line-height: 30px; margin-right: 50px; padding-left: 10px; padding-right: 8px; background-color: @cl-subtext10; text-align: left; .ft-opensans-bold; color: #ffffff; z-index: 99999; white-space: nowrap; }
          &:hover .username { display: block; }
        }
      }
    }
    #search { height: 100%; display: none; background-color: @cl-background2; overflow-y: auto; .scrollbar-grey;
      .search { position: relative; margin: 20px 20px 2px;
        .input-group { width: 100%;
          input { .border-radiuses(4px, 0, 0, 4px); }
        }
        .search-options { border-bottom: 1px solid @cl-border; }
      }
    }
    #home { height: 100%; display: none; background-color: @cl-background2; overflow-y: auto; .scrollbar-grey;
      .title {
        .ft-opensans;
        color: @cl-subtext30;
        font-size: 1.6em;
        margin-bottom: 10px;
        a {
          color: @cl-first;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .nothing { .ft-opensans; color: @cl-subtext30; text-align: center; font-size: 1.2em; margin-top: 20px; }
      > .left { background-color: @cl-background2;
        .make-xs-column(12);
        .make-sm-column(10);
        .make-lg-column(9);
        height: 100%;
        overflow-x: auto;
        padding-left:0;
        padding-right:0;
        .disclaimer {     margin: 20px; font-size: 1.5rem; }
      }
      > .right { .make-xs-column(0); .make-sm-column(2); .make-lg-column(3); height: 100%; padding: 20px 5px 20px 14px; background-color: @cl-subtext10;
        .users { height:100%;
          .list { overflow-y: auto; overflow-x: hidden; height: 100%; .scrollbar-white;
            .item { .pull-left; position: relative; margin-top: 10px; margin-right: 10px;
              .avatar { display: inline-block; width: 30px; height: 30px; }
              .username { display: none; position: absolute; top: 0; right: -20px; height: 30px; line-height: 30px; margin-right: 50px; padding-left: 10px; padding-right: 8px; background-color: @cl-subtext10; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; text-align: left; .ft-opensans-bold; color: #ffffff; z-index: 99999; white-space: nowrap; }
              &:hover .username { display: block; }
            }
          } // #chat #center #home .right .users .list
          .list.search {
            .item {
              .avatar {
                margin-left: -3px;
                margin-top: -1px;
                .pull-left;
              }
              .username {
                display: inline-block;
                position: relative;
                right: inherit;
                margin-right: 0;
                color: @cl-title;
                background-color: transparent !important;
                font-size: 1.1em;
              }
            }
            .item:hover {
              .username {
                display: inline-block;
              }
            }
          }
        } // #chat #center #home .right .users
      } // #chat #center #home .right
    } // #chat #center #home
    .side { float: right; width: (@size-color + @size-right-mid); height: 100%; margin: 0; padding: 0; background-repeat: no-repeat; background-position: left top; .transition(width 300ms);
      @header-height: 35px; @size-user-item: 205px;
      .blur { width: @size-right-mid; position: relative; color: @cl-background; font-size: 1.1em; .scrollbar-grey; height: 100%; overflow-y: auto; .transition(width 300ms);
        .users { position: relative; padding: 10px 0 30px; height: 100%; background-color: rgba(0, 0, 0, 0.2);
          > hr { position: absolute; left: 14px; right: 14px; top: @header-height; }
          .list { list-style: none; margin: 0 10px; overflow-y: auto; padding: 5px; background-repeat: no-repeat; background-position: left top; position: relative; .scrollbar-white; .justify-content(space-around); overflow-x: hidden;
            > li { margin: 3px 5px; float:left; }
            .clearfix { width:100%; height:5px; }
            .li-title { margin: 0;
              .item { .border-radius(4px); font-weight: normal; height: initial; }
            }
            .item { position: relative; font-size: 0.9em; font-weight: bold; white-space: nowrap; display: block; height: 34px;
              .avatar { display: inline-block; width: 34px; height: 34px;
                .background { background-position: center center; background-size: 34px 34px; .border-radius(4px); width: 34px; height: 34px; display: inline-block; border: 2px solid #FFF; }
                &:hover {
                  .dropdown>.dropdown-toggle {
                    display: block;
                  }
                }
              }
              .userstatus { position: absolute; top: -12px; left: -5px; z-index: 1; }
              .dropdown { position: absolute; width: 34px; height: 34px; top: 0;
                .dropdown-toggle { display:none; width: 34px; height: 34px; }
                .dropdown-menu { left:initial; right:0; }
              }
              &.op {
                .background { border-color:@cl-success; }
                //.avatar::before { z-index: 5; position: absolute; .icon-op; color:@cl-success; top: -10px; left: -7px; width: 12px; height: 16px; background-size: 12px 16px; }
              }
              &.devoice {
                .background { border-color:@cl-error; }
                //&::after { content: '\f037'; display: inline-block; font: normal normal normal 14px/1 'Donut'; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); right: -9px; bottom: -10px; position: absolute; color: @cl-error; font-size: 19px; border-radius: 50%; }
              }
              &.owner {
                .background { border-color:@cl-warning; }
                //.avatar::before { z-index: 5; position: absolute; .icon-owner; color:@cl-warning; top: -12px !important; left: 7px !important; }
              }
            }
          }
          .count { float:left; padding: 3px 8px; font-weight: normal; }
        }
      }
      &.compact { width:70px !important;
        .blur { width:70px; background-image: initial !important;
          .users { background-color: initial;
            .list { margin: 0 6px;
              .item { white-space: initial; }
            }
          }
        }
        .hidden-compact { display:none; }
        .compact-mode:after { content:"<"; }
      }
      &.oneside { width:@size-right-mid; }
      &.poster-empty {
        &.roomside { width:@size-right-mid; }
      }
      &.poster-full .dc-text-contrast { color:#fff; }
      &.poster-full .blur .users .list .item.dc-back-darker { background-color: transparent; border-style: solid; border-width: 1px 0; border-color:#FFF; margin: 0 14px; width: 187px; }
    }
    .group { background-color: @cl-background; height: 100%;
      .side { border-left:1px solid @cl-subtext15; width: 330px;
        .users {
          .scrollable {overflow-y: auto; overflow-x: hidden; height: 100%; .scrollbar-white;}
          .title { font-size: 2rem; padding: 10px 0; margin: 0 20px; color:@cl-title; }
          .user-list { height: auto;
            .list { .display-flex; .flex-flow(row wrap); .justify-content(flex-start);
              .item { width: auto; padding:0;
                .infos { .display-flex; .flex-flow(column nowrap); .align-items(center); }
                .avatar { background-size: contain; width: 30px; height:30px; }
              }
            }
          }
          .list { position: relative; padding: 0 20px;
            &.op {
              .ctn { position:relative; .display-flex; .flex-flow(row wrap); .align-items(center);  .justify-content(flex-start);
                .background { background-color: #FFF; .opacity(0.4); top:0; left:0; height:100%; width:100%; position: absolute; .border-radius(3px); }
                .item { width: 94px; padding: 10px;
                  .infos { .display-flex; .flex-flow(column nowrap); .align-items(center);  }
                  .avatar { background-size: contain; width: 50px; height:50px; }
                  &.owner .avatar::before { font-size: 2rem; left: 13px !important; top: -16px !important; }
                  &.op .avatar::before { font-size: 2rem; width: 12px; height: 17px; background-color: #FFF; }
                }
              }
            }
          }
        }
      }
      .content .header {
        .overlay-ctn .avatar { width:150px; height:150px; }
        .info { padding-left:160px; }
      }
      .content .ctn-results { overflow-y: auto; overflow-x: hidden; }
    }
    .discussion { background-color: @cl-background; height: 100%;
      .content { height: 100%; position: relative; margin-left: 20px; .display-flex; .flex-flow(column nowrap);
        .header { padding-top: 18px; padding-right: 20px;
          .info { padding-left: 80px; }
        } // #chat #center .discussion .content .header
        &.blocked { .align-items(center);  .justify-content(center); position:relative;
          .header .info { padding:0; }
          .password-form { max-width: 555px; margin-left: auto; margin-right: auto;}
          .close-room { position: absolute; top: 20px; right: 20px; font-size: 1.4rem; }
        }
        .cover { text-align: center; }
        .header {
          .info { .justify-content(space-between); }
          .name { font-size: 2rem; .display-inline-flex;
            .ft-raleway-heavy;
            line-height: 1.2;
            word-break: break-all;
          }
          &.room { min-height: 90px;
            .overlay-ctn {
              .avatar { position: absolute; width: 70px; height: 70px; .border-shadow; }
              .overlay { height: 70px; width: 70px; top:0; .border-radius(50%); }
              .overlay-text { width: 70px; top: 25px; }
            }
            .info {
              .room-profile { min-height:initial; min-width:initial; margin:auto; }
              .dropdown { display: inline-block; position: relative;
                .dropdown-menu>li>a { color: @cl-subtext40; }
                button { font-size: 24px; border: none; background-color: transparent; }
              }
              .share i { font-size: 14px; vertical-align: middle; cursor: pointer; }
            }
            .topic { padding-left: 80px;
              .topic-current { overflow: hidden; text-overflow: ellipsis; font-size: 1.5rem; font-style: initial; }
              .topic-form { display: none;
                .input-group { .display-flex; .flex-flow(row nowrap); }
                input[type=text] { width: 100%; height: 28px; }
              }
            }
          }
          &.user {
            .avatar { position: absolute; width: 70px; height: 70px;
              img { width:100%; }
            }
            .banned-status { color: rgb(255, 78, 78); font-style: italic; }
            .show-if-banned { display:none; }
            &.is-banned .show-if-banned { display:initial; }
            &.is-banned .show-if-unbanned { display:none; }
            &.is-banned .avatar::after { .icon-ban; position: absolute; font-size: 69px; color: rgba(119, 119, 119, 0.75); top: -4px; line-height: 70px; left:0; }
            .info {
              .othername { color: @cl-subtext20; font-weight: normal; }
              .dropdown { display: inline-block; position: relative;
                button { font-size: 24px; border: none; background-color: transparent; }
              }
            } // #chat #center .discussion .content .header.user .info
            .status-block { font-size: 1.2em; margin-left: 80px; font-style: italic;
              i { font-size: 0.9em; }
              .ago { display: none; font-size: 0.9em; font-style: italic; }
              &.online {
                .display-online { display: inline; }
                .display-offline { display: none; }
              }
              &.offline {
                .display-online { display: none; }
                .display-offline { display: inline; }
              }
            } // #chat #center .discussion .content .header.user .status-block
          } // #chat #center .discussion .content .header.user
        }
        .events { /*border-top: 1px solid @cl-subtext10;*/ overflow-y: scroll; overflow-x: hidden; .flex(1); .scrollbar-grey; position: relative;
          .scrollable { margin-right: 5px;
            .scrollable-content { position: relative;
              hr { border-color: @cl-subtext5; }
              .pad { min-height: 30px; text-align: center; font-size: 2em;
                i { display: none; }
                &.loading  i { display: inline-block; .spin; }
              }
              .loader { padding: 10px; text-align: center; font-size: 1.1em; border-radius: 2px;
                .arrow { font-size: 1.4em; padding-left: 50px; padding-right: 50px; }
                .loading { display: none;
                  .spinner { font-size: 1.3em; }
                }
                .no-more { margin:50px 0; display: none; text-align: left;
                  .title { font-size:3rem; .ft-opensans-bold; }
                  .info { font-size: 2rem;
                    .name, .owner { font-size:2rem; font-weight:normal; }
                  }
                  .actions { padding: 15px 0;
                    > a { margin: 0 10px; text-decoration:underline;
                      &:first-child { margin-left:0; }
                      &:hover { text-decoration:none; }
                    }
                  }
                }
              }
              .realtime {
                a.mention { font-weight: bold; }
                .block.hello,
                .block.topic,
                .block.kick,
                .block.ban,
                .block.groupban,
                .block.deban,
                .block.op,
                .block.deop,
                .block.voice,
                .block.command-help,
                .block.devoice {
                  clear: both;
                  margin-top: 5px;
                  padding: 5px;
                  img { height: 20px; }
                  .avatar {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background-position: center center;
                    background-size: 20px 20px;
                    vertical-align: middle;
                  }
                  .username { font-weight: bold; }
                  .detail { font-weight: normal; }
                  .event {
                    .text {
                      font-style: italic;
                      padding-right: 50px;
                      img { margin-right: 3px; }
                    }
                  }
                }
                .block { line-height: 19px; position: relative; font-size: 1.1em;
                  &.message { word-break: break-word; } // unofficial but working : http://caniuse.com/#feat=word-break
                  &.unviewed {
                    &::before {
                      .icon-circle;
                      font-size: 6px;
                      color: @cl-peter_river;
                      position: absolute;
                      top: 7px;
                      left: 37px;
                      line-height: 1;
                      font-style: normal;
                    }
                  }

                  &.promote {
                    &.unviewed {
                      &::before {
                        top: 12px;
                        left: 47px;
                      }
                    }
                  }
                  &.date + .block { border-top: transparent; }
                  &.hello { padding-top: 10px; font-size: 1.5rem; line-height: 2rem;
                    i {
                      color: @cl-success;
                      vertical-align: baseline;
                      line-height: normal;
                    }
                    .event .text p { margin-bottom: 5px; }
                  }
                  &.promote, &.topic {
                    i {
                      .icon-fw;
                      font-size: 1.2em;
                      color: @cl-text;
                      vertical-align: middle;
                      line-height: normal;
                    }
                    .avatar { margin-right:5px; }
                    &.unviewed {
                      &::before {
                        top: 12px;
                        left: 48px;
                      }
                    }
                  }
                  .event {
                    .date {
                      position: absolute;
                      top: 3px; right: 20px;
                      color: @cl-subtext30;
                      font-size: 0.8em;
                    }
                    &.out {
                      i {
                        font-size: 1.6em;
                        color: @cl-error;
                        vertical-align: middle;
                      }
                    }
                    &.in {
                      i {
                        font-size: 1.6em;
                        color: @cl-success;
                        vertical-align: middle;
                      }
                    }
                    &.online {
                      i {
                        font-size: 1.8em;
                        color: @cl-success;
                        vertical-align: middle;
                      }
                    }
                    &.offline {
                      i {
                        font-size: 1.8em;
                        color: @cl-error;
                        vertical-align: middle;
                      }
                    }
                  }
                }
                .block.user { padding-top: 23px; padding-left: 40px; clear: both; /*border-top: 1px solid @cl-subtext0;*/
                  .avatar { position: absolute; top: 5px; left: 5px; border: none; width: 30px; height: 30px; background-position: center center; background-size: 30px 30px; }
                  .username { position: absolute; top: 5px; left: 45px; .ft-opensans-bold; font-size: 1em; }
                  .othername { color: @cl-subtext20; font-weight: normal; }
                }
                .block.message { position: relative; padding-left: 45px; border-top: 0;
                  .text-spammed { display:none; }
                  .date {
                    position: absolute;
                    top: 3px; right: 20px;
                    color: @cl-subtext30;
                    font-size: 0.8em;
                  }
                  .text {
                    padding: 0 50px 0 0;
                    text-align: justify;
                    display : block;
                    a { font-weight: bold; }
                    .text-edited { font-size: .9rem; color: #0480be; }
                  }
                  .images {
                    .file-ctn { width: 100px; height: 100px; float: left; margin: 2px; border: 1px solid @cl-subtext10;
                      .file { .display-flex; width: 100px; height: 100px; background-size: contain; color:@cl-text;
                        &:hover { text-decoration: none; }
                        i { margin:auto; font-size: 4rem; color:@cl-subtext40; }
                      }
                      .filename { position: absolute; top: 2px; left: 0; margin: 0 2px; background-color: @cl-detail; width: 96px; padding: 2px; color: @cl-clouds; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; height: 18px; .border-radiuses(0 0 3px 3px); line-height: 1.1rem; font-size: 1.1rem; }
                      .filesize { position: absolute; bottom: 1px; right: 0; margin: 0; background-color: @cl-subtext20; width: auto; padding: 2px 5px 2px 10px; border-radius: 3px 0 0 3px; font-style: italic; color: @cl-clouds; }
                    }
                    .image {
                      float:left;
                      display: block;
                      position: relative;
                      width: 100px;
                      height: 100px;
                      margin: 2px;
                      background-position: center center;
                      background-repeat: no-repeat;
                      border: 1px solid @cl-subtext10;
                    }
                    .popover {
                      border-radius: 0;
                      .popover-content {
                        padding: 2px 2px;

                      }
                    }
                    hr {
                      clear: both;
                      border-color: @cl-background;
                      margin: 0;
                    }
                  }
                  .actions { float: right; font-size: 14px; right: 0; position: absolute; top: 0; color: #777; display:none;
                    i { color:#777 }
                    &.open .dropdown-menu { display: block; .opacity(1); min-width: initial; }
                    .dropdown-menu {display: block; padding: 0; margin: 0; right:-2px; left: initial; bottom: 25px;  top: initial; .opacity(0); .transition(all 600ms cubic-bezier(0, 0.85, 0.97, 1.08)); font-size:0.9em;
                      .arrow-up {  width: 0; height: 0; border-style: solid;   border-width: 5px 5px 0 5px;
                        border-color: #ccc transparent transparent transparent; position: absolute; bottom: -6px; right: 2px; display: block; padding: 0; }
                      ul.a { padding: 0; margin: 0; white-space: nowrap;
                        li {  list-style: none; text-align: left; padding: 5px 10px 5px; cursor:pointer;
                          &:hover { background-color: @cl-subtext5;
                            a { text-decoration:underline; }
                          }
                          &.unspam { display: none; }
                        }
                      }
                    }
                  }
                  &.new { border-left: 3px solid #5C77B6; padding-left: 4px; }
                  &.has-hover:hover .actions, .actions.open { display:block; }
                  &.spammed {
                    .text, .images { display: none; }
                    .actions .dropdown-menu ul.a li.unspam { display:block; }
                    .actions .dropdown-menu ul.a li.spammed { display:none; }
                    .text-spammed { display: block; font-style: italic; color: #333; padding-right:50px;
                      a { cursor:pointer; }
                    }
                  }
                  &.viewed {
                    .actions .dropdown-menu ul.a li.unspam { display:block; }
                    .actions .dropdown-menu ul.a li.spammed { display:none; }
                    .ctn { background-color: lighten(#e74c3c, 30%);
                      .remask-spammed-message {
                        float: left;
                        font-weight: normal;
                        font-size: 10px;
                        color: @cl-clouds;
                        margin: 2px 5px 0 2px;
                      }
                    }
                  }
                  .message-form { display:none; padding: 5px 5px 5px 5px; border-radius: 5px; background-color: #d8d4d4;
                    textarea { resize:none;}
                    .enter { float:right;}
                    a { color: #2a80b9; text-decoration:none; }
                    a:hover { text-decoration:underline; }
                  }
                }
                .block.inout {
                  &.unviewed::before { top: 16px; left: 29px; }
                  float: left;
                  border-top: 0;
                  padding-top: 5px;
                  .event {
                    display: inline-block;
                    margin: 0 4px 4px 0;
                    padding: 4px;
                    border: 2px solid transparent;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                    .username { display: none; }
                    .avatar {
                      display: inline-block;
                      margin-right: 0;
                      width: 20px;
                      height: 20px;
                      background-position: center center;
                      background-size: 20px 20px;
                    }
                    .icon {}
                    &.in:hover {
                      border-color: @cl-success;
                    }
                    &.out:hover {
                      border-color: @cl-error;
                    }
                  }
                }
                .block.spinner {
                  text-align: center;
                  color: @cl-title;
                  font-size: 12px;
                  background-color: @cl-subtext0;
                  -webkit-border-radius: 5px;
                  -moz-border-radius: 5px;
                  border-radius: 5px;
                  padding: 11px;
                }
                .block.command-help {
                  padding: 5px;
                  .help-cmd {
                    margin: 5px;
                    .name-cmd { font-weight: bold; }
                    .params-cmd { color: #8699a4; }
                    .desc-cmd { font-style: italic; }
                  }
                }
                .block.command-error {
                  padding: 5px;
                  .error-command {font-weight: bold; color: #000;}
                  .error {font-style: italic; color: #8699a4;}
                }
                .block.ping, .block.me, .block.random {
                  font-style: italic;
                  color: @cl-subtext30;
                }
                &.compact {
                  .block { .display-flex; z-index: 1; padding-left:0;
                    &.user { padding-top: 5px; border-top: 1px solid @cl-subtext0; margin-top: 5px;
                      .username { display:none; }
                    }
                    &.date { display:block; }
                    &.date + .block { border-top: transparent; }
                    &.message {
                      .username { display:inline !important; .flex-order(2); margin-right: 5px; }
                      .ctn { .flex-order(3); width: 100%; }
                    }
                    &.topic, &.promote {
                      .event { .display-flex; z-index: 1;
                        .text { .flex-order(2);
                          i { font-size: 1.2rem; margin: auto; height: auto; width:auto; }
                        }
                      }
                    }
                    &.inout {
                      .username { display:inline; .flex-order(1); }
                      i { .flex-order(2); margin:0 !important; }
                    }
                    &.hello { font-size: 1.2rem; line-height: 1.2rem;
                      .text { border:0; padding:0; }
                    }
                    .username { white-space: nowrap; .ft-opensans-bold; font-size: 1.2rem; }
                    .avatar { display:none !important; }
                    .date { white-space: nowrap; .flex-order(1); position:relative; top: initial; right: initial; margin-right: 5px;
                      &.same { visibility: hidden; }
                    }
                    &.unviewed::before { content: ""; left: 0; top: 0; background-color: #E2E2FF; width: 100%; height: 100%; z-index: -1; }
                  }
                }
              } // #chat #center .discussion .content .events .scrollable .scrollable-content .realtime
            } // // #chat #center .discussion .content .events .scrollable .scrollable-content
          } // #chat #center .discussion .content .events .scrollable
        } // #chat #center .discussion .content .events
        .input { padding-top: 5px; margin-right: 25px; padding-bottom: 10px; position: relative;
          .add-image, .add-file, .add-smiley {
            cursor: pointer;
          }
          .text-container { padding-bottom: 10px; position:relative;
            .overlay { display:none; background-color: black; height: 91px;   width: 100%;   position: absolute;   top: 0;   cursor: pointer; z-index: 2; .opacity(0.2);
              .overlay-text { color: white;   position: absolute; top: 33px;   width: 100%;   text-align: center;   cursor: pointer; font-size: 20px;}
              &::after { content: ""; position: absolute; bottom: -15px; right: 17px; border-style: solid; border-width: 15px 15px 0; border-right-color: transparent; border-left-color: transparent; border-top-color: black; border-bottom-color: black; display: block; width: 0; z-index: 1; }
            }
            .text {
              position: relative;
              padding: 5px 95px 5px 45px;
              border: 1px solid @cl-subtext15;
              background-color: @cl-background;
              .border-radius(4px);
              .avatar {
                position: absolute;
                left: 8px;
                top: 7px;
                width: 30px;
                height: 30px;
              }
              .actions {
                position: absolute;
                top: -3px;
                right: 45px;
                text-align: center;
                height: 46px;
                width: 40px;
                a {
                  display: inline-block;
                  color: @cl-subtext30;
                }
                .images.add-image { margin-top: 5px; }
                .images {
                  font-size: 1.5rem;
                }
              }
              .mentions { padding: 0; font-size: 13px; }
              .mentions-autocomplete-list {
                z-index: 10001;
                top: initial;
                overflow: auto;
                font-size: 13px;
              }
              .mentions-input-box .mentions>div>strong { }
              .editable {
                width: 100%;
                padding: 0;
                display: block;
                min-height: 30px;
                border: none;
                overflow: auto;
                outline: none;
                resize: none;
                .box-shadow(none);
                font-size: 13px;
              }
              .send { position: absolute; top: 0; bottom: 0; right: 0; width: 40px; margin: 0; border: 0; padding-top: 12px; padding-left: 2px; display: inline-block; text-align: center;
                img { width: 15px; height: 17px; }
                .arrow-bottom:after {
                  content: "";
                  position: absolute;
                  bottom: -8px;
                  left: 12px;
                  border-style: solid;
                  border-width: 8px 8px 0;
                  border-right-color: transparent;
                  border-left-color: transparent;
                  border-top-color: inherit;
                  border-bottom-color: inherit;
                  display: block;
                  width: 0;
                  z-index: 2;
                }
              }
            }
          }
          &.inactive .text-container {
            .overlay, .overlay::after { display:block; }
          }
          .typing-container {
            position: absolute;
            display: block;
            bottom: 1px;
          }
          .preview {
            padding-top: 2px;
            display: none;
            .image {
              &.file{ border: 1px solid @cl-subtext10; .display-inline-flex;
                &:hover { text-decoration: none; }
                .icon-file { margin:auto; font-size: 4rem;  }
              }
              background-size: contain;
              background-position: center center;
              display: inline-block;
              vertical-align: top;
              position: relative;
              width: 80px;
              height: 80px;
              margin: 2px;
              .remove-image {
                position: absolute;
                right: 5px;
                display: none;
                color: @cl-error;
                cursor: pointer;
                font-size: 1.3em;
              }
              &:hover {
                .remove-image {
                  display: inline;
                }
              }
            }
            .add-image {
              display: inline-block;
              vertical-align: top;
              border: 2px dashed @cl-subtext20;
              border-radius: 2px;
              width: 80px;
              height: 80px;
              margin: 2px;
              padding-top: 28px;
              text-align: center;
              i {
                font-size: 1.9em;
                color: @cl-subtext20;
              }
            }
          }
          &.open {
            .text-container .text { .border-radiuses(0, 4px, 4px, 0); padding: 4px 94px 4px 44px; border: 2px solid @cl-nav-left-back;
              .avatar { left: 7px; top: 6px; }
              .actions { top: -4px; right: 44px; }
              .send { padding-top: 11px; padding-left: 4px;
                .arrow-bottom:after { left: 13px; border-width: 9px 9px 0; }
                .arrow-bottom:before { content: "";
                  position: absolute;
                  bottom: -11px;
                  left: 12px;
                  border-style: solid;
                  border-width: 10px 10px 0;
                  border-right-color: transparent;
                  border-left-color: transparent;
                  border-top-color: @cl-nav-left-back;
                  border-bottom-color: @cl-nav-left-back;
                  display: block;
                  width: 0;
                  z-index: 1; }
              }
            }
            .rollup-container .ctn { border: 2px solid @cl-nav-left-back; .border-radiuses(4px, 0, 0, 4px); bottom:-2px; }
          }
        }
      } // #chat #center .discussion .content
    }
  } // #chat #center

  hr {
    border-top-color: #dadada;
    margin-top: 12px;
    margin-bottom: 15px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .big-link {
    .ft-opensans-bold;
    color: @cl-subtext50;
    font-size: 1.1em;
  }

  .home>.dropdown-menu>li>a,
  .share,
  .open-group-edit,
  .open-group-profile,
  .open-group-access,
  .open-group-delete,
  .open-room-edit,
  .open-room-profile,
  .open-user-profile,
  .open-group-users,
  .open-room-delete,
  .open-room-users,
  .open-room-access,
  .open-user-edit,
  .open-user-account,
  .open-user-preferences,
  .open-create-room,
  .go-to-search,
  .ban-user,
  .deban-user,
  .open-room-preferences,
  .close-discussion {
    cursor:pointer;
  }

  #alert {
    .alert { display: none; position: absolute; top: 0; left: 0; right: 0; min-height: 45px; z-index: 1031; padding: .4em .6em .4em; background-color: @cl-neutral; font-size: 1.5em; color: @cl-background; text-align: center; white-space: nowrap;
      .ft-opensans-bold;
      .close-btn { position: absolute; top: 8px; right: 12px; cursor: pointer;
        img { width: 25px; height: 25px; }
      }
    }
    .alert.info { background-color: @cl-success;}
    .alert.warning { background-color: @cl-warning; }
    .alert.error { background-color: @cl-error; }
  }

  .status { color: transparent; }
  .online>.status, .status.online { color: @cl-success; }
  .connecting>.status, .status.connecting { color: @cl-warning; }
  .offline>.status, .status.offline { color: @cl-subtext15; }
  .error>.status, .status.error { color: @cl-pomegranate; }

  .block { margin: 0;
    &.date { margin-top: 16px; margin-bottom: 10px; clear: both; border-top: 0; height: 1px; background-color: @cl-subtext10; text-align: center;
      .moment { position: relative; top: -0.7em; background-color: @cl-background; text-align: center; font-size: 1.5rem; font-weight: bold; color: @cl-subtext30; padding: 0 10px; text-transform: capitalize; }
    }
  }

  .date-ctn { padding: 0 12px 10px 0; position: absolute; width: 100%; background-color: white; z-index: 2; min-height: 22px }

  @import './drawer';
}