.rooms.cards { margin-left: -1px; // for welcome popin
  .list { .display-flex; .flex-flow(row wrap); .clearfix; }
  .room { float:left; position: relative; width: 217px; height: 286px; margin-top: 10px; text-align: center;
    .avatar { display: inline-block; margin: auto; width: 135px; height: 135px; background-position: center center; border: 5px solid rgba(167,167,167,0.1); background-size: 100%; }
    .name { margin-top: 10px; font-size: 20px; }
    .owner { font-size: 13px; }
    .join { position: absolute; left: 10px; right: 10px; bottom: 30px; padding: 13px 20px; .border-radius(100px);
      a { font-size: 1.2em;  white-space: nowrap; }
    }
    .cover {
      .name, .owner { display:block; }
    }
    .back { display: none; width: 100%; height: 100%; .border-radius(25px);
      .ctn { height: 100%; padding-bottom: 70px; .display-flex; .flex-flow(column nowrap);
        .name { margin-top:0; padding-top:40px; }
        .owner a:hover { opacity: 0.5; text-decoration: none; }
        .description { max-height: 75px; overflow: hidden; text-align: justify; font-size: 13px; padding-left: 20px; padding-right: 20px; .flex(0 1 auto); margin:auto; }
      }
    }
  }
  .room:hover {
    .cover { display: none; }
    .back { display: block; }
  }
}