.discussion {
  background-color: @cl-background;
  height: 100%;
  .content {
    height: 100%;
    margin-right: @size-right;
    position: relative;
    padding-left: 35px;
    .header {
      padding-top: 18px;
      padding-right: 10px;
      min-height: 135px;
      .avatar {
        position: absolute;
        width: 100px;
        height: 100px;
      }
      .name, .username {
        display: inline-block;
        margin-top: 2px;
        margin-left: 110px;
        font-size: 2.2em;
      }
      .owner {
        display: inline-block;
        margin-left: 5px;
        font-size: 1.2em;
      }
      .status-block {
        display: inline-block;
        margin-left: 5px;
        font-size: 1.2em;
        i { font-size: 0.9em; }
        .ago {
          display: none;
          font-size: 0.9em;
          font-style: italic;
        }
      }
      .location, .website {
        margin-left: 110px;
        font-size: 1.2em;
      }
      .location {
        margin-top: 5px;
        font-weight: bold;
      }
      .topic {
        min-height: 32px;
        margin-top: 14px;
        padding: 5px 15px 5px 115px;
        .topic-current {
          .txt-bubble;
          padding: 0.6em 1.2em;
          display: inline-block;
          white-space: nowrap;
          max-width: 100%;
          label {
            font-size: 13px;
            display: block;
            width: 90px;
            float: left;
            margin: 0;
            color: @cl-subtext40;
          }
          .txt {
            display: block;
            font-size: 13px;
            margin-left: 90px;
            overflow: hidden;
          }
          .default {
            color: @cl-subtext20;
            &:hover {
              color: @cl-subtext50;
            }
          }
        }
        .topic-form {
          .txt-bubble;
          width: 100%;
          z-index: 1; // if .topic-form is too long .events appear over
          input[type=text] {
            .form-control;
            display: inline-block;
            width: 100%;
            min-width: 300px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            padding: 6px 30px 6px 15px;
          }
          .submit, .cancel {
            .big-button;
            background-color: @cl-background;
            color: @cl-subtext40;
            border-color: @cl-subtext40;
            font-size: 0.8em;
            padding: 6px 9px;
            border-width: 3px;
            font-style: normal;
            display: inline-block;
            margin-left: 5px;
          }
          .cancel {
            margin-right: 5px;
          }
          .submit {
            font-weight: bold;
          }
        }
      }
      .actions {
        color: @cl-subtext30;
        margin-top: 4px;
        margin-left: 106px;
        white-space: nowrap;
        i {
          color: @cl-subtext20;
          font-size: 0.9em;
        }
        a {
          font-size: 1em;
          text-decoration: none;
          border-bottom: 1px solid @cl-subtext10;
          color: @cl-subtext30;
          &:hover {
            text-decoration: none;
            border-bottom: 1px solid @cl-subtext30;
            color: @cl-title;
          }
        }
        .separation {
          margin-left: 5px;
          margin-right: 3px;
        }
        .url {
          margin-top: 2px;
          font-size: 1em;
          i {
            color: @cl-subtext30;
            font-size: 0.9em;
          }
          a {
            text-decoration: none;
          }
        }
        .edit {
          margin-right: 5px;
        }
        .profile {
        }
        .share {
          padding-top: 2px;
          i {
            font-size: 16px;
            color: @text-color;
            margin-left: 3px;
            vertical-align: middle;
            cursor: pointer;
            &.facebook {
              color: #3b5998;
            }
            &.twitter {
              color: #4099FF;
            }
            &.googleplus {
              color: #dd4b39;
            }
          }
        }
      }
      /*.share-button {
        position: absolute;
        display: block;
        top: 10px;
        right: 10px;
        height: 33px;
        border-radius: 25px;
        padding-right: 15px;
        label {
          display: block;
          color: inherit;
          background-color: transparent;
          padding: 5px 12px;
          font-size: 14px;
          span {
            text-transform: none;
            .ft-opensans-bold;
          }
        }
        .social.networks-4 {
          width: inherit;
          z-index: 10;
          position: relative;
        }
      }*/
    }
    .events {
      @import "./chat-discussion-events";
    }

    @import './chat-input';
  }
  .side {
    float: right;
    width: @size-right;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    margin: 0;
    padding: 0;
    .blur {
      width: calc(@size-right-mid);
      position: relative;
      height: 100%;

      @import "./chat-discussion-users";
    }
  }
}

/** for <=1400 screens resolutions **/
@media screen and (max-width: 1400px) {
  .discussion {
    .content {
      margin-right: @size-right-mid;
    }
    .side {
      width: @size-right-mid;
    }
  }
}

/** for <=1024 screens resolutions **/
@media screen and (max-width: 1024px) {
  .discussion {
    .content {
    }
    .side {
    }
  }
}
