.body-chat { height: 100%; overflow-y: hidden; .ft-opensans; }
.tooltip-home-users { padding: 0 !important; margin-left: 0 !important; margin-top: -2px;
  .tooltip-inner { background-color: transparent; padding: 0; border: 0; max-width: initial; .border-radius(0);
    .username { max-width: 200px; padding: 3px 8px; color: #fff; line-height: 24px; font-size: 12px; text-align: center; }
    &.left .username {
      .border-radiuses(0,0,4px,4px);
    }
    &.right .username {
      margin-top: -1px;
      .border-radiuses(4px,4px,0,0);
    }
  }
}
.mail-not-confirmed { margin: 1rem; }
#popin-user { width: 350px; bottom: initial; overflow: visible; z-index: 2; .transition(none);
  .arrow-right:before { z-index: 2; content: ""; width: 0; height: 0; border-style: solid; border-width: 10px 0 10px 7px; border-color: transparent transparent transparent #fff; position: absolute; right: -7px; top: 4px; }
  .arrow-right:after { z-index: 1; content: ""; width: 0; height: 0; border-style: solid; border-width: 12px 0 12px 8px; border-color: transparent transparent transparent #B8B8B8; position: absolute; right: -8px; top: 2px; }
  .modal-dialog { margin:0; .transition(none); width: 350px; }
  .names-ctn { max-width:208px;
    .username, .othername { .ft-opensans-extra-bold; overflow: hidden; text-overflow: ellipsis; padding-left: 2px; }
    .username + .othername { .ft-opensans; color: @cl-subtext20; }
    .location { overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
      i { color:@cl-subtext30; }
    }
  }
  p { margin:0; display:inline; }
  .avatar { width:100px; height:100px; display: block; }
  .modal-footer { border:0; background-color:@cl-subtext5;
    > a { float:left; clear:both; margin-right:5px; cursor:pointer; width: 100%; text-align: left; }
  }
}

//#welcome {
//  .modal-dialog {
//    z-index: 1041; // fix .modal-dialog behind .modal-backdrop for unknown reason
//  }
//  .modal-body {
//    font-size: 1.1em;
//    .room {
//      font-size: 0.9em;
//    }
//  }
//  .modal-footer {
//    span.checkbox {
//      .pull-left;
//      margin: 0;
//    }
//  }
//}

#connection {
  .modal-backdrop {
    background-color: @cl-background;
  }
  .modal-dialog {
    margin-top: 10em;
    //width: 320px;
    .modal-content {
      .modal-body {
        padding: 50px 10px 50px;
        .loader {
          font-size: 38px;
          margin-bottom: 5px;
          text-align: center;
          .ft-opensans-bold;
          color: @cl-subtext30;
          .one {
            opacity: 0;
            -webkit-animation: dot 1.3s infinite;
            -webkit-animation-delay: 0.0s;
            animation: dot 1.3s infinite;
            animation-delay: 0.0s;
          }
          .two {
            opacity: 0;
            -webkit-animation: dot 1.3s infinite;
            -webkit-animation-delay: 0.2s;
            animation: dot 1.3s infinite;
            animation-delay: 0.2s;
          }
          .three {
            opacity: 0;
            -webkit-animation: dot 1.3s infinite;
            -webkit-animation-delay: 0.3s;
            animation: dot 1.3s infinite;
            animation-delay: 0.3s;
          }
          @-webkit-keyframes dot {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }

          @keyframes dot {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
        .hello {
          text-align: center;
          font-size: 20px;
          margin-bottom: 12px;
          color: @cl-subtext50;
        }
        .error-message {
          display: none;
          margin-top: 25px;
          text-align: center;
          color: @cl-error;
        }
        .contactus {
          margin-top: 30px;
          text-align: center;
          font-size: 14px;
          a {
            color: @cl-first;
          }
        }
      }
    }
  }
}
#confirmation {
  .modal-backdrop {
    background-color: @cl-background;
  }
  .modal-dialog {
    margin-top: 10em;
    width: 400px;
    .modal-content {
      .modal-body {
        text-align: center;
        .question {
          margin-bottom: 15px;
        }
        .input, .big-input {
          margin-bottom: 15px;
          label {
            font-weight: normal;
          }
        }
        textarea {
          max-width: 368px;
          max-height: 450px;
        }
        .buttons {
          .cancel {
            .btn;
            .btn-danger;
          }
          .confirm {
            .btn;
            .btn-success;
          }
        }
      }
    }
  }
}

#chat {
  .container-fluid;
  height: 100%;
  margin: 0;
  padding: 0;

  #languages { z-index: 5;
    a { padding: 3px 5px; cursor: pointer; }
  }

  > .row {
    margin: 0; /* Cancel bootstrap negative .row margin */
    height: 100%;
    width: 100%;
  }

  #left { float: left; width: @size-left; background-color: @cl-nav-left-back2; color:@cl-nav-left-text; z-index: 12; position: relative; font-size: 14px; height:100%; .transition(margin-left 300ms); border-left: 2px solid @cl-first;
    .hover-menu { display: none; }
    .mail-not-confirmed { .ft-opensans; font-size: 12px; color: #FFFFFF; line-height: 21px; background: @cl-first; box-shadow: 0 2px 6px 0 rgba(0,0,0,0.50); BORDER-radius: 0; margin: 6px; padding: 10px;
      &::before { content: ""; width: 0; height: 0; border-style: solid; border-width: 0 9px 5px 9px; border-color: transparent transparent @cl-first transparent; position: absolute; top: -5px; left: 8px; }
      strong { .ft-opensans-extra-bold; color: #FFFFFF; }
    }
    #block-current-user { padding: 3px; cursor: pointer; overflow: hidden; .transition(max-height 200ms); max-height: 41px; background-color: @cl-nav-left-back;
      .user-status { .transition(all 300ms ease); border: 2px solid #353F4C; position: absolute; left: 32px; top: 28px; }
      .not-confirmed { z-index: 1; position: absolute; top: 15px; font-size: 28px; left: 17px; color: @cl-pomegranate; opacity: 0.7; }
      img { width: 35px; height: 35px; }
      i { color: rgba(207,217,229,0.40); }
      &.open { .transition(max-height 400ms); max-height: 600px;
        .dropdown-toggle i { .rotate(180deg); }
      }
      &.open, &:hover { background-color: @cl-nav-left-back2;
        .user-status { border-color: @cl-nav-left-back2; }
      }
      .dropdown-menu { width: 100%; display: block; position:relative; background-color: transparent; .box-shadow(none); border:0; font-family: 'Open Sans',sans-serif; font-weight: 400; font-size: 1.3rem; color: #fff; letter-spacing: 1px; line-height: 14px; text-overflow: ellipsis; overflow: hidden;
        li {
          &:hover {
            background-color: rgba(255,255,255,.2);
            .border-radius(4px);
          }
          &.dropdown-header { color:@cl-nav-left-text-lighter; cursor:default; padding:3px 20px 3px 10px;
            &:hover { background-color: transparent; }
          }
          a { color:@cl-clouds; padding:3px 2px 3px 15px;
            &:hover, &:focus { background-color:transparent; }
          }
        }
        .divider { background-color: rgba(255,255,255,0.2); }
      }
      .dropdown-toggle { width: 100%; padding: 0;
        .username {  .ft-opensans; font-size: 1.3rem; color: #FFFFFF; letter-spacing: 1px; line-height: 20px; max-width: 185px; text-overflow: ellipsis; overflow: hidden; }
        i { .transition(all 300ms ease); }
      }
    }
    #navbar { border-color: @cl-nav-left-back2; padding-bottom: 1rem; background-color: @cl-nav-left-back; margin: 0; height: 40px; border-width: 1px 0 0; border-style: solid;
      .links { .display-flex; .flex-flow(row nowrap); .align-items(center);
        .link { height: 40px; width: 42px; border-right: 1px solid @cl-nav-left-back2;
          .home { background-image: url('@{img-path}/svg/home.svg'); background-repeat: no-repeat; background-position: center center; background-size: 100%; width: 20px; height: 20px; }
          .icon-notification { background-image: url('@{img-path}/svg/notifications.svg'); background-repeat: no-repeat; background-position: center center; background-size: 100%; width: 16px; height: 17px; }
        }
        #notifications .unread-count { position: absolute; top: -6px; left: 10px; padding: 1px 5px; font-size: 1rem; font-weight: bold; color: #FFF; line-height: 1.4rem; vertical-align: middle; white-space: nowrap; text-align: center; .border-radius(10px); background-color: @cl-first; }
      }
      .search { .flex(1); height: 40px; margin-left: 5px;
        position: relative;
        .input-group { width: 100%;
          > .relative { max-width:450px; }
          input { background-color: transparent; border: 0; box-shadow: none; padding: 6px 12px 6px 28px; height: 40px; color:#FFF; }
          i.searchicon { position: absolute; left: 9px; z-index: 2; display: block; top: 12px; color: rgba(207,217,229,0.4); background-image: url('@{img-path}/search.png'); background-repeat: no-repeat; background-position: center center; background-size: 100%; width: 16px; height: 17px; }
        }
        &.open .input-group input { width: 450px; border: 1px solid @cl-nav-left-back-darker; border-bottom:0; }
        .search-results {
          width: 450px;
          margin: 0;
          padding: 0;
          list-style: none;
          position: absolute;
          z-index: 3;
          background: #FFF;
          border: 1px solid @cl-nav-left-back-darker;
          border-top: 0;
          .border-radiuses(0, 4px, 4px, 0);
          li.result {
            .group-type { padding: 0 7px 4px 7px; position: absolute; top: -1px; left: 0; border: 1px solid @cl-border; background-color: #FFF;
              i { font-size: 0.9rem; }
            }
            color: @cl-text;
            height: 44px;
            .display-flex;
            .flex-flow(row nowrap);
            .align-items(center);
            overflow: hidden;
            img {
              width: 40px;
              height: 40px;
              margin-left: 2px;
            }
            .name {
              .ft-opensans-extra-bold;
              font-size: 1.4rem;
              margin-right: 5px;
              .othername { color: @cl-subtext20; font-weight: normal; }
            }
            .disclaimer {
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 100%;
              flex: 1;
              color: @cl-subtext30;
              font-style: italic;
              margin-right: 10px;
              overflow: hidden;
            }
            .status { padding-top:2px; margin-right: 4px; }
            &:nth-of-type(odd) {
              background-color: #f9f9f9;
            }
            &:hover {
              outline: 1px solid #c7c7c7;
              background-color: #f0f0f0 !important;
            }
            &:last-child {
              .border-radiuses(0, 4px, 4px, 0);
            }
            &.active {
              background: #439fe0; color: #fff!important; border-bottom-color: #2a80b9;
            }
          }
          .spinner, .empty {
            padding: 5px 15px;
            min-height: 40px;
            text-align: center;
            span { color:@cl-text; }
          }
          .presentation {
            background-color: #CCC;
            color: @cl-text;
            padding: 5px 15px 5px 10px;
            span {
              float: right;
              color: @cl-text;
              text-decoration: underline;
            }
          }
        }
      }
    }
    .scrollable { .align-self(flex-start); width: 100%; .flex(1 1 0); .scrollbar-grey-thin; overflow: auto; margin-top: 6px; margin-left: -2px;
      .page-sidebar-menu { padding: 0; margin:0; .display-flex; .flex-flow(column nowrap); width: 100%; }
      .navlist { padding: 0; margin: 0; display: inline-block; margin-bottom: 13px;
        .disclaimer-empty { display:none; }
        &.empty { margin-bottom:0;
          .disclaimer-empty { display:block; margin-bottom: 13px; }
          .hide-empty { display: none; }
        }
        .navlist-title { .ft-opensans-semibold; font-size: 11px; color: #19212A; line-height: 35px; height: 35px; text-transform: uppercase; margin-left: 19px; display: inline-block; }
        .create { background: rgba(207,217,229,0.25); border-radius: 2px; font-size: 9px; color: #FFF; letter-spacing: 0.5px; line-height: 19px; text-transform: uppercase; padding: 0px 4px; position: absolute; right: 17px; top: 7px; }
        a { color:@cl-nav-left-text-lighter; }
        ul.disclaimer-empty { list-style: none; padding-left: 0;
          li { padding: 10px 20px; font-style: italic; color: @cl-nav-left-text2;
            a { color: #fff; }
          }
        }
        ul.list { padding-left: 0;
          .less, .additional { display: none; }
          &.collapsed {
            .less, .additional { display: block; }
            .more{ display: none; }
          }
          .more, .less {
            &:before { content:''; margin-right: 5px; width: 18px; height:6px; background-image: url('@{img-path}/svg/ellipsis.svg'); background-repeat: no-repeat; background-position: center center; background-size: 100%; display: inline-block; }
          }



          li { list-style: none; margin: 0 18px; .border-radius(4px); min-height: 29px; font-size: 13px; color: #AFBAC8; letter-spacing: 1px; line-height: 29px;
            &.more, &.less { padding-left:10px; text-align: left; padding-right: 20px; .ft-opensans; font-size: 10px; color: #8491A1; letter-spacing: 0.76px; line-height: 29px; text-decoration: none; }
            a { color: #AFBAC8;
              i { color: #AFBAC8; }
              &.close-discussion, &.close-group { display:none; }
            }
            .item { position: relative; color: @cl-nav-left-text-lighter;
              .avatar-ctn { margin: auto 0 auto 10px;
                .avatar { width: 19px; height: 19px; display: inline; }
              }
              .name-ctn { .display-flex; .flex(1); margin: auto 0; padding: 3px 10px 3px 5px;
                .name, .username { .ft-opensans; display: inline-block; overflow: hidden; text-overflow: ellipsis; font-size: 13px; color: #AFBAC8; letter-spacing: 1px; line-height: 23px; width: 158px;}
              }
              .close-discussion, .close-group { font-size: 1.6rem; margin:auto; }
              &.blocked { span.name { text-decoration: line-through; } }
              &.grouped {
                a { padding-left:5px;
                  .name { padding-left: 5px; font-weight: normal; }
                }
              }
            }
            &:hover { background-color: rgba(255,255,255,0.05);
              //&.group-block { background-color: transparent; }
              .close-discussion + .unread { display:none; }
              .close-discussion, .close-group { display:block; }
            }
            &.active { background-color: @cl-nav-left-back-active;
              > .item .name-ctn .name { color:#FFF; }
              .close-group  i { color:#FFF; }
              .close-discussion  i { color:#FFF; }
            }
            &.group { position:relative;
              &.highlighted { background-color: rgba(255,255,255,0.05); }
              &.active { background-color: rgba(255,255,255,0.05);
                > .item { background-color: rgba(29,37,47,0.43); .border-radius(4px); }
              }
              .toggle-icon { position: absolute; left: -16px; top: 0; height: 29px; }
              .toggle-icon:before { .icon-caret-down; width:12px; height:12px; top: 7px; position: absolute; left: 3px; .transition(tranform 300ms); }
              .toggle-icon.collapsed:before {
                .transform(rotate(-90deg));
              }
              .roomlist { padding-left:0; }
              .room-type { margin: 0; padding-left: 40px; }
            }
          }
        }
      }
    }
    .bottom { position:fixed; width: @size-left; bottom: 0; left: 0;
      .crunch { position:absolute; background-image: url('@{img-path}/svg/crunch.svg'); background-repeat: no-repeat; background-position: center center; background-size: 100%; width: 30px; height: 83px; right: 0; bottom: -15px; }
    }
  }

  #center { height: 100%; z-index: 5; margin-left: @size-left; background-color: #FFF; background-image: url('@{img-path}/logo-onecolor-gr.svg'); background-repeat: no-repeat; background-position: center center; background-size: 60%;
    .user-list { height: 100%;
      .list { overflow-y: auto; overflow-x: hidden; height: 100%; .scrollbar-white; padding-top:10px;
        .item { .pull-left; position: relative; margin:5px;
          .avatar { display: inline-block; width: 30px; height: 30px; }
          .username { display: none; position: absolute; top: 0; right: -20px; height: 30px; line-height: 30px; margin-right: 50px; padding-left: 10px; padding-right: 8px; background-color: @cl-subtext10; text-align: left; .ft-opensans-bold; color: #ffffff; z-index: 99999; white-space: nowrap; }
          &:hover .username { display: block; }
        }
      }
    }
    #search { height: 100%; display: none; background-color: @cl-background2; overflow-y: auto; .scrollbar-grey;
      .search { position: relative; margin: 20px 20px 2px;
        .input-group { width: 100%;
          input { .border-radiuses(4px, 0, 0, 4px); }
        }
        .search-options { border-bottom: 1px solid @cl-border; }
        .nav.nav-pills {
          li { border-bottom: 5px solid transparent; padding:10px; transition: border-color 0.5s ease; background-color: #FFF;
            a { .border-radius(0); padding:0;
              &:after { content:' '; border:1px solid #ccd6dd; position:absolute; right: -11px; width: 1px; height: 18px; display:inline-block; }
            }
            a:last-child:after { border-color:transparent; }
            &.active>a, &:hover>a, &:focus>a {
              background-color: transparent;
              color: initial;
            }
            &.active, &:hover, &:focus {
              border-bottom: 5px solid @cl-first;
            }
          }
        }

      }
    }
    #home { height: 100%; display: none; background-color: @cl-background2; overflow-y: auto; .scrollbar-grey; z-index: 15;
      .title {
        .ft-opensans;
        color: @cl-subtext30;
        font-size: 1.6em;
        margin-bottom: 10px;
        a {
          color: @cl-first;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .nothing { .ft-opensans; color: @cl-subtext30; text-align: center; font-size: 1.2em; margin-top: 20px; }
      > .left { background-color: @cl-background2;
        .make-xs-column(12);
        .make-sm-column(10);
        .make-lg-column(9);
        height: 100%;
        overflow-x: auto;
        padding-left:0;
        padding-right:0;
        .disclaimer { text-align: center; margin: 20px; font-size: 1.5rem; }
      }
      > .right { .make-xs-column(0); .make-sm-column(2); .make-lg-column(3); height: 100%; padding: 20px 5px 20px 14px; background-color: @cl-subtext10;
        .users { height:100%;
          .list { overflow-y: auto; overflow-x: hidden; height: 100%; .scrollbar-white;
            .item { .pull-left; position: relative; margin-top: 10px; margin-right: 10px;
              .avatar { display: inline-block; width: 30px; height: 30px; }
              .username { display: none; position: absolute; top: 0; right: -20px; height: 30px; line-height: 30px; margin-right: 50px; padding-left: 10px; padding-right: 8px; background-color: @cl-subtext10; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; text-align: left; .ft-opensans-bold; color: #ffffff; z-index: 99999; white-space: nowrap; }
              &:hover .username { display: block; }
            }
          } // #chat #center #home .right .users .list
          .list.search {
            .item {
              .avatar {
                margin-left: -3px;
                margin-top: -1px;
                .pull-left;
              }
              .username {
                display: inline-block;
                position: relative;
                right: inherit;
                margin-right: 0;
                color: @cl-title;
                background-color: transparent !important;
                font-size: 1.1em;
              }
            }
            .item:hover {
              .username {
                display: inline-block;
              }
            }
          }
        } // #chat #center #home .right .users
      } // #chat #center #home .right
      &.loading .left .backdrop {
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
      }
    } // #chat #center #home
    .side { float: right; width: (@size-color + @size-right-mid); height: 100%; margin: 0; padding: 0; background-repeat: no-repeat; background-position: left top; .transition(width 300ms);
      @header-height: 35px; @size-user-item: 205px;
      .blur { width: @size-right-mid; position: relative; color: @cl-background; font-size: 1.1em; height: 100%; overflow-y: auto; .transition(width 300ms);
        .users { position: relative; padding: 10px 0 30px; height: 100%; background-color: rgba(0, 0, 0, 0.2); overflow-y: auto; .scrollbar-grey;
          .list { list-style: none; margin: 0 10px 0; overflow-y: auto; background-repeat: no-repeat; background-position: left top; position: relative; .justify-content(space-around); overflow-x: hidden; padding:0;
            > li { margin: 5px 0; float:left; width: 100%; }
            .clearfix { width:100%; height:5px; clear: both; float: none; }
            .li-title { margin: 0;
              .col-md-6 { padding: 0 5px;
                i {  height: auto; }
              }
            }
            .item { position: relative; font-size: 0.9em; font-weight: bold; white-space: nowrap; display: block; height: 34px;
              .infos { .display-flex; .flex-flow(row nowrap); .align-items(center); }
              .avatar { display: inline-block; width: 34px; height: 34px; margin-left:5px;
                .background { background-position: center center; background-size: 34px 34px; width: 34px; height: 34px; display: inline-block; border: 2px solid transparent; }
                &:hover .dropdown > .dropdown-toggle { display: block; }
              }
              &.op {
                .background { border-color:@cl-success; }
                .avatar::before { position: absolute; .icon-op; color:@cl-success; top: -6px; left: -4px; width: 12px; height: 16px; background-size: 12px 16px; }
              }
              &.devoice {
                .background { border-color:@cl-error; }
                .avatar::after { content: '\f037'; display: inline-block; font: normal normal normal 14px/1 'Donut'; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); right: -6px; bottom: -6px; position: absolute; color: @cl-error; font-size: 17px; .border-radius(50%); }
              }
              &.owner {
                .background { border-color:@cl-warning; }
                .avatar::before { position: absolute; .icon-owner; color:@cl-warning; top: -9px !important; left: 10px !important; }
              }
            }
          }
          .count { float:left; padding: 3px 8px; font-weight: normal; }
        }
      }
      .visible-compact { display:none; }
      &.compact { .compact-sidebar; } // see mixin for shared compact sidebar
      &.oneside { width:@size-right-mid; }
      &.poster-empty {
        &.roomside { width:@size-right-mid; }
      }
      &.poster-full .dc-text-contrast { color:#fff; }
      &.poster-full .blur .users .list .item.dc-back-darker { background-color: transparent; border-style: solid; border-width: 1px 0; border-color:#FFF; margin: 0 14px; width: 187px; }
    }

    > .group { height: 100%; background-color: @cl-background2; overflow-y: auto; .scrollbar-grey-thin;
      .fl-left { float: left; }
      .content {position: relative; margin: 0 20px; .display-flex; .flex-flow(column nowrap);
        .header {  background-color: #FFF; margin-top: 20px; padding: 20px; min-height: 200px; border:1px solid @cl-border;
          .overlay-ctn  {
            .avatar { width:150px; height:150px; .border-shadow; }
            .group-type { padding: 7px; top: 0; position: absolute; left: 0; border: 3px solid @cl-border;
              i { font-size: 2.5rem; line-height: 2.5rem; }
            }
            .members { padding:10px; }
          }
          .info { .justify-content(space-between); .flex(1 1 auto); font-size: 1.3rem; margin-left:15px;
            .name { font-size: 2rem; .display-inline-flex; .ft-opensans-extra-bold; line-height: 1.2; word-break: break-all; }
            .dropdown { display: inline-block; position: relative;
              .dropdown-menu>li>a { color: @cl-subtext40; }
              button { font-size: 24px; border: none; background-color: transparent; }
            }
            .owner {  }
          }
          .actions .btn { white-space: nowrap; }
        }
        .reason, .disclaimer, .members { text-align: justify; font-size:1.6rem; margin-bottom:0; }
        .title { color:@cl-text; .ft-opensans-bold; font-size: 2rem; text-transform: capitalize; }
        .user-list { min-height:auto;
          .list { overflow: hidden;
            &.op { padding-top: 5px; }
            &.scrollable { overflow-y: auto; overflow-x: hidden; max-height: 90px; .scrollbar-grey-thin; }
            .item { position: relative; font-size: 0.9em; font-weight: bold; white-space: nowrap; display: block; height: 34px; margin:5px;
              .avatar { display: inline-block; width: 34px; height: 34px; background-size: 34px; background-position: center center; border: 2px solid #FFF;
                &:hover {
                  .dropdown>.dropdown-toggle {
                    display: block;
                  }
                }
              }
              .userstatus { position: absolute; top: -12px; left: -5px; z-index: 1; }
              .dropdown { position: absolute; width: 34px; height: 34px; top: 0;
                .dropdown-toggle { display:none; width: 34px; height: 34px; }
                .dropdown-menu { left:initial; right:0; }
              }
              &.op {
                .avatar { border-color:@cl-success; }
                .avatar::before { position: absolute; .icon-op; color:@cl-success; top: -6px; left: -4px; width: 12px; height: 16px; background-size: 12px 16px; }
              }
              &.devoice {
                .avatar { border-color:@cl-error; }
                &::after { content: '\f037'; display: inline-block; font: normal normal normal 14px/1 'Donut'; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); right: -1px; bottom: -1px; position: absolute; color: @cl-error; font-size: 19px; .border-radius(50%); }
              }
              &.owner {
                .avatar { border-color:@cl-warning; }
                .avatar::before { position: absolute; .icon-owner; color:@cl-warning; top: -9px !important; left: 10px !important; }
              }
            }
          }
        }
      }
    }

    .discussion { background-color: @cl-background; height: 100%;
      > div { height: 100%;}
      .content { height: 100%; position: relative; .display-flex; .flex-flow(column nowrap);
        &.blocked { .align-items(center);  .justify-content(center); position:relative;
          .header .info { padding:0; }
          .password-form { max-width: 555px; margin-left: auto; margin-right: auto;}
          .close-room { position: absolute; top: 20px; right: 20px; font-size: 1.4rem; }
        }
        .cover { text-align: center; }
        .header { padding-top: 18px; padding-right: 40px; margin-left:40px; min-height: 70px;
          .overlay-ctn {
            .avatar { position: absolute; width: 50px; height: 50px; }
          }
          .info { padding-left: 64px; .justify-content(space-between); padding-top: 6px;
            .dropdown { display: inline-block; position: relative;
              .dropdown-menu>li>a { color: @cl-subtext40; }
              button { font-size: 14px; border: none; background-color: transparent; margin:0; padding:0;
                i {  color: #D0D9E6;
                  &:hover { color: darken(#D0D9E6, 10%); }
                }
              }
            }
          }
          .name { .display-inline-flex; word-break: break-all; .ft-opensans-light; font-size: 25px; color: #1D252F; line-height: 14px;
            .username { color: @cl-subtext20; font-size: 1.8rem; }
          }
          .topic, .location { padding-left: 64px; margin-top: 6px;
            .topic-current { overflow: hidden; text-overflow: ellipsis; font-size: 13px; color: #AFBAC8; letter-spacing: 1px; line-height: 14px; font-style:initial; }
          }

          &.room { min-height: 70px;
            .overlay-ctn {
              .overlay { height: 50px; width: 50px; top:0; .border-radius(50%); }
              .overlay-text { width: 50px; top: 14px; font-size: 1.4rem; }
            }
            .name .groupname { font-size: 13px; color: #AFBAC8; letter-spacing: 1px; line-height: 14px; margin-right: 2px; }
            .info {
              .room-profile { min-height:initial; min-width:initial; margin:auto; }
              .separator { border-right: 1px solid #d0d9e6; padding: 0 20px 0 0; margin: 0 20px 0 0; height: 12px; }
              .share { width:18px; height:18px;
                i { font-size: 14px; vertical-align: middle; cursor: pointer; color: #D0D9E6;
                  &:hover { color: darken(#D0D9E6, 10%); }
                }
              }
            }
            .topic {
              .topic-form { display: none;
                .input-group { .display-flex; .flex-flow(row nowrap); }
                input[type=text] { width: 100%; height: 30px; }
              }
            }
          }
          &.user {
            .overlay-ctn .avatar { .border-radius(3px); }
            .user-status { .transition(all 300ms ease); border: 2px solid #FFF; position: absolute; left: 43px; bottom: -54px; z-index: 1; }
            .banned-status { font-size: 13px; .ft-opensans; color: #FC2026; line-height: 14px; font-style: normal; }
            .not-confirmed { font-size: 13px; .ft-opensans; color: #FC2026; line-height: 14px; font-style: normal; }

            &.i-am-banned .overlay-ctn:before { content: ''; z-index: 1; position:absolute; background-image: url('@{img-path}/userban.png'); background-repeat: no-repeat; background-position: center center; background-size: 100%;    width: 54px; height: 54px; display: block; top: -2px; left: -2px; }

            .status-block { margin-left:15px;
              .action { cursor: pointer; background: #E7ECF3; border-radius: 4px; .ft-opensans-semibold; font-size: 9px; color: #586473; letter-spacing: 0.69px; line-height: 21px; padding: 0 10px; text-transform: uppercase; }
              i { font-size: 0.9em; }
              .ago { display: none; font-size: 0.9em; font-style: italic; }
              &.online {
                .display-online { display: inline; }
                .display-offline { display: none; }
              }
              &.offline {
                .display-online { display: none; }
                .display-offline { display: inline; }
              }
            } // #chat #center .discussion .content .header.user .status-block
          } // #chat #center .discussion .content .header.user
        }
        .date-ctn { position: absolute; width: 100%; background-color: white; z-index: 2; min-height: 22px; padding-left:20px;
          .unviewed-top { .border-radius(3px); text-transform: uppercase; background-color: @cl-first; padding: 3px 20px; font-size: 9px; color: #FFFFFF; letter-spacing: 0.5px; line-height: 21px; margin-right: 20px;
            i { font-size: 14px; }
          }
          .date { .date-discussion;
            margin-top: 15px; margin-bottom: 15px; margin-left: -20px;
          }
        }
        .events { overflow-y: scroll; overflow-x: hidden; .flex(1); .scrollbar-grey; position: relative; margin-top: 30px; padding-left: 20px;
          .scrollable { margin-right: 5px;
            .scrollable-content { position: relative;
              hr { border-color: @cl-subtext5; }
              .pad { min-height: 30px; text-align: center; font-size: 2em; margin-left:20px;
                .spinner { display: none;
                  > div { margin: 10px auto; }
                }
                &.loading  .spinner { display: block; }
              }
              .loader { padding: 10px; text-align: center; font-size: 1.1em; .border-radius(2px); margin-left:20px;
                .arrow { font-size: 1.4em; padding-left: 50px; padding-right: 50px; }
                .loading { display: none;
                  .spinner { font-size: 1.3em; }
                }
                .no-more { margin:50px 0; display: none; text-align: center; max-width: 720px; color: #AFBAC8; font-size:17px; line-height: 31px;
                  .top { color: #FC2063; font-size:27px; line-height:31px; margin-bottom: 20px;
                    &:before { content:""; background-image: url('@{img-path}/svg/welcome.svg'); background-repeat: no-repeat; background-position: center center; background-size: 100%; width: 20px; height: 34px; display: block; margin: auto auto 10px;}
                  }
                  .title { font-size:3rem; .ft-opensans-bold; }
                  .info {
                    .name, .owner { font-size: 17px; font-weight:normal; }
                  }
                  .actions { padding: 15px 0;
                    > a { margin: 0 10px; text-decoration:underline; max-width: 720px; color: #afbac8; font-size: 17px; line-height: 31px;
                      &:first-child { margin-left:0; }
                      &:hover { text-decoration:none; }
                    }
                  }
                }
              }
              .realtime { padding-left: 20px;
                .block { line-height: 19px; position: relative;
                  &.hello,
                  &.topic,
                  &.kick,
                  &.ban,
                  &.groupban,
                  &.deban,
                  &.op,
                  &.deop,
                  &.voice,
                  &.command-help,
                  &.devoice { clear: both; margin-top: 8px; padding: 5px;
                    img { height: 20px; }
                    .avatar { display: inline-block; width: 20px; height: 20px; background-position: center center; background-size: 20px 20px; vertical-align: middle; .border-radius(3px); margin-left: 5px; }
                    .username { .ft-opensans-bold-italic; margin-right: 5px; }
                    .detail { font-weight: normal; }
                    .event {
                      .text { font-size: 13px; color: #AFBAC8; line-height: 21px; .ft-opensans-italic; padding-right: 50px; .display-flex; .align-items(center);
                        img { margin-right: 3px; }
                      }
                    }
                  }

                  .event {
                    i { margin-left: -25px; margin-right: 8px; }
                    .moment { position: absolute; top: 3px; right: 20px; font-size: 11px; color: #afbac8; line-height: 14px; }
                  }

                  &.date { .date-discussion; }

                  &.unviewed { margin: 25px 10px 25px 5px; clear: both; border-top: 0; height: 1px; background-color: @cl-first; text-align: center;
                    .title { position: absolute; right:0; height:20px; top: -0.9rem; background-color: @cl-background; text-transform: uppercase; font-size: 1rem; color: @cl-first; padding: 0 10px; font-weight:700; }
                  }

                  // .block.promote
                  &.promote .avatar { margin-right:5px; }

                  // .block.topic
                  &.topic {
                    .avatar { margin-right:5px; }
                    .topic-content { .ft-opensans; font-style: normal; color: #1D252F; font-size: 15px; }
                  }

                  // .block.hello
                  &.hello { margin:50px 0;
                    > div { margin:auto; text-align: center; max-width: 520px;
                      .top { color: #FC2063; font-size:27px; line-height:31px; margin-bottom: 20px;
                        &:before { content:""; background-image: url('@{img-path}/svg/welcome.svg'); background-repeat: no-repeat; background-position: center center; background-size: 100%; width: 20px; height: 34px; display: block; margin: auto auto 10px;}
                      }
                      .event .text { padding:0; color: #AFBAC8; font-size:17px; line-height: 31px; .display-flex; .flex-flow(column nowrap);
                        p { margin-bottom: 5px; }
                      }
                    }
                  }

                  // .block.user
                  &.user { margin-top: 8px; padding-top: 24px; padding-left: 40px; clear: both;
                    .avatar { position: absolute; top: 5px; left: 5px; border: none; width: 35px; height: 35px; background-position: center center; background-size: 35px 35px; .border-radius(4px); }
                    .username { position: absolute; top: 5px; left: 51px; .ft-opensans-semibold; font-size: 14px; color: #1D252F; line-height: 14px; }
                    .othername { font-size: 13px; color: #AFBAC8; line-height: 14px; .ft-opensans-semibold; }
                  }

                  // .block.message
                  &.message { position: relative; margin-top:10px; margin-left: 49px; padding: 0 0 2px 2px; border-top: 0; word-break: break-word; // unofficial but working : http://caniuse.com/#feat=word-break
                    &:hover { background-color: #F5F8FA; border-radius: 3px;
                      &.viewed .text { background-color: transparent; }
                      .actions { display: block; }
                    }
                    .text-spammed { display:none; }
                    .date { position: absolute; top: 3px; right: 20px; font-size: 11px; color: #AFBAC8; line-height: 14px; }
                    .text { .ft-opensans; font-size: 14px; color: #1D252F; line-height: 21px; padding: 0 50px 0 0; display: block;
                      a { font-weight: bold; }
                      .text-edited { font-size: .9rem; color: #0480be; }
                    }
                    .images {
                      .file-ctn { width: 135px; height: 135px; float: left; margin: 2px; border: 1px solid @cl-subtext10;
                        .file { .display-flex; width: 135px; height: 135px; background-size: contain; color:@cl-text; background-color: #D0D9E6; box-shadow: 0 1px 4px rgba(64,54,63,0.25);
                          &:hover { text-decoration: none; }
                          i { margin:auto; font-size: 4rem; color:@cl-subtext40; }
                        }
                      }
                      .image { float: left; display: block; position: relative; width: 135px; height: 135px; margin: 2px; background-position: center center; background-repeat: no-repeat; box-shadow: 0 1px 4px rgba(64,54,63,0.25);
                      }
                      .popover {
                        .border-radius(0);
                        .popover-content { padding: 2px 2px; }
                      }
                      hr { clear: both; border-color: @cl-background; margin: 0; }
                      .filename { .ft-opensans; font-size: 9px; color: #FFFFFF; letter-spacing: 0.5px; line-height: 21px; white-space: nowrap; background-color: rgba(29,37,47,0.65); position: absolute; bottom: 0; width: 100%; padding-left: 4px; }
                    }
                    .collapse-toggle { .ft-opensans; font-size: 9px; color: #FFFFFF; letter-spacing: 0.5px; line-height: 17px; background: #D0D9E6; border-radius: 2px; padding: 2px 5px; display: inline-block; text-transform: uppercase; cursor: pointer; margin-left: 2px; }
                    .actions { font-size: 14px; right: 13px; position: absolute; top: 2px; color: #777; display:none;
                      .action { .ft-opensans-light; background-color: #D0D9E6; border-radius: 2px; color: #FFFFFF; font-size: 9px; text-transform: uppercase; padding: 3px 8px; cursor: pointer; letter-spacing: 0.5px; float:right; line-height: 17px;
                        &:hover { background-color: darken(#D0D9E6, 10%); }
                      }
                      .edit, .unspam { display:none; }
                    }
                    &.editable { // .block.message.editable
                      .text { cursor:pointer; }
                      .actions .edit { display:inline-block; }
                    }
                    &.editing .actions { display:none; }
                    &.new { border-left: 3px solid #5C77B6; padding-left: 4px; }
                    &.spammed { // .block.message.spammed
                      .text, .images, .collapse-toggle { display: none; }
                      .actions .unspam { display:inline-block; }
                      .actions .spammed { display:none; }
                      .text-spammed { display: block; padding-right:50px; .ft-opensans-light-italic; font-size: 15px; color: #AFBAC8; line-height: 21px;
                        a { .ft-opensans-light; background-color: #D0D9E6; border-radius: 2px; color: #FFFFFF; font-size: 9px; text-transform: uppercase; padding: 3px 8px; cursor: pointer; letter-spacing: 0.5px; line-height: 17px;
                          &:hover { background-color: darken(#D0D9E6, 10%); }
                        }
                      }
                    }
                    &.viewed {
                      .actions .unspam { display:inline-block; }
                      .actions .spammed { display:none; }
                      .ctn { background-color: rgba(241, 82, 97, 0.15); padding: 3px 6px; margin-left: -6px; border-radius: 3px;
                        .remask-spammed-message { .ft-opensans-light; background-color: #F15261; float: left; font-weight: normal; font-size: 9px; text-transform: uppercase; line-height: 12px; letter-spacing: 0.5px; padding: 3px 8px; color: #FFFFFF; margin: 2px 5px 0 0; border-radius: 2px; height: 17px;
                          &:hover { background: lighten(#F15261, 10%) }
                        }
                      }
                    }
                    .message-form { display:none; padding: 5px 5px 5px 5px; .border-radius(3px); #D0D9E6
                      textarea { resize:none;}
                      .enter { float:right;}
                      a { color: #2a80b9; text-decoration:none; }
                      a:hover { text-decoration:underline; }
                    }
                  }

                  // .block.in .block.out
                  &.in, &.out { float: left; margin-top: 8px; padding: 5px;
                    .event {
                      .username { .ft-opensans-bold-italic ; font-size: 13px; color: #AFBAC8; line-height: 21px; margin-left: 8px; }
                      .avatar { display: inline-block; width: 20px; height: 20px; background-position: center center; background-size: 20px 20px; vertical-align: middle; border-radius: 3px; background-clip: padding-box; margin-left: 2px; }
                    }
                  }

                  // .block.spinner
                  &.spinner { text-align: center; color: @cl-title; font-size: 12px; background-color: @cl-subtext0; .border-radius(5px); padding: 11px; }

                  // .block.command-help
                  &.command-help { padding: 5px;
                    .help-cmd { margin: 5px;
                      .name-cmd { font-weight: bold; }
                      .params-cmd { color: #8699a4; }
                      .desc-cmd { font-style: italic; }
                    }
                  }

                  // .block.command-error
                  &.command-error {
                    padding: 5px;
                    .error-command {font-weight: bold; color: #000;}
                    .error {font-style: italic; color: #8699a4;}
                  }

                  // .block.ping .block.me .block.random
                  &.ping, &.me, &.random { font-style: italic; color: @cl-subtext30; }
                }

                // handle in & out display
                .block.in + .block.in { .icon { display: none; } }
                .block.out + .block.out { .icon { display: none; } }
                .block.in + .block.out, .block.out + .block.in { clear: both; }

                // handle block user specific display
                .block.user+.block.message { margin-top:0; }

                // &.compact {
                //   .block { .display-flex; z-index: 1; padding-left:0;
                //     &.user { padding-top: 5px; border-top: 1px solid @cl-subtext0; margin-top: 5px;
                //       .username { display:none; }
                //     }
                //     &.date { display:block; }
                //     &.date + .block { border-top: transparent; }
                //     &.message {
                //       .username { display:inline !important; .flex-order(2); margin-right: 5px; }
                //       .ctn { .flex-order(3); width: 100%; }
                //     }
                //     &.topic, &.promote {
                //       .event { .display-flex; z-index: 1;
                //         .text { .flex-order(2);
                //           i { font-size: 1.2rem; margin: auto; height: auto; width:auto; }
                //         }
                //       }
                //     }
                //     &.inout {
                //       .username { display:inline; .flex-order(1); }
                //       i { .flex-order(2); margin:0 !important; }
                //     }
                //     .username { white-space: nowrap; .ft-opensans-bold; font-size: 1.2rem; }
                //     .avatar { display:none !important; }
                //     .date { white-space: nowrap; .flex-order(1); position:relative; top: initial; right: initial; margin-right: 5px;
                //       &.same { visibility: hidden; }
                //     }
                //   }
                // }
              } // #chat #center .discussion .content .events .scrollable .scrollable-content .realtime
            } // // #chat #center .discussion .content .events .scrollable .scrollable-content
          } // #chat #center .discussion .content .events .scrollable
        } // #chat #center .discussion .content .events
        .input { margin-right: 25px; padding-bottom: 10px; position: relative; margin-left: 20px;
          .add-image, .add-file, .add-smiley {
            cursor: pointer;
          }
          .text-container { margin-bottom: 10px; position:relative;
            .overlay { display:none; background-color: #d0d9e6; height: 100%; width: 100%; position: absolute; top: 2px; cursor: pointer; z-index: 2;
              .overlay-text { color: white; width: 100%; text-align: center; cursor: pointer; font-size: 1.8rem;}
            }
            .text { position: relative; padding: 15px 20px 5px 70px; border-top: 2px solid #FC2063; background-color: #fff;
              .avatar { width: 35px; height: 35px; .border-radius(3px); margin-right: 10px; position:absolute; left: 25px; }
              .actions {
                a { display: inline-block; margin-right: 3px; font-size: 1.5rem; }
                .images.add-image { margin-top: 5px; }
              }
              .mentions { padding: 0; font-size: 13px; }
              .mentions-autocomplete-list {
                z-index: 10001;
                top: initial;
                overflow: auto;
                font-size: 13px;
              }
              .mentions-input-box .mentions>div>strong { }
              .editable { font-size: 14px; color: #1d252f; line-height: 17px; width: 100%; padding: 0; display: block; height: 35px; border: none; overflow: auto; outline: none; resize: none; .box-shadow(none); .placeholder;}
              .send { cursor: pointer; }
            }
          }
          &.inactive .text-container {
            .overlay, .overlay::after { .display-flex; .align-items(center); }
          }
          .typing-container { position: absolute; display: block; bottom: 25px; left: 22px; .transition(bottom 300ms); color: #afbac8; font-size: 13px;
            &.visible { bottom: 3px; }
          }
          .preview { margin-left: 70px; display: none;
            .image { background-color: #e2e8f0; display: inline-block; vertical-align: top; width: 80px; height: 80px; margin: 5px; padding-top: 19px; text-align: center;
              &.file{
                &:hover { text-decoration: none; }
                .file-icon { width: 30px; height: 40px; }
              }
              .remove-image { position: absolute; right: 0; top: -2px; display: none; color: @cl-error; cursor: pointer; font-size: 1.3em; }
              &:hover {
                .remove-image {
                  display: inline;
                }
              }
            }
            .add-image { background-color: #E2E8F0; display: inline-block; vertical-align: top; width: 80px; height: 80px; margin: 5px; padding-top: 19px; text-align: center; }
          }
          &.open {
            .rollup-container .ctn { border: 2px solid #d0d9e6; .border-radiuses(4px, 0, 0, 4px); bottom:-2px; }
          }
          .popover-content { padding: 9px 10px; }
        }
      } // #chat #center .discussion .content
    }
  } // #chat #center

  hr {
    border-top-color: #dadada;
    margin-top: 12px;
    margin-bottom: 15px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .big-link {
    .ft-opensans-bold;
    color: @cl-subtext50;
    font-size: 1.1em;
  }

  .home>.dropdown-menu>li>a,
  .share,
  .open-group-edit,
  .open-group-profile,
  .open-group-access,
  .open-group-delete,
  .open-room-edit,
  .open-room-profile,
  .open-user-profile,
  .open-group-users,
  .open-group-users-allowed,
  .open-room-delete,
  .open-room-users,
  .open-room-users-allowed,
  .open-room-access,
  .open-user-edit,
  .open-user-account,
  .open-user-preferences,
  .open-create-room,
  .toggle-current-user-sounds,
  .go-to-search,
  .ban-user,
  .deban-user,
  .open-room-preferences,
  .quit-group,
  .close-group,
  .close-discussion {
    cursor:pointer;
  }

  #alert {
    .alert { display: none; position: absolute; top: 0; left: 0; right: 0; min-height: 45px; z-index: 1031; padding: .4em .6em .4em; background-color: @cl-neutral; font-size: 1.5em; color: @cl-background; text-align: center; white-space: nowrap;
      .ft-opensans-bold;
      .close-btn { position: absolute; top: 8px; right: 12px; cursor: pointer;
        img { width: 25px; height: 25px; }
      }
    }
    .alert.info { background-color: @cl-success;}
    .alert.warning { background-color: @cl-warning; }
    .alert.error { background-color: @cl-error; }
  }

  @import './drawer';
}