// bootstrap
@import "../vendor/bootstrap/less/bootstrap";
@import "../vendor/backgrid/lib/backgrid.css";
@import "../vendor/backgrid-paginator/backgrid-paginator.css";
@import "../vendor/backgrid-moment-cell/backgrid-moment-cell.css";
@import "../vendor/backgrid-filter/backgrid-filter.css";
@import "../vendor/jquery-jsonview/dist/jquery.jsonview.css";
// other libs
@import "./fonts.less";

@cl-background: #ffffff;
@cl-first: #fc2063;
@cl-second: #253b6c;

@cl-success: #4fedc0;
@cl-warning: #ffda3e;
@cl-error: #ff3838;
@cl-neutral: #777777;

@cl-detail: #4a649d;

@cl-subtext0: #f2f2f2;
@cl-subtext10: #e2e2e2;
@cl-subtext15: #c7c7c7;
@cl-subtext20: #b6b6b6;
@cl-subtext30: #777777;
@cl-subtext40: #6f6f6f;
@cl-subtext50: #6b6b6b;
@cl-title: #313131;

html {
  height: 100%;
}

body {
  font-family: arial, sans-serif;
  font-size: 13px;
  overflow-x: hidden;
  a {
    color: @cl-second;
  }
  a:hover {
    color: @cl-second;
  }
}

h1 {
  font-size: 1.5em;
  margin-top: 0;
  .count {
    .num {
      &:before {
        content: ':';
      }
    }
  }
  .go-back {
    .btn;
    .btn-sm;
    .btn-primary;
    margin-left: 50px;
    cursor: pointer;
  }
}

ul.form-control-static {
  list-style-type: lower-hexadecimal;
  columns: auto 3;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid @cl-subtext10;
}

.color {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid @cl-subtext10;
  vertical-align: bottom;
}

.grid {
  .moment-cell {
    text-align: left;
    width: 60px;
    color: @cl-subtext40;
  }
  .action-cell {
    text-align: center;
    .view-action {
      cursor: pointer;
    }
  }
  .id-cell {
    width: 50px;
    font-size: 10px;
    color: @cl-subtext40;
  }
}

#home {
  .total {
    .num {
      font-size: 2em;
    }
  }
  .trend {
    .num {
      color: green;
    }
  }
  .value {
    .num {
      font-size: 1.5em;
    }
  }
  .metrics {
    padding: 5px;
  }
}

#logs {
  .filter {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: @cl-subtext10;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    .others, .category, .level {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      a {
      }
    }
  }
  .grid {
    td.category-cell {
      width: 60px;
      font-weight: bold;
      text-align: center;
    }
    td.level-cell {
      width: 60px;
      font-weight: bold;
      text-align: center;
    }
    td.data-cell {
      .jsonview {
        font-size: 0.9em;
      }
    }
    tr.level-40000, tr.level-50000 {
      background-color: lightcoral; // error
    }
    tr.level-30000 {
      background-color: lightgoldenrodyellow; // warning
    }
    tr.fresh {
      td {
        text-align: center;
        background-color: #008000;
        color: @cl-background;
        font-size: 0.8em;
      }
    }
    tr.nomore {
      td {
        text-align: center;
        background-color: grey;
        color: @cl-background;
        font-size: 0.8em;
      }
    }
  }
}
