// bootstrap
@import "../vendor/bootstrap/less/bootstrap";
@import "../vendor/backgrid/lib/backgrid.css";
@import "../vendor/backgrid-paginator/backgrid-paginator.css";
@import "../vendor/backgrid-moment-cell/backgrid-moment-cell.css";
@import "../vendor/backgrid-filter/backgrid-filter.css";

// other libs
@import "./fonts.less";

@cl-background: #ffffff;
@cl-first: #fc2063;
@cl-second: #253b6c;

@cl-success: #4fedc0;
@cl-warning: #ffda3e;
@cl-error: #ff3838;
@cl-neutral: #777777;

@cl-detail: #4a649d;

@cl-subtext0: #f2f2f2;
@cl-subtext1: #e2e2e2;
@cl-subtext2: #b6b6b6;
@cl-subtext3: #777777;
@cl-subtext4: #6f6f6f;
@cl-subtext5: #6b6b6b;
@cl-title: #313131;

@size-color: 20px; /* color top bar (chat and profiles) */
@size-left: 215px;
@size-right: 430px;
@size-right-mid: 430px / 2;

@img-homepage: '/images/cover.jpg';
@img-homepage-blur: '/images/cover-blur.jpg';

html { height: 100%; }
body {
 .ft-opensans;
 font-size: 14px;
 overflow-x: hidden;
 a { color: @cl-second; }
 a:hover { color: @cl-second; }
}

h1 {
 font-size: 1.5em;
 margin-top: 0;
 .count {
   .num {
    &:before{
     content: ':';
    }
   }
 }
}

.grid {
 .moment-cell {
  text-align: left;
 }
}

#home {
 .total {
  .num {
   font-size: 2em;
  }
 }
 .trend {
  .num {
   color: green;
  }
 }
 .value {
  .num {
   font-size: 1.5em;
  }
 }
}