#drawer {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 11;
  font-size: 1.4rem; // #chat #drawer

  .opacity { // #chat #drawer .opacity
    width: 100%;
    height: 100%;
    .wrap { // #chat #drawer .opacity .wrap
      position: relative;
      left: -10000px;
      width: 280px;
      height: 100%;
      .content { // #chat #drawer .opacity .wrap .content
        width: 100%;
        height: 100%;
        padding: 45px 15px 20px;
        background-color: @cl-background;
        border-right: 1px solid @cl-subtext10;
        > div {
          .scrollbar-grey-thin;
          overflow-y: auto;
          overflow-x: hidden;
          padding-right: 10px;
          height: 100%;
          .title {
            .ft-raleway-heavy;
            font-size: 2.4rem;
          }
          .owner { font-size: 1.6rem;
            a { font-size: 1.6rem; }
          }
        }
        .spinner {
          width: 100%;
          height: 100%;
          text-align: center;
          color: @cl-subtext10;
        }
      }
      .close {
        position: absolute;
        top: 20px;
        right: 20px;
        .opacity(0.5);
        width: 15px;
      }
      .close:hover, .close:focus {
        .opacity(1);
      }
    }
  }

  .block {
    margin-top: 20px;
    font-size: 1.4rem;
  }

  .form-group {
    &.admin {
      > label { color:@cl-error; }
    }
  }

  label {
    color: @cl-subtext40;
    font-size: 1.2rem;
    &.level-2 {
      font-weight: normal;
    }
  }
  .radio label { .display-flex; align-items: center;padding-left: 21px; }
  .radio input { margin-top:2px; }

  .hash {
    margin-right: 3px;
    .ft-raleway-heavy;
    font-size: 3.4rem;
  }

  .big-input {
    border-style: solid;
    border-width: 5px;
    .border-radius(25px);
    padding: 7px 12px;
    max-width: 320px;
    .ft-raleway;
    font-size: 2.0rem;
    outline: none;
  }

  .errors {
    .alert;
    .alert-warning;
    display: none;
    font-size: 1.2rem;
    margin: 20px 0;
  }

  p.left {
    .display-flex;
    align-items: baseline;
    margin-top: 5px;
    text-align: left;
    text-decoration: none;
    font-size:1.4rem;
    i { margin-right:5px; }
    a, i { font-size:1.4rem; }
    a:hover {
      text-decoration: underline;
    }
  }

  .help-block {
    font-size: 1.3rem;
    margin:0;
  }

  .help {
    .ft-opensans-light;
    margin-top: 10px;
    text-align: left;
    color: @cl-subtext20;
    font-style: italic;
  }

  h2 {
    color: @cl-subtext40;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 2rem;
  }

  .search {
    .display-flex;
    .flex-flow(row nowrap);
    position: relative;
    align-items: baseline;
    label {
      margin-right: 5px;
    }
    input {
      font-size: 1.1rem;
      padding: 0 30px 0 12px;
      outline: none;
      &:focus {
        outline: none;
      }
    }
    i {
      position: absolute;
      top: 9px;
      right: 6px;
      color: @cl-subtext50;
      cursor: default;
    }
    .dropdown {
      position: absolute;
      left: 0;
      top: 27px;
      width: 100%;
      .dropdown-menu {
        .border-radiuses(0, 4px, 4px, 0);
        border-top: 0;
        width: 100%;
        a {
          text-decoration: none;
        }
      }
    }
  }

  a {
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    &.disabled {
      text-decoration: none;
      cursor: not-allowed;
      color: @cl-subtext20;
    }
  }
  a.dc-back, a.dc-back:hover {
    text-decoration: none;
  }
  .offline a, a.big-button-light, a.colored {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .overlay-ctn {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    .avatar {
      .border-shadow;
    }
    .overlay {
      top: 0;
      .border-radius(50%);
      height: 100px;
      width: 100px;
    }
    .overlay-text {
      top: 40px;
      width: 100px;
    }
  }

  .user-list {
    text-align: left;
    .display-flex;
    .flex-flow(row wrap);
    padding: 0 5px;
    label {
      font-size: 1.6rem;
      width: 100%;
    }
    .user {
      display: inline-block;
      position: relative;
      margin: 3px 3px 3px 0;
      .avatar {
        width: 40px;
        height: 40px;
      }
      .username {
        .ft-opensans;
        font-size: 1.3rem;
      }
      &:hover {
        .username {
          color: @cl-subtext30;
        }
      }
      &.op {
        &::after {
          .icon-op;
          position: absolute;
          left: -8px;
          z-index: 0;
          top: -10px;
          border-radius: 50%;
          padding: 5px;
          color: @cl-success;
          font-size: 16px;
        }
        img {
          border: 2px solid @cl-success;
          .border-radius(5px);
        }
      }
      &.owner {
        &::after {
          .icon-owner;
          position: absolute;
          left: 7px;
          z-index: 0;
          top: -15px;
          border-radius: 50%;
          padding: 5px;
          color: @cl-warning;
          font-size: 16px;
        }
        img {
          border: 2px solid @cl-warning;
          .border-radius(5px);
        }
      }
    }
  }

  //#room-profile {
  //  .room {
  //    .overlay-ctn {
  //      width: 90px;
  //      height: 90px;
  //      margin: 0 auto;
  //      .avatar {
  //        .border-shadow;
  //      }
  //      .overlay {
  //        top: 0;
  //        .border-radius(50%);
  //        height: 100px;
  //        width: 100px;
  //      }
  //      .overlay-text {
  //        top: 40px;
  //        width: 100px;
  //      }
  //    }
  //  }
  //  .users {
  //    text-align: left;
  //    .display-flex;
  //    .flex-flow(row wrap);
  //    padding: 0 5px;
  //    label {
  //      font-size: 1.6rem;
  //      width: 100%;
  //    }
  //    .user {
  //      display: inline-block;
  //      position: relative;
  //      margin: 3px 3px 3px 0;
  //      .avatar {
  //        width: 40px;
  //        height: 40px;
  //      }
  //      .username {
  //        .ft-opensans;
  //        font-size: 1.3rem;
  //      }
  //      &:hover {
  //        .username {
  //          color: @cl-subtext30;
  //        }
  //      }
  //      &.op {
  //        &::after {
  //          .icon-op;
  //          position: absolute;
  //          left: -8px;
  //          z-index: 0;
  //          top: -10px;
  //          border-radius: 50%;
  //          padding: 5px;
  //          color: @cl-success;
  //          font-size: 16px;
  //        }
  //        img {
  //          border: 2px solid @cl-success;
  //          .border-radius(5px);
  //        }
  //      }
  //      &.owner {
  //        &::after {
  //          .icon-owner;
  //          position: absolute;
  //          left: 7px;
  //          z-index: 0;
  //          top: -15px;
  //          border-radius: 50%;
  //          padding: 5px;
  //          color: @cl-warning;
  //          font-size: 16px;
  //        }
  //        img {
  //          border: 2px solid @cl-warning;
  //          .border-radius(5px);
  //        }
  //      }
  //    }
  //  }
  //}
  //#room-access {
  //  .actions {
  //    div {
  //      display: inherit
  //    }
  //  }
  //}
  //#user-edit, #room-users, #user-preferences, #room-preferences {
  //  padding: 0 15px;
  //  label {
  //    color: @cl-subtext40;
  //    &.level-2 {
  //      font-weight: normal;
  //    }
  //  }
  //  .buttons {
  //    text-align: right;
  //    margin-top: 24px;
  //  }
  //  .opts_mode {
  //    font-style: italic;
  //  }
  //  .field-password {
  //    a {
  //      margin-left: 5px;
  //      font-size: 18px;
  //      text-decoration: none;
  //    }
  //  }
  //}
  //
  //#user-profile {
  //  .user .avatar-ctn {
  //    position: relative;
  //    cursor: pointer;
  //    &.is-banned::before {
  //      font-family: Donut;
  //      content: '\f002';
  //      position: absolute;
  //      font-size: 90px;
  //      color: rgba(119, 119, 119, 0.75);
  //      top: -35px;
  //      left: 5px;
  //      line-height: 90px;
  //      width: 90px;
  //    }
  //    .overlay {
  //      display: none;
  //      background-color: black;
  //      height: 100px;
  //      width: 100%;
  //      position: absolute;
  //      top: -40px;
  //      cursor: pointer;
  //      .opacity(0.2);
  //      left: 0;
  //    }
  //    .overlay-text {
  //      display: none;
  //      color: white;
  //      position: absolute;
  //      top: 0;
  //      width: 100%;
  //      text-align: center;
  //      cursor: pointer;
  //      left: 0;
  //      font-size: 16px;
  //    }
  //    &:hover .overlay, &:hover .overlay-text {
  //      display: block;
  //    }
  //  }
  //  .scrollbar;
  //  text-align: center;
  //  .username {
  //    margin-top: 20px;
  //  }
  //  .bio {
  //    margin-top: 20px;
  //    font-size: 1.2em;
  //    padding-left: 10px;
  //  }
  //  .location {
  //    margin-top: 20px;
  //    text-align: left;
  //    font-size: 1.2em;
  //    padding-left: 10px;
  //  }
  //  .action {
  //    margin-top: 5px;
  //    text-align: left;
  //    font-size: 1.2em;
  //    padding-left: 10px;
  //  }
  //  .created, .onlined {
  //    margin-top: 5px;
  //    text-align: left;
  //    font-size: 1.2em;
  //    padding-left: 10px;
  //  }
  //  .discuss {
  //    margin-top: 30px;
  //    margin-bottom: 20px;
  //  }
  //  .offline {
  //    margin-top: 30px;
  //    margin-bottom: 20px;
  //    a {
  //      font-size: 1.3em;
  //      background-color: @cl-subtext20;
  //    }
  //  }
  //  .rooms {
  //    margin-top: 5px;
  //    text-align: left;
  //    hr {
  //      clear: both;
  //      border-color: transparent;
  //    }
  //    .title {
  //      font-size: 1.2em;
  //      padding-left: 10px;
  //      margin-bottom: 10px;
  //      i {
  //        color: @cl-subtext30;
  //      }
  //    }
  //    .room {
  //      display: inline-block;
  //      position: relative;
  //      .avatar {
  //        width: 40px;
  //        height: 40px;
  //      }
  //      .name {
  //        .ft-opensans;
  //        font-size: 1.1em;
  //      }
  //      &:hover {
  //        .name {
  //          color: @cl-subtext30;
  //        }
  //      }
  //      &.op::before {
  //        content: '\f008';
  //        font: normal normal normal 14px/1 'Donut';
  //        position: absolute;
  //        left: -5px;
  //        z-index: 0;
  //        top: -5px;
  //        border-radius: 50%;
  //        padding: 5px;
  //        color: rgb(59, 236, 186);
  //        font-size: 16px;
  //      }
  //      &.owner::before {
  //        content: '\f00a';
  //        font: normal normal normal 14px/1 'Donut';
  //        position: absolute;
  //        left: 7px;
  //        z-index: 0;
  //        top: -14px;
  //        border-radius: 50%;
  //        padding: 5px;
  //        color: #fbec4d;
  //        font-size: 16px;
  //      }
  //    }
  //  }
  //}
  //#user-edit {
  //  .user {
  //    margin-bottom: 15px;
  //    .username {
  //      vertical-align: middle;
  //      margin-right: 3px;
  //    }
  //  }
  //}
  //#user-account {
  //  .scrollbar;
  //  .user {
  //    margin-bottom: 10px;
  //  }
  //  .group {
  //    margin-top: 30px;
  //  }
  //  .title {
  //    font-size: 1.3em;
  //    font-weight: bold;
  //    margin-bottom: 20px;
  //  }
  //  .labels {
  //    font-weight: bold;
  //    font-size: 1.1em;
  //  }
  //  .values {
  //    font-size: 1.1em;
  //  }
  //  .email-container {
  //    margin-bottom: 10px;
  //  }
  //  .alert-danger, .alert-success {
  //    background-color: transparent;
  //  }
  //  .email-container, .password-container {
  //    margin: 10px 0;
  //    display: block;
  //    .spinner {
  //      margin-bottom: 10px;
  //    }
  //    input {
  //      margin-bottom: 10px;
  //    }
  //  }
  //  .facebook {
  //    .infos {
  //      > img {
  //        .pull-left;
  //        margin-right: 10px;
  //      }
  //    }
  //  }
  //  .btn-facebook {
  //    margin-top: 15px;
  //    margin-left: 10px;
  //    background-color: #4a649d;
  //    color: #ffffff;
  //    border-radius: 25px;
  //    padding: 11px 20px;
  //    .ft-opensans-light;
  //    font-size: 1.3em;
  //    text-decoration: none;
  //    display: inline-block;
  //    span {
  //      margin-left: 7px;
  //    }
  //    i {
  //      font-size: 1.4em;
  //      margin-right: 4px;
  //      vertical-align: middle;
  //    }
  //  }
  //  .btn-facebook:hover {
  //    color: #ffffff;
  //    i {
  //      color: #ffffff;
  //    }
  //    span {
  //      color: #ffffff;
  //    }
  //  }
  //}
  //#room-users, #user-preferences {
  //  #type-select {
  //    width: 100%;
  //    border: 1px solid @cl-subtext30;
  //    background-color: @cl-subtext15;
  //    color: #FFF;
  //  }
  //  .room {
  //    margin-bottom: 2px;
  //    > p {
  //      display: inline-block;
  //      vertical-align: middle;
  //    }
  //  }
  //  .paginate {
  //    text-align: right;
  //    .pagination {
  //      margin: auto;
  //      a {
  //        text-decoration: none;
  //      }
  //      > li > a {
  //        padding: 10px 15px;
  //      }
  //      > li > span {
  //        color: #000011;
  //        padding: 10px 15px;
  //        cursor: default;
  //      }
  //    }
  //  }
  //  .user-number {
  //    margin-bottom: 15px;
  //  }
  //  .search {
  //    position: relative;
  //    font-size: 0.8em;
  //    width: 100%;
  //    height: 30px;
  //    margin-bottom: 15px;
  //    input[type=text] {
  //      width: 75%;
  //      position: absolute;
  //      right: 0;
  //      .border-radius(50px);
  //      padding: 5px 30px 6px 17px;
  //      .ft-raleway-medium;
  //      color: @cl-subtext50;
  //      outline: none;
  //      font-size: 1.1rem;
  //    }
  //    i {
  //      position: absolute;
  //      top: 9px;
  //      right: 19px;
  //      color: @cl-subtext50;
  //      cursor: pointer;
  //    }
  //  }
  //  .table-users {
  //    div {
  //      display: inherit;
  //    }
  //    img {
  //      width: 20px;
  //      height: 20px;
  //    }
  //    .actions > div:hover {
  //      cursor: pointer;
  //    }
  //    i {
  //      font-size: 18px;
  //    }
  //  }
  //}
  //#user-preferences, #room-preferences {
  //  .user, .room {
  //    margin-bottom: 15px;
  //    .username, .name {
  //      vertical-align: middle;
  //      margin-right: 3px;
  //    }
  //  }
  //  a.play-sound-test {
  //    color: @cl-subtext30;
  //    i {
  //      color: inherit;
  //    }
  //  }
  //  .notification {
  //    > label {
  //      display: block;
  //    }
  //  }
  //}

}
