#drawer { display: none; position: absolute; width: 100%; z-index: 11; font-size: 1.4rem;
  .opacity { width: 100%; height: 100%; .cl-backdrop;
    .wrap { position: relative; left: -10000px; width: 280px; height: 100%;
      .content { width: 100%; height: 100%; padding: 0; margin-left: 0; background-color: @cl-background;
        .border-radiuses(3px, 0, 0, 0);
        > div { height: 100%; .display-flex; .flex-flow(column nowrap);
          .header {  z-index: 1;
            .title { .ft-opensans-semibold; font-size: 12px; color: #FFFFFF; letter-spacing: 1.6px; line-height: 14px; background-color: @cl-first; text-align: center; padding: 15px 10px 15px 20px; text-transform: uppercase; }
          }
          .scrollable { .scrollbar-grey-thin; overflow-y: auto; overflow-x: hidden; padding: 0 25px;
            &.grayed { background-color: #F5F8FA; }
            .search {
              label { .ft-opensans; font-size: 13px; color: #8491A1; line-height: 14px; width: 50px;}
              input { border-width: 0 0 1px 0; border-style: solid; border-color: #D0D9E6; .ft-opensans; font-size: 13px; color: #434E5B; line-height: 14px; padding: 10px 10px 10px 30px; background-color: #F5F8FA; box-shadow: none; border-radius: 0; outline: none; }
              .select-dropdown:after { cursor: pointer; width: 0; height: 0; border-style: solid; border-width: 6px 4.5px 0 4.5px; border-color: #afbac8 transparent transparent transparent; top: 14px; left: 6px; position: absolute;  color:#AFBAC8; content:""; }
              select { .ft-opensans; font-size: 13px; color: #FC2063; line-height: 14px; border:0;    box-shadow: none;    cursor: pointer; padding: 10px 10px 10px 30px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-color: #F5F8FA; }
              i { position: absolute; top: 10px; left: 5px; color: #AFBAC8; cursor: default; }
              .user-number .number { .ft-opensans; font-size: 13px; color: #394350; line-height: 14px; }
            }
          }
        }
        .spinner { width: 100%; height: 100%; text-align: center; color: @cl-subtext10; }
        .dropdown-menu .spinner i { position: relative; top: 0; right: initial; }
      }
      .close-drawer { position: absolute; top: 10px; right: 20px; font-size: 2rem; color: #FFF; z-index: 10; }
    }
  }

  h2 { .ft-opensans-semibold; font-size: 15px; color: #1D252F; line-height: 14px; margin: 0 0 25px 0; }
  .help { .ft-opensans; font-size: 12px; color: #AFBAC8; line-height: 14px; margin-top: 10px; margin-left: 10px; }
  p, .label { margin: 0; .ft-opensans; font-size: 13px; color: #434E5B; line-height: 19px; padding: 0;}
  p.left { .ft-opensans; font-size: 13px; color: #434E5B; line-height: 32px;
    i { margin-right:5px; color: #D0D9E6; font-size:1.5rem; }
    a { text-decoration: underline; .ft-opensans; font-size: 13px; color: #434E5B; line-height: 32px; }
    a:hover { text-decoration: none; }
  }
  label { .ft-opensans-semibold; font-size: 13px; color: #1D252F; margin-bottom: 5px;
    &.setting { .ft-opensans; font-size: 13px; color: #8491A1; line-height: 14px; .display-flex; .flex-flow(row nowrap); .align-items(center); .justify-content(flex-start); margin: 0; }
  }
  .radio label { margin-bottom: 0; }

  .value { margin: 0; .ft-opensans-semibold; font-size: 13px; color: #434E5B; line-height: 14px; }
  .error { .alert; .alert-danger; display: none; font-size: 1.4rem; margin: 20px 0; }
  .success { .alert; .alert-success; display: none; font-size: 1.4rem; margin: 20px 0; }

  .block { margin: 25px 0;
    &.admin {
      > label { color:@cl-error; }
    }
  }
  .block + .block { margin-top: 0; }
  textarea { resize: none; height:100px; }
  a { text-decoration: underline;
    &.btn { text-decoration:none; }
    &:hover { text-decoration: none; }
    &.disabled { text-decoration: none; cursor: not-allowed; color: @cl-subtext20; }
    &.dc-back, &.dc-back:hover { text-decoration: none; }
    &.colored { text-decoration: none;
      &:hover { text-decoration: underline; }
    }
    i { line-height: 21px; }
  }
  .user-list {
    .item {
      .avatar { background-size:contain; }
    }
    .item.op { /*border: 2px solid @cl-success;*/ height:34px;
      &::after { .icon-op; position: absolute; left: -3px; z-index: 0; top: -5px; border-radius: 50%; color: @cl-success; font-size: 16px; background-color: #FFF; }
    }
    .item.owner { /*border: 2px solid @cl-warning;*/ height:34px;
      &::after { .icon-owner; position: absolute; left: 5px; z-index: 0; top: -14px; border-radius: 50%; padding: 5px; color: @cl-warning; font-size: 10px; }
    }
  }

  .arrow-top { width: 0; height: 0; border-style: solid; border-width: 0 20px 13px 20px; border-color: transparent transparent #f5f8fa transparent; margin: 0 auto; }

  #user-profile, #room-profile, #group-profile {
    .scrollable { padding: 0;
      .ctn { background-color: #F5F8FA; padding: 25px; min-height: 100%;
        .user-list { margin-bottom: 0; }
      }
    }
    a { text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  }
  #user-profile {
    @top-height:138px;
    @card-width: 300px;
    .card.user { width: @card-width;
      .top { overflow: hidden;
        .ctn { height:@top-height;
          .avatar   { z-index: 2; width:60px; height:60px; left: 120px; box-shadow: 0 5px 9px 0 rgba(28,37,47,0.50); background-size: contain; background-color: #FFFFFF; }
          .username { z-index: 2; margin-top:8px; width:300px; text-align:center; padding: 0 20px; overflow:hidden; height: 22px;
            a { .ft-opensans-semibold; font-size: 1.7rem; color: #FFFFFF; line-height: 1.4rem; height: 22px; text-decoration: none; }
          }
          .location { z-index: 2; margin-top:2px; width:300px; text-align:center; padding: 0 20px; overflow:hidden; height: 14px; .ft-opensans; font-size: 11px; color: #AFBAC8; letter-spacing: 0.84px; line-height: 14px; }
          .status { z-index: 3; position:absolute; top: 15px; right: 15px;  width: 22px; height:22px;}
        }
        .overlay { z-index: 1; position:absolute; top:0; left:0; width:@card-width; height:@top-height; opacity: 0.5; background-color: #000;}
        .background { z-index: 0; position:absolute; background-size: cover; background-position: center center; filter: blur(7px); -webkit-filter: blur(7px);
          //top:0; left:0; width:@card-@card-width-width; height:@@top-height-small-height;
          // ajustements safari, corrigé quand le blur sera fait via cloudinary
          width:@card-width - 10; height:@top-height - 10; top:5px; left:5px;
        }
      }
    }
  }
  #room-profile {
    @top-height:138px;
    @card-width: 300px;
    .card.room { width: @card-width;
      .top { overflow: hidden;
        .ctn { height:@top-height;
          .avatar { z-index: 2; width:68px; height:68px; left: 120px; background-size: contain; background-color: #FFFFFF; border: 4px solid #FFFFFF; .border-radius(34px); }
          .avatar-group { z-index: 3; position:absolute; top: 15px; left: 15px;  width: 22px; height:22px; border: 1px solid #FFFFFF; background-size: contain; }
          .mode { z-index: 3; position:absolute; top: 10px; right: 35px;  width: 22px; height:22px;
            .private, .private-invites { background: transparent url('@{img-path}/svg/private.svg') no-repeat center center; height: 18px; width: 22px; display: inline-block; background-size: contain; }
            .private-invites-group, .private-group { background: transparent url('@{img-path}/svg/members.svg') no-repeat center center ; height: 18px; width: 22px; display: inline-block; background-size: contain; }
          }
          .name { z-index: 2; width:300px; text-align:center; overflow:hidden; height: 33px;
            .groupname { height:14px; width:300px; padding: 0 20px; .ft-opensans-semibold;
              a { .ft-opensans-semibold; font-size: 1.2rem; color: #AFBAC8; line-height: 1.3rem; text-decoration: none; }
            }
            .roomname { width:300px; padding: 0 20px;
              a { .ft-opensans-semibold; font-size: 1.7rem; color: #1D252F; line-height: 2.0rem; text-decoration: none;}
            }
          }
          .owner { z-index: 2; margin-top:2px; width:300px; text-align:center; padding: 0 20px; overflow:hidden; height: 20px; .ft-opensans; font-size: 11px; color: #1D252F; letter-spacing: 0.84px; line-height: 15px;
            .by { color: #8491A1; }
          }
        }
        @subtop-height:50px;
        .background-ctn { overflow: hidden; position:absolute; top:0; left:0; width:@card-width; height:@subtop-height;
          .overlay { z-index: 1; position:absolute; top:0; left:0; width:@card-width; height:@subtop-height; opacity: 0.5; background-color: #000;}
          .background { z-index: 0; position:absolute; background-size: cover; background-position: center center; filter: blur(7px); -webkit-filter: blur(7px);
            //top:0; left:0; width:@card-@card-width-width; height:@@top-height-small-height;
            // ajustements safari, corrigé quand le blur sera fait via cloudinary
            width:@card-width - 10; height:@top-height - 10; top:5px; left:5px;
          }
        }
      }
    }
  }
  #group-profile {
    @top-height:138px;
    @card-width: 300px;
    .card.group { width: @card-width;
      .top { overflow: hidden;
        .ctn { height:@top-height;
          .avatar { z-index: 2; width:68px; height:68px; left: 120px; background-size: contain; background-color: #FFFFFF; border: 4px solid #FFFFFF; }
          .name { z-index: 2; margin-top:8px; width:300px; text-align:center; padding: 0 20px; overflow:hidden; height: 22px;
            a { .ft-opensans-semibold; font-size: 1.7rem; color: #1D252F; line-height: 1.4rem; height: 22px; }
          }
          .owner { z-index: 2; margin-top:2px; width:300px; text-align:center; padding: 0 20px; overflow:hidden; height: 14px; .ft-opensans; font-size: 11px; color: #1D252F; letter-spacing: 0.84px; line-height: 14px;
            .by { color: #1D252F; }
            a { color: #8491A1; }
          }
        }
        @subtop-height:71px;
        .background-ctn { overflow: hidden; position:absolute; top:0; left:0; width:@card-width; height:@subtop-height;
          .overlay { z-index: 1; position:absolute; top:0; left:0; width:@card-width; height:@subtop-height; opacity: 0.5; background-color: #000;}
          .background { z-index: 0; position:absolute; background-size: cover; background-position: center center; filter: blur(7px); -webkit-filter: blur(7px);
            //top:0; left:0; width:@card-@card-width-width; height:@@top-height-small-height;
            // ajustements safari, corrigé quand le blur sera fait via cloudinary
            width:@card-width - 10; height:@top-height - 10; top:5px; left:5px;
          }
        }
      }
    }
  }
  #room-create {
    .scrollable { padding: 0;
      .ctn { padding: 25px; background-color: #F5F8FA; }
    }
  }
  #room-create, #room-delete {
    .scrollable {
      .identifier {
        .groupname { margin: 0; .ft-opensans-semibold; font-weight: 400; font-size: 23px; color: @cl-first; line-height: 23px; padding: 0; }
        .roomname  {
          .hash { .ft-opensans-light; font-size: 25px; color: @cl-first; line-height: 14px; }
          input { width: 80%; .ft-opensans; font-size: 18px; color: #1D252F; line-height: 14px; border-width: 0 0 1px 0; border-style: solid; border-color: @cl-first; outline: none; height: 50px; text-align: center; padding: 10px 20px; }
        }
      }
      .ctn {
        p { .ft-opensans; font-size: 13px; color: #8491A1; line-height: 18px; }
        .open-group-create { .ft-opensans-bold; color: @cl-first; font-size: 13px; line-height: 14px; text-decoration:underline;
          &:hover { text-decoration: none; }
        }
      }
    }
  }
  #group-create, #group-delete {
    .scrollable {
      .identifier {
        .groupname  {
          .hash { .ft-opensans-light; font-size: 25px; color: @cl-first; line-height: 14px; }
          input { width: 80%; .ft-opensans; font-size: 18px; color: #1D252F; line-height: 14px; border-width: 0 0 1px 0; border-style: solid; border-color: @cl-first; outline: none; height: 50px; text-align: center; padding: 10px 20px; }
        }
      }
    }
  }
  #room-preferences, #user-notifications {
    .show-nothing { display:none; }
    &.nothing {
      .hide-nothing { display: none; }
      .show-nothing { display: block; }
    }
  }
  #user-notifications {
    .scrollable { padding: 0;
      .error, .checkbox { margin: 0 25px; }
      .unread-count { .ft-opensans; font-size: 13px; color: #8491A1; line-height: 14px; background-color: #F5F8FA; height:40px; padding: 13px 25px; border-bottom: 1px solid #FFF;}
      .messages-list-ctn { background-color: #F5F8FA; }
      .messages-list-ctn { overflow-y: auto; overflow-x: hidden; width: auto;
        .messages-list { font-size: 13px;
          .message { display: block; cursor: pointer; padding: 10px 0; min-height:60px; position: relative; border-bottom-color: #FFF; border-style: solid; border-width: 0 0 1px 0; text-decoration: none;
            &.unread { background: #E2E8F0; }
            img { width: 35px; height: 35px; position: absolute; top: 13px; left: 15px; }
            .message-subject { margin-top: 2px; display: block; font-size: 13px; color: #8491A1; line-height: 14px; margin-bottom: 2px; overflow-x: hidden; overflow-y: hidden; padding: 0 0 0 60px; text-overflow: ellipsis; width: 350px;
              span { color: #434E5B; }
            }
            .action-tag-as-done { font-size: 14px; position: absolute; top: 5px; right: 8px; color: #434E5B; cursor: pointer; }
            .message-description { margin-top: 7px; font-size: 11px; color: #8491A1; line-height: 14px; padding-left: 60px;
              .username { color: #434E5B; }
              .date { display: inline; float: right; color: #AFBAC8; margin-right: 10px; }
            }
          }
        }
        .actions { background-color: #FFF; padding-top: 25px; padding-bottom: 25px; }
      }
    }
  }







  .link-ctn { padding-left:10px; list-style: none; }
  .radio input { margin-top:2px; }
  .user-username { color: #000000; font-weight: bold; }
  .search {
    .dropdown {
      position: absolute;
      left: 0;
      top: 27px;
      width: 100%;
      .dropdown-menu { margin-top: 7px;
        &:before, &:after { display:none; }
        .border-radiuses(0, 4px, 4px, 0);
        border-top: 0;
        width: 100%;
        &>.active>a { color:#FFF; }
        a {
          text-decoration: none;
          img { width:20px; height:20px; }
        }
      }
    }
  }
  .table-users, .table-striped {
    tr:hover { outline: none; background-color: transparent; }
  }
  .table-users { width: 100%;
    tbody td { padding: 5px; border: 0;
      &:first-child, &:last-child { width:1px; padding: 2px; }
    }
    img { width: 20px; height: 20px; }
    .actions > div:hover { cursor: pointer; }
    i { font-size: 14px; height:14px; margin-right: 5px; }
    .username a { .ft-opensans; font-size: 13px; color: #AFBAC8; letter-spacing: 1px; line-height: 16px; }
    .dropdown { padding:0;
      a, a:hover { text-decoration:none; }
      button { padding: 0; }
    }
  }
  .pagination { border-bottom: 1px solid @cl-first; border-radius: 0;
    a, span { text-decoration: none; background: transparent; border: 0; .ft-opensans; font-weight: 400; font-size: 13px; color: #afbac8; letter-spacing: 1px; line-height: 16px; }
    > .active > a { background: transparent; border: 0; color: @cl-first; }
  }

  #user-notifications {
    .empty {
      .hide-empty { display: none; }
      .show-empty { display: initial; }
    }
    .full {
      .hide-empty { display: initial; }
      .show-empty { display: none; }
    }
  }
}
