@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,400italic,700,800);
@import url(https://fonts.googleapis.com/css?family=Courgette);

// Open sans
.ft-opensans-light        { font-family: 'Open Sans', sans-serif; font-weight: 300; }
.ft-opensans-light-italic { font-family: 'Open Sans', sans-serif; font-weight: 300; font-style: italic; }
.ft-opensans-italic       { font-family: 'Open Sans', sans-serif; font-weight: 400; font-style: italic; }
.ft-opensans              { font-family: 'Open Sans', sans-serif; font-weight: 400; }
.ft-opensans-semibold     { font-family: 'Open Sans', sans-serif; font-weight: 600; }
.ft-opensans-bold         { font-family: 'Open Sans', sans-serif; font-weight: 700; }
.ft-opensans-bold-italic  { font-family: 'Open Sans', sans-serif; font-weight: 700; font-style: italic; }
.ft-opensans-extra-bold   { font-family: 'Open Sans', sans-serif; font-weight: 800; }

// courgette
.ft-courgette             { font-family: 'Courgette', cursive; font-weight: 400; }

// Font awesome
.icon-ellipsis-h {font:normal normal normal 14px/1 'FontAwesome'; content:"\f141";}

// Gather icons classes from https://use.fonticons.com/kits/49ec3664/49ec3664.css to avoid having to know code when using an icon
.icon-user{font:normal normal normal 14px/1 'Donut'; content:'\f000';}
.icon-times-circle-o{font:normal normal normal 14px/1 'Donut'; content:'\f001';}
.icon-ban{font:normal normal normal 14px/1 'Donut'; content:'\f002';}
.icon-arrow-right{font:normal normal normal 14px/1 'Donut'; content:'\f003';}
.icon-in{font:normal normal normal 14px/1 'Donut'; content:'\f006';}
.icon-kick{font:normal normal normal 14px/1 'Donut'; content:'\f007';}
.icon-op{font:normal normal normal 14px/1 'Donut'; content:'\f008';}
.icon-out{font:normal normal normal 14px/1 'Donut'; content:'\f009';}
.icon-owner{font:normal normal normal 14px/1 'Donut'; content:'\f00a';}
.icon-plug{font:normal normal normal 14px/1 'Donut'; content:'\f00b';}
.icon-tail{font:normal normal normal 14px/1 'Donut'; content:'\f00c';}
.icon-user-custom{font:normal normal normal 14px/1 'Donut'; content:'\f00d';}
.icon-dot-circle-o{font:normal normal normal 14px/1 'Donut'; content:'\f00e';}
.icon-caret-left{font:normal normal normal 14px/1 'Donut'; content:'\f00f';}
.icon-caret-right{font:normal normal normal 14px/1 'Donut'; content:'\f04b';}
.icon-caret-up{font:normal normal normal 14px/1 'Donut'; content:'\f04d';}
.icon-caret-down{font:normal normal normal 14px/1 'Donut'; content:'\f04c';}
.icon-arrow-circle-o-down{font:normal normal normal 14px/1 'Donut'; content:'\f010';}
.icon-arrow-circle-o-up{font:normal normal normal 14px/1 'Donut'; content:'\f011';}
.icon-search{font:normal normal normal 14px/1 'Donut'; content:'\f012';}
.icon-users{font:normal normal normal 14px/1 'Donut'; content:'\f013';}
.icon-eye{font:normal normal normal 14px/1 'Donut'; content:'\f014';}
.icon-cog{font:normal normal normal 14px/1 'Donut'; content:'\f015';}
.icon-power-off{font:normal normal normal 14px/1 'Donut'; content:'\f016';}
.icon-bell{font:normal normal normal 14px/1 'Donut'; content:'\f017';}
.icon-bell-slash{font:normal normal normal 14px/1 'Donut'; content:'\f018';}
.icon-plus-circle{font:normal normal normal 14px/1 'Donut'; content:'\f019';}
.icon-pencil-square-o{font:normal normal normal 14px/1 'Donut'; content:'\f01a';}
.icon-link{font:normal normal normal 14px/1 'Donut'; content:'\f01b';}
.icon-external-link{font:normal normal normal 14px/1 'Donut'; content:'\f01c';}
.icon-map-marker{font:normal normal normal 14px/1 'Donut'; content:'\f01d';}
.icon-clock-o{font:normal normal normal 14px/1 'Donut'; content:'\f01e';}
.icon-trash{font:normal normal normal 14px/1 'Donut'; content:'\f01f';}
.icon-times{font:normal normal normal 14px/1 'Donut'; content:'\f020';}
.icon-facebook{font:normal normal normal 14px/1 'Donut'; content:'\f021';}
.icon-spinner{font:normal normal normal 14px/1 'Donut'; content:'\f022';}
.icon-plus{font:normal normal normal 14px/1 'Donut'; content:'\f023';}
.icon-camera{font:normal normal normal 14px/1 'Donut'; content:'\f024';}
.icon-smile-o{font:normal normal normal 14px/1 'Donut'; content:'\f025';}
.icon-envelope{font:normal normal normal 14px/1 'Donut'; content:'\f026';}
.icon-at{font:normal normal normal 14px/1 'Donut'; content:'\f027';}
.icon-circle{font:normal normal normal 14px/1 'Donut'; content:'\f028';}
.icon-chevron-down{font:normal normal normal 14px/1 'Donut'; content:'\f029';}
.icon-pencil{font:normal normal normal 14px/1 'Donut'; content:'\f02a';}
.icon-facebook-square{font:normal normal normal 14px/1 'Donut'; content:'\f02b';}
.icon-twitter-square{font:normal normal normal 14px/1 'Donut'; content:'\f02c';}
.icon-google-plus-square{font:normal normal normal 14px/1 'Donut'; content:'\f02d';}
.icon-home{font:normal normal normal 14px/1 'Donut'; content:'\f02e';}
.icon-life-ring{font:normal normal normal 14px/1 'Donut'; content:'\f02f';}
.icon-question-circle{font:normal normal normal 14px/1 'Donut'; content:'\f030';}
.icon-check{font:normal normal normal 14px/1 'Donut'; content:'\f031';}
.icon-globe{font:normal normal normal 14px/1 'Donut'; content:'\f032';}
.icon-bolt{font:normal normal normal 14px/1 'Donut'; content:'\f033';}
.icon-warning{font:normal normal normal 14px/1 'Donut'; content:'\f034';}
.icon-quote{font:normal normal normal 14px/1 'Donut'; content:'\f035';}
.icon-address{font:normal normal normal 14px/1 'Donut'; content:'\f036';}
.icon-microphone-slash{font:normal normal normal 14px/1 'Donut'; content:'\f037';}
.icon-microphone{font:normal normal normal 14px/1 'Donut'; content:'\f038';}
.icon-volume-up{font:normal normal normal 14px/1 'Donut'; content:'\f039';}
.icon-volume-off{font:normal normal normal 14px/1 'Donut'; content:'\f03a';}
.icon-menu{font:normal normal normal 14px/1 'Donut'; content:'\f03b';}
.icon-lock{font:normal normal normal 14px/1 'Donut'; content:'\f03c';}
.icon-draggable{font:normal normal normal 14px/1 'Donut'; content:'\f03e';}
.icon-triangle-up{font:normal normal normal 14px/1 'Donut'; content:'\f040';}
.icon-refresh{font:normal normal normal 14px/1 'Donut'; content:'\f041';}
.icon-public{font:normal normal normal 14px/1 'Donut'; content:'\f042';}
.icon-star{font:normal normal normal 14px/1 'Donut'; content:'\f043';}
.icon-file{font:normal normal normal 14px/1 'Donut'; content:'\f044';}
.icon-info-circle{font:normal normal normal 14px/1 'Donut'; content:'\f045';}
.icon-info-with-circle{font:normal normal normal 14px/1 'Donut'; content:'\f04e';}
.icon-ellipsis-v{font:normal normal normal 14px/1 'Donut'; content:'\f048';}
.icon-list{font:normal normal normal 14px/1 'Donut'; content:'\f049';}
.icon-verified-user{font:normal normal normal 14px/1 'Donut'; content:'\f04a';}