.p0 { padding:0; }

.color-text-success { color:      @cl-success !important; }
.color-back-success { background: @cl-success !important; }
.color-text-neutral { color:      @cl-neutral !important; }
.color-back-neutral { background: @cl-neutral !important; }
.color-text-error   { color:      @cl-error   !important; }
.color-back-error   { background: @cl-error   !important; }

.overlay-ctn { position:relative;
  .overlay { display:none; background-color: black; height: 100px; width: 100%; position: absolute; top: -40px; cursor: pointer; .opacity(20); left: 0; }
  .overlay-text { display:none; color: white; position: absolute; top: 0; width: 100%; text-align: center; cursor: pointer; left: 0; font-size: 16px; }
  &:hover .overlay, &:hover .overlay-text {
    display: block;
  }
}
