.p0 { padding:0; }

.color-text-success { color: @cl-success; }
.color-back-success { background: @cl-success; }
.color-text-neutral { color: @cl-neutral; }
.color-back-neutral { background: @cl-neutral; }
.color-text-error   { color: @cl-error; }
.color-back-error   { background: @cl-error; }