& { height: 100%; background-color: #F5F8FA; overflow-y: auto; .scrollbar-grey-thin; }
.header { .group-header; }
.header-below { position:relative;
  &.collapsed { display:none; }
  .arrow { width: 0; height: 0; border-style: solid; border-width: 0 20px 10px 20px; border-color: transparent transparent #e7ecf3 transparent; position: absolute; top: -10px; right: 205px; }
  .block-ctn { background-color: #E7ECF3; min-height:100px; padding-right: 100px;
    .group-icon-ctn { min-width: 170px;
      .group-icon { background-repeat: no-repeat; background-position: center center; background-size: 100%; }
    }
    .text { .ft-opensans; font-size: 13px; color: #394350; line-height: 21px; padding: 20px 0; }
    .actions {
      .toggle-collapse { position: absolute; right: 40px; top: 33px; font-size: 16px;
        i { color: #586473; font-size:14px; }
      }
    }
  }
  &.is-banned {
    .group-icon { background-image: url('@{img-path}/error.png'); width: 32px; height: 32px; }
  }
  &.is-member,
  &.is-owner,
  &.is-admin,
  &.is-op {
    .group-icon { background-image: url('@{img-path}/success.png'); width: 43px; height: 35px;  }
  }
  &.is-op,
  &.is-not-member,
  &.is-owner {
    .arrow { right: 345px; }
  }
  &.is-not-member {
    .group-icon { background-image: url('@{img-path}/warning.png'); width: 29px; height: 59px; }
  }
}

.cards-content { position: relative; margin: 0 20px; .display-flex; .flex-flow(column nowrap);
  .title1 { .ft-opensans-semibold; font-size: 17px; color: #586473; letter-spacing: 1.3px; line-height: 14px; margin: 20px 80px; width: 100%; }
  .filters { border-bottom: 1px solid #D0D9E6; width: 100%;
    .filter-action { border-bottom: 3px solid transparent; width: 280px; .ft-opensans; font-size: 13px; color: #AFBAC8; letter-spacing: 2px; line-height: 21px; text-transform: uppercase; padding: 5px 10px; text-align: center;
      &.active { border-bottom: 3px solid @cl-first; color: #1D252F; }
    }
  }
  .cards { .scrollbar-grey-thin; overflow: auto; .display-flex; .flex-flow(row wrap); margin: 15px 30px; .justify-content(center);
    .rooms, .users { .display-flex; .flex-flow(row wrap); .justify-content(center); }
  }
}
