#landing {
  @carousel-height:420px;
  .ft-opensans-light;
  .header {
    .navbar { margin-bottom:0; border:0;
      .mini-header {
        .flex-parent.links { padding:10px;
          a { color:#FFF; font-size:1.7rem; .ft-raleway-heavy; text-transform: uppercase; }
          .divider { border:1px solid @cl-first-dark-15; }
        }
        .searchbar { border-bottom: 1px solid @cl-subtext20; border-top: 1px solid @cl-subtext20;
          input  { outline: none; border: 0; padding: 10px; }
          .action-search { width: 50px; border-width: 0 0 0 1px; background-color: transparent; border-color: @cl-subtext20; }
        }
      }
      .baseline { float: left; margin-left: 30px; min-width: 310px; margin-top: 11px;
        .ctn-text {
          p { .ft-opensans-bold; font-weight: 900; color: @cl-text; font-size: 1.3rem; text-transform: uppercase; margin-bottom: 0px; line-height: normal; }
          [data-toggle="talkative"] > div.talkative-container > * { padding:0; }
        }
      } // #landing .header .baseline
      .nav .open>a, .nav .open>a:hover, .nav .open>a:focus { background-color: transparent; }
      .nav>li>a { text-decoration:underline;
        &:hover, &:active, &:visited { text-decoration:none;background-color: transparent; }
      }
      .dropdown-toggle i { font-size:18px;
        &:hover { .opacity(0.5); }
      }
      .dropdown-menu { padding:10px 0;
        li.colored {
          a { text-decoration:none; }
          &:hover { background-color: @cl-first;
            a { color:#fff; background-color: @cl-first; }
          }
        }
      }
      .navbar-brand { .display-flex; .flex-flow(column nowrap); padding:0;
        .logo { height:40px; margin: auto 0; }
      }
      .signup a, .login a { font-size:2rem; color:@cl-first;.ft-opensans-bold; }
    }
    #carousel-landing { border-top: 3px solid @cl-first;
      .carousel-inner { position: absolute; overflow: hidden; width: 100%;
        .disclaimer { position: absolute; top: 50px; color: #FFF; font-size: 3rem; max-width: 35%; }
        .img { height: @carousel-height; max-width: 100%; background-size: cover; background-repeat:none; }
      }
      .ctn-baseline { height:@carousel-height; position: relative;
        .authenticate { position: absolute; z-index: 1; right: 0; padding: 15px; .ft-raleway; margin: auto; margin-top: 30px; background-color: @cl-subtext10; .border-radius(10px);
          h2 { margin: 0; text-align: center; .ft-raleway-heavy; font-size: 2.2rem; }
          a.btn-facebook { max-width:310px; margin:10px auto; font-size: 1.3rem; text-decoration: none; }
          .logic { text-align:center; margin:0; }
          .form { width: 310px; margin: 0 auto;
            .form-group {
              .form-control { padding: 4px 14px 4px 48px; }
              img { color: @cl-first; font-size: 22px; left: 10px; position: absolute; display: block; line-height: 34px; text-align: center; z-index: 2; width: 15px; height: 15px; top: 9px; }
            }
            input[type=submit] { padding: 7px 12px;font-size: 1.3rem; }
          }
          .logged .profile {
            .avatar { width: 100px; margin: 0 auto; height: 100px; .border-shadow; }
            p { margin: 5px auto 15px; font-size: 2.4rem; font-weight: bolder; }
          } // #landing .header #carousel-landing .ctn-baseline .authenticate .logged .profile
          p { font-size: 1.6rem; }
          .actions { width: 220px; margin: auto;
            a.logout { text-decoration:underline; font-size:1.3rem;
              &:hover { text-decoration:none; }
            }
          }
        } // #landing .header #carousel-landing .ctn-baseline .authenticate
      } // #landing .header #carousel-landing .ctn-baseline
    } // #landing .header #carousel-landing
  } // #landing .header
  .ctn-results { padding: 0;
    .search { position: relative; font-size: 2rem;background-color: @cl-subtext10; padding:10px; .border-radiuses(0, 25px, 25px, 0);
      i { position: absolute; top: 9px; right: 19px; color: @cl-subtext10; cursor: default; }
      span { line-height: 4rem; }
    }
    input[type=text] { width: 100%; border: 1px solid @cl-subtext10; .border-radius(50px); padding: 5px 75px 6px 30px; .ft-raleway-medium; color: @cl-subtext50; outline: none; }
  }
  footer { padding: 20px 0; border-top:1px solid @cl-second;
    .container { align-items: center; }
  }

  @media screen and (max-width: @screen-md-min) {
    .ctn-results { background-color: @cl-subtext10; margin: 0; width: 100%;
      .rooms.cards .room:hover {
        .cover { display:block; }
        .back { display:none; }
      }
    }
  }
} // #landing

