.btn-facebook { margin-top: 10px; position: relative; background-color: #4a649d; color: @cl-background; text-transform: uppercase; border-radius: 25px; padding: 11px 20px; .ft-opensans-bold; font-size: 1.2rem;
  span { margin-left: 7px; color: @cl-background; }
  i { font-size: 1.4em; margin-right: 2px; vertical-align: middle; color: @cl-background; }
  &:hover { color: @cl-background;
    i { color: @cl-background; }
    span { color: @cl-background; }
  }
}

#signup, #login, #forgot, #reset {
  .content { max-width:450px; margin: 100px auto 0; }
  .form {
    .form-group {
      .form-control { padding: 4px 14px 4px 48px; }
      img { color: @cl-first; font-size: 22px; left: 10px; position: absolute; display: block; line-height: 34px; text-align: center; z-index: 2; width: 15px; height: 15px; top: 9px; }
      &.has-error .help-block { position: absolute; right: 235px; background-color: #FFF; padding: 5px 10px; top: -5px; width: auto; white-space: nowrap;; text-align: right; border: 1px solid @cl-subtext30;
        &::before { content: ''; width: 0; height: 0; border-style: solid; border-width: 8px 0 8px 8px; border-color: transparent transparent transparent @cl-subtext30; position: absolute; top: 7px; right: -9px; display: block; padding: 0; }
        &::after { content: ''; width: 0; height: 0; border-style: solid; border-width: 8px 0 8px 8px; border-color: transparent transparent transparent #FFF; position: absolute; top: 7px; right: -8px; display: block; padding: 0; }
      }
    }
    a.btn-facebook { .align-self(center); text-decoration: none; color:#FFF; display: inline-block; font-size:1.2rem; }
  }
  .method-facebook-or { border-bottom: 1px solid @cl-subtext10; margin-bottom: 20px; padding: 20px 0 0 0;
    .outer { width:150px;
      .inner { background-color: #FFF; width:150px; top: 10px; white-space: nowrap; }
    }
  }
}

#signup, #landing, #forgot, #reset, .body-static  {
  header { background-color: #1d252f; width: 100%; z-index: 100; .transition(background-color 300ms);
    .navbar-toggle { float:left;
      .icon-bar { background-color:#FFF; }
    }
    .navbar { margin-bottom:0; }
    .navbar li a { .ft-opensans; font-size: 12px; color: #FFFFFF; line-height: 28.57px; }
    .nav .open>a, .nav .open>a:hover, .nav .open>a:focus { background-color: transparent; }
    .nav>li>a { text-transform: uppercase;
      &:hover, &:active, &:visited { text-decoration:none; background-color: transparent; }
    }
    .lang a { padding:0 15px; margin: 15px 0;
      &.active { color: rgba(255,255,255,0.30); }
      &:after { content:""; height:12px; width:1px; background-color:#FFF; position:absolute; right:0; top:8px; }
    }
    .lang:last-child a:after { background-color: transparent; }
  }
}

#landing { background-color: #FFF; @height:500px;
  header { position: fixed; background-color: transparent; }
  &.clean header { background-color: #1d252f; }
  .authenticate { width: 100%;
    .login {
      .ft-courgette;
      font-size: 40px;
      color: #FFFFFF;
      line-height: 61px;
      text-align: center;
    }
    .or {
      .ft-courgette;
      font-size: 25px;
      color: #FFF;
      line-height: 37px;
      text-align: center;
    }
    .button {
      height: 37px;
      text-transform: uppercase;
      .display-flex;
      .flex-flow(column);
      .justify-content(center);
      .align-items(center);
      .border-radius(6px);
      font-size: 15px;
      color: #FFFFFF;
      line-height: 28.57px;
      &.button-facebook { background: #4A649D; }
      &.button-primary { background: #FC2063; }
    }

    .logged { background-color: rgba(29, 37, 47, 0.60); border-radius: 6px; padding:5px;
      .avatar {
        background: #D8D8D8;
        border-radius: 4px;
        width:50px;
        height:50px;
        margin-right:18px;
      }
      .text-ctn { .flex(1);
        .username {
          font-size: 16px;
          color: #FFFFFF;
          line-height: 20px;
          .ft-opensans;
          margin:0;
        }
        .text {
          .ft-opensans-light;
          font-size: 14px;
          color: #FFFFFF;
          line-height: 28.57px;
          padding-right:27px;
          margin:0;
        }
      }
      .button { width:163px; height:44px; }
    }
  }
  .first { height: 900px; background: transparent url('@{img-path}/landing/background1.jpg') no-repeat; background-size: cover; width: 100%; background-position: center 100%;
    .ctn { max-width:650px;
      .disclaimer-top { margin-bottom:28px;
        .p1 {
          font-size: 50px;
          line-height: 35px;
          .ft-opensans;
          color: #FFFFFF;
          letter-spacing: 2.5px;
          text-align:center;
        }
        .almost {
          .ft-courgette;
          font-size: 40px;
          color: #FC2063;
          line-height: 35px;
          text-align: center;

          -ms-transform: rotate(354deg); /* IE 9 */
          -webkit-transform: rotate(354deg); /* Chrome, Safari, Opera */
          transform: rotate(354deg);
          display: inline-block
        }
        .p2 {
          .ft-opensans-light;
          font-size: 25px;
          color: #FFFFFF;
          letter-spacing: 2.5px;
          line-height: 35px;
          text-align:center;
        }
      }
      .divider { background: transparent url('@{img-path}/landing/separator.png') no-repeat; background-size: cover; height:32px; width:640px; background-position: center center; }
      .disclaimer-bottom { margin-bottom:29px; margin-top:35px;
        p {
          .ft-opensans;
          font-size: 17px;
          color: #FFFFFF;
          line-height: 28.57px;
          text-align: justify;
        }
      }
    }
  }
  .shadowed {
    .ft-opensans;
    font-size: 20px;
    color: #1D252F;
    letter-spacing: 4.52px;
    line-height: 40px;
    text-shadow: 0 16px 5px rgba(187,202,210,0.47);
    text-align:center;
  }
  .second { z-index:2;
    .ctn {
      max-width:573px;
      /*font-family: FreightSansProMedium-Regular;*/
      .img-ctn {
        .apple { margin-right:10px;
          background: transparent url('@{img-path}/landing/appstore.png') no-repeat; background-size: cover; height:42px; width:137px; background-position: center center;
        }
        .android {
          background: transparent url('@{img-path}/landing/google_play.png') no-repeat; background-size: cover; height:42px; width:137px; background-position: center center;
        }
      }
    }

    .background2 { margin:40px auto 0; background: transparent url('@{img-path}/landing/background2.jpg') no-repeat; width:100%; height:591px; background-position: center center; }
    .overlays { width:780px; height:195px;
      .left1  { position: absolute; bottom: -40px; left: 0; background: transparent url('@{img-path}/landing/left1.svg') no-repeat;  background-size: cover;  width:88px; height:93px;    background-position: center center; }
      .left2  { position: absolute; top: 0; left: 120px; background: transparent url('@{img-path}/landing/left2.svg') no-repeat;  background-size: cover;     width:134px; height:151px;  background-position: center center; }
      .right1 { position: absolute; top: 30px; right: 210px; background: transparent url('@{img-path}/landing/right1.svg') no-repeat; background-size: cover; width:88px; height:98px;    background-position: center center; }
      .right2 { position: absolute; top: 0; right: -50px; background: transparent url('@{img-path}/landing/right2.svg') no-repeat; background-size: cover;    width:172px; height:182px;  background-position: center center; }
    }
  }
  .third { margin-bottom: 128px;
    > .row { margin:auto; max-width:970px; }
    .image { .align-items(center); .justify-content(center); height:90px; width:100%;
      .background-1 { width:90px; height:45px; background:transparent url('@{img-path}/landing/image1.svg')  no-repeat center center; background-size: cover; }
      .background-2 { width:45px; height:66px; background:transparent url('@{img-path}/landing/image2.svg') no-repeat center center; background-size: cover; }
      .background-3 { width:59px; height:63px; background:transparent url('@{img-path}/landing/image3.svg') no-repeat center center; background-size: cover; }
      .background-4 { width:88px; height:75px; background:transparent url('@{img-path}/landing/image4.svg') no-repeat center center; background-size: cover; }
      .background-5 { width:69px; height:70px; background:transparent url('@{img-path}/landing/image5.svg') no-repeat center center; background-size: cover; }
      .background-6 { width:76px; height:46px; background:transparent url('@{img-path}/landing/image6.svg') no-repeat center center; background-size: cover; }
    }
    .sub-title {
      .ft-courgette;
      font-size: 24px;
      color: #FC2063;
      line-height: 35px;
      text-align: center;
      margin-bottom:25px;
    }
    .description {
      .ft-opensans;
      font-size: 14px;
      color: #1D252F;
      line-height: 22.85px;
      text-align: center;
    }
    .hr { background-color: #D4E1E8; height:1px; width:235px; margin:125px auto; }
    .container { max-width:640px;
      .shadowed { margin-bottom:58px; }
      .logged { background-color:#1D252F; }
    }
    .authenticate {
      .login { color:#1d252f; }
      .or { color:#BBCAD2; }
    }
  }
  .fourth { min-height: 934px; background: #0E151D url('@{img-path}/landing/background3.jpg') no-repeat; background-size: cover; width: 100%; background-position: center center;
    .ctn { max-width:778px; margin: auto; position:relative; padding: 0 0 36px 0;
      .title {
        font-size: 40px;
        line-height: 58px;
        .ft-fabfelt;
        color: #FFFFFF;
        text-align: center;
      }
      .text { margin-top:50px;
        p {
          font-size: 17px;
          color: #FFFFFF;
          line-height: 28.57px;
          margin-bottom:25px;
          .ft-opensans;
          text-align: justify;
        }
      }
      .logo { background: transparent url('@{img-path}/logo-bordered-small.png') no-repeat; background-size: cover; height:25px; width: 108px; background-position: center center; position:absolute; bottom:0; right:0;}
    }
  }
  .partners { height:387px; border-bottom: 3px solid #fc2063;
    .ctn { margin:auto; max-width: 576px;
      .title {
        .ft-fabfelt;
        font-size: 24px;
        color: #FC2063;
        line-height: 35px;
        text-align: center;
      }
      .col-sm-4 { height:100px; }
      .img-ctn { margin-top:23px; .align-items(center); .justify-content(space-around);
        .logo1 { width:196px; height:93px; background:transparent url('@{img-path}/landing/logo-incubateur.jpg')  no-repeat center center; background-size: cover; }
        .logo2 { width:67px; height:47px; background:transparent url('@{img-path}/landing/logo-42.jpg')  no-repeat center center; background-size: cover; }
        .logo3 { width:123px; height:64px; background:transparent url('@{img-path}/landing/logo-hec.jpg')  no-repeat center center; background-size: cover; }
      }
    }
  }
  footer { background-color: #192029;
    .ctn { width:1152px; margin-top:56px; margin-bottom:84px; height:100%;
      a { color:#FFF; margin-left:10px;.ft-opensans;}
      .hr { background: rgba(255,255,255,0.10); height:1px; width:100%; margin-top:54px; margin-bottom:10px; }
      .logo { width:109px; height:25px; background:transparent url('@{img-path}/logo-onecolor-gr.svg')  no-repeat center center; background-size: cover; }
      .copy {
        .ft-opensans;
        font-size:10px;
        color: #FC2063;
        line-height: 28.57px;
        text-align: center;
      }
      .facebook-ctn { padding:10px; }
    }
  }
}

.body-static {
  a { font-weight: bold; }
  blockquote { font-size: 1em; }

  div.main {
    div.content {
      h1 { .ft-opensans-extra-bold; }
    }
  }

  .menu {
    ul {
      li {
        a { font-weight: normal; }
        &.title { font-weight: bold; list-style: none; margin-left: -20px; }
      }
    }
  }

  p.question { font-weight: bold;
    .numero { font-size: 1.1em; }
  }

  .footer { .row; text-align: center; margin-top: 20px; padding-top: 20px; padding-bottom: 20px;
    border-top: 1px solid @cl-first;
  }
}

.body-pages {
  height: 100%;
  .ft-opensans;
  background: #f9f9f9;
  color: @cl-background;

  input[type=text].form-control, input[type=password].form-control {
    border-radius: 0;
    border: 1px solid @cl-subtext10;
    background-color: @cl-background;
    .ft-opensans;
    padding: 4px 14px 4px 14px;
    color: @cl-second;
  }
  ::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  ::-moz-placeholder {
    text-transform: uppercase;
  }
  :-ms-input-placeholder {
    text-transform: uppercase;
  }
}

.wrapper {
  width: 430px;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  h1.logo {
    img { width: 200px;
      margin: 0 auto;
      display: block; }
  }
  .upon {

  }
  .content {
    background-color: transparent;
    color: @cl-second;
    padding: 10px;
    h2 {
      margin-top: 0;
      text-transform: uppercase;
      .ft-opensans-extra-bold;
    }
  }
  .above { color: @cl-text;
    padding: 5px;
    a {
      color: @cl-text;
      font-weight: bold;
    }
  }
}

#login, #forgot, #signup, #email-edit, #password-edit, #connect-local {
  .errors {
    .alert;
    .alert-danger;
    margin-bottom: 20px;
  }
  .success {
    .alert;
    .alert-success;
    margin-bottom: 20px;
  }
  .form-group {
    position: relative;

    i { color: @cl-first; font-size: 22px; display: inline; line-height: 29px; margin-left: 5px; }
    i.right {
      right: 10px;
      left: inherit;
    }
  }
  .form-group.center {
    text-align: center;
  }
  .or {
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
    .ft-opensans-extra-bold;
    text-transform: uppercase;
  }
  .method-password {
    text-align: center;
  }
}

#signup {
  .login .content { background-color: #fff; padding: 20px 30px 15px; .border-radius(5px); .box-shadow(0 1px 0 rgba(0,0,0,.25)); border: 1px solid #e8e8e8;
    .input-icon { border-left: 2px solid @cl-first; }
    .form-title { font-weight: 300; margin-bottom: 25px; }
    .form-actions { background-color: #fff; clear: both; border: 0; border-bottom: 1px solid #eee; padding: 0 30px 25px 30px;  }
    .create-account { border-top: 1px dotted @cl-subtext15; padding-top: 10px; }
    .form-group a { line-height: 34px; }
    .login-form {
      .actions-chat { margin: auto; }
      a { color: @cl-text; }
      a.btn-facebook { color:#FFF; }
    }
  }
  .input-icon > i { z-index: 3; color: #ccc; display: block; position: absolute; margin: 8px 2px 4px 10px; width: 16px; font-size: 16px; text-align: center; left: 0; height: initial; line-height: initial; }
  .input-icon .form-control { padding-left: 33px !important; border-radius: 0 !important; color: #555459; }
}

.body-pages .navbar-default { background-color: @cl-first; min-height: 40px;
  .navbar-brand { height: auto; padding: 5px 15px 0;
    .logo { display: inline-block; width: 130px; height: 32px; }
    .beta { vertical-align: bottom; height: @size-color; .ft-opensans-bold; font-size: 13px; padding-left: 0px; padding-top: 18px; text-decoration: none; }
  }
}

#forgot {
  h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.7em;
  }
}