.body-chat.body-profile {
  #languages { position: relative; right: initial; top: initial; display: inline-block; padding-top: 9px; padding-bottom: 8px;
    a { display: inline;
      &:hover { text-decoration:underline; }
    }
  }
  #chat #left .page-sidebar-menu {
    #block-discussions .list { margin-left:0;
      a { font-weight:bold; color:@cl-subtext50; } // .body-chat.body-profile #chat #left .page-sidebar-menu #block-discussions .list a
    }
  }
  #chat #center .discussion .content { overflow:auto; padding-top: 50px; padding-left: 50px; padding-bottom: 0;
    .events { margin-top: 20px; padding-top: 20px; }
    .title { display: block; font-family: 'Raleway',sans-serif; font-weight: 900; font-size: 2em; margin-bottom: 10px; }
    .discuss { position: absolute; top: 180px; margin: 0; float: left; text-align: center; width: 100%;
      a { display: block; padding: 15px 20px; font-size: 16px; width: 100%; white-space: nowrap;
        &:hover {     color: #fff; text-decoration: none; }
      }
    }
    .joinroom { position: absolute; top: 180px; margin: 0; float: left; text-align: center; width: 100%;
       a { display: block; padding: 15px 20px;  width: 100%; white-space: nowrap; position: relative; font-family: 'Raleway',sans-serif; font-weight: 500; .border-radius(100px); -moz-border-radius: 100px; border-radius: 100px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; text-transform: uppercase; font-size: 17px;
         .icon { color: @cl-warning; }
         &:hover {     color: #fff; text-decoration: none; }
       }
     }
    .header { padding-top: 0; min-height: 250px;
      .info { min-height: 230px; margin-left: 160px; padding-left: 30px; padding-top: 20px;
        .share { cursor:default;     font-size: 14px; }
      }
      &.room {
        .overlay-ctn { float: left; width: 169px;
          .avatar { width: 160px; height: 160px; position: relative; float: left; }
          .topic { padding: 5px 15px 5px 106px;
            .topic-current { width:100%; }
          }
        }
        .info {
          .name { margin-left: 0; font-size: 50px; }
          .room-profile { display: inline-block; vertical-align: text-bottom;
            &::after { font-size:2rem; }
          }
          .owner a:hover { text-decoration:none; }
          .owner, .separation, .website { font-size: 18px; }
          .description { margin-top: 20px; margin-bottom: 20px; max-width: 500px;
            .description-content {     font-size: 15px; font-style: italic; font-weight: 300; }
          }
        } // .body-chat.body-profile #chat #center .discussion .content .header.room .info
      }
      &.user {
        .overlay-ctn { float: left; width: 169px;
          .avatar { width: 160px; height: 160px; position: relative; float: left; }
        }
        .bio { margin-bottom:5px; }
        .info { margin-left: 170px;
          .username { font-size: 50px; margin: 0;
            &:hover { text-decoration:none; }
          }
          .owner, .separation, .website, .location { font-size: 18px; }
          .bio { margin-top: 20px; margin-bottom: 20px; max-width: 500px;
            .bio-content { font-size: 15px; font-style: italic; font-weight: 300; }
          }
        } // .body-chat.body-profile #chat #center .discussion .content .header.user .info
      } // .body-chat.body-profile #chat #center .discussion .content .header.user
    } // .body-chat.body-profile #chat #center .discussion .content .header
    .input .text-container .overlay { display:block; cursor:default;
      .overlay-text { text-transform: capitalize; cursor:default;
        a { color:#FFF; }
      }
    }
  } // .body-chat.body-profile #chat #center .discussion .content
}
.body-profile { height: 100%; .ft-opensans; background-color: @cl-background; background-repeat: no-repeat; background-position: 0 @size-color;
  .upon { position: fixed; left: 0; right: 0; top: @size-color; z-index: 1; }
  .color { position: fixed; left: 0; right: 0; top: 0; height: @size-color; background-color: @cl-first; z-index: 10;
    a.logo { color: @cl-background; display: inline-block; vertical-align: top; margin: 4px 0 0 4px; line-height: 1em;
      img { display: block; width: 130px; height: 32px; }
      &:hover { text-decoration: none; }
    }
    .beta { display: inline-block; vertical-align: top; height: @size-color; .ft-raleway-medium; font-size: 13px; padding-left: 0px; padding-top: 18px; }
    .text { display: inline-block; vertical-align: top; .ft-raleway-medium; color: @cl-background; font-size: 1.3em; padding-left: 10px; padding-top: 10px; }
  }
  hr { border-top-color: #dadada; margin-top: 18px; margin-bottom: 18px; margin-left: 0; margin-right: 18px; }
  hr.clear { border-top-color: transparent; clear: both; margin: 0; }
  hr.push-bottom { margin-top: 30px; }
}
.room-profile {
  > .text {
    .name-content .name { font-size: 3.6em; vertical-align: sub; }
    .owner { font-size: 1.3em; }
  }

}
.user-profile {
  > .text {
    .username { font-size: 3.6em; vertical-align: sub; }
    .location { font-size: 1.3em; font-weight: bold; }
  }
}
.body-profile .cards { margin-bottom: 15px;
  .no { padding: 5px 0; margin-top: 30px; margin-bottom: 10px; font-weight: bold; font-style: italic; }
  .card { position: relative; display: block; min-height: 170px; width: 190px; float: left; margin-top: -7px; text-align: center; text-decoration: none; color: @cl-title;
    .cover, .back { min-height: 140px; width: 190px; position: absolute; top: 0; left: 0;
      .text { padding-bottom: 20px; }
    }
    .back { display: none; .border-radius(12px); color: @cl-background; z-index: 1;
      .avatar { margin-top: 14px; }
    }
    &:hover {
      .cover { display: none; }
      .back { display: block; }
    }
  }
}

.body-profile .users.cards { margin-bottom: 20px;
  .card {
    .cover, .back {
      .avatar { margin: auto; margin-top: 24px; width: 85px; height: 85px; border: 5px solid transparent; }
      .text {
        .username { font-weight: 700; font-size: 1.3em; line-height: 1.8; }
        .location { font-size: 0.8em; font-weight: bold; }
        .website { font-size: 0.8em; overflow: hidden; white-space: pre; max-width: 180px; margin: auto; }
      }
    }
    .back { z-index: 1;
      .avatar { .border-radius(5px); border-color: @cl-background; }
      .username { color: @cl-background; }
      .website { a { color: @cl-background; } }
    }
    &.owner {
      .cover:after { content: " "; position: absolute; left: 86px; top: 16px; width: 20px; height: 13px; background-image: url('/images/svg/owner-g.svg'); background-size: 20px 13px; }
      .back:before { content: " "; position: absolute; left: 86px; top: 12px; width: 20px; height: 13px; background-image: url('/images/svg/owner-w.svg'); background-size: 20px 13px; }
    }
    &.op {
      .cover:before { content: url('/images/svg/op.svg'); position: absolute; left: 28px; top: 18px; width: 16px; height: 26px; }
      .back:before { content: url('/images/svg/op-w.svg'); position: absolute; left: 28px; top: 18px; width: 16px;
        height: 26px;
      }
    }
  }
}

@media screen and (max-width: @screen-md-min) {
  .body-chat.body-profile #chat #left .page-sidebar-menu #block-current-user .sub-menu { display: none !important; }
  .body-chat.body-profile #chat #left .page-sidebar-menu #block-current-user.open .sub-menu { display: block !important; }
  .body-chat.body-profile #chat #left .page-sidebar-menu #block-current-user>ul>li .dropdown-user-actions { position: relative; right: initial; left:initial; top: 0; }
  .body-chat.body-profile #chat #left .page-sidebar-menu #block-current-user>ul>li .dropdown-user-actions .dropdown-menu { background-color: @cl-subtext10; .box-shadow(0 6px 12px rgba(0,0,0,0.175)); }
  .body-chat.body-profile #chat #left .page-sidebar-menu #block-current-user>ul>li .dropdown-user-actions .dropdown-menu a { padding: 5px 10px; }
  .body-chat.body-profile #chat #center .discussion .content { padding-top: 0; padding-left: 0; }
  .body-chat.body-profile #chat #center .discussion .content .header { min-height: initial; }
  .body-chat.body-profile #chat #center .discussion .content .header .info { min-height: initial; margin-left: 0; }
  .body-chat.body-profile #chat #center .discussion .content .header.room .overlay-ctn .avatar { width: 30px; height: 30px; float:none; position:absolute; }
  .body-chat.body-profile #chat #center .discussion .content .header.room .topic { padding: 5px 15px 5px 15px; }
  .body-chat.body-profile #chat #center .discussion .content .header.user .avatar { height:30px; width:30px; }
  .body-chat.body-profile #chat #center .discussion .content .header.user .info { margin-left:0; }
  .body-chat.body-profile #chat #center .discussion .content .header.user { min-height:0; }
  .body-chat.body-profile #chat #center .discussion .content .events { margin-top:0; padding-top:0; }
}

@media screen and (max-width: @screen-lg-min) {
  .body-chat.body-profile #chat #center .discussion .content { padding-top:15px; padding-left:15px; padding-bottom:0;
    .header.room, .header.user { min-height: 180px;
      .overlay-ctn { width: 120px;
        .avatar { width: 120px; height: 120px; }
        .joinroom, .discuss { top: 130px;
          a { padding: 10px 15px; font-size: 12px; }
        }
      }
      .info { margin-left: 120px; min-height: 180px;
        .name, .username { font-size:40px; }
        .room-profile::after { font-size:1.6rem; }
      }
    }
  }
}