/** for <=1200 screens resolutions **/
@media screen and (max-width: @screen-lg-min) {

  #chat #center .discussion {
    .content { margin-right: @size-right-mid; }
    .side { width: @size-right-mid; }
  }

  #landing .header { height: 995px;
    .cover { background: none; }
  }
}

/** for <=992 screens resolutions **/
@media screen and (max-width: @screen-md-min) {

  .page-sidebar-menu { margin: 0; padding: 0;
    & > li { display: block; margin: 0; padding: 0; border: 0;
      & > a { display: block; position: relative; margin: 0; padding: 10px 15px; text-decoration: none; font-weight: 300; }
      .sub-menu { display:none; }
      &.active > a { background: #E2E2E2; border-top-color: transparent; color: #f5f5f5; }
      &.open { width: 256px !important; position: relative !important; z-index: 10000; display: block !important; box-shadow: 0 6px 12px rgba(0,0,0,0.175); background: #E2E2E2;
        > a {  background: #f5f5f5;
          .title { display: inline !important; padding: 0 0 0 20px; }
          .selected { display: none; }
        }
        .sub-menu { padding: 10px 0 0; background: #E2E2E2; width: 210px; position: absolute; z-index: 2000; left: 46px; margin-top: 0; top: 100%; display: block !important; box-shadow: 0 6px 12px rgba(0,0,0,0.175);
          li { list-style: none; margin: 0;
            a { display: block; clear: both; font-weight: normal; line-height: 1.42857143; white-space: nowrap; color: #6f6f6f; padding: 5px 10px; cursor: pointer; text-decoration:none;
              &:hover { background-color: #f5f5f5; }
            }
          }
        }
      }
    }
  }
  .page-sidebar-menu.right {
    & > li {
      &:hover { right: 211px; box-shadow: 0 6px 12px rgba(0,0,0,0.175);
        > a { text-align: right;
          .title { padding: 0 20px 0 0; }
          i { color:@cl-text !important; }
        }
        .sub-menu { left:initial; text-align: right; box-shadow: 0 6px 12px rgba(0,0,0,0.175); }
      }
    }
  }

  #chat {
    #drawer .opacity .wrap { width: auto !important; margin-right: 90px; } // #chat #drawer .opacity .wrap
    #left { width: 45px;
      .page-sidebar-menu {
        #block-current-user { padding: 0; min-height: initial;
          .avatar { padding: 5px; width: 45px; height: 45px; float: none; clear: both;
            img { width: 35px; height: 35px; }
          }
          .content { float: left; margin-left: 0; width: 30px; padding-top: 5px; clear: both;
            .connection { padding-left:9px; }
            .dropdown { position: relative; top: 0; left: 0; right: initial; padding-left: 4px;
              button { padding: 0; }
            }
          }
          .title { padding:0; display: none; }
          .sub-menu { display:none;     border: 0; }
          &.open { background: #f5f5f5;
            & > a { background: #f5f5f5; }
            .sub-menu { width: 210px; border:0;
              .title {     display: block; position: absolute; left: 8px; top: -43px; width: 195px; text-overflow: ellipsis; overflow: hidden; }
              .connection { top: -27px; left: 9px; display: inline !important;
                i { margin-right:3px; font-size:12px; }
                .user-status { display: inline !important; font-size:12px; }
              }
              .dropdown-user-actions { position: relative; right: initial; top: 0;
                .dropdown-toggle { display:none; }
                .dropdown-menu { display: block; margin: 0; padding: 0; background-color: #E2E2E2; border: 0; width: 210px; box-shadow: 0 6px 12px rgba(0,0,0,0.175); .border-radius(0);
                  & > li { padding: 0;
                    > a { padding: 5px 10px; }
                      .divider { padding-top: 10px; background-color: transparent; border-top: 1px solid #e5e5e5; margin-top: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      #block-actions { display: none; }
      #block-discussions { border-top: 1px solid @cl-subtext0; margin-top:10px; padding-top:10px; overflow: visible; display: block;
        .list {
          > ul > li {
            .item { padding: 5px 10px; height: 35px; display: none;
              a.aname { display:none; }
              .avatar { width: 25px; height: 25px; left: 0; position: relative; float: left; clear: both; top: 0; }
              .ctn {
                .name { margin-left: 20px; display: none; padding-top: 5px; }
                .close-discussion { display:none; }
                .unread { top: 7px; height: 20px; .bounce-left-delayed; display: inline; right:initial; left: -15px; }
              }
              &:hover::before { content:""; }
              &.active { background-color:#E2E2E2; }
              &.active .selected { display: block; float: right; position: absolute; right: 0 !important; top: 10px; background: none; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-right: 8px solid #fff; }
              &:hover, &.active:hover { background-color: #f5f5f5; }
            }
            &.open {
              .item { width: 256px; background: #f5f5f5;
                a.aname { display:inline; }
                ul {      padding: 0;
                  li a {     padding: 5px 10px; }
                }
              }
              .item .selected { display: none; }
              .ctn { border: 0; background-color: #E2E2E2;    width: 210px; left: 46px;.border-radius(0); margin: 0; height: initial; position: absolute; display: block;
                .name { display: inline-block; }
                .close-discussion { display: block;; font-size: 14px; color: #000; position: initial; top: initial; right: initial; }
                .unread { top: 10px; right: 35px; left: initial; animation: initial; }
              }
            }
          }
        }
      }
    } // #chat #left
    #center { margin-left: 45px;
      .discussion {
        .content { margin-right: 45px; padding-left: 0;
          .header.room { padding-top: 10px; background-color: @cl-subtext15; padding-left: 10px; position: relative;     min-height: 85px; margin-bottom: 11px;
            .overlay-ctn {
              .avatar { width:30px; height:30px; border:0; }
              .overlay, .overlay-text { display:none; }
            }
            .info { line-height: 22px;
              .owner { display: none; }
              .share { margin-left: 0; display: block; }
              .name { margin: 0 0 0 0px; font-size: 16px; margin-top: 5px; }
              .dropdown { float: left; margin-left: 28px;
                .dropdown-toggle { font-size: 18px; }
              }
            }
            .topic {    float: left; width: 100%; margin-top: 8px;     padding: 0;
              .topic-current {     padding: 5px 10px; width: 100%;
                &::before {content:"";}
              }
              .topic-form { width:100%;
                .input-group .btn, .input-group .topic-input{ height: 28px; padding: 5px 10px; line-height: 16px; }
              }
            }
          } // #center .discussion .content .header.room
          .header.user { padding-top: 10px; background-color: @cl-subtext15; padding-left: 10px; position: relative;     min-height: 85px; margin-bottom: 11px;
            .avatar { width:30px; height:30px;border:0;  }
            .info { line-height: 22px; margin-left: 0;
              .username { margin: 0 0 0 0px; font-size: 16px; margin-top: 5px; }
              .dropdown { float: left; margin-left: 28px;
                .dropdown-toggle { font-size: 18px; }
              }
            }
            .status-block { float: left; width: 100%; margin: 8px; }
          } // #center .discussion .content .header.user
          .events { padding-left: 10px; border-top: none;
            .go-to-top, .go-to-bottom { display:none !important; }
            .scrollable .scrollable-content .realtime .block {
              &.date { margin-top: 10px;
                .moment { font-size:1em; }
              } // #chat #center .discussion .content .events .scrollable .scrollable-content .realtime .block.date
              &.message .event {
                .text { padding: 0; }
                .date { display:none; }
                &:hover .actions { display:none; }
              } // #chat #center .discussion .content .events .scrollable .scrollable-content .realtime .block.message .event
              &.op, &.deop, &.ban, &.deban, &.kick, &.inout, &.topic { display:none; }
            } // #chat #center .discussion .content .events .scrollable .scrollable-content .realtime .block
          } // #chat #center .discussion .content .events
          .input { padding-left: 10px; margin-bottom: 10px;
            .text-container {   padding-bottom: 0;
              .text { padding: 5px 70px 5px 5px;
                .avatar { display: none; }
                .mentions-input-box textarea {   min-height: 20px; }
                .actions { top: 4px; right: 33px; font-size: 15px;
                  .images { margin: 0; display: inline; }
                }
                .send { width: 30px; padding: 0; margin: 0; height: 30px;
                  img { width: 20px; margin-top: 3px; height: initial; }
                  &:after { bottom: -7px; left: 7px; border-width: 7px 7px 0;}
                }
              }
            }
          } // #chat #center .discussion .content .input
        } // #chat #center .discussion .content
        .side { width: 45px; background-image: none !important;
          .blur { background-image: none !important;
            .users { padding: 0;
              hr { display:none; }
              .header { position: relative; top: 0; right: initial; left: 0;
                > .count { display: none; float: left !important; text-overflow: ellipsis; white-space: nowrap; width: 175px; overflow: hidden; }
                .page-sidebar-menu .sub-menu li { padding: 5px 10px; }
              } // #chat #center .discussion .side .blur .users .header
              .list { margin: 0;
                > li {
                  &:first-child { padding-top: 10px; }
                  .item, .item.offline { margin: 0; padding: 5px 8px 5px 12px; height: 35px; cursor:pointer; width: 256px;
                    .avatar { width: 25px; height: 25px; background-size: 100%; }
                  }
                  &:hover { background: #f5f5f5; width: 256px !important; position: relative !important; z-index: 10000; display: block !important; box-shadow: 0 6px 12px rgba(0,0,0,0.175); right: 211px;
                    .item {
                      &.owner .avatar::before { left: 3px !important; }
                      .infos {
                        .avatar { float:right; }
                        .username { line-height: 25px; text-overflow: ellipsis; padding: 0; float: right; margin-right: 14px; margin-left: 0; max-width: initial;
                          span { width: 182px; float: right; text-overflow: ellipsis; white-space: nowrap; color: #333; }
                        }
                        .dropdown {
                          .dropdown-toggle { display:none; }
                          .dropdown-menu { padding: 10px 0 0; background: @cl-subtext10; width: 210px; position: absolute; z-index: 2000; right: 31px; left: initial; margin-right: 7px; margin-top: 0; display: block !important; border: 0; border-radius: 0; top: 30px; }
                        }
                      }
                    }
                  }
                }
              } // #chat #center .discussion .side .blur .users .list
            } // #chat #center .discussion .side .blur .users
          } // #chat #center .discussion .side .blur
        } // #chat #center .discussion .side
      } // #chat #center .discussion
    } // #chat #center
  } // #chat

  #landing {
    .header {
      .cover { padding: 100px 30px 100px 75px; background: none; }
      .text { margin-top: 65px; }
      .btn-knowmore { margin-top: 75px; }
    }
    .login {
      > div { padding: 90px 20px; }
      .btn-facebook { margin-top: 64px; }
      .logic {margin-top: 40px;}
      .form { margin-top: 40px; margin-bottom: 80px; }
      .form input[type=submit] { margin-top: 30px; }
    }
    .description { padding: 50px 50px 0 50px;
      h2 p { font-size: 2.15em; }
      .definition { font-size: 1.8em; padding-top: 25px; }
      .illustrations { padding-bottom: 105px;
        .illus p { margin: 25px auto; }
      }
    }
    .signup { padding-top: 100px; padding-bottom: 32px;
      .form { margin-top: 30px; }
      .disclaimer { margin-top: 60px; }
    }
  }
}

/** for <=768 screens resolutions **/
@media screen and (max-width: @screen-sm-min) {
  .form-inline .input-group .form-control {
    width:auto;
  }
}

/** for <=480 screens resolutions **/
@media screen and (max-width: @screen-xs-min) {
  #landing .header .cover { background-color: rgba(255, 255, 255, 0.8); }
}