.rollup-container { position:relative;
  .ctn { bottom: 0; width: 100%; position: absolute; background: #fff; z-index: 100000; padding: 0; line-height: 1.4rem; border-radius: .25rem; box-shadow: 0 1px 15px rgba(64,54,63,0.25); border: 1px solid #DDD; min-width: 300px;
    .ctn_header { padding: 5px 10px; background-color: @cl-subtext10;; color: #000; font-size: 12px; border-bottom: 1px solid @cl-subtext20; text-shadow: 0 1px #fff; .border-radiuses(3px, 0, 0, 3px);
      .header_help{float:right}
    }
    .ctn_scroller { max-height: 400px; overflow-y: auto; overflow-x: hidden; margin-top: 5px; width:100%;
      ul { list-style-type: none; margin: 0; padding: 0;
        li { font-size: 13px;cursor: pointer; padding: 3px 10px; font-weight: bold; border-bottom: 1px solid #fff; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
          &.empty { margin: 5px 0 10px; font-weight: normal; font-style: italic;; }
          &.active { background: #439fe0; color: #fff!important; border-bottom-color: #2a80b9; text-shadow: 0 1px rgba(0,0,0,0.1);
            span { color: #fff !important; }
          }
          img { vertical-align: middle; border: 0; }
          .avatar_ctn { .border-radius(50%); width: 24px; height: 24px;background-size: 100%; background-repeat: no-repeat; display: inline-block; }
        }

        &.type_users li { color: @cl-subtext15;
          .bio { font-style: italic; font-weight: normal; font-size: 11px; color: @cl-subtext15; }
          .username { color:#000; }
          .icon-dot-circle-o { margin-left: 5px;
            &.online { color: @cl-success; }
            &.offline { color: @cl-subtext15; }
          }
        }
        &.type_commands li { display: table; width: 100%;
          .cmd-left-td { display: table-cell; white-space: nowrap; padding-right: 15px; }
          .cmd-right-td { display: table-cell; text-align: right; }
          .name { font-weight: 900; }
          .args { font-style: italic; font-weight: 300; }
          .cmddesc { font-weight: normal; font-style: italic; font-size: 11px; color: @cl-subtext20; }
        }
        &.type_rooms .name { font-weight: 900;
          .hash { font-weight: 300; margin-right: 1px; }
        }
      }
    }
  }
}

@media screen and (max-width:1200px){
  .rollup-container {
    .ctn .ctn_header .header_help {display:none}
    .left_margin { margin-left: 1rem !important; }
  }
}