@cl-background:     #ffffff;
@cl-background2:    #f5f8fa;
@cl-border:         #e1e8ed;

@cl-first:          #fc2063;
@cl-first-dark-10: darken(@cl-first, 10);
@cl-first-dark-15: darken(@cl-first, 15);
@cl-first-dark-25: darken(@cl-first, 25);
@cl-second:         #253b6c;

@cl-success:        #4fedc0;
@cl-warning:        #ffda3e;
@cl-error:          #ff3838;
@cl-neutral:        #777777;

@cl-detail:         #4a649d;
@cl-text:           #333;

@cl-subtext0:       #f2f2f2;
@cl-subtext5:       #f0f0f0;
@cl-subtext10:      #e2e2e2;
@cl-subtext15:      #c7c7c7;
@cl-subtext20:      #b6b6b6;
@cl-subtext30:      #777777;
@cl-subtext40:      #6f6f6f;
@cl-subtext50:      #6b6b6b;
@cl-title:          #313131;

@cl-turquoise:      #1abc9c;
@cl-green_sea:      #16a085;
@cl-emerald:        #2ecc71;
@cl-nephritis:      #27ae60;
@cl-peter_river:    #3498db;
@cl-belize_hole:    #2980b9;
@cl-amethyst:       #9b59b6;
@cl-wisteria:       #8e44ad;
@cl-wet_asphalt:    #34495e;
@cl-midnight_blue:  #2c3e50;
@cl-sun_flower:     #f1c40f;
@cl-orange:         #f39c12;
@cl-carrot:         #e67e22;
@cl-pumpkin:        #d35400;
@cl-alizarin:       #e74c3c;
@cl-pomegranate:    #c0392b;
@cl-clouds:         #ecf0f1;
@cl-silver:         #bdc3c7;
@cl-concrete:       #95a5a6;
@cl-asbestos:       #7f8c8d;

@size-color: 40px;
@size-right: 430px;
@size-right-mid: @size-right / 2;
@size-left: 260px;

@cl-nav-left-back: #475A61;
@cl-nav-left-text: @cl-clouds;
@cl-nav-left-back-darker: darken(@cl-nav-left-back, 10%);
@cl-nav-left-text-lighter30: lighten(@cl-nav-left-back, 30%);
@cl-nav-left-text-lighter: lighten(@cl-nav-left-text, 10%);

@img-path: "/images";

/** ****************************************************************************

                          COLOR MANAGEMENT

*******************************************************************************/

@HKS_colors:   #FFE263,
               #FFE300,
               #FFDB00,
               #FFC900,
               #FFB800,
               #FF8F00,
               #FF7100,
               #FF6400,
               #FF4C02,
               #FF9B75,
               #F33B1D,
               #F73429,
               #E2382A,
               #CC1F2F,
               #A52F33,
               #A71F3C,
               #782235,
               #FF8997,
               #FE443A,
               #E81E41,
               #CA2F56,
               #D3225D,
               #C0106F,
               #E70097,
               @cl-first,
               #B22052,
               #9B348E,
               #CA0F86,
               #C60769,
               #B028B6,
               #6E3B90,
               #4F478E,
               #633E96,
               #543478,
               #233C4C,
               #117ACB,
               #009AB7,
               #284156,
               @cl-second,
               #2F53A7,
               #2C57D2,
               #0078B8,
               #5566A4,
               #2796B6,
               #00ACD3,
               #00AFC4,
               #0095B1,
               #00D2E2,
               @cl-success,
               #00AAA0,
               #00A8A3,
               #00CE9D,
               #009864,
               #007755,
               #006651,
               #008A4E,
               #396A37,
               #008A7D,
               #3A9C00,
               #2A5349,
               #696A19,
               #467A40,
               #00A513,
               #46BB00,
               #7FC600,
               #FCC700,
               #EAE000,
               #F0A930,
               #E29200,
               #BA832C,
               #926A24,
               #856D2A,
               #58462B,
               #644327,
               #7A4228,
               #CB5E24,
               #A5451F,
               #7E4531,
               #663C2E,
               #23221B,
               #B7AD8D,
               #3E352C,
               #ADB9A6,
               #7A8077,
               #505A59,
               #A0A397,
               #838678,
               #3A4136;