<div class="side" <% if (poster) { %>style="background-image: url(<%= poster %>);"<% }; %> data-colorify-background="color"></div>
<div class="content">
    <div class="header user">
        <img class="avatar open-user-profile" data-username="<%= username %>" src="<%= avatar %>" alt="<%= username %> avatar">
        <div class="username open-user-profile" data-username="<%= username %>">@<%= username %></div>
        <span class="status-block"><em></em> <i class="fa fa-dot-circle-o status"></i></span>
        <div class="location"><%= location %></div>
        <div class="website"><%= website %></div>
    </div>
    <div class="events"><!--/events view--></div>
    <div class="input"><!-- input view --></div>
</div><!-- /.content -->