<% if (isMobile) { %>
    <div class="mobile flex-parent">
        <% if (isIphone) { %><div class="ios"><%= t('landing.mobile.ios') %></div>
        <% } else if (isAndroid) { %><div class="android"><%= t('landing.mobile.android') %></div>
        <% } else if (isWindows) { %><div class="android"><%= t('landing.mobile.windows') %></div>
        <% } else { %>
            <div class="none"><%= t('landing.mobile.none') %></div>
        <% } %>

        <% if(isIphone || isAndroid || isWindows) { %>
            <a href="/get-the-app" class="get-app flex-parent column center jc-center">
                <%= t('landing.mobile.get-the-app') %>
            </a>
        <% } %>
    </div>
<% } %>
<header>
    <nav class="navbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"><%= t('landing.toggle') %></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="logo" src="/images/logo-bordered-small.png" height="25" alt="DONUT"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if (user) { %>
                <li class="signup">
                    <a href="/!"><%= t('logged.chat') %></a>
                </li>
                <li class="login">
                    <a href="/logout"><%= t('logged.logout') %></a>
                </li>
                <li class="lang">
                    <a class="switch <% if (locale === 'fr') { print('active'); } %>" href="" data-language="fr" >Fr</a>
                </li>
                <li class="lang">
                    <a class="switch <% if (locale === 'en') { print('active'); } %>" href="" data-language="en" >En</a>
                </li>
                <% } else { %>
                <li class="signup">
                    <a href="/signup"><%= t('landing.signup-self') %></a>
                </li>
                <li class="login">
                    <a href="/login"><%= t('landing.login-self') %></a>
                </li>
                <li class="lang">
                    <a class="switch <% if (locale === 'fr') { print('active'); } %>" href="" data-language="fr" >Fr</a>
                </li>
                <li class="lang">
                    <a class="switch <% if (locale === 'en') { print('active'); } %>" href="" data-language="en" >En</a>
                </li>
                <% } %>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</header>