<% var _color = room.color ? room.color.replace('#', '').toLowerCase() : 'default' %>
<div class="room dc-i-<%= _color %>">

    <div class="mini-card hidden">
        <div class="flex-parent">
            <div class="avatar" style="background-image:url(<%= room.avatar %>)"></div>
            <div class="ctn">
                <span class="name">
                    <a href="<%= room.url %>"><%= room.name %></a>
                </span>
                <span class="room-profile label label-mode label-sm" data-toggle="tooltip" data-placement="top" title="<%= t('global.mode.description.' + room.mode) %>">
                    <%= t('global.mode.title.' + room.mode) %>
                </span>
                <a class="dc-text" href="<%= room.join %>">
                    <%= t('actions.join') %>
                    <% if (room.users > 0) { %><%= room.users %><% } %>
                    <i class="icon icon-user-custom"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="cover">
        <div class="avatar relative" style="background-image:url(<%= room.avatar %>)">
            <span class="room-profile label label-mode label-sm" data-toggle="tooltip" data-placement="top" title="<%= t('global.mode.description.' + room.mode) %>">
                <%= t('global.mode.title.' + room.mode) %>
            </span>
        </div>
        <div class="top">
            <div class="ctn">
                <span class="name">
                    <a href="<%= room.url %>"><%= room.name %></a>
                </span>
                <% if (room.owner && room.owner.username) { %>
                    <span class="owner"><%= t('global.by') %> <a href="<%= room.owner.url %>" class="dc-text">@<%= room.owner.username %></a></span>
                <% } %>
            </div>
            <!-- p class="topic"><%= room.topic %></p -->
            <p class="join dc-back">
                <a class="dc-text-contrast" href="<%= room.join %>">
                    <%= t('actions.join') %>
                    <% if (room.users > 0) { %><%= room.users %><% } %>
                    <i class="icon icon-user-custom"></i>
                </a>
            </p>
        </div>
    </div>
    <div class="back dc-back dc-text-contrast">
        <div class="ctn">
            <p class="name dc-text-contrast open-room-profile" data-room-id="<%= room.room_id %>">
                <a class="dc-text-contrast" href="<%= room.url %>"><%= room.name %></a>
            </p>
            <% if (room.owner && room.owner.username) { %>
                <p class="owner"><%= t('global.by') %> <a href="<%=room.owner.url%>" class="open-user-profile dc-text-contrast" data-user-id="<%= room.owner.user_id %>">@<%= room.owner.username %></a></p>
            <% } %>
            <p class="description"><%= room.description %></p>
        </div>
        <p class="join dc-back dc-back-hover">
            <a class="dc-text-contrast" href="<%= room.join %>">
                <%= t('actions.join') %>
                <% if (room.users > 0) { %><%= room.users %><% } %>
                <i class="icon icon-user-custom"></i>
            </a>
        </p>
    </div>
</div>
