<!-- views/index.html -->
<%= include('header') %>

<div id="chat" class="container-fluid">
    <div class="row">
        <div id="chat-left" class="col-sm-2 col-md-2 col-lg-2">
            <div id="block-status" class="panel panel-default">
                <div class="panel-body">
                    You are
                    <button type="button" class="status">...</button>
                </div>
            </div>
            <div id="block-rooms" class="panel panel-default">
                <div class="panel-heading">Rooms</div>
                <div id="rooms-list" class="list-group">
                    <!-- Default room-item -->
                    <a href="#" class="list-group-item room-item" data-default="true"><em>Not in any room</em></a>
                    <!-- / Default room-item -->
                    <!-- Template room-item -->
                    <a href="#" class="list-group-item room-item" data-topic="" data-template="true"><span class="name"></span> <span class="users-count">(<span class="glyphicon glyphicon-user user-profile"></span> <span class="count">0</span>)</span> <span class="close glyphicon glyphicon-remove"></span> <span class="badge">0</span></a>
                    <!-- / Template room-item -->
                    <script type="text/template" id="chat-room-tab-template">
                        <a href="#" class="list-group-item room-item" data-topic=""><span class="name"></span> <span class="users-count">(<span class="glyphicon glyphicon-user user-profile"></span> <span class="count">0</span>)</span> <span class="close glyphicon glyphicon-remove"></span> <span class="badge">0</span></a>
                    </script>
                </div>
                <div class="panel-footer">
                    <a href="#" id="create-room-toggle"><span class="glyphicon glyphicon-plus"></span> Create a room</a>
                    <div id="create-room-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="create-room-name" placeholder="Room name">
                        </div>
                        <!-- div class="checkbox">
                            <label>
                                <input name="private" type="checkbox"> Private room
                            </label>
                            <label>
                                <input name="persistent" type="checkbox"> Persistent room
                            </label>
                        </div -->
                        <button class="btn btn-primary" id="create-room-submit">Create</button>
                        <button class="btn btn-error" id="create-room-cancel">Cancel</button>
                    </div>
                    <br />
                    <a href="#" id="search-room-link"><span class="glyphicon glyphicon-search"></span> Search a room</a>
                </div>
            </div>
            <div id="block-users" class="panel panel-default">
                <div class="panel-heading">Users</div>
                <div id="online-users-list" class="list-group">
                    <a href="#" class="list-group-item user-item" data-default="true"><em>No user online</em></a>
                    <a href="#" class="list-group-item user-item" data-user-id="" data-template="true"><span class="avatar"><img src="" /></span> <span class="username"></span></a>
                </div>
                <div class="panel-footer">
                    <a href="#" id="search-user-link"><span class="glyphicon glyphicon-search"></span> Search a user</a>
                </div>
            </div>
            <button class="btn btn-success" id="test1">Test</button><button class="btn btn-success" id="test2">Test</button><button class="btn btn-success" id="test3">Test</button>
            <!-- -->
        </div><!-- /.chat-left -->
        <div id="chat-center" class="col-sm-10 col-md-10 col-lg-10">
            <div class="default">Not in room</div>
            <script type="text/template" id="chat-room-template">
                <div class="cwindow" data-topic="room.topic %>">
                    <div class="row row-header">
                        <div class="header">
                            <span class="name">room.name %></span>
                            <div class="room-baseline-text">
                                <span class="baseline">room.baseline %></span>
                            </div>
            <span class="room-baseline-form">
                <input type="text" class="room-baseline-input form-control" placeholder="Room baseline">
                <button class="btn btn-primary room-baseline-submit">Submit</button>
                <button class="btn btn-cancel room-baseline-cancel">Cancel</button>
            </span>
                            <span class="close glyphicon glyphicon-remove"></span>
                        </div>
                    </div>
                    <div class="row row-content">
                        <div class="col-content col-sm-9 col-md-9 col-lg-9">
                            <div class="messages"></div>
                            {% include 'chat.postbox.twig.html' %}
                        </div>
                        <div class="col-users col-sm-3 col-md-3 col-lg-3">
                            <div class="room-users">
                                <div class="heading">Room users</div>
                                <div class="list-group">
                                    <a href="#" class="user-item list-group-item" data-user-id="" data-template="true"><span class="username"></span> <span class="actions"><span class="glyphicon glyphicon-user user-profile"></span> <span class="glyphicon glyphicon-edit user-discussion"></span></span></a>
                                </div>
                                <div class="footer">
                                    <a href="#"><span class="glyphicon glyphicon-plus"></span> Invite a user</a>
                                </div>
                            </div><!-- /.room-users -->
                        </div><!-- /.col-users -->
                    </div><!-- /.row-content -->
                </div><!-- /.cwindow -->
            </script>
        </div><!-- /.chat-center -->
    </div><!-- /.row -->
</div><!-- /.container-fluid -->

<!-- User profile modal -->
<div class="modal fade" id="user-profile-modal"></div>
<!-- / User profile modal -->

<!-- Room search modal -->
<div class="modal fade" id="room-search-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Search for rooms</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="search" class="form-control room-search-input" placeholder="Search for rooms" />
                        <span class="input-group-btn">
                            <button class="btn btn-default room-search-submit" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        </div><!-- /input-group -->
                        <ul class="list-group rooms-list"></ul>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- / Room search modal -->

<!-- User search modal -->
<div class="modal fade" id="user-search-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Search for user</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="search" class="form-control user-search-input" placeholder="Search for users" />
                            <span class="input-group-btn">
                                <button class="btn btn-default user-search-submit" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div><!-- /input-group -->
                        <ul class="list-group search-users-list"></ul>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- / User search modal -->

<%= include('scripts') %>
<script src="/assets/js/jquery-insertAtCaret.js"></script>
<script src="/assets/js/jquery.autosize.min.js"></script>
<script src="/assets/js/jquery-dateFormat.min.js"></script>
<script src="/assets/js/swfobject.js"></script>
<script src="/assets/js/web_socket.js"></script>
<script src="/assets/js/when.js"></script>
<script src="/assets/js/autobahn.min.js"></script>
<script src="/assets/js/server.js"></script>
<script src="/assets/js/client.js"></script>
<%= include('footer') %>