<!-- views/index.html -->
<%= include('header') %>

<div class="container">

    <% if (isAuthenticated) { %>
    <div class="jumbotron text-center">
        <h1><span class="fa fa-comments-o"></span> Now come to chat</h1>
        <p>Choose one of this fantastic chatroom:</p>

        <section id="rooms">
            <% _.each(rooms, function(room) { %>
            <a href="/chat#room=<%= room._id %>"><img src="/medias/r/<%= room._id %>.jpg" /> <%= room.name %></a>
            <% }); %>
        </section>
    </div>
    <% } else { %>
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>
    <% } %>

</div>

<%= include('scripts') %>
<%= include('footer') %>